n8n/CANCELAR_CONSULTA.json
{
  "name": "CANCELAR_CONSULTA",
  "nodes": [
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"phone\": \"5215512345678\",\n  \"consultaId\": \"\",\n  \"confirmarCancelacion\": false,\n  \"motivoCancelacion\": \"\",\n  \"timezone\": \"America/Mexico_City\",\n  \"requestId\": \"cancel-123\",\n  \"source\": \"urobot_whatsapp\"\n}"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1200,
        112
      ],
      "id": "39796459-683b-4cfd-b2b1-93020b4b4d5b",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "jsCode": "'use strict';\n\n/**\n * PARSE_CANCEL_REQUEST v1.2.0 (FIX TELEFONO)\n * Valida, normaliza a 10 dígitos y prepara datos\n */\n\nconst VERSION = '1.2.0-FIX-PHONE';\n\ntry {\n  const input = $input.first().json;\n  \n  // 1. Limpieza y Normalización de Teléfono (Igual que en Agendar)\n  let phone = (input.phone || '').toString().replace(/\\D/g, '');\n  \n  // Si tiene más de 10 dígitos (ej. 521...), tomamos los últimos 10\n  if (phone.length > 10) {\n    phone = phone.slice(-10);\n  }\n  \n  const consultaId = (input.consultaId || '').trim();\n  const confirmar = input.confirmarCancelacion === true || input.confirmarCancelacion === 'true';\n  const motivo = (input.motivoCancelacion || 'Cancelada por el paciente').trim();\n  \n  // Validación básica (ahora esperamos exactamente 10)\n  if (!phone || phone.length !== 10) {\n    return [{\n      json: {\n        kind: 'error',\n        error: 'INVALID_PHONE',\n        message: 'Se requiere un número de teléfono válido (10 dígitos)',\n        output: 'No pude identificar tu número. ¿Podrías verificarlo?',\n        received: input.phone\n      }\n    }];\n  }\n  \n  return [{\n    json: {\n      kind: 'cancel_request',\n      version: VERSION,\n      phone: phone, // Ahora coincidirá con la BD (10 dígitos)\n      consultaId: consultaId,\n      confirmarCancelacion: confirmar,\n      motivoCancelacion: motivo,\n      timezone: input.timezone || 'America/Mexico_City',\n      requestId: input.requestId || `cancel-${Date.now()}`,\n      source: input.source || 'urobot',\n      \n      // Flags de flujo\n      _needsList: !consultaId,\n      _needsConfirm: !!consultaId && !confirmar,\n      _readyToCancel: !!consultaId && confirmar\n    }\n  }];\n  \n} catch (err) {\n  return [{\n    json: {\n      kind: 'error',\n      error: 'PARSE_ERROR',\n      message: err.message,\n      output: 'Hubo un problema procesando tu solicitud.'\n    }\n  }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -960,
        112
      ],
      "id": "b1fe0562-08e0-4be2-a944-b59c02ba6f6e",
      "name": "Parse Cancel Request"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  c.id,\n  c.consulta_id,\n  c.sede,\n  c.fecha_hora_inicio,\n  c.fecha_hora_fin,\n  c.estado_cita,\n  c.calendar_event_id,\n  c.motivo_consulta,\n  c.tipo_cita,\n  s.display_name as sede_nombre,\n  s.calendar_id,\n  p.nombre_completo as paciente_nombre,\n  p.telefono\nFROM consultas c\nJOIN pacientes p ON c.paciente_id = p.id\nJOIN sedes s ON c.sede = s.sede\nWHERE p.telefono = $1\n  AND c.estado_cita IN ('Programada', 'Confirmada')\n  AND c.fecha_hora_inicio > NOW()\nORDER BY c.fecha_hora_inicio ASC\nLIMIT 10;",
        "options": {
          "queryReplacement": "={{ $json.phone }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -720,
        112
      ],
      "id": "3034bf27-f262-456e-bb05-2618f73b987b",
      "name": "Get Citas Activas",
      "credentials": {
        "postgres": {
          "id": "LZyK5sbzVT7Dy3RU",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "'use strict';\n\nconst TZ = 'America/Mexico_City';\n\nfunction formatDateTime(isoDate) {\n  try {\n    const d = new Date(isoDate);\n    const dayName = new Intl.DateTimeFormat('es-MX', { weekday: 'long', timeZone: TZ }).format(d);\n    const date = new Intl.DateTimeFormat('es-MX', { day: 'numeric', month: 'long', timeZone: TZ }).format(d);\n    const time = new Intl.DateTimeFormat('es-MX', { hour: '2-digit', minute: '2-digit', hour12: true, timeZone: TZ }).format(d);\n    return { dayName, date, time, full: `${dayName} ${date} a las ${time}` };\n  } catch (e) {\n    return { full: isoDate };\n  }\n}\n\ntry {\n  const parseNode = $('Parse Cancel Request').first().json;\n  const citas = $input.all().map(item => item.json);\n  const consultaIdBuscado = parseNode.consultaId;\n  \n  // CASO: NO HAY CITAS\n  if (!citas || citas.length === 0 || !citas[0].id) {\n    return [{\n      json: {\n        kind: 'cancel_response',\n        status: 'no_citas',\n        output: 'No tienes citas programadas futuras para cancelar.',\n        citasActivas: []\n      }\n    }];\n  }\n  \n  // CASO: BUSCAR CITA ESPECÍFICA\n  if (consultaIdBuscado) {\n    const citaEspecifica = citas.find(c => c.consulta_id === consultaIdBuscado);\n    \n    if (!citaEspecifica) {\n      return [{\n        json: {\n          kind: 'cancel_response',\n          status: 'cita_not_found',\n          output: `No encontré la cita ${consultaIdBuscado}.`\n        }\n      }];\n    }\n    \n    const fechaInfo = formatDateTime(citaEspecifica.fecha_hora_inicio);\n    \n    // Lógica para Health Check: Si manda ID y confirmación, va directo\n    if (parseNode._readyToCancel) {\n      return [{\n        json: {\n          kind: 'cancel_ready',\n          status: 'ready_to_cancel',\n          cita: {\n            id: citaEspecifica.id,\n            consultaId: citaEspecifica.consulta_id,\n            calendarEventId: citaEspecifica.calendar_event_id,\n            calendarId: citaEspecifica.calendar_id,\n            fecha: fechaInfo.full,\n            sede: citaEspecifica.sede_nombre || citaEspecifica.sede\n          },\n          motivoCancelacion: parseNode.motivoCancelacion,\n          phone: parseNode.phone\n        }\n      }];\n    }\n  }\n  \n  // CASO: LISTAR (Para humanos)\n  const citasFormateadas = citas.map((c, idx) => ({\n    index: idx + 1,\n    consultaId: c.consulta_id,\n    fecha: formatDateTime(c.fecha_hora_inicio).full,\n    sede: c.sede_nombre\n  }));\n\n  return [{\n    json: {\n      kind: 'cancel_response',\n      status: 'list_citas',\n      output: `Tienes ${citas.length} citas. ¿Cuál cancelamos?`,\n      citasActivas: citasFormateadas\n    }\n  }];\n  \n} catch (err) {\n  return [{ json: { kind: 'error', message: err.message } }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -480,
        112
      ],
      "id": "10ed5c94-00d1-4dbb-a4ad-40c7e27926cd",
      "name": "Build Citas List"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "ready-to-cancel",
              "leftValue": "={{ $json.kind }}",
              "rightValue": "cancel_ready",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -240,
        112
      ],
      "id": "7878a5f2-e929-4791-8a1c-fcd2b8905121",
      "name": "Ready to Cancel?"
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "={{ $json.cita.calendarId }}",
          "mode": "id"
        },
        "eventId": "={{ $json.cita.calendarEventId }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "9717092d-cd5c-4b11-b101-6f6d6b8bf97b",
      "name": "Delete Calendar Event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "Hm8ggB0P1TTFp0A0",
          "name": "GOOGLE UROBOT"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE consultas\nSET \n  estado_cita = 'Cancelada',\n  updated_at = NOW(),\n  motivo_consulta = COALESCE(motivo_consulta, '') || ' | Cancelada: ' || '{{ $('Build Citas List').item.json.motivoCancelacion }}'\nWHERE consulta_id = '{{ $('Build Citas List').item.json.cita.consultaId }}'\nRETURNING id, consulta_id, estado_cita, updated_at;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        240,
        0
      ],
      "id": "d8779929-7fe7-4ab5-b546-fa22e1e08ba9",
      "name": "Update Estado Cancelada",
      "credentials": {
        "postgres": {
          "id": "LZyK5sbzVT7Dy3RU",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const db = $input.first().json;\nconst gcalError = $('Delete Calendar Event').first().error;\n\nif (db.id) {\n  return [{\n    json: {\n      status: 'CANCELLED',\n      success: true,\n      message: 'Cita cancelada correctamente',\n      gcalStatus: gcalError ? 'Deleted (Not Found)' : 'Deleted OK'\n    }\n  }];\n} else {\n  return [{\n    json: {\n      status: 'ERROR',\n      success: false,\n      message: 'No se pudo actualizar la base de datos'\n    }\n  }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        0
      ],
      "id": "17d8344b-ff13-4156-a562-87c3c428ce32",
      "name": "Build Cancel Response"
    },
    {
      "parameters": {
        "jsCode": "return $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        208
      ],
      "id": "4c574b48-ce99-4bce-babe-2fa69c602d31",
      "name": "Return List Response"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Parse Cancel Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Cancel Request": {
      "main": [
        [
          {
            "node": "Get Citas Activas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Citas Activas": {
      "main": [
        [
          {
            "node": "Build Citas List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Citas List": {
      "main": [
        [
          {
            "node": "Ready to Cancel?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ready to Cancel?": {
      "main": [
        [
          {
            "node": "Delete Calendar Event",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return List Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Calendar Event": {
      "main": [
        [
          {
            "node": "Update Estado Cancelada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Estado Cancelada": {
      "main": [
        [
          {
            "node": "Build Cancel Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ef1be726-21c2-4520-b23c-58c3e051d80a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8c33c5b047d489bd000bdf4aabe6e4981a2da591f7a11d61031348a2fe3ef66c"
  },
  "id": "yunO7OQPfMqWBXmt",
  "tags": []
}