n8n/LEAD_TRACKER.json
{
  "name": "LEAD_TRACKER",
  "nodes": [
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"Lead_ID\": null,\n  \"Nombre_Completo\": \"Nombre Apellido\",\n  \"Telefono_WhatsApp\": \"+525512345678\",\n  \"Fuente_Lead\": \"WhatsApp\",\n  \"Fecha_Primer_Contacto\": \"2025-10-16T00:00:00Z\",\n  \"Estado\": \"Nuevo\",\n  \"Notas_Iniciales\": \"Mensaje inicial del paciente\",\n  \"Session_ID\": \"S-XXX011\",\n  \"ultima_interaccion\": \"2025-10-16T00:00:00Z\",\n  \"total_interacciones\": 1,\n  \"Paciente_ID\": null,\n  \"Fecha_Conversion\": null\n}\n"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -656,
        1200
      ],
      "id": "418624df-5d62-40b9-b874-347ff5713e5c",
      "name": "When called by another workflow"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "leads",
        "filters": {
          "conditions": [
            {
              "keyName": "telefono_whatsapp",
              "condition": "eq",
              "keyValue": "={{ $json.Telefono_WhatsApp }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        48,
        1120
      ],
      "id": "b96e14ab-0b4a-44cf-ad4b-905b700c6722",
      "name": "Search Duplicate (Supabase)",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "Uq22EkraEAEoR2CQ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "leads",
        "filterType": "string",
        "filterString": "={{ $json.filter_str || ('telefono_whatsapp=eq.' + $json.payload.Telefono_WhatsApp) }}\n",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "estado",
              "fieldValue": "={{ $json.payload.Estado || $json.existing?.estado || 'Nuevo' }}"
            },
            {
              "fieldId": "notas_iniciales",
              "fieldValue": "={{ $json.payload.Notas_Iniciales || $json.existing?.notas_iniciales || '' }}"
            },
            {
              "fieldId": "fuente_lead",
              "fieldValue": "={{ $json.payload.Fuente_Lead || $json.existing?.fuente_lead || 'WhatsApp' }}"
            },
            {
              "fieldId": "ultima_interaccion",
              "fieldValue": "={{ $json.payload.ultima_interaccion || new Date().toISOString() }}"
            },
            {
              "fieldId": "total_interacciones",
              "fieldValue": "={{ Number($json.existing.total_interacciones ?? 0) + 1 }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        704,
        1040
      ],
      "id": "2b81c0b5-8108-49a6-9ce6-ac7c7860b640",
      "name": "Update Lead (Supabase)",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "Uq22EkraEAEoR2CQ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "status",
              "name": "status",
              "value": "updated",
              "type": "string"
            },
            {
              "id": "telefono",
              "name": "telefono",
              "value": "={{ $json.payload?.Telefono_WhatsApp || $('Check Exists').item.json.payload.Telefono_WhatsApp }}",
              "type": "string"
            },
            {
              "id": "lead_id",
              "name": "lead_id",
              "value": "={{ $json.existing?.lead_id || $('Check Exists').item.json.existing.lead_id }}",
              "type": "string"
            },
            {
              "id": "message",
              "name": "message",
              "value": "Lead actualizado exitosamente",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        928,
        1040
      ],
      "id": "de28d04e-c05b-4bfc-8f7c-3ac48e664a13",
      "name": "Return Updated"
    },
    {
      "parameters": {
        "tableId": "leads",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "lead_id",
              "fieldValue": "={{ $json.payload.Lead_ID || null }}"
            },
            {
              "fieldId": "nombre_completo",
              "fieldValue": "={{ $json.payload.Nombre_Completo }}"
            },
            {
              "fieldId": "telefono_whatsapp",
              "fieldValue": "={{ $json.payload.Telefono_WhatsApp }}"
            },
            {
              "fieldId": "fuente_lead",
              "fieldValue": "={{ $json.payload.Fuente_Lead || 'WhatsApp' }}"
            },
            {
              "fieldId": "fecha_primer_contacto",
              "fieldValue": "={{ $json.payload.Fecha_Primer_Contacto || new Date().toISOString() }}"
            },
            {
              "fieldId": "estado",
              "fieldValue": "={{ $json.payload.Estado || 'Nuevo' }}"
            },
            {
              "fieldId": "notas_iniciales",
              "fieldValue": "={{ $json.payload.Notas_Iniciales || '' }}"
            },
            {
              "fieldId": "session_id",
              "fieldValue": "={{ $json.payload.Session_ID || '' }}"
            },
            {
              "fieldId": "ultima_interaccion",
              "fieldValue": "={{ $json.payload.ultima_interaccion || new Date().toISOString() }}"
            },
            {
              "fieldId": "total_interacciones",
              "fieldValue": "={{ Number($json.payload.total_interacciones ?? 1) }}"
            },
            {
              "fieldId": "paciente_id",
              "fieldValue": "={{ $json.payload.Paciente_ID }}"
            },
            {
              "fieldId": "fecha_conversion",
              "fieldValue": "={{ $json.payload.Fecha_Conversion }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        704,
        1264
      ],
      "id": "e4aea446-af8a-4fc0-99d7-10bed5d98544",
      "name": "Insert Lead (Supabase)",
      "credentials": {
        "supabaseApi": {
          "id": "Uq22EkraEAEoR2CQ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ========================================\n// GENERATE LEAD_ID - VERSIÓN MEJORADA v2\n// ========================================\n\n/**\n * Genera Lead_ID determinístico desde teléfono\n * - Idempotente: mismo teléfono → mismo ID siempre\n * - Formato: L-{HASH}-{CHECKSUM}\n * - Ejemplo: L-2K9Z4P-A7\n */\nconst generateLeadId = (telefono) => {\n  if (!telefono || telefono.length !== 10) {\n    throw new Error('Teléfono inválido para generar Lead_ID');\n  }\n  \n  // Hash DJB2 (determinístico y rápido)\n  let hash = 5381;\n  for (let i = 0; i < telefono.length; i++) {\n    hash = ((hash << 5) + hash) + telefono.charCodeAt(i);\n  }\n  \n  // Convertir a base36 (0-9, A-Z)\n  const hashStr = (hash >>> 0).toString(36).toUpperCase();\n  \n  // Checksum simple (últimos 2 dígitos del teléfono)\n  const checksum = telefono.slice(-2);\n  \n  // Formato: L-{6 chars hash}-{2 chars checksum}\n  const leadId = `L-${hashStr.padStart(6, '0')}-${checksum}`;\n  \n  return leadId;\n};\n\n// ========================================\n// NORMALIZE PHONE CON LEAD_ID MEJORADO\n// ========================================\n\nconst MX_LOCAL_DIGITS = 10;\nconst input = $input.first().json ?? {};\n\nconst getDigits = (s) => String(s || '').replace(/\\D/g, '');\n\nconst normalizePhoneToMX10 = (rawPhone) => {\n  if (!rawPhone) return '';\n\n  const cleaned = String(rawPhone)\n    .trim()\n    .replace(/@.*$/, '')\n    .replace(/\\b(?:ext|extension|x)\\s*\\d+\\s*$/i, '');\n\n  let d = getDigits(cleaned);\n  if (!d) return '';\n\n  d = d.replace(/^0+/, '');\n\n  let changed = true;\n  while (changed && d.length > MX_LOCAL_DIGITS) {\n    changed = false;\n\n    if (d.startsWith('521') && d.length >= 13) {\n      d = d.slice(3); changed = true; continue;\n    }\n    if (d.startsWith('52') && d.length >= 12) {\n      d = d.slice(2); changed = true; continue;\n    }\n    if (d.startsWith('01') && d.length >= 12) {\n      d = d.slice(2); changed = true; continue;\n    }\n    if ((d.startsWith('044') || d.startsWith('045')) && d.length >= 13) {\n      d = d.slice(3); changed = true; continue;\n    }\n    if (d.startsWith('1') && d.length === 11) {\n      d = d.slice(1); changed = true; continue;\n    }\n  }\n\n  if (d.length > MX_LOCAL_DIGITS) d = d.slice(-MX_LOCAL_DIGITS);\n\n  return d.length === MX_LOCAL_DIGITS ? d : '';\n};\n\nconst toISODate = (dateInput) => {\n  if (!dateInput) return new Date().toISOString().split('T')[0];\n  \n  const s = String(dateInput).trim();\n  \n  if (/^\\d{4}-\\d{2}-\\d{2}$/.test(s)) return s;\n  \n  const dmyMatch = s.match(/^(\\d{1,2})\\/(\\d{1,2})\\/(\\d{4})$/);\n  if (dmyMatch) {\n    const [_, d, m, y] = dmyMatch;\n    return `${y}-${m.padStart(2,'0')}-${d.padStart(2,'0')}`;\n  }\n  \n  const parsed = new Date(s);\n  if (!isNaN(parsed)) {\n    return parsed.toISOString().split('T')[0];\n  }\n  \n  return new Date().toISOString().split('T')[0];\n};\n\n// --- EJECUCIÓN ---\nconst telefono = normalizePhoneToMX10(\n  input.Telefono_WhatsApp ??\n  input.numeroRemitente ??\n  input.phone ??\n  ''\n);\n\nif (!telefono || telefono.length !== MX_LOCAL_DIGITS) {\n  const originalPhone = input.Telefono_WhatsApp ?? input.numeroRemitente ?? input.phone ?? 'N/A';\n  return [{\n    json: {\n      _skip: true,\n      _reason: 'INVALID_OR_NON_MX_PHONE',\n      status: 'error',\n      message: 'El teléfono no pudo ser normalizado a 10 dígitos de México.',\n      original_phone: originalPhone\n    }\n  }];\n}\n\n// ✅ Generar Lead_ID SOLO si no viene del input\nconst leadId = input.Lead_ID || generateLeadId(telefono);\n\nconst nowISO = new Date().toISOString().split('T')[0];\n\nconsole.log('=== LEAD_ID GENERATION ===');\nconsole.log('Teléfono:', telefono);\nconsole.log('Lead_ID generado:', leadId);\nconsole.log('Input Lead_ID:', input.Lead_ID || 'ninguno');\n\nreturn [{\n  json: {\n    Lead_ID: leadId,\n    Nombre_Completo: input.Nombre_Completo ?? input.Nombre ?? 'Sin nombre',\n    Telefono_WhatsApp: telefono,\n    Fuente_Lead: input.Fuente_Lead ?? 'WhatsApp',\n    Fecha_Primer_Contacto: toISODate(input.Fecha_Primer_Contacto),\n    Estado: input.Estado ?? 'Nuevo',\n    Notas_Iniciales: String(input.Notas_Iniciales ?? '').substring(0, 500),\n    Session_ID: input.Session_ID ?? '',\n    ultima_interaccion: toISODate(input.ultima_interaccion),\n    total_interacciones: Number(input.total_interacciones) || 1,\n    Paciente_ID: input.Paciente_ID ?? '',\n    Fecha_Conversion: input.Fecha_Conversion ? toISODate(input.Fecha_Conversion) : ''\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -400,
        1200
      ],
      "id": "1b3584f6-4fbe-4d2f-a897-f3acb45b57bd",
      "name": "Normalize Phone1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "id": "bc3298c3-1aad-4ea5-bc44-bb92b541723a",
              "leftValue": "={{ $json._skip ?? false }}",
              "rightValue": "=is false",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "looseTypeValidation": true
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -176,
        1200
      ],
      "id": "d2e23351-930d-4c6c-8163-66a4d1bbde8c",
      "name": "Phone Valid?1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "status",
              "name": "status",
              "value": "created",
              "type": "string"
            },
            {
              "id": "telefono",
              "name": "telefono",
              "value": "={{ $('Check Exists').item.json.payload.Telefono_WhatsApp }}",
              "type": "string"
            },
            {
              "id": "lead_id",
              "name": "lead_id",
              "value": "={{ $('Check Exists').item.json.payload.Lead_ID }}",
              "type": "string"
            },
            {
              "id": "supabase_id",
              "name": "supabase_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "message",
              "name": "message",
              "value": "Lead creado exitosamente en Supabase",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        928,
        1200
      ],
      "id": "890ecc50-5430-46c3-af90-46fab350c37c",
      "name": "Return Created1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "status",
              "name": "status",
              "value": "error",
              "type": "string"
            },
            {
              "id": "reason",
              "name": "reason",
              "value": "={{ $json._reason }}",
              "type": "string"
            },
            {
              "id": "message",
              "name": "message",
              "value": "={{ $json.message }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        48,
        1312
      ],
      "id": "7241f32e-4432-43d8-9ab6-bb1a63aa3f88",
      "name": "Return Error1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "id": "c7bf9889-7e43-4c75-9703-2447b3924035",
              "leftValue": "={{ $json.exists === true }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "looseTypeValidation": true
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        480,
        1120
      ],
      "id": "4d373ebc-984a-4edd-a89b-f8f3ed8d85fa",
      "name": "Exists?"
    },
    {
      "parameters": {
        "jsCode": "// ========================================\n// CHECK EXISTS - robusto frente a items vacíos de Supabase\n// ========================================\n\nconst NODE_NORMALIZE = 'Normalize Phone1';\n\n// Helpers\nconst isUuid = (v) => {\n  if (v == null) return false;\n  const s = String(v).trim();\n  return /^[0-9a-f]{8}-[0-9a-f]{4}-[1-5][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$/i.test(s);\n};\nconst cleanUuid = (v) => {\n  if (v == null) return null;\n  const s = String(v).trim();\n  if (!s || s.toLowerCase() === 'null') return null;\n  return isUuid(s) ? s : null;\n};\nconst cleanDate = (v) => {\n  if (v == null) return null;\n  const s = String(v).trim();\n  if (!s || s.toLowerCase() === 'null') return null;\n  return s.length === 10 ? `${s}T00:00:00Z` : s;\n};\n\n// Filtra objetos realmente \"no vacíos\" y que parezcan fila\nconst isNonEmptyRow = (r) => {\n  if (!r || typeof r !== 'object' || Array.isArray(r)) return false;\n  if (Object.keys(r).length === 0) return false;           // <- descarta {}\n  // al menos un campo típico de fila:\n  return ('id' in r) || ('telefono_whatsapp' in r) || ('lead_id' in r);\n};\n\n// Normaliza colección de filas del Supabase node\nconst toRows = (items) => {\n  let rows = (items || []).map(i => i?.json).filter(Boolean);\n\n  // Caso: 1 item con array directo\n  if (rows.length === 1 && Array.isArray(rows[0])) rows = rows[0];\n\n  // Caso: 1 item con shape { data: [] }\n  else if (rows.length === 1 && Array.isArray(rows[0]?.data)) rows = rows[0].data;\n\n  // Filtra filas realmente válidas (evita {} que manda n8n)\n  rows = rows.filter(isNonEmptyRow);\n  return rows;\n};\n\n// Payload normalizado\nconst normalized = ($items(NODE_NORMALIZE)[0] || { json: {} }).json;\n\n// Lee filas del nodo \"Search Duplicate (Supabase)\"\nconst rows = toRows($input.all());\n\n// Claves de búsqueda\nconst phone  = String(normalized.Telefono_WhatsApp ?? '').trim();\nconst leadId = String(normalized.Lead_ID ?? '').trim();\n\n// Matching exacto (prioriza teléfono por esquema UNIQUE NOT NULL)\nlet matchKey = null;\nlet existing = rows.find(r => {\n  const byPhone = phone && String(r.telefono_whatsapp || '').trim() === phone;\n  const byLead  = leadId && String(r.lead_id || '').trim() === leadId;\n  if (byPhone || byLead) matchKey = byPhone ? 'telefono_whatsapp' : 'lead_id';\n  return byPhone || byLead;\n}) || null;\n\nconst exists = existing !== null;\nconst existing_id = exists && isUuid(existing.id) ? String(existing.id) : null;\n\n// Filtro seguro para UPDATE\nlet filter_str = '';\nif (existing_id) filter_str = `id=eq.${existing_id}`;\nelse if (phone)  filter_str = `telefono_whatsapp=eq.${phone}`;\nelse if (leadId) filter_str = `lead_id=eq.${leadId}`;\n\n// Sanea payload (evita \"\" / \" \")\nconst payload = {\n  ...normalized,\n  Paciente_ID: cleanUuid(normalized.Paciente_ID),\n  Fecha_Conversion: cleanDate(normalized.Fecha_Conversion),\n  ultima_interaccion: cleanDate(normalized.ultima_interaccion),\n  Fecha_Primer_Contacto: cleanDate(normalized.Fecha_Primer_Contacto),\n};\n\nconsole.log('=== CHECK EXISTS ===', {\n  rows: rows.length, exists, matchKey, existing_id, filter_str\n});\n\nreturn [{\n  json: {\n    exists,                 // boolean\n    existing,               // objeto o null\n    existing_id,            // string o null\n    filter_str,             // úsalo en Filters (String) del UPDATE\n    duplicate_count: rows.length,\n    match_key: matchKey,\n    payload                 // saneado\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        256,
        1120
      ],
      "id": "141fc22d-666c-468d-93e7-cba3fa1948e6",
      "name": "Check Exists"
    }
  ],
  "pinData": {
    "When called by another workflow": [
      {
        "json": {
          "Lead_ID": "",
          "Nombre_Completo": "Fausto Mario Medina",
          "Telefono_WhatsApp": "+526673184624",
          "Fuente_Lead": "WhatsApp",
          "Fecha_Primer_Contacto": "2025-10-16",
          "Estado": "Nuevo",
          "Notas_Iniciales": "hola comoe stas",
          "Session_ID": "94893f82900a22c8ace39a0142c96d8657f4846b260da82ddd44e348063783cd",
          "ultima_interaccion": "2025-10-16",
          "total_interacciones": 1,
          "Paciente_ID": "",
          "Fecha_Conversion": ""
        }
      }
    ]
  },
  "connections": {
    "When called by another workflow": {
      "main": [
        [
          {
            "node": "Normalize Phone1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Duplicate (Supabase)": {
      "main": [
        [
          {
            "node": "Check Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Lead (Supabase)": {
      "main": [
        [
          {
            "node": "Return Updated",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Lead (Supabase)": {
      "main": [
        [
          {
            "node": "Return Created1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Phone1": {
      "main": [
        [
          {
            "node": "Phone Valid?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Phone Valid?1": {
      "main": [
        [
          {
            "node": "Search Duplicate (Supabase)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Error1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Exists?": {
      "main": [
        [
          {
            "node": "Update Lead (Supabase)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Insert Lead (Supabase)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Exists": {
      "main": [
        [
          {
            "node": "Exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Mexico_City",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "65c0e032-8abe-4ece-8fcf-54bb69870b40",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ab2739af75c0bf0ee034fd37e78576df139d0a4fcd48adc710d9ceec11fc12c5"
  },
  "id": "yI0ZZsP2n3ocSlCn",
  "tags": []
}