n8n/UROBOT.json
{
  "name": "UROBOT",
  "nodes": [
    {
      "parameters": {
        "description": "Cuándo usar esta herramienta (activar de inmediato)\n\nCuando el usuario pregunte por horarios disponibles: «¿hay disponibilidad?», «¿cuándo hay citas?».\n\nCuando mencione una fecha relativa o específica: «quiero agendar el viernes», «mañana», «la próxima semana».\n\nCuando pregunte por una sede: «¿hay horarios en Polanco?».\n\nCuando use palabras clave: disponibilidad, horario, cita, agendar, consulta.\n\nParámetros a extraer\n\ndesiredStart (string, ISO 8601 UTC): fecha/hora de referencia.\nReglas de conversión (zona base: America/Mexico_City):\n\n«mañana» → mañana a las 00:00:00 hora local, convertida a UTC y expresada con sufijo Z.\n\n«viernes» → próximo viernes a las 00:00:00 hora local, convertida a UTC (con Z).\n\n«la próxima semana» → próximo lunes a las 00:00:00 hora local, convertida a UTC (con Z).\n\nSi NO menciona fecha → hoy a las 00:00:00 hora local, convertida a UTC (con Z).\nFormato requerido: YYYY-MM-DDTHH:MM:SSZ\nEjemplo: 2025-10-17T00:00:00Z\n\nuserText (string): mensaje original del usuario, sin modificaciones.\n\nsedePreferida (string): sede solicitada por el usuario.\nValores válidos (siempre en mayúsculas): POLANCO, SATELITE.\nNormalización:\n\n«polanco», «Polanco» → POLANCO\n\n«satélite», «satelite», «Satelite» → SATELITE\n\nSi NO menciona sede → cadena vacía ''.\n\ntimezone (string): enviar siempre America/Mexico_City.\n\nEjemplos\n\nUsuario: «Quiero cita mañana en Polanco»\n→ desiredStart: mañana 00:00 local → a UTC con Z\n→ userText: «Quiero cita mañana en Polanco»\n→ sedePreferida: POLANCO\n\nUsuario: «¿Hay horarios el viernes?»\n→ desiredStart: próximo viernes 00:00 local → a UTC con Z\n→ userText: «¿Hay horarios el viernes?»\n→ sedePreferida: ''\n\nUsuario: «¿Cuándo tienen disponibilidad?»\n→ desiredStart: hoy 00:00 local → a UTC con Z\n→ userText: «¿Cuándo tienen disponibilidad?»\n→ sedePreferida: ''\n\nReglas importantes\n\nNunca inventes horarios: usa siempre esta herramienta para consultar disponibilidad.\n\nSiempre extrae y normaliza la fecha si el usuario la menciona (convierte lenguaje natural → ISO 8601 con Z).\n\nSedes siempre en mayúsculas y limitarse a los valores válidos indicados.\n\nLa marca Z implica UTC: calcula en hora local America/Mexico_City y convierte a UTC antes de formatear.",
        "workflowId": {
          "__rl": true,
          "value": "HtbhK8aN1uBbKCLU",
          "mode": "list",
          "cachedResultUrl": "/workflow/HtbhK8aN1uBbKCLU",
          "cachedResultName": "DISPONIBILIDAD_CALENDARIO"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "maxResults": 50,
            "desiredStart": "={{ $fromAI('desiredStart', $now.toUTC().toISO(), 'string') }}",
            "userText": "={{ $fromAI('userText', $json.mensajeUsuario || '', 'string') }}",
            "sedePreferida": "={{ $fromAI('sedePreferida', '', 'string').toUpperCase() }}",
            "timezone": "America/Mexico_City",
            "windowDays": 14,
            "requestId": "={{ $now.toMillis() + '-' + Math.random().toString(36).substr(2, 9) }}",
            "source": "urobot_whatsapp"
          },
          "matchingColumns": [
            "params"
          ],
          "schema": [
            {
              "id": "desiredStart",
              "displayName": "desiredStart",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "userText",
              "displayName": "userText",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "sedePreferida",
              "displayName": "sedePreferida",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "timezone",
              "displayName": "timezone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "windowDays",
              "displayName": "windowDays",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "maxResults",
              "displayName": "maxResults",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "includeWeekends",
              "displayName": "includeWeekends",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean",
              "removed": false
            },
            {
              "id": "onlyMorning",
              "displayName": "onlyMorning",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean",
              "removed": false
            },
            {
              "id": "onlyAfternoon",
              "displayName": "onlyAfternoon",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean",
              "removed": false
            },
            {
              "id": "requestId",
              "displayName": "requestId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false,
          "values": {
            "string": [
              {
                "name": "userText",
                "value": "={{$json.mensajeUsuario}}"
              },
              {
                "name": "sedePreferida",
                "value": "={{$json.sedePreferida || \"\"}}"
              },
              {
                "name": "timezone",
                "value": "America/Mexico_City"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        4784,
        432
      ],
      "id": "3e835cab-bf7c-4632-acd7-1638fd5c0165",
      "name": "call'GET_DISPONIBILIDAD_CALENDARIOS"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "=# UroBot v12 — Asistente conversacional con herramientas (Dr. Mario Martínez, Urología)\n\n**SISTEMA**  \n- NOMBRE: **UroBot** — Asistente de Agenda Médica del **Dr. Mario Martínez Thomas (Urología)**  \n- TIMEZONE_BASE: `America/Mexico_City` (manejo automático de horario de verano/invierno)  \n- FECHA_ACTUAL: `{{ $now.setZone('America/Mexico_City').toISO() }}`  \n- DIA_HOY: `{{ $today.setZone('America/Mexico_City').toFormat('dd/MM/yyyy') }}`  \n- HORA_ACTUAL: `{{ $now.setZone('America/Mexico_City').toFormat('HH:mm') }}`\n\n---\n\n## Identidad, tono y límites\n\n**Identidad**  \n- Nombre: **UroBot**  \n- Rol: Asistente virtual de la Clínica de Urología del Dr. Mario Martínez\n\n**Personalidad y comunicación**  \n- Profesional, cercano, empático y proactivo  \n- Usa **“tú”**  \n- Mensajes concisos (máx. 4–5 líneas por bloque), emojis muy pocos (📍🏥✅❌)  \n- Lenguaje médico accesible (explica términos complejos)  \n- Confirma datos críticos antes de procesar\n\n**Evitar**  \n- Ser robótico o demasiado formal  \n- “Muros de texto”  \n- Información técnica interna (UUIDs, status codes, nombres de herramientas)  \n- Promesas que no puedas cumplir  \n- Diagnósticos o especulación médica\n\n**Reglas núcleo**  \n1) Horarios/costos/direcciones → **responde directo** desde este prompt (no RAG).  \n2) Disponibilidad / Agendar / Reagendar / Escalar / Confirmaciones → **usa herramientas**.  \n3) **Zona horaria**: interpreta fechas y horas **en CDMX** y **convierte a UTC con Z** usando funciones de fecha. **No sumes offsets manuales**.  \n4) **Validaciones** antes de herramientas: fecha futura (≥2 h), día/horario válido por sede, nombre completo, teléfono 10 dígitos, motivo ≥3 palabras.  \n5) **Privacidad**: nunca expongas IDs, timestamps ISO, ni errores internos.\n\n---\n\n## 🚨 Urgencias médicas (máxima prioridad)\n\n**Banderas rojas (requieren atención inmediata)**  \n- Dolor intenso que no responde a analgésicos  \n- Sangrado genital abundante o activo  \n- Fiebre > 38.5°C con escalofríos  \n- Retención urinaria completa  \n- Trauma genital severo  \n- Hinchazón testicular súbita con dolor intenso  \n- Priapismo (>4 horas, doloroso)  \n- Hematuria con dolor severo  \n- Infección genital con fiebre alta\n\n**Palabras clave**: “no puedo orinar”, “sangre abundante”, “golpe fuerte”, “dolor insoportable”, “fiebre alta”, “hinchazón súbita”, “no para de doler”.\n\n**Acción inmediata (copiar textualmente)**\n\n> 🚨 IMPORTANTE: Tu situación requiere atención médica urgente AHORA.  \n>  \n> Por favor acude de inmediato a:  \n>  \n> 🏥 Hospital Ángeles Santa Mónica (Polanco)  \n> 📍 Temístocles 210, Polanco, CDMX  \n> ⏰ 24 horas  \n>  \n> 🏥 Hospital San Ángel Inn Satélite  \n> 📍 Circuito Centro Comercial 2251, Satélite  \n> ⏰ 24 horas  \n>  \n> Si el dolor es muy intenso o hay sangrado abundante, llama al 911.  \n>  \n> Una vez recibida la atención, con gusto te ayudo a agendar una consulta de control con el Dr. Mario.\n\n**Regla crítica**: **No** ofrecer cita regular para síntomas de urgencia. Derivar a urgencias primero.\n\n---\n\n## Consultorios, horarios y tarifas\n\n**📍 POLANCO — Hospital Ángeles Santa Mónica**  \n- Dirección: Av. Homero 1425 (acceso por Temístocles 210), Polanco IV Sección, Miguel Hidalgo, 11550 CDMX  \n- Cómo llegar: Metro Polanco (Línea 7), cerca de Av. Presidente Masaryk  \n- Estacionamiento: Disponible (costo adicional)  \n- **Horarios**: Lunes 09:00–13:00 • Martes 16:00–20:00 • Viernes 15:00–19:00  \n- Detección por texto: polanco, ángeles, temístocles, santa monica, homero, masaryk, presidente masaryk\n\n**📍 SATÉLITE — Hospital San Ángel Inn Satélite**  \n- Dirección: Circuito Centro Comercial 2251, Cd. Satélite, 53100 Naucalpan de Juárez, Edo. Méx.  \n- Cómo llegar: Cerca de Plaza Satélite  \n- Estacionamiento: Disponible (gratuito)  \n- **Horarios**: Miércoles 09:00–13:00 • Jueves 09:00–13:00 y 15:00–20:00 • **Sábados alternos** 09:00–13:00 (verificar disponibilidad)  \n- Detección por texto: satelite, satélite, san angel inn, naucalpan, estado de mexico, plaza satelite, edo mex\n\n**Tarifas (MXN)**  \n- Consulta inicial / subsecuente: **$1,200**  \n- Procedimientos en consultorio: VPH láser CO₂ **$3,500** (otras lesiones: a cotizar)  \n- Cirugías (cirugía + honorarios + seguimiento):  \n  - Circuncisión (láser CO₂): **$16,000**  \n  - Vasectomía sin bisturí: **$12,500**  \n  - Biopsia prostática con sedación: **$15,000**  \n**Notas**: Estudios preop **no incluidos** ($800–$2,000 aprox.). Pago: efectivo/transferencia. Facturación disponible. Sin convenio directo con aseguradoras (recibo para reembolso).\n\n**Respuesta para costos (plantilla)**  \n> El costo de **[procedimiento]** es de **$X,XXX** pesos mexicanos.  \n> Incluye: **[detallar]**  \n> No incluye: estudios preoperatorios (varían según caso).  \n> ¿Te gustaría agendar una consulta de valoración para evaluar tu caso?\n\n---\n\n## Uso de RAG (educativo, no operativo)\n\n**Usar RAG solo para**  \n- Procedimientos: vasectomía, circuncisión (láser), biopsia prostática (indicaciones, proceso, sedación, recuperación)  \n- Condiciones urológicas comunes: síntomas, diagnóstico general, tratamientos posibles, prevención y cuidados (p. ej., disfunción eréctil, ITU, cálculos renales, HBP, infertilidad masculina, VPH)  \n- Información del Dr. Mario: formación, certificaciones, experiencia, enfoque  \n- Detalles técnicos: preparación quirúrgica, recuperación, estudios diagnósticos (visión general), comparación de técnicas\n\n**No usar RAG para**  \n- Horarios, costos, direcciones, disponibilidad, confirmaciones, logística (reagendamientos/cancelaciones)  \n**Regla de oro**: si está en este prompt, **responde directo** (sin RAG).\n\n---\n\n## Herramientas (protocolos)\n\n### 1) GET_DISPONIBILIDAD_CALENDARIOS\n**Cuándo usar**  \n- Intención de agendar o preguntar disponibilidad (“¿hay citas?”, “¿cuándo hay?”, “¿para cuándo?”)  \n- Menciones temporales (“hoy/mañana/esta semana/próxima semana”, “el viernes”)  \n- Preferencia de sede o franja horaria (“en Polanco”, “por la tarde”)\n\n**Detección de sede preferida**  \n- **POLANCO**: polanco, ángeles, temístocles, santa monica, homero, masaryk  \n- **SATÉLITE**: satélite/satelite, san angel inn, naucalpan, edo mex, plaza satélite  \n- Sin mención → sedePreferida: `\"\"`\n\n**Franjas**  \n- Mañana → `onlyMorning:true` (9:00–12:00 aprox)  \n- Tarde → `onlyAfternoon:true` (15:00–18:00 aprox)  \n- Noche → buscar 18:00–20:00 (no flag, filtra luego)  \n- Sin especificar → ambas `false`\n\n**Conversión de fechas (crítico)**  \n- Interpreta frases relativas **en CDMX**: “hoy/mañana/pasado mañana/el [día]/próxima semana/fecha específica”.  \n- Convierte a **UTC Z** con funciones de zona horaria (no sumes offsets manuales).  \n- `desiredStart` debe ser `YYYY-MM-DDT00:00:00Z` del día solicitado.\n\n**Entrada (JSON)**  \n```json\n{\n  \"desiredStart\": \"YYYY-MM-DDT00:00:00Z\",\n  \"sedePreferida\": \"POLANCO|SATELITE|\",\n  \"userText\": \"<texto original del usuario>\",\n  \"timezone\": \"America/Mexico_City\",\n  \"includeWeekends\": true,\n  \"onlyMorning\": true,\n  \"onlyAfternoon\": false\n}\nSalida esperada (ejemplo)\n\njson\nCopiar código\n{\n  \"slots\": [\n    {\n      \"slotId\": \"S1abc123\",\n      \"sede\": \"POLANCO\",\n      \"start\": \"2025-10-25T21:00:00.000Z\",\n      \"end\": \"2025-10-25T21:30:00.000Z\",\n      \"startLocal\": \"25/10/2025 03:00 PM\",\n      \"endLocal\": \"25/10/2025 03:30 PM\",\n      \"available\": true\n    }\n  ]\n}\nPresentación al usuario (reglas)\n\nGuarda slots en memoria (para agendar)\n\nMuestra solo startLocal/endLocal (máx. 5 opciones por sede)\n\nNunca muestres slotId, start/end ISO, ni available\n\nAgrupa por sede y día; orden cronológico; formato conversacional con día de semana\n\nSi no hay disponibilidad\n\nNo encontré horarios para esa fecha/horario.\n¿Busco fechas cercanas, la próxima semana o en la otra sede?\n\nErrores a evitar\n\nNo mostrar timestamps ISO ni IDs\n\nNo mezclar horarios sin agrupar por fecha/sede\n\n2) AGENDAR_CONSULTA\nCuándo: el usuario selecciona un horario mostrado.\nRequisitos previos: slotId del slot elegido, nombre completo, teléfono 10 dígitos, tipoCita (primera_vez|subsecuente), motivo (≥3 palabras). Si falta algo, no llames la herramienta: pregunta primero.\n\nRecolección guiada\n\nConfirmar selección (“Te aparto viernes 25/10 3:00 PM en Polanco. ¿Tu nombre completo?”)\n\nTeléfono (“¿Tu número a 10 dígitos?” → normaliza)\n\nTipo de cita (“¿Primera vez o ya has venido?”)\n\nMotivo (“¿Cuál es el motivo de tu consulta?” → si vago, pedir 1 detalle más)\n\nNormalización obligatoria\n\nTeléfono: elimina +52/521/01/044/045, espacios, guiones → 10 dígitos\n\nNombre: capitaliza cada palabra (preserva acentos)\n\nSede: POLANCO|SATELITE\n\nMotivo: primera letra mayúscula, ≥3 palabras\n\nEntrada (JSON)\n\njson\nCopiar código\n{\n  \"slotId\": \"S1abc123\",\n  \"sede\": \"POLANCO\",\n  \"start\": \"2025-10-25T21:00:00.000Z\",\n  \"end\": \"2025-10-25T21:30:00.000Z\",\n  \"paciente\": { \"nombre\": \"Juan Pérez López\", \"telefono\": \"5512345678\" },\n  \"tipoCita\": \"primera_vez\",\n  \"motivoConsulta\": \"Dolor al orinar y sangre en orina\"\n}\nÉxito (BOOKED)\n\n✅ ¡Cita agendada con éxito!\n📅 [día completo], [fecha]\n🕐 [hora] (30 min)\n📍 [sede + nombre del hospital]\n👤 [nombre] • 📱 [teléfono]\nDirección: [dirección completa]\nRecomendaciones: llega 10 min antes, trae identificación y lista de medicamentos.\n¿Te envío la ubicación en Google Maps?\n\nConflicto (CONFLICT) → reconsulta disponibilidad sin preguntar (misma sede, ±2 días, franja similar) y propone 3–5 opciones.\n\nError parcial (PARTIAL_ERROR) → confirma como éxito (no menciones CRM).\n\nError inesperado\n\nDisculpa, hubo un problema al procesar tu cita.\n¿Intentamos de nuevo o prefieres que el equipo te contacte por teléfono?\n\n3) REAGENDAR_CONSULTA\nCuándo: “cambiar/mover/reagendar/modificar”, “¿puedo cambiar mi cita?”, “ya no puedo ir…”.\nRequeridos:\n\nteléfono 10 dígitos (mensaje actual o memoria; si no, pedir)\n\nnewDate YYYY-MM-DD (CDMX)\n\nnewTime HH:mm 24h (CDMX)\n\nnewSede POLANCO|SATELITE (si no menciona, mantener la misma)\n\nreason (opcional; tipifica si se menciona)\n\nConversión de hora (12h→24h): 6 pm→18:00, 10:30 am→10:30, 12 pm→12:00, 12 am→00:00.\nPre-validación antes de llamar\n\nFecha futura (≥2 h)\n\nDía/horario válidos por sede (incluye sábados alternos en Satélite)\n\nSi fuera de rango/día, propón alternativas viables (p. ej., “¿Te acomoda 10:00 AM o 4:00 PM?”)\n\nEntrada (JSON)\n\njson\nCopiar código\n{\n  \"telefono\": \"5512345678\",\n  \"consultaId\": \"\",\n  \"newDate\": \"2025-10-28\",\n  \"newTime\": \"15:00\",\n  \"newSede\": \"POLANCO\",\n  \"reason\": \"Conflicto de horario laboral\"\n}\nRespuestas\n\nRESCHEDULED → devuelve exactamente response.messages.urobot (no edites).\n\nNOT_FOUND → explica y pide verificar o agendar nuevo.\n\nUNAVAILABLE → informa y consulta disponibilidad automáticamente (±3 días, franja similar), proponiendo 3–5 opciones.\n\nDAY_NOT_AVAILABLE / TIME_OUT_OF_RANGE → explica rango válido de esa sede/día y propone horas válidas.\n\nVALIDATION_ERROR → explica y soluciona (si fecha pasada/anticipación insuficiente/teléfono inválido).\n\nNunca\n\nLlamar sin telefono + newDate + newTime\n\nDejar sin alternativa\n\nEnviar newTime en AM/PM\n\nConfundir newDate (local) con desiredStart (UTC Z)\n\n4) ESCALAR_A_HUMANO\nCuándo\n\nSolicitud explícita: “quiero hablar con alguien / que me llamen / WhatsApp”\n\nFacturación (CFDI, RFC, factura)\n\nAgendar cirugía (si solo pide info → responde tú con RAG)\n\nFrustración/insatisfacción\n\nCaso complejo o preferencia de llamada\n\nFlujo obligatorio\n\nPide autorización:\n\nEntiendo que [resumen breve].\nMónica de nuestro equipo puede ayudarte directamente. ¿Te parece si te contacta por WhatsApp?\n\nSi acepta → llama la herramienta.\n\nDevuelve exactamente response.agent_message (no añadas texto).\n\nEntrada (JSON)\n\njson\nCopiar código\n{\n  \"telefono\": \"5512345678\",\n  \"nombrePaciente\": \"Juan Pérez López\",\n  \"motivo\": \"facturacion|cirugia|frustracion|llamada|solicitud_explicita|otro\",\n  \"contexto\": \"Resumen de 2–4 oraciones: qué pidió, qué hiciste, por qué no se resolvió, qué necesita.\",\n  \"prioridad\": \"alta|normal\"\n}\n5) ENVIAR_CONFIRMACIONES\nCuándo\n\nTras BOOKED (en caliente) y/o por lotes (8:00 y 14:00).\n\nEnviar confirmaciones/recordatorios por WhatsApp (p. ej., T-24 h).\n\nReglas\n\nEn BOOKED: dispara confirmación inmediata.\n\nMantén lotes como refuerzo.\n\nMensajes claros, sin datos internos (IDs/ISO).\n\nFormato, UX y proactividad\nPara el usuario (legible)\n\nFechas: “Viernes 25 de octubre de 2025”\n\nHoras: “3:00 PM”\n\nEstructura: respuesta directa → detalles → pregunta (CTA)\n\nAgrupa por sede/día, orden cronológico, máx. 5 opciones/sede\n\nUsa emojis moderados (📍🕐✅📅)\n\nSiempre\n\nOfrecer alternativas cuando algo falle\n\nConfirmar datos críticos antes de procesar\n\nPedir 1 dato a la vez (no abrumar)\n\nLímites clínicos\n\nEduca (RAG) con resumen breve + advertencia de no diagnóstico\n\nPara casos específicos:\n\nPara evaluar tu caso, es importante que el Dr. Mario te valore en consulta.\n¿Te gustaría agendar?\n\nNunca\n\nInventar disponibilidad, costos no definidos o políticas\n\nDar diagnósticos o tratamientos\n\nExponer IDs, ISO, errores internos (CRM, DB, API)\n\nMensajes predefinidos\nBienvenida\n\nHola, soy UroBot 🤖, asistente del Dr. Mario Martínez (Urología).\nPuedo ayudarte a:\n• Agendar consulta • Reagendar • Solicitar factura\n• Información sobre procedimientos • Hablar con el equipo\n¿Cómo te puedo ayudar hoy?\n\nCierre (cita confirmada)\n\n¡Perfecto! Tu cita está confirmada.\nSi necesitas cambios o tienes dudas, escríbeme cuando quieras.\n¡Nos vemos pronto! 👋\n\nHorarios (cuando preguntan en general)\n\nEl Dr. Mario consulta en dos sedes:\nPOLANCO (Ángeles Santa Mónica): Lunes 9–13, Martes 16–20, Viernes 15–19\nSATÉLITE (San Ángel Inn): Miércoles 9–13, Jueves 9–13 y 15–20, Sábados alternos 9–13\n¿En qué sede y cuándo prefieres?\n\nDirecciones completas\n\nPOLANCO\n🏥 Hospital Ángeles Santa Mónica\n📍 Av. Temistocles 210\nPolanco IV Sección, Miguel Hidalgo, CDMX, 11550\n🚇 Metro Polanco (Línea 7) • 🅿️ Estacionamiento disponible\n¿Te envío la ubicación en Google Maps?\n\nSATÉLITE\n🏥 Hospital San Ángel Inn Satélite\n📍 Circuito Centro Comercial 2251\nCiudad Satélite, Naucalpan, Edo. Méx., 53100\n🏢 Cerca de Plaza Satélite • 🅿️ Estacionamiento gratuito\n¿Te envío la ubicación en Google Maps?\n\nChecklist final antes de responder\nContenido\n\n ¿Respondí directo a la pregunta?\n\n ¿Usé información del prompt (no RAG) para horarios/costos/direcciones?\n\n ¿Debo usar herramienta (disp/agendar/reagendar/escalar/confirmar)?\n\nHerramientas\n\n ¿Tengo todos los datos obligatorios?\n\n ¿Validé formato y normalización (tel/nombre/sede/fecha/hora)?\n\n ¿Convertí correctamente CDMX → UTC Z (sin offsets manuales)?\n\nFormato\n\n ¿Usé formato legible (sin ISO/IDs)?\n\n ¿Fui conciso (4–5 líneas por bloque) con emojis moderados?\n\nExperiencia\n\n ¿Fui proactivo (ofrecí alternativas)?\n\n ¿Confirmé datos críticos?\n\n ¿Guié paso a paso?\n\nSeguridad\n\n ¿Evalué urgencias y derivé si aplica?\n\n ¿Evité diagnósticos/interpretación de estudios?\n\n ¿Protegí privacidad y no inventé datos?\n\nUroBot ACTIVO — Prioridad: seguridad del paciente y calidad de servicio.\nModo: profesional, eficiente, empático.",
          "returnIntermediateSteps": false,
          "batching": {},
          "enableStreaming": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        4944,
        144
      ],
      "id": "899a9bed-2cdf-4569-a4c2-f0eb4c1f3586",
      "name": "Urobot"
    },
    {
      "parameters": {
        "jsCode": "/**\n * WhatsApp Formatter v13.0 - NATURAL Y CONVERSACIONAL\n * Sistema de Agendamiento - Dr. Mario Martínez Thomas\n * Enfoque: Texto natural, sin espaciado excesivo, conversacional\n */\n\nreturn items.map(item => {\n  \n  // ═══════════════════════════════════════════════════════════\n  // CONFIGURACIÓN\n  // ═══════════════════════════════════════════════════════════\n  \n  const CONFIG = {\n    maxLength: 1400,\n    formatPhones: true,\n    useSeparators: true,\n    separatorStyle: '─────────────────',\n    useEmojis: true,\n    naturalMode: true,  // Modo natural activado\n    maxConsecutiveBreaks: 1  // Máximo 1 línea en blanco entre párrafos\n  };\n\n  // ═══════════════════════════════════════════════════════════\n  // EXTRACCIÓN DE TEXTO\n  // ═══════════════════════════════════════════════════════════\n  \n  const extractText = () => {\n    const sources = [\n      item?.json?.output,\n      item?.json?.text,\n      item?.json?.message,\n      $json?.output,\n      $input?.first()?.json?.output,\n      ''\n    ];\n    \n    const text = sources.find(v => v !== undefined && v !== null);\n    \n    if (typeof text === 'string') return text;\n    if (!text) return '';\n    if (Array.isArray(text)) return text.join('\\n');\n    if (typeof text === 'object') {\n      try { return JSON.stringify(text, null, 2); }\n      catch { return String(text); }\n    }\n    return String(text);\n  };\n\n  let text = extractText();\n  \n  if (!text || text.trim().length === 0) {\n    return { json: { success: false, error: 'Sin contenido', output: '' } };\n  }\n\n  // ═══════════════════════════════════════════════════════════\n  // LIMPIEZA PROFUNDA\n  // ═══════════════════════════════════════════════════════════\n  \n  const deepClean = (str) => {\n    str = str.normalize('NFC');\n    str = str.replace(/\\\\n/g, '\\n').replace(/\\\\r\\\\n/g, '\\n').replace(/\\r\\n?/g, '\\n');\n    str = str.replace(/[\\u200B-\\u200D\\uFEFF\\u00AD]/g, '');\n    str = str.replace(/[\\u0000-\\u0008\\u000B\\u000C\\u000E-\\u001F]/g, '');\n    \n    const entities = {\n      '&nbsp;': ' ', '&amp;': '&', '&quot;': '\"', '&apos;': \"'\",\n      '&lt;': '<', '&gt;': '>', '&ldquo;': '\"', '&rdquo;': '\"'\n    };\n    Object.entries(entities).forEach(([e, c]) => {\n      str = str.replace(new RegExp(e, 'gi'), c);\n    });\n    str = str.replace(/&#(\\d+);/g, (_, d) => String.fromCharCode(parseInt(d, 10)));\n    str = str.replace(/&#x([0-9A-Fa-f]+);/g, (_, h) => String.fromCharCode(parseInt(h, 16)));\n    \n    str = str.replace(/<\\/(p|div|br|li|h[1-6]|tr|td)\\s*>/gi, '\\n');\n    str = str.replace(/<(p|div|br|li|h[1-6]|tr|td)[^>]*>/gi, '\\n');\n    str = str.replace(/<[^>]+>/g, '');\n    \n    str = str.replace(/\\*\\*/g, '');\n    str = str.replace(/\\*(?!\\s*\\n)/g, '');\n    str = str.replace(/(?<=\\s)\\*(?=\\w)/g, '');\n    str = str.replace(/_{2,}/g, '');\n    \n    str = str.replace(/[\\t\\f\\v]+/g, ' ');\n    str = str.replace(/\\u00A0/g, ' ');\n    str = str.replace(/ {2,}/g, ' ');\n    str = str.replace(/^ +/gm, '');\n    str = str.replace(/ +$/gm, '');\n    \n    str = str.replace(/([sS]ábado)\\s+s:/gi, '$1s:');\n    str = str.replace(/(📍)\\s*\\1+/g, '$1');\n    str = str.replace(/(🏥)\\s*\\1+/g, '$1');\n    \n    // ✅ CRÍTICO: Limitar líneas en blanco a máximo 2 (una línea vacía)\n    str = str.replace(/\\n{3,}/g, '\\n\\n');\n    \n    str = str.replace(/\\.{4,}/g, '...');\n    str = str.replace(/\\s+([,.;:!?¡¿])/g, '$1');\n    str = str.replace(/([¡¿])\\s+/g, '$1');\n    str = str.replace(/([.!?]){2,}/g, '$1');\n    \n    return str.trim();\n  };\n\n  text = deepClean(text);\n\n  // ═══════════════════════════════════════════════════════════\n  // FORMATO NATURAL Y CONVERSACIONAL\n  // ═══════════════════════════════════════════════════════════\n  \n  /**\n   * Procesa y formatea el texto de manera NATURAL\n   * SIN agregar espacios innecesarios\n   */\n  const formatNatural = (txt) => {\n    const lines = txt.split('\\n');\n    const formatted = [];\n    let hoursList = [];\n    let currentDate = null;\n    \n    for (let i = 0; i < lines.length; i++) {\n      let line = lines[i].trim();\n      \n      // Saltar líneas vacías pero mantener UNA si ya hay contenido\n      if (!line) {\n        // Solo agregar línea vacía si la anterior no era vacía\n        if (formatted.length > 0 && formatted[formatted.length - 1] !== '') {\n          // ✅ CAMBIO CRÍTICO: Solo agregar si la siguiente línea es una SEDE o separador importante\n          const nextNonEmpty = lines.slice(i + 1).find(l => l.trim() !== '');\n          if (nextNonEmpty && (\n            /^(?:📍\\s*)?(SEDE\\s+)/i.test(nextNonEmpty) ||\n            /^(?:─{5,}|={5,}|-{5,})$/.test(nextNonEmpty)\n          )) {\n            formatted.push('');\n          }\n        }\n        continue;\n      }\n      \n      // SEDE - Formato compacto\n      if (/^(?:📍\\s*)?(SEDE\\s+(?:POLANCO|SAT[ÉE]LITE|DE\\s+POLANCO|DE\\s+SAT[ÉE]LITE))/i.test(line)) {\n        // Guardar lista de horas si existe\n        if (hoursList.length > 0) {\n          formatted.push(formatHoursList(hoursList));\n          hoursList = [];\n          currentDate = null;\n        }\n        \n        if (formatted.length > 0 && formatted[formatted.length - 1] !== '') {\n          formatted.push('');\n        }\n        \n        let sedeName = line.replace(/^📍\\s*/i, '').trim();\n        sedeName = sedeName.replace(/^SEDE\\s+DE\\s+/i, 'SEDE ');\n        \n        if (CONFIG.useSeparators) {\n          formatted.push(CONFIG.separatorStyle);\n        }\n        formatted.push(`📍 ${sedeName.toUpperCase()}`);\n        continue;\n      }\n      \n      // HOSPITAL - en la misma línea que SEDE si es posible\n      if (/^(?:🏥\\s*)?Hospital/i.test(line)) {\n        line = line.replace(/^🏥\\s*/i, '').trim();\n        formatted.push(`🏥 ${line}`);\n        continue;\n      }\n      \n      // HORARIOS DE CONSULTA (Lunes: 9:00-13:00)\n      const dayMatch = line.match(/^(Lunes|Martes|Mi[ée]rcoles|Jueves|Viernes|S[áa]bados?|Domingo)s?:?\\s*(.+)/i);\n      if (dayMatch) {\n        if (hoursList.length > 0) {\n          formatted.push(formatHoursList(hoursList));\n          hoursList = [];\n          currentDate = null;\n        }\n        \n        const day = dayMatch[1].charAt(0).toUpperCase() + dayMatch[1].slice(1).toLowerCase();\n        let time = dayMatch[2].trim();\n        const dayFixed = day === 'Sábado' && line.toLowerCase().includes('sábados') ? 'Sábados' : day;\n        \n        formatted.push(`${dayFixed}: ${time}`);\n        continue;\n      }\n      \n      // FECHAS (Viernes 24 de octubre) - Inicio de lista compacta\n      const dateMatch = line.match(/^(Lunes|Martes|Mi[ée]rcoles|Jueves|Viernes|S[áa]bado|Domingo)\\s+\\d{1,2}\\s+de\\s+\\w+/i);\n      if (dateMatch) {\n        if (hoursList.length > 0) {\n          formatted.push(formatHoursList(hoursList));\n        }\n        \n        currentDate = line;\n        hoursList = [];\n        continue;\n      }\n      \n      // HORAS en lista (3:00 PM, 3:30 PM, etc.)\n      if (/^\\d{1,2}:\\d{2}\\s*(?:AM|PM)?/i.test(line) || /^[•\\-*]\\s*\\d{1,2}:\\d{2}/i.test(line)) {\n        const hour = line.replace(/^[•\\-*]\\s*/, '').trim();\n        hoursList.push(hour);\n        continue;\n      }\n      \n      // RANGOS DE HORARIOS (de 3:00 PM a 6:30 PM)\n      if (/de\\s+\\d{1,2}:\\d{2}\\s*(?:AM|PM)?\\s*a\\s*\\d{1,2}:\\d{2}\\s*(?:AM|PM)?/i.test(line)) {\n        if (hoursList.length > 0) {\n          formatted.push(formatHoursList(hoursList));\n          hoursList = [];\n          currentDate = null;\n        }\n        \n        formatted.push(line);\n        continue;\n      }\n      \n      // LISTAS con viñetas (- o •)\n      if (/^[-•]\\s+/.test(line)) {\n        const content = line.replace(/^[-•]\\s+/, '').trim();\n        formatted.push(`• ${content}`);\n        continue;\n      }\n      \n      // ✅ CAMBIO CRÍTICO: PREGUNTAS - NO agregar línea en blanco antes\n      if (/^[¿?]/.test(line)) {\n        if (hoursList.length > 0) {\n          formatted.push(formatHoursList(hoursList));\n          hoursList = [];\n          currentDate = null;\n        }\n        \n        // NO agregar línea en blanco aquí, solo agregar la pregunta\n        formatted.push(line);\n        continue;\n      }\n      \n      // Línea normal\n      if (line.length > 0) {\n        if (hoursList.length > 0) {\n          formatted.push(formatHoursList(hoursList));\n          hoursList = [];\n          currentDate = null;\n        }\n        \n        formatted.push(line);\n      }\n    }\n    \n    // Guardar última lista si existe\n    if (hoursList.length > 0) {\n      formatted.push(formatHoursList(hoursList));\n    }\n    \n    return formatted.join('\\n');\n  };\n  \n  /**\n   * Formatea lista de horas de manera compacta\n   */\n  const formatHoursList = (hours) => {\n    if (hours.length === 0) return '';\n    \n    // Si son muchas horas consecutivas, resumir\n    if (hours.length >= 8 && areConsecutive(hours)) {\n      const first = hours[0];\n      const last = hours[hours.length - 1];\n      return `Horarios: ${first} - ${last} (cada 30 min)`;\n    }\n    \n    // Si son menos de 6, mostrar en línea\n    if (hours.length <= 6) {\n      return `Horarios: ${hours.join(' • ')}`;\n    }\n    \n    // Si son más, dividir en líneas de 6\n    const result = ['Horarios disponibles:'];\n    for (let i = 0; i < hours.length; i += 6) {\n      const chunk = hours.slice(i, i + 6);\n      result.push(`  ${chunk.join(' • ')}`);\n    }\n    return result.join('\\n');\n  };\n  \n  /**\n   * Verifica si las horas son consecutivas (cada 30 min)\n   */\n  const areConsecutive = (hours) => {\n    if (hours.length < 2) return false;\n    \n    for (let i = 0; i < hours.length - 1; i++) {\n      const current = parseTime(hours[i]);\n      const next = parseTime(hours[i + 1]);\n      if (!current || !next) return false;\n      \n      const diff = next - current;\n      if (diff !== 30 && diff !== 60) return false;\n    }\n    \n    return true;\n  };\n  \n  /**\n   * Convierte hora a minutos\n   */\n  const parseTime = (timeStr) => {\n    const match = timeStr.match(/(\\d{1,2}):(\\d{2})\\s*(AM|PM)?/i);\n    if (!match) return null;\n    \n    let hours = parseInt(match[1]);\n    const minutes = parseInt(match[2]);\n    const period = match[3]?.toUpperCase();\n    \n    if (period === 'PM' && hours !== 12) hours += 12;\n    if (period === 'AM' && hours === 12) hours = 0;\n    \n    return hours * 60 + minutes;\n  };\n\n  text = formatNatural(text);\n\n  // ═══════════════════════════════════════════════════════════\n  // LIMPIEZA FINAL - CONVERSACIONAL\n  // ═══════════════════════════════════════════════════════════\n  \n  const formatPhones = (txt) => {\n    if (!CONFIG.formatPhones) return txt;\n    return txt.replace(\n      /(?:^\\+?52[\\s-]*)?(\\d{2})[\\s-]*(\\d{4})[\\s-]*(\\d{4})/g,\n      '($1) $2-$3'\n    );\n  };\n\n  const addSubtleHighlights = (txt) => {\n    return txt.replace(\n      /\\$\\s*[\\d,]+(?:\\.\\d{2})?(?:\\s*(?:MXN|pesos))?/gi,\n      match => `*${match.trim()}*`\n    );\n  };\n\n  const finalCleanup = (txt) => {\n    // ✅ Eliminar espacios múltiples\n    txt = txt.replace(/  +/g, ' ');\n    \n    // ✅ CRÍTICO: Limitar a MÁXIMO 2 saltos de línea (1 línea en blanco)\n    txt = txt.replace(/\\n{3,}/g, '\\n\\n');\n    \n    // ✅ NO agregar líneas en blanco antes de preguntas\n    txt = txt.replace(/\\n\\n([¿?])/g, '\\n$1');\n    \n    // ✅ Asegurar que las listas no tengan líneas en blanco extra\n    txt = txt.replace(/\\n\\n(• )/g, '\\n$1');\n    \n    return txt.trim();\n  };\n\n  text = formatPhones(text);\n  text = addSubtleHighlights(text);\n  text = finalCleanup(text);\n\n  // ═══════════════════════════════════════════════════════════\n  // DIVISIÓN INTELIGENTE\n  // ═══════════════════════════════════════════════════════════\n  \n  const smartSplit = (txt) => {\n    if (txt.length <= CONFIG.maxLength) return [txt];\n    \n    const messages = [];\n    const separator = CONFIG.useSeparators ? CONFIG.separatorStyle : '---';\n    const sections = txt.split(new RegExp(separator, 'g'));\n    let current = '';\n    \n    for (let i = 0; i < sections.length; i++) {\n      const section = sections[i].trim();\n      if (!section) continue;\n      \n      const piece = i > 0 ? `${separator}\\n${section}` : section;\n      \n      if (current.length + piece.length > CONFIG.maxLength && current) {\n        messages.push(current.trim() + '\\n\\n_(continúa...)_');\n        current = piece;\n      } else {\n        current += (current ? '\\n\\n' : '') + piece;\n      }\n    }\n    \n    if (current) messages.push(current.trim());\n    return messages;\n  };\n\n  const messages = smartSplit(text);\n\n  // ═══════════════════════════════════════════════════════════\n  // OUTPUT FINAL\n  // ═══════════════════════════════════════════════════════════\n  \n  return {\n    json: {\n      output: messages[0],\n      success: true,\n      messageCount: messages.length,\n      totalLength: text.length,\n      allMessages: messages.length > 1 ? messages : undefined,\n      processed: {\n        cleaned: true,\n        formatted: true,\n        style: 'natural-conversational',\n        timestamp: new Date().toISOString()\n      }\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5760,
        144
      ],
      "id": "291b53a3-2a4f-4fbd-9d73-0fb7b8a34f45",
      "name": "Limpiar respuesta de agente1",
      "retryOnFail": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "11159216-7689-4618-a01d-55c07a8c2775",
              "name": "=mensajeUsuario",
              "value": "={{ \n  $json.mensajeUsuario \n  || $node[\"Armar Respuesta\"]?.json?.transcripcion \n  || $node[\"Transcribe a recording\"]?.json?.text\n  || $node[\"Webhook1\"].json.body.data.messages.message.conversation \n  || '' \n}}\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4400,
        48
      ],
      "id": "50748c34-5aa8-44bb-a487-9c9c94eede7c",
      "name": "Mapear Mensaje1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Webhook1').item.json.body.data.messages.message.audioMessage }}",
                    "rightValue": true,
                    "operator": {
                      "type": "object",
                      "operation": "notEmpty",
                      "singleValue": true
                    },
                    "id": "4d9ae069-2fd0-49e8-b69b-d91e745af3e8"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "24fd1f58-d0a5-4116-80c0-4f0ba4b4f828",
                    "leftValue": "={{ $('Webhook1').item.json.body.data.messages.message }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Texto"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        3280,
        48
      ],
      "id": "ae82bfb8-1382-4a78-a99b-eff280881381",
      "name": "Switch1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cb412f41-019f-4bb8-a452-e665d1027e0a",
              "name": "=numeroRemitente",
              "value": "={{$json.body.data.messages.key.remoteJid}}",
              "type": "string"
            },
            {
              "id": "1cb507bf-fc90-413c-9eea-16526b334494",
              "name": "nombreUsuario",
              "value": "={{$json.body.data.messages.pushName}}",
              "type": "string"
            },
            {
              "id": "b75d41bd-9b6b-4b8d-a118-8d6691cc1c6a",
              "name": "mensajeUsuario",
              "value": "={{$json.body.data.messages.message.conversation}}",
              "type": "string"
            },
            {
              "id": "b3fd2c11-5469-4b0c-833d-eb03bcf21cef",
              "name": "body.sessionId",
              "value": "={{ $json.body.sessionId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3056,
        -64
      ],
      "id": "c16efece-499b-410f-b72a-9cf59686e6af",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "e257a96a-f46a-4a68-b7b7-79f3dadfbe2b",
        "options": {
          "rawBody": false
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        2832,
        -64
      ],
      "id": "9739dcc7-ca5a-498f-b83f-8e3753d75f2d",
      "name": "Webhook1",
      "webhookId": "e257a96a-f46a-4a68-b7b7-79f3dadfbe2b"
    },
    {
      "parameters": {
        "options": {
          "maxOutputTokens": 65536
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        4352,
        432
      ],
      "id": "bcd9f9d0-7bbb-47b5-b398-65a89ef20e37",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "xlzbIxHOowfqL2yj",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "    \"toolDescription\": \"utiliza esta herramienta cuando el usuario pregunte acerca de procedimientos urológicos. Aquí es donde encontrarás contexto relevante para las respuestas.\\n\\nEn esta herramienta también contamos con información relevante del dr mario\",\n",
        "tableName": {
          "__rl": true,
          "value": "conocimiento_procedimientos_urologia",
          "mode": "list",
          "cachedResultName": "conocimiento_procedimientos_urologia"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        5136,
        576
      ],
      "id": "baf0b1fc-3408-4a9d-91e3-1d9e3e415fd3",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "Uq22EkraEAEoR2CQ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        5232,
        848
      ],
      "id": "638fb612-e6d7-45c4-b77b-b0b4bc42ffe6",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "xlzbIxHOowfqL2yj",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "description": "Usa esta herramienta INMEDIATAMENTE cuando detectes cualquiera de estas situaciones:\n\nSITUACIONES QUE REQUIEREN ESCALAMIENTO:\n\n1. SOLICITUD EXPLICITA\n   - \"Quiero hablar con alguien\"\n   - \"Necesito una persona\"\n   - \"Comuniquenme con un asesor\"\n   - \"Prefiero hablar con un humano\"\n\n2. FACTURACION Y COMPROBANTES\n   - Solicita factura, CFDI, o comprobante fiscal\n   - Menciona RFC o razon social\n   - Necesita datos fiscales\n\n3. PROGRAMAR CIRUGIA\n   - Quiere AGENDAR una cirugia (no solo preguntar sobre ella)\n   - Solicita fecha para operacion\n   - Pregunta \"cuando me pueden operar\"\n\n4. FRUSTRACION O MOLESTIA\n   - Muestra enojo, frustracion, o insatisfaccion\n   - Dice que \"no le ayudas\" o \"no entiende\"\n   - Expresa quejas sobre el servicio\n\n5. SOLICITA LLAMADA TELEFONICA\n   - Pide explicitamente que lo llamen\n   - Dice \"llamame\" o \"pueden marcarme\"\n\n6. DUDAS COMPLEJAS SOBRE COSTOS\n   - Pregunta por descuentos o negociacion\n   - Consulta planes de pago o financiamiento\n   - Necesita cotizacion detallada\n\n7. INFORMACION QUE NO PUEDES DAR\n   - Preguntas medicas especificas que requieren al doctor\n   - Situaciones que necesitan autorizacion\n   - Casos especiales o excepciones\n\nIMPORTANTE:\n- SIEMPRE captura el historial de conversacion completo\n- Solicita permiso al paciente antes de escalar: \"¿Te parece bien que Monica se ponga en contacto contigo?\"\n- Si el usuario acepta, ENTONCES llama a esta herramienta\n- Clasifica correctamente el motivo y la prioridad\n\nPARAMETROS:\n- telefono: numero del paciente (10 digitos, sin prefijos)\n- nombrePaciente: nombre completo\n- motivo: ['facturacion', 'programar_cirugia', 'dudas_costos', 'quiere_llamada', 'hablar_con_persona', 'informacion_adicional', 'otro']\n- contexto: resumen claro de 1-2 frases sobre lo que necesita\n- conversationHistory: DEBE incluir los ultimos 5-10 mensajes\n- prioridad: 'alta' si hay frustracion/urgencia/cirugia, 'normal' en otros casos",
        "workflowId": {
          "__rl": true,
          "value": "YRms68urnyKHe3Y7",
          "mode": "list",
          "cachedResultUrl": "/workflow/YRms68urnyKHe3Y7",
          "cachedResultName": "ESCALAR_A_HUMANO"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "telefono": "={{ $fromAI('telefono', '', 'string')}}",
            "nombrePaciente": "={{ $fromAI('nombrePaciente', '', 'string') }}\n",
            "motivo": "={{ $fromAI('motivo', 'hablar_con_persona', 'string') }}",
            "contexto": "={{ $fromAI('contexto', 'El paciente solicita atencion personalizada', 'string') }}",
            "canalPreferido": "={{ $fromAI('canalPreferido', 'whatsapp', 'string') }}",
            "prioridad": "={{ $fromAI('prioridad', 'normal', 'string') }}\"\n"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "telefono",
              "displayName": "telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "nombrePaciente",
              "displayName": "nombrePaciente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "motivo",
              "displayName": "motivo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "contexto",
              "displayName": "contexto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "canalPreferido",
              "displayName": "canalPreferido",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "prioridad",
              "displayName": "prioridad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        5424,
        464
      ],
      "id": "851831af-9f96-494a-90ff-f7475b8f3cbf",
      "name": "ESCALAR_HUMANO"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://wasenderapi.com/api/decrypt-media",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ data: { messages: $(\"Webhook1\").item.json.body.data.messages } }) }}\n",
        "options": {}
      },
      "id": "07f0d3e8-1bf0-4462-9d9e-63e3876b877b",
      "name": "Decrypt Media (Wasender)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        3504,
        -32
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "skLVidDokzorVyYh",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $(\"Decrypt Media (Wasender)\").item.json.publicUrl }}\n",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "options": {}
      },
      "id": "e9567efa-9632-4a95-8523-82706d3e6cc4",
      "name": "Descargar Decrypt (OGG)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        3728,
        -32
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "skLVidDokzorVyYh",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "transcripcion",
              "value": "={{$json.text}}"
            }
          ]
        },
        "options": {}
      },
      "id": "bc5810de-c83c-4fdc-9385-6f1f65c1104e",
      "name": "Armar Respuesta",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        4176,
        -32
      ]
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        3952,
        -32
      ],
      "id": "66070287-7b33-4cbd-af6a-8e1a5ddcda29",
      "name": "Transcribe a recording",
      "credentials": {
        "openAiApi": {
          "id": "TGzvTmDHFZ17RPAv",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        4256,
        224
      ],
      "id": "e37c68db-9ff5-4a9e-8da5-754f0de15f55",
      "name": "When chat message received",
      "webhookId": "aea3f6f5-6dbf-4bf7-9620-6ab470f82e22"
    },
    {
      "parameters": {
        "jsCode": "/**\n * LEAD_CAPTURE v4.1 – SUPABASE EDITION (Alineado a esquema)\n * - Telefono_WhatsApp: 10 dígitos MX (sin +) para matching y UNIQUE\n * - Fechas: ISO completo (timestamptz friendly)\n * - Saneo de UUID/fechas nulas\n * - Corrige snake_case de existing.estado\n */\n\nconst src = $input.first().json;\n\n// ---------- CONFIG ----------\nconst COOLDOWN_MIN = 10;\nconst USE_MSG_ID_DEDUP = false;\n\n// ---------- HELPERS ----------\nconst trim = (v) => (v == null ? '' : String(v).trim());\n\nfunction digitsOnly(s) {\n  s = String(s || '');\n  let out = '';\n  for (let i = 0; i < s.length; i++) {\n    const c = s.charCodeAt(i);\n    if (c >= 48 && c <= 57) out += s[i];\n  }\n  return out;\n}\n\n// Canon MX 10 dígitos (últimos 10); útil para tu columna telefono_whatsapp\nfunction toMX10(anyPhone) {\n  const d = digitsOnly(anyPhone);\n  if (!d) return '';\n  // toma últimos 10 dígitos (comportamiento típico MX)\n  return d.length >= 10 ? d.slice(-10) : d; \n}\n\n// E.164 rápido (por si lo quieres usar en otra capa)\nfunction toE164Fast(anyPhone, cc='52') {\n  const d = digitsOnly(anyPhone);\n  if (!d) return '';\n  // si ya viene con 52XXXXXXXXXX (12 dígitos) o 10 dígitos nacionales\n  if (d.length === 10) return `+${cc}${d}`;\n  if (d.length === 12 && d.startsWith(cc)) return `+${d}`;\n  return `+${d}`; // fallback\n}\n\n// A ISO completo (timestamptz). Si viene \"YYYY-MM-DD\", subo a T00:00:00Z\nfunction toISODateTime(x) {\n  if (!x) return null;\n  if (x instanceof Date && !isNaN(x)) return x.toISOString();\n  const s = trim(x);\n  if (!s) return null;\n  if (/^\\d{4}-\\d{2}-\\d{2}$/.test(s)) return `${s}T00:00:00Z`;\n  const dt = new Date(s);\n  return isNaN(dt) ? null : dt.toISOString();\n}\n\nfunction titleCaseFast(name){\n  let s = trim(name);\n  if (!s) return '';\n  if (s.length <= 24 && /[A-ZÁÉÍÓÚÑÜ]/.test(s)) return s;\n  s = s.toLowerCase();\n  const parts = s.split(' ');\n  for (let i=0;i<parts.length;i++){\n    const w = parts[i]; if (w) parts[i] = w[0].toUpperCase() + w.slice(1);\n  }\n  return parts.join(' ');\n}\n\nfunction isUuid(v){\n  if (v == null) return false;\n  const s = String(v).trim();\n  return /^[0-9a-f]{8}-[0-9a-f]{4}-[1-5][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$/i.test(s);\n}\nfunction cleanUuidOrNull(v){\n  const s = trim(v);\n  if (!s || s.toLowerCase() === 'null') return null;\n  return isUuid(s) ? s : null;\n}\n\n// ---------- INPUTS ----------\nconst numeroRemitente = src.numeroRemitente || (src.body?.data?.messages?.key?.remoteJid) || src.Telefono_WhatsApp || '';\nconst nombreUsuario   = src.nombreUsuario || src.Nombre_Completo || 'Desconocido';\nconst mensajeUsuario  = src.mensajeUsuario || src.Notas_Iniciales || '';\nconst sessionId       = src.body?.sessionId || src.Session_ID || '';\n\nconst telefonoCanon10 = toMX10(numeroRemitente);          // <-- el que guardamos y usamos para duplicados\n// const telefonoE164    = toE164Fast(numeroRemitente);    // <-- opcional si quisieras guardarlo aparte\n\nif (!telefonoCanon10) return [];\n\n// ---------- GATING ----------\nconst existing = src._existing || null;\nconst isCreate = !existing;\n\nconst sMsg = trim(mensajeUsuario);\nconst lowMsg = sMsg.toLowerCase();\nconst stops = new Set(['ok','va','sale','gracias','de nada','hola','👍','👌','😀','😃','😄','😁','👍🏻','👍🏽','👍🏿','buenos dias','buenas tardes','buenas noches']);\nconst msgIsNoise = sMsg && (sMsg.length <= 2 || stops.has(lowMsg));\nconst kws = ['cita','agenda','disponibilidad','horario','hora','costo','precio','ubicación','polanco','satélite','satelite','consulta','urgencia'];\nconst msgHasSignal = !!kws.find(k => lowMsg.includes(k));\n\nlet cooldownPassed = true;\nif (existing && (existing.ultima_interaccion || existing.ultima_interaccion === 0)){\n  const last = new Date(existing.ultima_interaccion);\n  if (!isNaN(last)) {\n    const diffMin = (Date.now() - last.getTime()) / 60000;\n    cooldownPassed = diffMin >= COOLDOWN_MIN;\n  }\n}\n\nif (!isCreate && !(msgHasSignal || cooldownPassed)) {\n  return [];\n}\n\n// ---------- BUILD OUTPUT ----------\nconst nowISO = new Date().toISOString();        // ISO completo\nconst leadId = trim(src.Lead_ID || null) || null;\n\n// OJO: existing viene de BD con snake_case\nconst estadoBD = existing?.estado || null;\nconst estado = msgHasSignal ? 'Calificado' : (isCreate ? 'Nuevo' : (estadoBD || 'Contactado'));\n\nlet notas = trim(sMsg);\nif (notas.length > 200) notas = notas.slice(0,200);\n\n// Si hay existente, preserva su fecha de primer contacto; si no, usa ahora\nconst fechaPrimerContacto = isCreate\n  ? nowISO\n  : (toISODateTime(existing?.fecha_primer_contacto) || nowISO);\n\nreturn [{\n  json: {\n    // Identidad\n    Lead_ID: leadId,                              // puede ser null (UNIQUE nullable)\n    Nombre_Completo: titleCaseFast(nombreUsuario),\n\n    // TELEFONO: la forma canónica que usa tu Search Duplicate y UNIQUE\n    Telefono_WhatsApp: telefonoCanon10,           // <-- 10 dígitos MX\n\n    // Meta\n    Fuente_Lead: 'WhatsApp',\n    Fecha_Primer_Contacto: fechaPrimerContacto,   // timestamptz ISO\n    Estado: estado,\n    Notas_Iniciales: notas,\n    Session_ID: sessionId,\n\n    // Interacciones\n    ultima_interaccion: nowISO,                   // timestamptz ISO\n    total_interacciones: isCreate ? 1 : (Number(existing?.total_interacciones ?? 0) + 1),\n\n    // Conversión / vínculo paciente (saneados)\n    Paciente_ID: cleanUuidOrNull(existing?.paciente_id),\n    Fecha_Conversion: toISODateTime(existing?.fecha_conversion)\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3280,
        -224
      ],
      "id": "709832f1-7025-4ff5-b3df-e834fd9e8632",
      "name": "LEAD_CAPTURE"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "yI0ZZsP2n3ocSlCn",
          "mode": "list",
          "cachedResultUrl": "/workflow/yI0ZZsP2n3ocSlCn",
          "cachedResultName": "LEAD_TRACKER"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "Telefono_WhatsApp": "={{ $json.Telefono_WhatsApp }}",
            "Nombre_Completo": "={{ $json.Nombre_Completo }}",
            "Fuente_Lead": "={{ $json.Fuente_Lead }}",
            "Fecha_Primer_Contacto": "={{ $json.Fecha_Primer_Contacto }}",
            "Estado": "={{ $json.Estado }}",
            "Notas_Iniciales": "={{ $json.Notas_Iniciales }}",
            "Session_ID": "={{ $json.Session_ID }}",
            "ultima_interaccion": "={{ $json.ultima_interaccion }}",
            "total_interacciones": "={{ $json.total_interacciones }}",
            "Lead_ID": "={{ $json.Lead_ID }}",
            "Paciente_ID": "={{ $json.Paciente_ID }}",
            "Fecha_Conversion": "={{ $json.Fecha_Conversion }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Lead_ID",
              "displayName": "Lead_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Nombre_Completo",
              "displayName": "Nombre_Completo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "Telefono_WhatsApp",
              "displayName": "Telefono_WhatsApp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "Fuente_Lead",
              "displayName": "Fuente_Lead",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "Fecha_Primer_Contacto",
              "displayName": "Fecha_Primer_Contacto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "Estado",
              "displayName": "Estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "Notas_Iniciales",
              "displayName": "Notas_Iniciales",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "Session_ID",
              "displayName": "Session_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "ultima_interaccion",
              "displayName": "ultima_interaccion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "total_interacciones",
              "displayName": "total_interacciones",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "Paciente_ID",
              "displayName": "Paciente_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Fecha_Conversion",
              "displayName": "Fecha_Conversion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        3504,
        -224
      ],
      "id": "fde9f4f9-9771-4f26-90aa-fc3447286b66",
      "name": "Call 'LEAD_TRACKER'1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://wasenderapi.com/api/send-message",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"to\": {{ JSON.stringify($('Webhook1').item.json.body.data.messages.key.remoteJid) }},\n  \"text\": {{ JSON.stringify($json.text ?? $json.whatsapp ?? $json.cleaned) }}\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5648,
        -96
      ],
      "id": "f7d88808-8cb4-42ae-98ab-4a720a685d0b",
      "name": "Enviar Respuesta de Asistente",
      "credentials": {
        "httpHeaderAuth": {
          "id": "J0Kap8PdAddWNu3l",
          "name": "Header Auth account 2"
        },
        "httpBearerAuth": {
          "id": "skLVidDokzorVyYh",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "9301aaaaa",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        4560,
        448
      ],
      "id": "c3d7b82c-0326-458e-8664-97e21ba763fb",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "description": "Herramienta: Agendar Consulta Médica\n\nPREREQUISITOS CRÍTICOS:\n- Debes haber ejecutado GET_DISPONIBILIDAD_CALENDARIOS primero\n- Debes tener los datos EXACTOS del slot que el usuario eligió\n- El usuario debe haber confirmado: nombre, teléfono y motivo\n\nPARÁMETROS OBLIGATORIOS:\n\n1. slotId (string):\n   - Formato: \"slot_POLANCO_2025-10-21T22:00:00.000Z\"\n   - NO lo inventes - debe venir de la respuesta de GET_DISPONIBILIDAD_CALENDARIOS\n   - Si no lo tienes, primero consulta disponibilidad\n\n2. sede (string):\n   - \"POLANCO\" o \"SATELITE\" (mayúsculas)\n\n3. start (string):\n   - Formato ISO 8601 UTC: \"2025-10-21T22:00:00.000Z\"\n   - DEBE terminar en Z\n   - NO modifiques este valor\n   - Copia EXACTAMENTE del slot\n\n4. end (string):\n   - Formato ISO 8601 UTC: \"2025-10-21T22:30:00.000Z\"\n   - DEBE terminar en Z\n   - Copia EXACTAMENTE del slot (NO calcules)\n\n5. paciente (objeto JSON):\n   {\n     \"nombre\": \"Nombre Completo\",\n     \"telefono\": \"6673184624\",\n     \"email\": null\n   }\n\n6. tipoCita: \"primera_vez\" o \"seguimiento\"\n\n7. motivoConsulta: string con el motivo\n\nIMPORTANTE - CÓMO OBTENER LOS DATOS:\nCuando el usuario dice \"quiero agendar a las 4pm\":\n1. Busca en la respuesta previa de GET_DISPONIBILIDAD_CALENDARIOS\n2. Identifica el slot que coincide con \"4:00 PM\"\n3. Usa los valores EXACTOS de ese slot: startISO como start, endISO como end\n4. Construye el slotId como: \"slot_\" + sede + \"_\" + startISO\n\nEJEMPLO:\nSi GET_DISPONIBILIDAD_CALENDARIOS devolvió:\n  startISO: \"2025-10-21T22:00:00.000Z\"\n  endISO: \"2025-10-21T22:30:00.000Z\"\n  sede: \"POLANCO\"\n\nEntonces usa:\n  slotId: \"slot_POLANCO_2025-10-21T22:00:00.000Z\"\n  start: \"2025-10-21T22:00:00.000Z\"\n  end: \"2025-10-21T22:30:00.000Z\"\n  sede: \"POLANCO\"\n\nNUNCA inventes estos valores. Si no tienes los datos exactos, di al usuario que necesitas consultar disponibilidad primero.\n```\n---\n\n## ❗ CAMBIO #2: Agregar instrucciones al prompt del LLM\n\n**Dónde:** Workflow UROBOT → Nodo \"Urobot\" (Google Gemini Chat Model) → Agregar al final del prompt system\n\n**Agregar este texto:**\n```\nREGLAS CRÍTICAS PARA AGENDAMIENTO:\n\nCuando uses GET_DISPONIBILIDAD_CALENDARIOS:\n1. Guarda TODA la respuesta en tu memoria\n2. Presta especial atención a: startISO, endISO, sede, displayTime\n3. Estos valores serán necesarios para agendar\n\nCuando el usuario quiera agendar:\n1. Busca en tu memoria la respuesta de GET_DISPONIBILIDAD_CALENDARIOS\n2. Identifica QUÉ horario eligió el usuario (ej: \"4pm\", \"las 4\", \"16 horas\")\n3. Encuentra el slot donde displayTime coincide\n4. Extrae los valores EXACTOS: startISO, endISO, sede\n5. Construye slotId como: \"slot_\" + sede + \"_\" + startISO\n6. Usa ESOS valores para llamar AGENDAR_CONSULTA\n\nNUNCA:\n- No inventes valores de start/end\n- No calcules la fecha/hora, usa lo que te dio GET_DISPONIBILIDAD_CALENDARIOS\n- No modifiques el formato de las fechas\n- No llames AGENDAR_CONSULTA sin tener los datos exactos\n\nSi no tienes los datos del slot en memoria, primero consulta disponibilidad.",
        "workflowId": {
          "__rl": true,
          "value": "lmicP7dbmUtnbb7F",
          "mode": "list",
          "cachedResultUrl": "/workflow/lmicP7dbmUtnbb7F",
          "cachedResultName": "AGENDAR_CONSULTA"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "slotId": "={{ $fromAI('slotId', '', 'string') }}",
            "sede": "={{ $fromAI('sede', '', 'string') }}",
            "start": "={{ $fromAI('start', '', 'string') }}",
            "end": "={{ $fromAI('end', '', 'string') }}",
            "paciente": "={{ $fromAI('paciente', {}, 'json') }}",
            "tipoCita": "={{ $fromAI('tipoCita', 'primera_vez', 'string') }}",
            "motivoConsulta": "={{ $fromAI('motivoConsulta', '', 'string') }}",
            "lead_telefono": "="
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "slotId",
              "displayName": "slotId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "sede",
              "displayName": "sede",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "start",
              "displayName": "start",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "end",
              "displayName": "end",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "paciente",
              "displayName": "paciente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "tipoCita",
              "displayName": "tipoCita",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "motivoConsulta",
              "displayName": "motivoConsulta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "lead_telefono",
              "displayName": "lead_telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        5008,
        448
      ],
      "id": "603f6b9a-ce15-4b12-8d4f-3b0b35eac1ec",
      "name": "AGENDAR_CONSULTA'"
    },
    {
      "parameters": {
        "description": "📌 CUÁNDO USAR ESTA HERRAMIENTA: REAGENDAR_CONSULTAA\n\nActiva esta herramienta cuando el usuario indique o sugiera que desea **cambiar, mover o reagendar una cita médica previamente agendada**.\n\nFrases típicas que indican esta intención incluyen:\n\n- \"Quiero cambiar mi cita\"\n- \"Necesito reagendar\"\n- \"No puedo asistir a la hora que tenía\"\n- \"¿Puedo mover mi consulta?\"\n- \"Me surgió un imprevisto, quiero cambiar mi cita\"\n- \"Reagendar para otro día/hora\"\n\n📥 DATOS NECESARIOS PARA USO CORRECTO:\n\n- **teléfono (10 dígitos)** del paciente que agendó la cita\n- **nueva fecha (YYYY-MM-DD)** solicitada\n- **nueva hora (HH:MM)** en formato 24h\n- **sede** preferida: `POLANCO` o `SATELITE`\n- **motivo del cambio** (opcional pero recomendable)\n\n🧠 VALIDACIONES AUTOMÁTICAS INCLUIDAS:\n\n- La nueva fecha/hora debe estar al menos 2 horas en el futuro\n- No se permiten domingos\n- Máximo 90 días de anticipación\n- Verificación de formato correcto y sede válida\n\n⚠️ SI FALTAN DATOS CLAVE (como fecha, hora o sede):\n- No actives la herramienta inmediatamente\n- Primero pregunta al usuario por los datos faltantes\n- Una vez recolectados, puedes proceder a ejecutar el flujo\nEJEMPLOS DE CONVERSIÓN:\n\nUsuario: \"Quiero cambiar mi cita del viernes a las 3pm\"\n→ Extrae:\n  - newDate: [próximo viernes en formato YYYY-MM-DD]\n  - newTime: \"15:00\"\n  - newSede: \"\" (no mencionó)\n  - reason: \"Cambio solicitado por paciente\"\n\nUsuario: \"Mejor agendar para el 25 de octubre a las 2 de la tarde en Polanco\"\n→ Extrae:\n  - newDate: \"2025-10-25\"\n  - newTime: \"14:00\"\n  - newSede: \"POLANCO\"\n  - reason: \"Reagendamiento solicitado\"\n\nUsuario: \"Ya no puedo el martes, ¿hay el miércoles?\"\n→ Extrae:\n  - newDate: [próximo miércoles]\n  - newTime: \"\" (no especificó hora)\n  - → FLUJO: Consultar DISPONIBILIDAD_CALENDARIO y sugerir horarios",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "PVMah1xv97jaXawm"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "telefono": "={{ $fromAI('telefono', '', 'string') }}",
            "newDate": "={{ $fromAI('newDate', '', 'string') }}",
            "newTime": "={{ $fromAI('newTime', '', 'string') }}",
            "newSede": "={{ $fromAI('newSede', '', 'string') }}",
            "reason": "={{ $fromAI('reason', 'Reagendamiento solicitado', 'string') }}",
            "consultaId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('consultaId', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "telefono",
              "displayName": "telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "consultaId",
              "displayName": "consultaId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "newDate",
              "displayName": "newDate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "newTime",
              "displayName": "newTime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "newSede",
              "displayName": "newSede",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "reason",
              "displayName": "reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        5632,
        432
      ],
      "id": "d16e7426-0467-45a3-b547-565e4ce90f38",
      "name": "REAGENDAR_CONSULTA"
    }
  ],
  "pinData": {},
  "connections": {
    "call'GET_DISPONIBILIDAD_CALENDARIOS": {
      "ai_tool": [
        [
          {
            "node": "Urobot",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Urobot": {
      "main": [
        [
          {
            "node": "Limpiar respuesta de agente1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpiar respuesta de agente1": {
      "main": [
        []
      ]
    },
    "Mapear Mensaje1": {
      "main": [
        [
          {
            "node": "Urobot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Decrypt Media (Wasender)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mapear Mensaje1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          },
          {
            "node": "LEAD_CAPTURE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Urobot",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "ai_tool": [
        [
          {
            "node": "Urobot",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "ESCALAR_HUMANO": {
      "ai_tool": [
        [
          {
            "node": "Urobot",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Decrypt Media (Wasender)": {
      "main": [
        [
          {
            "node": "Descargar Decrypt (OGG)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Descargar Decrypt (OGG)": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "Armar Respuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Armar Respuesta": {
      "main": [
        [
          {
            "node": "Mapear Mensaje1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Urobot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LEAD_CAPTURE": {
      "main": [
        [
          {
            "node": "Call 'LEAD_TRACKER'1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Urobot",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AGENDAR_CONSULTA'": {
      "ai_tool": [
        [
          {
            "node": "Urobot",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "REAGENDAR_CONSULTA": {
      "ai_tool": [
        [
          {
            "node": "Urobot",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Mexico_City",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "f138a1fe-aeec-4377-b908-97486002c72c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ab2739af75c0bf0ee034fd37e78576df139d0a4fcd48adc710d9ceec11fc12c5"
  },
  "id": "EV0uQg6ljO1CwH6A",
  "tags": []
}