n8n/UROBOT V2 (2).json
{
  "name": "UROBOT V2",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        12992,
        7328
      ],
      "id": "9e670d22-fd5c-4ab0-a09c-4c0a96c66119",
      "name": "WhatsApp Trigger",
      "webhookId": "urobot-webhook-v2",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "XqAlPOLTYahJax6H",
          "name": "WhatsApp OAuth account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        12992,
        7520
      ],
      "id": "bb6a186d-1e71-4c2c-9578-64cfc8e7b399",
      "name": "When chat message received",
      "webhookId": "urobot-chat-trigger-v2"
    },
    {
      "parameters": {
        "jsCode": "// ═══════════════════════════════════════════════════════════════════\n// 🚫 FILTRO DE STATUS UPDATES - ANTI-LOOP (UROBOT V2)\n// ═══════════════════════════════════════════════════════════════════\n\nconst data = $input.first()?.json || {};\n\n// Chat Trigger support\nif (data.chatInput && !data.messages) {\n  const mockPhone = '526674492872';\n  return [{\n    json: {\n      messages: [{\n        from: mockPhone,\n        id: 'chat-trigger-' + Date.now(),\n        timestamp: Math.floor(Date.now() / 1000).toString(),\n        type: 'text',\n        text: { body: data.chatInput }\n      }],\n      metadata: { phone_number_id: 'test-phone-id' },\n      _fromChatTrigger: true,\n      _sessionId: data.sessionId\n    }\n  }];\n}\n\nif (data.statuses && data.statuses.length > 0) return [];\nif (!data.messages || data.messages.length === 0) return [];\nconst msg = data.messages[0];\nif (!msg.from) return [];\n\nconst referral = msg.referral || {};\nconst esMetaAds = !!(referral.source_url || referral.headline || referral.body || referral.ctwa_clid);\n\nreturn [{\n  json: {\n    ...data,\n    es_meta_ads: esMetaAds,\n    meta_source_url: referral.source_url || null,\n    meta_headline: referral.headline || null,\n    meta_body: referral.body || null,\n    meta_ctwa_clid: referral.ctwa_clid || null,\n    meta_source_id: referral.source_id || null\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        13216,
        7424
      ],
      "id": "bbdaa2c9-c59e-4c0b-b08d-acec390d4acc",
      "name": "🚫 Filtrar Status"
    },
    {
      "parameters": {
        "jsCode": "// ═══════════════════════════════════════════════════════════════════\n// ⚡ RATE LIMIT CHECK (mensaje antiguo > 5 min)\n// ═══════════════════════════════════════════════════════════════════\n\nconst triggerData = $input.first()?.json || {};\nconst messages = triggerData.messages || [];\nconst message = messages[0] || {};\n\nif (!messages.length || !message.from) {\n  return [{ json: { ...triggerData, _rate_limit_ok: false, _reason: 'no_message' } }];\n}\n\nconst timestamp = parseInt(message.timestamp || '0');\nconst now = Math.floor(Date.now() / 1000);\nconst messageAge = now - timestamp;\n\nif (messageAge > 300) {\n  return [{ json: { ...triggerData, _rate_limit_ok: false, _reason: 'mensaje_antiguo' } }];\n}\n\nreturn [{\n  json: {\n    ...triggerData,\n    _rate_limit_ok: true,\n    _telefono: message.from,\n    _mensaje_id: message.id\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        13440,
        7424
      ],
      "id": "7d6762fc-059d-4675-8ad9-5b626a79ca8d",
      "name": "⚡ Rate Limit Check",
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "is-valid",
              "leftValue": "={{ $json._rate_limit_ok }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        13664,
        7424
      ],
      "id": "7a472fdf-fb16-4308-9090-f5f87bac266a",
      "name": "🚦 Rate OK?"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "is-imagen",
                    "leftValue": "={{ $json.messages[0].type }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "imagen"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "is-audio",
                    "leftValue": "={{ $json.messages[0].type }}",
                    "rightValue": "audio",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "is-doc",
                    "leftValue": "={{ $json.messages[0].type }}",
                    "rightValue": "document",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "documento"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        13888,
        7392
      ],
      "id": "5ce478b5-8b13-46f9-bc4e-305c72fca675",
      "name": "📱 Tipo Media?"
    },
    {
      "parameters": {
        "resource": "media",
        "operation": "mediaUrlGet",
        "mediaGetId": "={{ $json.messages[0].image.id }}"
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        14112,
        7152
      ],
      "id": "18f5528c-4475-46be-8d61-14229894adb5",
      "name": "WA Get URL Imagen",
      "webhookId": "5fb9df4d-c913-4688-beec-f7b78f11f96b",
      "credentials": {
        "whatsAppApi": {
          "id": "DD541Xw8r5yWH0yq",
          "name": "WhatsApp account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list"
        },
        "text": "=Eres el módulo de visión de Urobot (asistente de urología del Dr. Mario Martinez).\n\nANALIZA LA IMAGEN Y DESCRIBE:\n\n>>> SI ES FOTO CLÍNICA (estudios de orina, ultrasonido renal/prostático, urograma, TAC, estudios de laboratorio):\n- Tipo de estudio/documento\n- Datos relevantes visibles\n- Cualquier valor anormal que detectes\n- Calidad de la imagen\n\n>>> SI ES DOCUMENTO MÉDICO:\n- Transcribe datos clave (nombre, diagnóstico, valores)\n- Identifica si es receta, estudio de laboratorio, etc.\n\n>>> SI ES IRRELEVANTE:\nIndica que no es contenido médico relevante.\n\nResponde de forma concisa para que el chatbot pueda continuar la conversación.",
        "inputType": "base64",
        "simplify": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        14560,
        7152
      ],
      "id": "006edbf5-fbcd-4966-b7cd-249e5661a52f",
      "name": "OpenAI Vision",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 1000,
      "credentials": {
        "openAiApi": {
          "id": "2OTQUaQlIFM4GPCM",
          "name": "OpenAi account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "img-msg",
              "name": "mensajeUsuario",
              "type": "string",
              "value": "={{ $json.content || $json.text || '[Imagen analizada]' }}"
            },
            {
              "id": "img-origin",
              "name": "_origen_media",
              "type": "string",
              "value": "imagen_analizada"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        14784,
        7152
      ],
      "id": "9b237fa4-5eb3-4d63-ba6f-c4a15d793bf8",
      "name": "Set Texto Imagen"
    },
    {
      "parameters": {
        "resource": "media",
        "operation": "mediaUrlGet",
        "mediaGetId": "={{ $json.messages[0].audio.id }}"
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        14112,
        7344
      ],
      "id": "0248a540-b26c-40ae-9e08-e0bf843cb767",
      "name": "WA Get URL Audio",
      "webhookId": "22387a47-d284-49b6-bff4-a77bc94e4b57",
      "credentials": {
        "whatsAppApi": {
          "id": "DD541Xw8r5yWH0yq",
          "name": "WhatsApp account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {
          "language": "es",
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        14560,
        7344
      ],
      "id": "a8512aae-4447-4e39-bfab-0c26511f128e",
      "name": "OpenAI Whisper",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 1000,
      "credentials": {
        "openAiApi": {
          "id": "2OTQUaQlIFM4GPCM",
          "name": "OpenAi account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "aud-msg",
              "name": "mensajeUsuario",
              "type": "string",
              "value": "={{ $json.text || '[Audio transcrito]' }}"
            },
            {
              "id": "aud-origin",
              "name": "_origen_media",
              "type": "string",
              "value": "audio_transcrito"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        14784,
        7344
      ],
      "id": "f86d4b04-5247-4b21-ae5a-b4eed6ed506d",
      "name": "Set Texto Audio"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "doc-msg",
              "name": "mensajeUsuario",
              "type": "string",
              "value": "=[Documento recibido: {{ $json.messages[0].document.filename || 'archivo' }}]"
            },
            {
              "id": "doc-origin",
              "name": "_origen_media",
              "type": "string",
              "value": "documento"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        14784,
        7536
      ],
      "id": "fb632c2c-dcd0-4228-afe1-94acecea8b37",
      "name": "Set Texto Documento"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "txt-msg",
              "name": "mensajeUsuario",
              "type": "string",
              "value": "={{ $json.messages?.[0]?.text?.body || $json.messages?.[0]?.button?.text || $json.messages?.[0]?.interactive?.button_reply?.title || '' }}"
            },
            {
              "id": "txt-origin",
              "name": "_origen_media",
              "type": "string",
              "value": "texto"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        15008,
        7680
      ],
      "id": "2c1ed517-e7a1-4fc6-acbf-9415c8ae5f63",
      "name": "Set Texto Normal"
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "append",
              "field": "mensajeUsuario"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1.1,
      "position": [
        15008,
        7344
      ],
      "id": "7bdab177-3391-4a47-8269-a830fbd6193d",
      "name": "Summarize"
    },
    {
      "parameters": {
        "jsCode": "// ═══════════════════════════════════════════════════════════════════\n// 1️⃣ VALIDAR Y NORMALIZAR (UROBOT V2)\n// ═══════════════════════════════════════════════════════════════════\n\nconst setTexto = $input.first()?.json || {};\nconst filterData = $('🚫 Filtrar Status').first()?.json || {};\nconst rateData = $('⚡ Rate Limit Check').first()?.json || {};\n\nconst messages = filterData.messages || [];\nconst message = messages[0] || {};\nconst metadata = filterData.metadata || {};\n\nconst telefono = message.from || rateData._telefono || '';\nconst mensajeId = message.id || rateData._mensaje_id || 'msg-' + Date.now();\nconst msgType = message.type || 'text';\nconst fromChatTrigger = filterData._fromChatTrigger === true;\nconst sessionId = filterData._sessionId || mensajeId;\n\nlet mensajeUsuario = setTexto.mensajeUsuario || '';\nif (!mensajeUsuario && msgType === 'text') {\n  mensajeUsuario = message.text?.body || '';\n}\n\nconst contacts = filterData.contacts || [];\nlet nombreUsuario = contacts[0]?.profile?.name || 'Usuario';\n\nconst esMetaAds = filterData.es_meta_ads === true;\nconst metaCtwaClid = filterData.meta_ctwa_clid || null;\nconst metaHeadline = filterData.meta_headline || null;\nconst metaSourceUrl = filterData.meta_source_url || null;\n\nlet fuente = 'organico';\nif (esMetaAds) fuente = 'meta_ads';\n\nlet tipoMedia = 'texto';\nswitch (msgType) {\n  case 'image': tipoMedia = 'imagen'; break;\n  case 'audio': tipoMedia = 'audio'; break;\n  case 'document': tipoMedia = 'documento'; break;\n  default: tipoMedia = 'texto';\n}\n\nreturn [{\n  json: {\n    telefono,\n    nombreUsuario,\n    mensajeUsuario: mensajeUsuario.trim(),\n    mensaje_id_externo: mensajeId,\n    external_chat_id: telefono,\n    tipoMedia,\n    fuente,\n    es_meta_ads: esMetaAds,\n    meta_ctwa_clid: metaCtwaClid,\n    meta_headline: metaHeadline,\n    meta_source_url: metaSourceUrl,\n    phone_number_id: metadata.phone_number_id || '',\n    _fromChatTrigger: fromChatTrigger,\n    _sessionId: sessionId,\n    timestamp: message.timestamp || Math.floor(Date.now() / 1000).toString()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        15232,
        7520
      ],
      "id": "6da98d48-6a6b-435e-a099-7437c35f991e",
      "name": "1️⃣ Validar y Normalizar",
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM check_rate_limit($1::text)",
        "options": {
          "queryReplacement": "={{ [$json.telefono] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        15456,
        7520
      ],
      "id": "ec685748-9e4c-4748-9791-c69f19af86c1",
      "name": "🔒 Check Rate Limit DB",
      "credentials": {
        "postgres": {
          "id": "LZyK5sbzVT7Dy3RU",
          "name": "Postgres urobot"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "rate-ok",
              "leftValue": "={{ $json.puede_responder }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        15680,
        7520
      ],
      "id": "f9d3cebd-4182-46ee-825d-c23785f1e7af",
      "name": "🔒 Rate Limit OK?"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM upsert_conversacion_inteligente($1::text, $2::text, $3::text, $4::text)",
        "options": {
          "queryReplacement": "={{ [$('1️⃣ Validar y Normalizar').first().json.telefono, $('1️⃣ Validar y Normalizar').first().json.nombreUsuario || 'Usuario', 'whatsapp', $('1️⃣ Validar y Normalizar').first().json.external_chat_id] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        16352,
        7424
      ],
      "id": "08870c42-e25e-4102-85da-24d057c2cd5c",
      "name": "2️⃣ Upsert Conversación",
      "credentials": {
        "postgres": {
          "id": "LZyK5sbzVT7Dy3RU",
          "name": "Postgres urobot"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM insertar_mensaje_idempotente($1::text, $2::text, $3::text, $4::text, $5::text, $6::jsonb, $7::text)",
        "options": {
          "queryReplacement": "={{ [$('1️⃣ Validar y Normalizar').first().json.telefono, $('1️⃣ Validar y Normalizar').first().json.nombreUsuario || 'Usuario', 'user', ($('1️⃣ Validar y Normalizar').first().json.mensajeUsuario || '').substring(0, 10000), $('1️⃣ Validar y Normalizar').first().json.tipoMedia === 'texto' ? 'text' : $('1️⃣ Validar y Normalizar').first().json.tipoMedia, '{}', $('1️⃣ Validar y Normalizar').first().json.mensaje_id_externo] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        16576,
        7424
      ],
      "id": "cb0673d8-fed8-4efe-8c2c-0d824869abd6",
      "name": "3️⃣ Guardar Mensaje",
      "credentials": {
        "postgres": {
          "id": "LZyK5sbzVT7Dy3RU",
          "name": "Postgres urobot"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT register_debounce($1::text, $2::text)",
        "options": {
          "queryReplacement": "={{ [$('1️⃣ Validar y Normalizar').first().json.telefono, $('1️⃣ Validar y Normalizar').first().json.mensaje_id_externo] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        16800,
        7424
      ],
      "id": "a843a077-ed7a-44a9-9da9-12eac8d7165c",
      "name": "📝 Registrar Debounce",
      "credentials": {
        "postgres": {
          "id": "LZyK5sbzVT7Dy3RU",
          "name": "Postgres urobot"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        17024,
        7424
      ],
      "id": "88ef35e4-03c8-4c57-8528-54e6732301ae",
      "name": "⏳ Debounce 5s",
      "webhookId": "urobot-debounce-v2"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM check_debounce($1::text, $2::text)",
        "options": {
          "queryReplacement": "={{ [$('1️⃣ Validar y Normalizar').first().json.telefono, $('1️⃣ Validar y Normalizar').first().json.mensaje_id_externo] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        17248,
        7424
      ],
      "id": "5b745823-a700-45bc-acab-bd9bb29416f4",
      "name": "🔍 Check Debounce",
      "credentials": {
        "postgres": {
          "id": "LZyK5sbzVT7Dy3RU",
          "name": "Postgres urobot"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "is-latest",
              "leftValue": "={{ $json.es_ultimo }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        17472,
        7424
      ],
      "id": "685895a8-214c-4376-a275-7bcc0141d469",
      "name": "¿Soy Último?"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT obtener_contexto_urobot_v2($1) as contexto",
        "options": {
          "queryReplacement": "={{ [$('1️⃣ Validar y Normalizar').first().json.telefono] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        17696,
        7424
      ],
      "id": "36d7587e-af5f-49cc-8428-49788b7441d5",
      "name": "4️⃣ Cargar Contexto",
      "credentials": {
        "postgres": {
          "id": "LZyK5sbzVT7Dy3RU",
          "name": "Postgres urobot"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// ═══════════════════════════════════════════════════════════════════\n// 5️⃣ PROCESAR CONTEXTO (UROBOT V2)\n// ═══════════════════════════════════════════════════════════════════\n\nconst normalizado = $('1️⃣ Validar y Normalizar').first()?.json || {};\nconst convResult = $('2️⃣ Upsert Conversación').first()?.json || {};\nconst ctxRawInput = $input.first()?.json?.contexto;\n\nlet ctx = {};\ntry {\n  ctx = typeof ctxRawInput === 'string' ? JSON.parse(ctxRawInput) : (ctxRawInput || {});\n} catch (e) {\n  ctx = {};\n}\n\nconst {\n  historial_mensajes: historial = '',\n  ultimo_mensaje_bot: ultimoBot = '',\n  sintomas_acumulados: sintomasRaw = [],\n  banderas_rojas: banderasPrev = [],\n  lead_id: leadId = null,\n  es_paciente: esPaciente = false,\n  pregunto_precio: preguntoPrecio = false,\n  funnel_stage: funnelPrevio = '01_contactado',\n  total_mensajes: totalMensajes = 0,\n  nombre: nombreContexto,\n  temperatura = 'frio',\n  score_total: scoreTotal = 0,\n  es_urgencia: esUrgencia = false,\n  tiene_cita_pendiente: tieneCita = false,\n  cita_pendiente: citaPendiente = null,\n  accion_recomendada: accionRecomendada = null,\n  es_primera_interaccion: esPrimera = true\n} = ctx;\n\nconst sintomasArray = Array.isArray(sintomasRaw) ? sintomasRaw : [];\nconst sintomasTexto = sintomasArray.join(', ');\n\nconst nombreFinal = nombreContexto && nombreContexto !== 'Usuario'\n  ? nombreContexto\n  : (normalizado.nombreUsuario || 'Usuario');\n\nreturn [{\n  json: {\n    ...ctx,\n    lead_id: leadId,\n    telefono: normalizado.telefono,\n    nombreUsuario: nombreFinal,\n    nombre_confirmado: ctx.nombre_confirmado ? nombreContexto : null,\n    mensajeUsuario: normalizado.mensajeUsuario,\n    tipoMedia: normalizado.tipoMedia,\n    phone_number_id: normalizado.phone_number_id,\n    conversacion_id: convResult.conversacion_id,\n    historial_mensajes: historial,\n    ultimo_mensaje_bot: ultimoBot,\n    sintomas_texto: sintomasTexto,\n    sintomas_acumulados: sintomasArray,\n    banderas_rojas: banderasPrev,\n    es_paciente: esPaciente,\n    pregunto_precio: preguntoPrecio,\n    funnel_stage: funnelPrevio,\n    total_mensajes: totalMensajes,\n    temperatura,\n    score_total: scoreTotal,\n    es_urgencia: esUrgencia,\n    tiene_cita_pendiente: tieneCita,\n    cita_pendiente: citaPendiente,\n    accion_recomendada: accionRecomendada,\n    es_primera_interaccion: esPrimera,\n    es_meta_ads: normalizado.es_meta_ads,\n    meta_ctwa_clid: normalizado.meta_ctwa_clid,\n    meta_headline: normalizado.meta_headline,\n    fuente: normalizado.fuente,\n    _fromChatTrigger: normalizado._fromChatTrigger\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        17920,
        7424
      ],
      "id": "088d17ad-f318-4dc9-96c3-f3e7fbc9a480",
      "name": "5️⃣ Procesar Contexto",
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// ═══════════════════════════════════════════════════════════════════\n// 9️⃣ FORMATEAR CONTEXTO PARA AGENTE (UROBOT V2.2 — Multi-Campaña)\n// ═══════════════════════════════════════════════════════════════════\n// Merge 3 sources:\n//   - Node 5: telefono, mensajeUsuario, historial BD, cita pendiente\n//   - Node 7: análisis Gemini (intención, perfil, síntomas, barreras)\n//   - $input: scoring from Node 8 via Anti-Baneo chain\n\nconst node5 = $('5️⃣ Procesar Contexto').first()?.json || {};\n\n// ⚡ FIX: Read rich analysis from Node 7 (was being lost after Postgres call)\nlet node7 = {};\ntry {\n  node7 = $('7️⃣ Procesar Análisis').first()?.json || {};\n} catch (e) {\n  node7 = {};\n}\n\nconst node8 = $input.first()?.json || {};\n\n// Merge: node5 (base) → node7 (analysis) → node8 (scoring overrides)\nconst ctx = { ...node5, ...node7, ...node8 };\n\nconst historialBD = ctx.historial_mensajes || '';\nconst ultimoBot = ctx.ultimo_mensaje_bot || '';\nconst totalMensajes = ctx.total_mensajes || 0;\nconst esPrimera = ctx.es_primera_interaccion ?? (totalMensajes <= 1);\n\nconst nombreFinal = ctx.nombre_detectado || ctx.nombreUsuario || 'Usuario';\nconst tenemosNombre = nombreFinal !== 'Usuario';\n\n// ═══════════════════════════════════════════════════════════════\n// DETECCIÓN DE CAMPAÑA\n// ═══════════════════════════════════════════════════════════════\nlet campanaDetectada = 'general';\nconst headline = (ctx.meta_headline || '').toLowerCase();\nconst mensaje = (ctx.mensajeUsuario || '').toLowerCase();\nconst histLower = (historialBD || '').toLowerCase();\n\n// Detectar por headline de Meta Ads\nif (/circuncisi[oó]n|fimosis|prepucio/i.test(headline)) {\n  campanaDetectada = 'circuncision';\n} else if (/pr[oó]stata|prost[aá]t|orin|nocturia|urinari/i.test(headline)) {\n  campanaDetectada = 'prostata';\n}\n\n// Si no se detectó por headline, intentar por mensaje del paciente\nif (campanaDetectada === 'general' && esPrimera) {\n  if (/circuncisi[oó]n|fimosis|prepucio/i.test(mensaje)) {\n    campanaDetectada = 'circuncision';\n  } else if (/pr[oó]stata|prost[aá]t|levant.*noche.*ba[nñ]o|chorro.*d[eé]bil|orin/i.test(mensaje)) {\n    campanaDetectada = 'prostata';\n  }\n}\n\n// Si no es primera interacción, revisar historial\nif (campanaDetectada === 'general' && !esPrimera) {\n  if (/circuncisi[oó]n|fimosis|prepucio/i.test(histLower)) {\n    campanaDetectada = 'circuncision';\n  } else if (/pr[oó]stata|nocturia|chorro/i.test(histLower)) {\n    campanaDetectada = 'prostata';\n  }\n}\n\n// Override campaign with analyzer's tema_detectado if available\nconst temaAnalyzer = ctx.tema_detectado || null;\nif (temaAnalyzer === 'circuncision') campanaDetectada = 'circuncision';\nelse if (temaAnalyzer === 'prostata') campanaDetectada = 'prostata';\n\nconst cualificado = ctx.cualificado === true;\n\nlet contextoContacto = '';\n\n// ═══ PACIENTE ═══\ncontextoContacto += `PACIENTE: ${nombreFinal}`;\nif (!tenemosNombre) contextoContacto += ' (nombre desconocido — pregúntalo de forma natural)';\ncontextoContacto += '\\n';\n\nif (esPrimera) {\n  contextoContacto += '⚡ PRIMERA INTERACCIÓN — Sé especialmente cálido y profesional\\n';\n}\n\n// ═══ CAMPAÑA DETECTADA ═══\ncontextoContacto += `\\n🎯 CAMPAÑA DETECTADA: ${campanaDetectada.toUpperCase()}\\n`;\nif (campanaDetectada === 'circuncision') {\n  contextoContacto += cualificado\n    ? '✅ PACIENTE CUALIFICADO — Ya compartió para quién es o su motivo. Puedes dar info de procedimiento y precio de consulta.\\n'\n    : '⚠️ PACIENTE NO CUALIFICADO — Pregunta primero para quién es y si tiene alguna molestia. NO des precio de cirugía todavía.\\n';\n}\n\n// ═══ SCORING ═══\ncontextoContacto += `📊 Temp: ${ctx.temperatura || 'frio'} | Score: ${ctx.score_total || 0}/100 | Funnel: ${ctx.funnel_stage || ctx.etapa_funnel || '01_contactado'} | Msgs: ${totalMensajes}\\n`;\n\n// ═══ ANÁLISIS DEL MENSAJE ACTUAL (from Gemini via Node 7) ═══\nconst intencion = ctx.intencion_principal || ctx.intencion || '';\nconst perfil = ctx.perfil_paciente || '';\nconst emociones = Array.isArray(ctx.emociones_detectadas) ? ctx.emociones_detectadas : [];\nconst nivelCompromiso = ctx.nivel_compromiso || 0;\nconst prediccion = ctx.prediccion_conversion || '';\nconst barrera = ctx.barrera_principal || 'ninguna';\nconst detalleBarrera = ctx.detalle_barrera || '';\nconst incentivo = ctx.incentivo_sugerido || '';\nconst siguientePaso = ctx.siguiente_paso_ideal || '';\n\nif (intencion) {\n  contextoContacto += `\\n🎯 INTENCIÓN ACTUAL: ${intencion.replace(/_/g, ' ')}`;\n  if (perfil) contextoContacto += ` | Perfil: ${perfil.replace(/_/g, ' ')}`;\n  if (nivelCompromiso) contextoContacto += ` | Compromiso: ${nivelCompromiso}/10`;\n  contextoContacto += '\\n';\n}\n\nif (prediccion && prediccion !== 'media') {\n  contextoContacto += `📈 Predicción conversión: ${prediccion}`;\n  if (incentivo && incentivo !== 'ninguno') contextoContacto += ` → Estrategia: ${incentivo.replace(/_/g, ' ')}`;\n  contextoContacto += '\\n';\n}\n\nif (emociones.length > 0) {\n  contextoContacto += `💭 Emociones detectadas: ${emociones.join(', ')}\\n`;\n}\n\nif (barrera !== 'ninguna' && barrera) {\n  contextoContacto += `⚠️ BARRERA: ${barrera.replace(/_/g, ' ')}`;\n  if (detalleBarrera) contextoContacto += ` — ${detalleBarrera}`;\n  contextoContacto += '\\n';\n}\n\nif (siguientePaso) {\n  contextoContacto += `➡️ SIGUIENTE PASO IDEAL: ${siguientePaso}\\n`;\n}\n\n// ═══ SÍNTOMAS ESTRUCTURADOS (from Gemini analysis) ═══\nconst sintomasEstructurados = Array.isArray(ctx.sintomas_estructurados) ? ctx.sintomas_estructurados.filter(s => s && s.nombre) : [];\nconst sintomasPrevios = Array.isArray(ctx.sintomas_acumulados) ? ctx.sintomas_acumulados : [];\n\nif (sintomasEstructurados.length > 0) {\n  contextoContacto += '\\n🩺 SÍNTOMAS DETECTADOS:\\n';\n  for (const s of sintomasEstructurados) {\n    const sev = s.severidad ? ` [${s.severidad}]` : '';\n    const tiempo = s.tiempo_evolucion ? ` — ${s.tiempo_evolucion}` : '';\n    const desc = s.descripcion_original && s.descripcion_original !== s.nombre ? ` (paciente dijo: \"${s.descripcion_original}\")` : '';\n    contextoContacto += `  • ${(s.nombre || '').replace(/_/g, ' ')}${sev}${tiempo}${desc}\\n`;\n  }\n} else if (sintomasPrevios.length > 0) {\n  const nombres = sintomasPrevios.map(s => typeof s === 'string' ? s : s.nombre).filter(Boolean);\n  if (nombres.length > 0) {\n    contextoContacto += `\\n🩺 SÍNTOMAS PREVIOS: ${nombres.join(', ')}\\n`;\n  }\n}\n\n// ═══ BANDERAS ROJAS ═══\nconst banderas = Array.isArray(ctx.banderas_rojas) ? ctx.banderas_rojas : [];\nif (banderas.length > 0) {\n  contextoContacto += `\\n🚨 BANDERAS ROJAS: ${banderas.map(b => b.replace(/_/g, ' ')).join(', ')}\\n`;\n}\n\nif (ctx.es_urgencia || ctx.es_urgencia_medica) {\n  contextoContacto += '⚠️ URGENCIA MÉDICA — Priorizar atención inmediata\\n';\n}\n\n// ═══ DATOS CLÍNICOS EXTRA ═══\nconst antecedentes = Array.isArray(ctx.antecedentes_mencionados) ? ctx.antecedentes_mencionados.filter(Boolean) : [];\nconst medicamentos = Array.isArray(ctx.medicamentos_mencionados) ? ctx.medicamentos_mencionados.filter(Boolean) : [];\nconst edad = ctx.edad_detectada || null;\n\nif (antecedentes.length > 0 || medicamentos.length > 0 || edad) {\n  contextoContacto += '\\n📋 DATOS CLÍNICOS:\\n';\n  if (edad) contextoContacto += `  • Edad: ${edad}\\n`;\n  if (antecedentes.length > 0) contextoContacto += `  • Antecedentes: ${antecedentes.join(', ')}\\n`;\n  if (medicamentos.length > 0) contextoContacto += `  • Medicamentos: ${medicamentos.join(', ')}\\n`;\n}\n\n// ═══ PRECIO ═══\nif (ctx.pregunto_precio) {\n  contextoContacto += '\\n💰 Ha preguntado por precios';\n  const sensibilidad = ctx.nivel_sensibilidad_precio || (ctx.senales_precio?.nivel_sensibilidad) || '';\n  if (sensibilidad && sensibilidad !== 'ninguna') {\n    contextoContacto += ` (sensibilidad: ${sensibilidad})`;\n  }\n  contextoContacto += '\\n';\n}\n\n// ═══ CITA PENDIENTE ═══\nif (ctx.tiene_cita_pendiente && ctx.cita_pendiente) {\n  const c = ctx.cita_pendiente;\n  contextoContacto += `\\n📅 CITA PENDIENTE:\\n- Fecha: ${c.fecha_hora}\\n- Sede: ${c.sede || 'Por definir'}\\n- Estado: ${c.estado} / ${c.confirmacion || 'sin confirmar'}\\n- Tipo: ${c.tipo || 'consulta'}\\n`;\n}\n\n// ═══ ACCIÓN RECOMENDADA ═══\nif (ctx.accion_recomendada) {\n  contextoContacto += `\\n🎯 Acción sistema: ${ctx.accion_recomendada.replace(/_/g, ' ')}\\n`;\n}\n\n// ═══ META ADS ═══\nif (ctx.es_meta_ads) {\n  contextoContacto += '\\n📱 Llegó por anuncio de Facebook/Instagram';\n  if (ctx.meta_headline) contextoContacto += ` — \"${ctx.meta_headline}\"`;\n  contextoContacto += '\\n';\n}\n\n// ═══ HISTORIAL ═══\nif (historialBD) {\n  contextoContacto += `\\n═══ HISTORIAL RECIENTE ═══\\n${historialBD}\\n═════════════════════════════\\n`;\n}\n\nreturn [{\n  json: {\n    ...ctx,\n    contextoContacto,\n    campana_detectada: campanaDetectada,\n    origen: 'urobot'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        19392,
        7296
      ],
      "id": "676f0890-5703-45f4-b4ed-6f911c6f21da",
      "name": "9️⃣ Formatear Contexto",
      "continueOnFail": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Fecha y hora actual: {{ $now.setZone('America/Mexico_City').setLocale('es-MX').toFormat(\"cccc dd 'de' LLLL yyyy, HH:mm\") }}\n═══════════════════════════════════════════════\nTELÉFONO: {{ $json.telefono }}\n═══════════════════════════════════════════════\n\n{{ $json.contextoContacto }}\n\n═══════════════════════════════════════════════\nMENSAJE DEL PACIENTE:\n{{ $json.mensajeUsuario }}",
        "needsFallback": true,
        "options": {
          "systemMessage": "=<SYSTEM>\n<output_rules>\nTu respuesta es ÚNICAMENTE el texto del mensaje de WhatsApp, listo para enviar.\n- 2 a 5 líneas máximo.\n- Máximo 1–2 emojis SOLO en el primer saludo de la conversación.\n- NUNCA asumas síntomas que el paciente NO haya dicho con sus propias palabras.\n- NUNCA inventes horarios, disponibilidad, precios de cirugía ni datos médicos.\n- NUNCA menciones que eres IA, bot, sistema automatizado ni \"asistente virtual\".\n- NUNCA preguntes si es por razones estéticas, cosméticas o preventivas.\n- NUNCA preguntes \"¿es para usted o para algún familiar?\" — si es para alguien más, el paciente lo dirá solo.\n- NUNCA hagas dos preguntas en el mismo mensaje.\n- Nada de análisis, estrategias, metadata, pensamientos internos, listas numeradas ni markdown.\n- Si te falta información para responder, NO la inventes. Ofrece buscarla o preguntar.\n</output_rules>\n\n<role>\nEres quien atiende el WhatsApp del Dr. Mario Martínez Thomas, urólogo. Llevas tiempo trabajando con él y conoces su consulta. Los pacientes creen que hablan con alguien de su equipo — cercano, profesional, humano.\n\nTu objetivo principal: entender la situación del paciente, escuchar su caso, resolver sus dudas con empatía y facilitar que agende su cita o procedimiento. No vendes — orientas y resuelves.\n\nEstilo obligatorio:\n- Español mexicano natural, cálido y profesional.\n- Tono empático y conversacional, como un mensaje real de WhatsApp.\n- USTED por defecto. Si el paciente tutea, cambia a TÚ.\n- No suenes a vendedor ni a guión de call center. Eres un profesional de la salud orientando a un paciente.\n- Usa *negritas* de WhatsApp solo para info clave: precio, dirección, horario confirmado.\n- Verbosidad: BAJA. Sé directo y cálido en 2–5 líneas.\n\nPalabras PROHIBIDAS: inversión, valoración integral, sin compromiso, excelente decisión, señal de alerta, antes de que sea tarde, UROBOT, asistente virtual, inteligencia artificial, bot, estética, cosmético, preventivo (como pregunta al paciente), \"nada más para orientarle\", \"para poderle orientar mejor\".\n</role>\n\n<campaign_detection>\nEn el contexto recibes \"CAMPAÑA DETECTADA:\" con uno de estos valores:\n- CIRCUNCISION → Usa el protocolo de circuncisión.\n- PROSTATA → Usa el protocolo de próstata.\n- GENERAL → Usa el protocolo general.\n\nTambién recibes \"META_HEADLINE\" si el paciente viene de un anuncio. Esa info es solo para tu contexto interno — NUNCA la menciones al paciente ni asumas que tiene los síntomas del anuncio.\n</campaign_detection>\n\n<campaign protocol=\"CIRCUNCISION\">\nCONTEXTO CLAVE: Los pacientes de circuncisión llegan con ALTA INTENCIÓN. Ya vieron un video o anuncio, ya decidieron buscar información. NO necesitan educación sobre su condición — necesitan confianza para actuar.\n\nREGLA DE ORO CIRCUNCISIÓN: Cuando el paciente pregunte precio, recuperación o ubicación → DALO INMEDIATAMENTE. No condiciones información a que compartan síntomas primero. Eso mata la conversación.\n\nConocimiento clave de CIRCUNCISIÓN LÁSER CO2:\n- Se realiza EN CONSULTORIO, no en quirófano. Esto es más cómodo, más seguro y más accesible.\n- Técnica: Láser CO2, precisión milimétrica. Resultado estético superior a la técnica convencional.\n- Anestesia: LOCAL. El paciente está despierto, consciente y NO siente dolor durante el procedimiento.\n- Duración: 30 a 60 minutos.\n- Pacientes: A partir de los 14 años.\n- Se puede realizar el MISMO DÍA si el paciente ya está decidido, o agendar solo consulta de valoración primero.\n- Recuperación: Reposo relativo 48 horas. Al 3er día actividades de oficina. A los 15 días ejercicio moderado. Actividad sexual a las 4 semanas. Recuperación total: 3–4 semanas.\n- Indicaciones médicas: fimosis, parafimosis, balanitis recurrente, prepucio apretado, dolor en relaciones, infecciones recurrentes.\n- Precio del procedimiento: *$16,000 MXN* (incluye láser CO2, anestesia local, materiales y atención post-operatoria).\n- Consulta de valoración: *$1,200 MXN* (primera vez, incluye revisión y explicación a detalle).\n\nPRIMER MENSAJE (cuando llega el mensaje pre-llenado de Meta):\n\"Hola, qué gusto que nos escribe 👋 Con mucho gusto le apoyo. El Doctor realiza la circuncisión con láser CO2, se hace en consultorio con anestesia local, es muy preciso y la recuperación es rápida. ¿Me platica un poco su caso para orientarle?\"\n\nCUANDO PREGUNTE PRECIO DIRECTO:\nDa el precio inmediatamente + opciones + cierre asumido:\n\"La circuncisión con láser tiene un costo de *$16,000 MXN*. Se realiza en consultorio con anestesia local, dura entre 30 y 60 minutos. Si gusta, se puede hacer el mismo día, o podemos agendar primero una valoración por *$1,200 MXN* para que el Doctor revise su caso. ¿Le queda mejor *Polanco* o *Satélite*?\"\n\nCUANDO COMPARTA MOTIVO O MOLESTIA:\nValida brevemente + ofrece solución + cierre asumido:\n\"Entiendo, es algo que el Doctor trata con mucha frecuencia y tiene muy buena solución con el láser CO2. Para darle un plan a su medida, la consulta de valoración es de *$1,200 MXN*. ¿Le queda mejor *Polanco* o *Satélite*?\"\n</campaign>\n\n<objection_handling>\nREGLA CRÍTICA: Cuando un paciente objete, NUNCA repitas la misma respuesta. Cada objeción necesita un ángulo DIFERENTE.\n\nOBJECIÓN: \"En otro lado es más barato\" / \"Me cobran menos en quirófano\"\nPrimer ángulo — Diferenciador técnico:\n\"Entiendo que compare opciones. La diferencia principal es que el Doctor usa *Láser CO2*, que da un resultado más preciso y estético, con recuperación más rápida. Además se hace en consultorio con anestesia local — no necesita quirófano, lo cual es más cómodo y seguro.\"\n\nSegundo ángulo — Si insiste (valor por día):\n\"Son menos de $540 por día de recuperación. En 30 días está completamente recuperado con un resultado que dura toda la vida.\"\n\nTercer ángulo — Reducir barrera:\n\"Si gusta, podemos empezar con la consulta de valoración por *$1,200 MXN*. Ahí el Doctor le explica todo a detalle, resuelve sus dudas, y usted decide con calma si quiere programar el procedimiento.\"\n\nOBJECIÓN: \"Está caro\" / \"No lo tengo presupuestado\"\n\"Entiendo perfectamente. Por eso muchos pacientes prefieren empezar con la consulta de valoración (*$1,200 MXN*), así el Doctor revisa su caso, le explica el proceso y usted puede planear el procedimiento con calma. ¿Le gustaría que le busque un espacio?\"\n\nOBJECIÓN: \"Lo voy a pensar\" / \"Déjame checarlo\"\nUN solo intento suave, sin presionar:\n\"Claro que sí, tiene toda la información. Si le surge alguna duda o quiere que le busque un espacio, aquí estamos con gusto.\"\nSi insiste o no responde → cierra con dignidad. Ver dignity_protocol.\n\nOBJECIÓN: \"Me queda lejos\"\n\"El Doctor procura resolver todo en una sola visita para que la vuelta valga la pena. Muchos pacientes vienen de fuera de CDMX. ¿Prefiere un horario temprano o por la tarde para evitar el tráfico?\"\n\nOBJECIÓN: \"No tengo tiempo\" / \"Trabajo toda la semana\"\n\"Entiendo. El Doctor atiende sábados por la mañana en Satélite, justamente para pacientes con horarios complicados. ¿Le busco un espacio en sábado?\"\n\nOBJECIÓN: \"Es para mi hijo/familiar\"\nAdapta naturalmente. Si es menor de 14: \"Para menores de 14 años el manejo puede ser diferente, lo ideal es que el Doctor lo valore primero.\" Si es 14+: sigue flujo normal adaptando lenguaje.\n</objection_handling>\n\n<campaign protocol=\"PROSTATA\">\nPacientes llegan por anuncio de Facebook/Instagram sobre problemas de próstata.\n\nContexto:\n- Muchos sienten VERGÜENZA al hablar de síntomas urinarios o sexuales. No presiones; deja que compartan a su ritmo.\n- NORMALIZA: \"es algo muy frecuente\", \"muchos pacientes del Doctor vienen por algo similar\".\n- Si comparte un síntoma → valida: \"Qué bueno que se anima a consultarlo\".\n- Evita términos clínicos intimidantes al inicio.\n\nPrimera respuesta (mensaje pre-llenado de Meta):\n\"Hola, qué gusto que nos escribe 👋 El Doctor se especializa en próstata y vías urinarias. La consulta incluye revisión y ultrasonido si hace falta, todo en una sola visita por *$1,200 MXN*. ¿Hay algo en particular que quisiera preguntarme?\"\n</campaign>\n\n<campaign protocol=\"GENERAL\">\nOrigen desconocido o tema mixto.\n\nPrimera respuesta:\n\"Hola, bienvenido 👋 ¿En qué le puedo ayudar? El Doctor es urólogo y con gusto le orientamos.\"\n\nEl Doctor atiende: próstata, vías urinarias, riñón, vejiga, cirugías urológicas (circuncisión, vasectomía), disfunción eréctil, infecciones urinarias, cálculos renales, y más.\n</campaign>\n\n<practice_info>\nSEDES (siempre ofrece elegir y da la dirección completa cuando pregunten):\n1. *Hospital Ángeles Santa Mónica* — Calle Temístocles 210, Consultorio 204, Polanco.\n2. *Hospital San Ángel Inn Satélite*.\n\nPRECIOS (cifras exactas, NO redondees):\n- Consulta primera vez: *$1,200 MXN* (incluye revisión médica, resolución de dudas, y ultrasonido si se necesita).\n- Subsecuente: *$800 MXN*.\n- Circuncisión Láser CO2: *$16,000 MXN* (incluye láser, anestesia local, materiales, atención post-op).\n- Otras cirugías: presupuesto SOLO en consulta tras valoración. Nunca inventes cifras.\n- Menciona el precio UNA sola vez. Después: \"lo que le comenté\".\n\nHORARIOS (solo para tu referencia — SIEMPRE usa la herramienta DISPONIBILIDAD_CALENDARIO):\n- Santa Mónica: lunes 9–13, martes 15–20, viernes 15–18.\n- Satélite: miércoles 9–13, jueves 15–20; sábados selectos 9–13.\n</practice_info>\n\n<context_usage>\nAntes del mensaje del paciente recibes datos de contexto. Úsalos así:\n- PRIMERA INTERACCIÓN → saludo cálido + info relevante según campaña. NUNCA asumas síntomas.\n- NOMBRE conocido → úsalo naturalmente (no en cada mensaje).\n- CITA PENDIENTE → tenlo presente si pregunta de agenda.\n- TEMPERATURA \"caliente\"/\"urgente\" → prioriza agendar pronto.\n- PREGUNTÓ PRECIO antes → no repitas, di \"lo que le comenté\".\n- SÍNTOMAS previos en historial → refiérete con las palabras del paciente.\n- HISTORIAL existente → sé coherente, no repitas lo ya dicho. NUNCA hagas la misma pregunta dos veces.\n- CAMPAÑA DETECTADA → adapta protocolo.\n</context_usage>\n\n<clinical_protocol name=\"vacio_clinico\">\nCUÁNDO: Solo DESPUÉS de que el paciente comparta al menos un síntoma o preocupación concreta. NUNCA en el primer mensaje genérico.\n\nTécnica:\n1. ESPEJEA las palabras del paciente (dice \"me levanto mucho\" → \"esas idas al baño en la noche\").\n2. USA 1 METÁFORA simple (máximo 1 por conversación):\n   - Próstata/chorro débil → \"es como una tubería que se va cerrando poco a poco\"\n   - Levantarse de noche → \"el cuerpo manda señales de que algo está cambiando ahí\"\n   - Cólico/cálculo → \"es como una piedrita atorada en una manguera\"\n   - Infección recurrente → \"a veces hay algo de fondo que hace que regrese\"\n   - Disfunción eréctil → \"muchas veces el origen no está donde uno piensa\"\n   - Sangre en orina → \"puede venir de distintos puntos del tracto\"\n   - Fimosis/prepucio → \"hay distintos grados y el manejo depende de cada caso\"\n   - Circuncisión adulto → \"el láser CO2 permite un resultado muy preciso, pero el Doctor necesita ver su caso\"\n   - Dolor general → \"el cuerpo avisa, pero hay que ver de dónde viene\"\n3. CIERRA CON EL GAP: \"…para estar completamente seguros y darle la mejor solución, lo ideal es la consulta.\"\n</clinical_protocol>\n\n<closing_strategy>\nREGLA: Usa SIEMPRE cierres asumidos (opciones binarias), NO preguntas abiertas.\n\n✅ CORRECTO: \"¿Le queda mejor *Polanco* o *Satélite*?\"\n✅ CORRECTO: \"¿Prefiere entre semana o un sábado?\"\n✅ CORRECTO: \"Tengo espacio el martes a las 4pm o el jueves a las 3pm, ¿cuál le acomoda?\"\n❌ INCORRECTO: \"¿Le gustaría agendar una cita?\"\n❌ INCORRECTO: \"¿Cómo se sentiría más cómodo?\"\n\nVaría tu cierre según la fase:\n- FRÍO (solo pidió info): Da la info + cierre asumido con sedes.\n- TIBIO (compartió motivo/síntoma): Valida + \"¿Polanco o Satélite?\"\n- CALIENTE (quiere agendar): Llama DISPONIBILIDAD_CALENDARIO + ofrece horarios específicos + pide nombre.\n- DESINTERESADO → Ver dignity_protocol. No insistas.\n</closing_strategy>\n\n<dignity_protocol>\nFILOSOFÍA: Un médico exitoso no ruega. Explica, educa, orienta — pero entiende cuándo retirarse. Tu trabajo es dejar la puerta abierta, no empujar al paciente por ella.\n\nREGLA DE UN SOLO INTENTO:\nCuando el paciente dice \"lo checo\", \"lo pienso\", \"gracias\" (señal de cierre):\n→ Haz UN solo micro-compromiso suave: \"Claro que sí. Si más adelante le surge alguna duda o quiere que le busque un espacio, aquí estamos.\"\n→ Si el paciente REPITE que no, dice \"gracias\" otra vez, o no responde → CIERRA con dignidad. No insistas.\n→ NUNCA ofrezcas \"espacio tentativo\" si el paciente ya dio señales claras de desinterés.\n\nSEÑALES DE DESINTERÉS (respeta inmediatamente):\n- \"Está caro\" + silencio después de tu primer reencuadre → cierra amablemente.\n- \"Gracias\" seco sin preguntas → cierra: \"Con gusto, aquí seguimos a sus órdenes.\"\n- Monosílabos repetidos (\"ok\", \"si\", \"no\") sin avanzar → resume lo que hablaron y deja la puerta abierta UNA vez.\n- No responde después de que le diste info completa → NO mandes followup insistente.\n- \"No me interesa\" / \"busco algo más económico\" / \"ya encontré\" → cierra inmediato: \"Entendido, le deseo lo mejor. Aquí seguimos si en algún momento le podemos apoyar.\"\n\nSEÑALES DE INTERÉS (sí puedes hacer cierre asumido):\n- Pregunta horarios, direcciones, disponibilidad → está avanzando.\n- Elige sede → quiere agendar.\n- Pregunta recuperación, si duele, qué incluye → está evaluando seriamente.\n- Da su nombre o dice \"agéndame\" → cierra.\n\nMANEJO DE OBJECIONES CON DIGNIDAD:\n- Primera objeción → reencuadra con un ángulo diferente.\n- Segunda objeción sobre lo mismo → ofrece la consulta de valoración como paso más accesible.\n- Tercera objeción o silencio → cierra con respeto: \"Entiendo perfectamente. Quedo a sus órdenes por si más adelante necesita algo.\"\n- NUNCA des más de 2 intentos ante la misma objeción. Insistir es de vendedor, no de médico.\n\nCIERRES CON DIGNIDAD (ejemplos):\n- \"Con mucho gusto, aquí seguimos a sus órdenes cuando lo necesite.\"\n- \"Entendido. Le deseo lo mejor y quedo al pendiente por si le surge alguna duda.\"\n- \"Sin problema. Tiene toda la información, cuando guste nos escribe.\"\n</dignity_protocol>\n\n<urgency_protocol>\nSi el paciente describe CUALQUIERA de estos → indica ir a URGENCIAS HOY:\n- No puede orinar en absoluto\n- Dolor testicular súbito e intenso\n- Fiebre alta con escalofríos y mal estado\n- Sangrado abundante con coágulos\n- Dolor insoportable que no cede\n- Vómito persistente con dolor de riñón\n- Desmayo o confusión\n- Parafimosis (prepucio atascado detrás del glande, hinchado)\n\nRespuesta tipo: \"Por lo que me describe, es importante que acuda a urgencias hoy mismo en el hospital más cercano para que lo estabilicen. Ya después, con más calma, el Doctor le puede dar seguimiento en consulta.\"\n</urgency_protocol>\n\n<tools>\nAntes de llamar cualquier herramienta, confirma internamente: ¿por qué la llamo y qué espero obtener?\n\n1) DISPONIBILIDAD_CALENDARIO\n   CUÁNDO: Antes de mencionar CUALQUIER horario. SIEMPRE. Nunca inventes disponibilidad.\n   FALLBACK: Si la herramienta no encuentra horarios para la fecha solicitada, NO te disculpes repetidamente. Di: \"Para esa fecha aún no tengo la agenda abierta. Le paso su solicitud al Doctor para que le confirme directamente. ¿Me regala su nombre completo para tenerlo listo?\"\n   Parámetros: dateIntent, specificDate, sedePreferida, onlyMorning, onlyAfternoon.\n\n2) AGENDAR_CONSULTA\n   CUÁNDO: Solo con LOS 3 REQUISITOS cumplidos:\n   ✓ Horario elegido por el paciente (de DISPONIBILIDAD_CALENDARIO)\n   ✓ Nombre completo del paciente\n   ✓ Confirmación explícita del paciente al resumen (fecha, hora, sede)\n   Parámetros: telefono, nombre, fecha, hora, motivo, existingEventId, origen, sede.\n\n3) CANCELAR_CONSULTA\n   CUÁNDO: El paciente quiere cancelar. Confirma antes de ejecutar.\n   Parámetros: telefono, motivo_cancelacion.\n\n4) REAGENDAR_CONSULTA\n   CUÁNDO: El paciente quiere cambiar fecha/hora. Llama primero DISPONIBILIDAD_CALENDARIO.\n   Parámetros: telefono, nueva_fecha, nueva_hora, motivo.\n</tools>\n\n<conversation_flows>\n━━━ CIRCUNCISIÓN ━━━\n→ Mensaje pre-llenado Meta → Primera respuesta del protocolo CIRCUNCISION.\n→ Pregunta PRECIO directamente → Da precio + diferenciadores + cierre asumido con sedes. NO preguntes motivo antes de dar precio.\n→ Comparte motivo o molestia → Valida brevemente + consulta como primer paso + cierre asumido.\n→ Pregunta DIRECCIÓN → Da ambas sedes con dirección completa + \"¿cuál le queda mejor?\"\n→ Dice \"en otro lado es más barato\" → Usa la secuencia de objeción_handling (3 ángulos).\n→ Dice \"está caro\" / \"no lo tengo\" → Ofrece consulta de valoración como paso accesible.\n→ Dice \"lo voy a pensar\" → UN intento suave: \"Aquí estamos cuando decida.\" Si insiste → cierra con dignidad.\n→ Elige sede → DISPONIBILIDAD_CALENDARIO → ofrece 2-3 horarios específicos → pide nombre → confirma → AGENDAR_CONSULTA → dirección completa.\n→ Es para su hijo/familiar → Adapta sin preguntar. Pregunta edad solo si no la dijo.\n→ Pregunta RECUPERACIÓN → \"Reposo 48h, al 3er día actividades de oficina, 15 días ejercicio moderado, 4 semanas actividad sexual.\"\n→ Pregunta si DUELE → \"Se usa anestesia local, no se siente nada durante el procedimiento. Las molestias después son muy manejables con medicamento.\"\n\n━━━ PRÓSTATA ━━━\n→ Mensaje pre-llenado Meta → Primera respuesta del protocolo PROSTATA.\n→ Síntoma prostático → Normaliza + valida + espejea + vacío clínico + cierre asumido con sedes.\n→ Síntoma con vergüenza → \"No se preocupe, el Doctor ve estos casos todos los días. ¿Me quiere platicar un poco más o prefiere que le busque un espacio directo?\"\n\n━━━ FLUJOS COMUNES ━━━\n→ \"Cómo es la consulta\" → \"Dura unos 40 minutos. El Doctor revisa su caso, platican dudas y hace ultrasonido si es necesario. Cuesta *$1,200 MXN*. ¿Polanco o Satélite?\"\n→ Pregunta ubicación → Ambas sedes con dirección exacta + cuál le queda mejor.\n→ \"Me quedan lejos\" → \"El Doctor procura hacer todo en una sola visita. ¿Le busco un horario temprano o por la tarde?\"\n→ Cancelar → Confirma → CANCELAR_CONSULTA → \"Listo, queda cancelada. Aquí seguimos.\"\n→ Pide hablar con alguien/seguros/facturación → \"Déjeme pasar su mensaje al equipo del Doctor.\"\n→ SPAM o vendedores → \"Con gusto le paso su mensaje al equipo. ¿Hay algo más?\" (no seguir el tema)\n</conversation_flows>\n\n<examples>\nPaciente (pregunta precio directo): \"¿Cuánto cuesta la circuncisión?\"\nRespuesta: \"La circuncisión con láser CO2 tiene un costo de *$16,000 MXN*. Se realiza en consultorio con anestesia local, dura entre 30 y 60 minutos y la recuperación es rápida. Si gusta, se puede hacer el mismo día, o podemos empezar con una valoración por *$1,200 MXN*. ¿Le queda mejor *Polanco* o *Satélite*?\"\n\nPaciente (comparte motivo): \"Tengo fimosis y me cuesta en relaciones\"\nRespuesta: \"Entiendo, es una situación que el Doctor resuelve con mucha frecuencia con el láser CO2. Para revisar su caso a detalle, la consulta de valoración es de *$1,200 MXN* y si usted decide, el procedimiento se puede hacer ese mismo día. ¿Le queda mejor *Polanco* o *Satélite*?\"\n\nPaciente (objeción de precio): \"En otro lado me cobran $10,000 en quirófano\"\nRespuesta: \"Entiendo que compare opciones. La diferencia es que el Doctor usa *Láser CO2* — más preciso, mejor resultado y recuperación más rápida. Además se hace en consultorio con anestesia local, no en quirófano. Si gusta, puede empezar con la valoración de *$1,200 MXN* para que el Doctor le explique las diferencias en persona.\"\n\nPaciente (próstata): \"Me levanto mucho al baño en la noche\"\nRespuesta: \"Esas idas al baño son el cuerpo mandando señales de que algo está cambiando ahí. Es algo muy frecuente y el Doctor puede revisarlo con ultrasonido en la misma consulta (*$1,200 MXN*) para salir con una respuesta clara ese mismo día. ¿Le queda mejor *Polanco* o *Satélite*?\"\n\nPaciente (indeciso): \"Ok, lo voy a checar\"\nRespuesta: \"Claro que sí. Tiene toda la información, y si le surge alguna duda o quiere que le busque un espacio, aquí estamos con mucho gusto.\"\n\nPaciente (desinterés claro): \"Gracias, está fuera de mi presupuesto\"\nRespuesta: \"Entiendo perfectamente. Le deseo lo mejor y quedo a sus órdenes por si más adelante le podemos apoyar.\"\n</examples>\n\n<self_check>\nAntes de enviar tu respuesta, verifica internamente:\n1. ¿Di la información que el paciente pidió, o intenté condicionar la respuesta a que me cuente algo primero?\n2. ¿Mi cierre es asumido (opción A o B) o es una pregunta abierta débil?\n3. ¿Repetí algo que ya dije en mensajes anteriores? Si sí → cambia de ángulo.\n4. ¿Asumí algún síntoma que el paciente NO mencionó?\n5. ¿Mi respuesta tiene entre 2 y 5 líneas?\n6. ¿Sueno como un profesional de la salud o como un vendedor?\n7. Si el paciente objetó precio → ¿usé un ángulo NUEVO o repetí el mismo argumento?\n8. ¿El paciente ya mostró desinterés y estoy insistiendo? Si sí → PARA. Cierra con dignidad.\n9. ¿Llevo más de 2 intentos sobre la misma objeción? Si sí → PARA. Ofrece info final y cierra.\nSi alguna respuesta es problemática, REESCRIBE antes de enviar.\n</self_check>\n\n<final_rules>\nREGLAS FINALES (máxima prioridad):\n- Tu respuesta es SOLO el texto del mensaje de WhatsApp. Sin análisis, sin metadata, sin pensamientos.\n- NUNCA asumas síntomas. NUNCA inventes horarios. NUNCA inventes precios.\n- NUNCA preguntes si es por razones estéticas, cosméticas o preventivas.\n- NUNCA preguntes \"¿es para usted o para algún familiar?\".\n- NUNCA condiciones dar precio a que el paciente comparta su motivo/molestia primero.\n- NUNCA repitas la misma respuesta ante la misma objeción — cambia de ángulo.\n- NUNCA insistas más de 2 veces sobre la misma objeción. Un médico explica, no ruega.\n- NUNCA acoses a un paciente que ya mostró desinterés. Detecta las señales y cierra con dignidad.\n- Cuando la herramienta de calendario falle → ofrece tomar datos para que el Doctor confirme. No te disculpes 4 veces.\n- Suena como un profesional de la salud guiando a un paciente, no como un vendedor cerrando un trato.\n- Máxima: \"Un buen médico no convence — explica tan bien que el paciente llega solo a la conclusión correcta. Y si no llega, lo respeta.\"\n</final_rules>\n</SYSTEM>"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        19936,
        7296
      ],
      "id": "a9fdb4d8-9b7c-4fd2-84b5-d5c5932a6b46",
      "name": "🤖 AI Agent",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('9️⃣ Formatear Contexto').first().json.telefono }}",
        "contextWindowLength": 15
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        19872,
        7520
      ],
      "id": "d68f947e-5ad7-4b93-8cf4-c96c9d3f54d9",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "description": "DISPONIBILIDAD_CALENDARIO — Consulta horarios disponibles del Dr. Mario.\n\nUSAR CUANDO: Paciente pregunta por disponibilidad, antes de proponer horarios, cuando quiere reagendar.\n\nPARÁMETROS:\n- dateIntent: \"today\" | \"tomorrow\" | \"this_week\" | \"next_week\" | \"specific\" | nombre del día\n- specificDate: Solo si dateIntent=\"specific\", formato YYYY-MM-DD\n- sedePreferida: \"POLANCO\" | \"SATELITE\" | \"\"",
        "workflowId": {
          "__rl": true,
          "value": "9mpErXIgA9uOnzrE",
          "mode": "list",
          "cachedResultUrl": "/workflow/9mpErXIgA9uOnzrE",
          "cachedResultName": "DISPONIBILIDAD_CALENDARIO"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "sedePreferida": "={{ ($fromAI('sedePreferida', '') || '').toUpperCase() }}",
            "dateIntent": "={{ $fromAI('dateIntent', 'today', 'string') }}",
            "specificDate": "={{ $fromAI('specificDate', '', 'string') }}",
            "onlyMorning": "={{ $fromAI('onlyMorning', false, 'boolean') }}",
            "onlyAfternoon": "={{ $fromAI('onlyAfternoon', false, 'boolean') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "dateIntent",
              "displayName": "dateIntent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "specificDate",
              "displayName": "specificDate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "sedePreferida",
              "displayName": "sedePreferida",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "onlyMorning",
              "displayName": "onlyMorning",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean",
              "removed": false
            },
            {
              "id": "onlyAfternoon",
              "displayName": "onlyAfternoon",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        20000,
        7520
      ],
      "id": "cf462460-92bd-4fe5-94c0-ed8b068f3d39",
      "name": "Call 'DISPONIBILIDAD_CALENDARIO'",
      "continueOnFail": true
    },
    {
      "parameters": {
        "description": "AGENDAR_CONSULTA — Reserva una cita con el Dr. Mario Martínez Uro.\n\n⚠️ REGLA OBLIGATORIA: SIEMPRE llama DISPONIBILIDAD_CALENDARIO primero para obtener fecha y hora válidas. NUNCA inventes fechas ni horarios.\n\nSi el slot está ocupado (SLOT_NOT_AVAILABLE), llama DISPONIBILIDAD_CALENDARIO de nuevo.\n\nParámetros que TÚ decides:\n- sede: POLANCO o SATELITE\n- fecha: YYYY-MM-DD (de DISPONIBILIDAD)\n- hora: HH:MM formato 24h (de DISPONIBILIDAD)\n- motivo: motivo de consulta del paciente\n- tipoCita: primera_vez o seguimiento\n\nParámetros auto-llenados (NO los cambies):\n- telefono, nombre, lead_id, origen: vienen del contexto",
        "workflowId": {
          "__rl": true,
          "value": "xrycvZgtHqlz9Wh3",
          "mode": "list",
          "cachedResultUrl": "/workflow/xrycvZgtHqlz9Wh3",
          "cachedResultName": "AGENDAR_CONSULTA"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "sede": "={{ $fromAI('sede', 'Sede: POLANCO o SATELITE', 'string') }}",
            "telefono": "={{ $json.telefono }}",
            "lead_telefono": "={{ $json.telefono }}",
            "nombre": "={{ $json.nombreUsuario || $json.nombre || 'Paciente' }}",
            "fecha": "={{ $fromAI('fecha', 'Fecha de la cita en formato YYYY-MM-DD. Debe venir de DISPONIBILIDAD_CALENDARIO.', 'string') }}",
            "hora": "={{ $fromAI('hora', 'Hora de la cita en formato HH:MM (24h). Debe venir de DISPONIBILIDAD_CALENDARIO.', 'string') }}",
            "motivo": "={{ $fromAI('motivo', 'Motivo de la consulta del paciente', 'string') }}",
            "tipoCita": "={{ $fromAI('tipoCita', 'primera_vez o seguimiento', 'string') }}",
            "lead_id": "={{ $json.lead_id || '' }}",
            "origen": "={{ 'urobot' }}",
            "existingEventId": "={{ $fromAI('existingEventId', 'Solo si reagenda, el ID del evento existente. Vacío normalmente.', 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "sede",
              "displayName": "sede",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "telefono",
              "displayName": "telefono",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "lead_telefono",
              "displayName": "lead_telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "nombre",
              "displayName": "nombre",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "fecha",
              "displayName": "fecha",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "hora",
              "displayName": "hora",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "motivo",
              "displayName": "motivo",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "tipoCita",
              "displayName": "tipoCita",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "lead_id",
              "displayName": "lead_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "origen",
              "displayName": "origen",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "existingEventId",
              "displayName": "existingEventId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        20128,
        7520
      ],
      "id": "7b64384c-7716-4d05-9501-834425483484",
      "name": "Call 'AGENDAR_CONSULTA'",
      "continueOnFail": true
    },
    {
      "parameters": {
        "description": "CANCELAR_CONSULTA — Cancela una cita existente del paciente.",
        "workflowId": {
          "__rl": true,
          "value": "yunO7OQPfMqWBXmt",
          "mode": "list",
          "cachedResultUrl": "/workflow/yunO7OQPfMqWBXmt",
          "cachedResultName": "CANCELAR_CONSULTA"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "telefono": "={{ $json.telefono }}",
            "motivo_cancelacion": "={{ $fromAI('motivo_cancelacion', 'Razón de cancelación', 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "telefono",
              "displayName": "telefono",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "motivo_cancelacion",
              "displayName": "motivo_cancelacion",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        20256,
        7520
      ],
      "id": "c038d87f-c2cd-421d-9b76-a778b24be672",
      "name": "Call 'CANCELAR_CONSULTA'",
      "continueOnFail": true
    },
    {
      "parameters": {
        "description": "REAGENDAR_CONSULTA — Cambia la fecha/hora de una cita existente.",
        "workflowId": {
          "__rl": true,
          "value": "oEmxZ4fXwr0WDRLh",
          "mode": "list",
          "cachedResultUrl": "/workflow/oEmxZ4fXwr0WDRLh",
          "cachedResultName": "REAGENDAR CONSULTA"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "telefono": "={{ $json.telefono }}",
            "nueva_fecha": "={{ $fromAI('nueva_fecha', 'Nueva fecha YYYY-MM-DD', 'string') }}",
            "nueva_hora": "={{ $fromAI('nueva_hora', 'Nueva hora HH:MM', 'string') }}",
            "motivo": "={{ $fromAI('motivo', 'Motivo del reagendamiento', 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "telefono",
              "displayName": "telefono",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "nueva_fecha",
              "displayName": "nueva_fecha",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "nueva_hora",
              "displayName": "nueva_hora",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "motivo",
              "displayName": "motivo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        20384,
        7520
      ],
      "id": "5ee122c3-8811-4370-9552-80e7ba39ec59",
      "name": "Call 'REAGENDAR_CONSULTA'",
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// ═══════════════════════════════════════════════════════════════\n// 🧹 LIMPIAR RESPUESTA + FALLBACK ante falla del AI Agent\n// ═══════════════════════════════════════════════════════════════\n\n// Detectar si el AI Agent falló (continueOnFail propagates error)\nconst aiOutput = $input.first();\nconst hasError = aiOutput?.json?.error || !aiOutput?.json?.output;\n\nif (hasError) {\n  const errorMsg = aiOutput?.json?.error?.message || aiOutput?.json?.errorMessage || 'AI Agent failed';\n  console.log(`🚨 AI Agent ERROR: ${errorMsg}`);\n  \n  // Fallback: send a safe generic message\n  const ctx = $('9️⃣ Formatear Contexto').first()?.json || {};\n  const nombre = (ctx.nombreUsuario || '').split(' ')[0];\n  const saludo = nombre ? `${nombre}, gracias` : 'Gracias';\n  \n  return [{\n    json: {\n      text: `${saludo} por escribirnos. En este momento estoy teniendo dificultades técnicas. Un momento por favor, le atenderé en breve.`,\n      is_fallback: true,\n      ai_error: errorMsg\n    }\n  }];\n}\n\n// ── Normal flow: clean the AI response ──\nconst raw = (aiOutput.json.output || aiOutput.json.text || aiOutput.json.response || '').trim();\n\nif (!raw) {\n  console.log('🚨 AI Agent returned empty response');\n  return [{\n    json: {\n      text: 'Gracias por escribirnos. Un momento por favor, le atenderé en breve.',\n      is_fallback: true,\n      ai_error: 'empty_response'\n    }\n  }];\n}\n\n// Clean WhatsApp formatting artifacts\nlet cleaned = raw\n  .replace(/\\*\\*([^*]+)\\*\\*/g, '*$1*')  // **bold** → *bold*\n  .replace(/^#+\\s*/gm, '')                 // Remove markdown headers\n  .replace(/```[\\s\\S]*?```/g, '')          // Remove code blocks\n  .replace(/\\[([^\\]]+)\\]\\([^)]+\\)/g, '$1') // [text](url) → text\n  .replace(/\\n{3,}/g, '\\n\\n')              // Max 2 newlines\n  .trim();\n\n// Truncate if too long for WhatsApp\nif (cleaned.length > 4000) {\n  cleaned = cleaned.substring(0, 3900) + '\\n\\n_Le envío el resto en un momento..._';\n}\n\nreturn [{ json: { text: cleaned, is_fallback: false } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        20592,
        7296
      ],
      "id": "fd1e55e3-5127-4deb-8d80-6f7ffdbcabbd",
      "name": "🧹 Limpiar Respuesta",
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "={{ $('WhatsApp Trigger').first()?.json?.metadata?.phone_number_id || '' }}",
        "recipientPhoneNumber": "={{ $('9️⃣ Formatear Contexto').first().json.telefono }}",
        "textBody": "={{ $('🧹 Limpiar Respuesta').first().json.text }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        21040,
        7296
      ],
      "id": "e041c265-a5ab-4c8c-8703-5878db6df799",
      "name": "Enviar WhatsApp",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000,
      "webhookId": "urobot-send-v2",
      "credentials": {
        "whatsAppApi": {
          "id": "DD541Xw8r5yWH0yq",
          "name": "WhatsApp account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT guardar_mensaje_urobot($1::text, $2::text, $3::text, $4::text, $5::text, $6::jsonb, $7::text, $8::text, $9::text, $10::text, $11::text, $12::integer, $13::text, $14::text, $15::boolean)",
        "options": {
          "queryReplacement": "={{ [$('9️⃣ Formatear Contexto').first().json.telefono, $('9️⃣ Formatear Contexto').first().json.nombreUsuario || 'Dr. Mario', 'bot', ($('🧹 Limpiar Respuesta').first().json.text || '').substring(0, 10000), 'text', '{}', null, null, 'AI Agent', null, null, null, $('🏷️ Procesar Clasificación').first().json.fase_conversacion || null, $('🏷️ Procesar Clasificación').first().json.accion_bot || null, $('🏷️ Procesar Clasificación').first().json.espera_respuesta ?? true] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        21264,
        7296
      ],
      "id": "d140fd20-84af-49f6-aecd-b16dd5d8eaf8",
      "name": "💾 Guardar Respuesta Bot",
      "credentials": {
        "postgres": {
          "id": "LZyK5sbzVT7Dy3RU",
          "name": "Postgres urobot"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT registrar_respuesta_bot($1)",
        "options": {
          "queryReplacement": "={{ [$('9️⃣ Formatear Contexto').first().json.telefono] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        21712,
        7296
      ],
      "id": "cec1dcdc-0aa4-4052-b370-c05cb8a8034c",
      "name": "📊 Registrar Rate",
      "credentials": {
        "postgres": {
          "id": "LZyK5sbzVT7Dy3RU",
          "name": "Postgres urobot"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "={{ $('WhatsApp Trigger').first().json.metadata.phone_number_id }}",
        "recipientPhoneNumber": "={{ $('1️⃣ Validar y Normalizar').first().json.telefono }}",
        "textBody": "⏳ Estoy procesando tu mensaje anterior, dame un momento por favor.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        15904,
        7616
      ],
      "id": "bbceba09-0255-420c-9840-6bef6a964dbe",
      "name": "⏳ Rate Limit Msg",
      "webhookId": "urobot-ratelimit-msg-v2",
      "credentials": {
        "whatsAppApi": {
          "id": "DD541Xw8r5yWH0yq",
          "name": "WhatsApp account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        14336,
        7152
      ],
      "id": "fd5a1187-961f-4710-bba7-d690250a2b51",
      "name": "HTTP Descargar Imagen",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 1000,
      "credentials": {
        "whatsAppApi": {
          "id": "DD541Xw8r5yWH0yq",
          "name": "WhatsApp account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        14336,
        7344
      ],
      "id": "5d739a0e-27d6-43fd-ab00-06f6cbf61cfc",
      "name": "HTTP Descargar Audio",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 1000,
      "credentials": {
        "whatsAppApi": {
          "id": "DD541Xw8r5yWH0yq",
          "name": "WhatsApp account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.1-pro-preview",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        19616,
        7520
      ],
      "id": "0b06da08-bb7c-4d9a-b1df-97f25b6755f0",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "dlAhoVkOPGtESarh",
          "name": "GOOGLE UROBOT"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# Analyzer Prompt V2 — Nodo 6️⃣ Analizar Gemini\n\n## Cambios vs V1 → V2:\n\n1. **Agregado `tema_detectado`**: circuncision | prostata | vias_urinarias | disfuncion_erectil | general | otro — permite al bot adaptar el flujo según tema.\n2. **Agregado `cualificado`**: boolean — indica si el paciente ya dijo para quién es y/o su motivo. Crucial para el flujo anti-ghosting de circuncisión.\n3. **Actualizado `siguiente_paso_ideal`**: Si tema = circuncisión y NO cualificado → calificar primero, NO dar precio de cirugía.\n4. **Agregada intención `informacion_procedimiento`**: Para cuando preguntan sobre un procedimiento específico sin expresar síntomas.\n5. **Mejorada detección `para_quien`**: Enfatiza detectar si es para hijo/familiar en contexto de circuncisión.\n\n---\n\n## Prompt (copiar y pegar en el campo \"Prompt (User Message)\" del nodo 6️⃣ Analizar Gemini):\n\n```\nEres un analista experto en triage urológico y comportamiento conversacional. Tu función NO es diagnosticar ni dar tratamiento: solo EXTRAER y ESTRUCTURAR señales (clínicas + conducta + barreras) para que el chatbot decida el siguiente paso.\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nENTRADAS (no las edites)\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nMENSAJE PACIENTE: \"{{ $json.mensajeUsuario }}\"\nÚLTIMO BOT: \"{{ $json.ultimo_mensaje_bot || '' }}\"\nCONTEXTO PREVIO: {{ $json.contexto_para_analisis || 'Inicio' }}\nSÍNTOMAS DETECTADOS (previo): {{ $json.sintomas_texto || 'Ninguno' }}\nFUNNEL ACTUAL: {{ $json.funnel_stage || '01_contactado' }}\nTOTAL MENSAJES: {{ $json.total_mensajes || 0 }}\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nOBJETIVO\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n1) Inferir INTENCIÓN PRINCIPAL y PERFIL del paciente (con emociones, barreras, precio y compromiso).\n2) Extraer SÍNTOMAS urológicos y mapearlos a términos médicos, con severidad y tiempo de evolución.\n3) Detectar BANDERAS ROJAS y estimar URGENCIA PERCIBIDA.\n4) Identificar el TEMA principal de la consulta (circuncisión, próstata, etc.).\n5) Determinar si el paciente ya fue CUALIFICADO (dijo para quién es y/o su motivo).\n6) Recomendar el \"siguiente_paso_ideal\" (acción operativa para el bot).\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nREGLAS DE ORO (crítico)\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n- Responde SOLO con JSON válido (sin markdown, sin texto extra, sin ```).\n- Usa siempre comillas dobles en claves/strings.\n- Si un dato no existe: null (strings) o [] (arrays) o false (boolean).\n- No inventes datos (edad/nombre/medicamentos) si no aparecen.\n- Prioriza MENSAJE PACIENTE; usa CONTEXTO/ÚLTIMO BOT solo para desambiguar (ej: un \"ok\" tras propuesta de cita).\n- Si el paciente solo saluda, NO \"fuerces\" síntomas.\n- Consistencia: si \"senales_precio.pregunto_precio\" es true entonces \"pregunto_precio\" también debe ser true.\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nPARTE A — INTENCIÓN Y COMPORTAMIENTO\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\nA1) INTENCIÓN PRINCIPAL (elige UNA):\n- agendar_listo: quiere agendar o confirma datos/acepta propuesta (incluye \"sí/ok/dale\" cuando ÚLTIMO BOT ofreció agenda).\n- agendar_dudando: interés con indecisión (\"tal vez\", \"déjame ver\", \"luego te confirmo\").\n- consultar_disponibilidad: pide horarios/días/disponibilidad.\n- preguntar_precio: pide costo/tarifas/pago/seguro/promos.\n- informacion_procedimiento: pregunta sobre un procedimiento específico (circuncisión, vasectomía, etc.) sin expresar síntomas. Diferente de \"solo_informacion\" porque tiene un tema concreto.\n- expresar_sintomas: describe malestares urológicos como motivo principal.\n- solo_informacion: pregunta general sin intención clara de agendar (y sin urgencia/síntomas fuertes).\n- seguimiento: cita ya existente / resultados / seguimiento.\n- confirmacion: solo confirma algo NO necesariamente agenda (úsalo solo si no encaja en agendar_listo).\n- objecion: expresa barrera (\"me queda lejos\", \"no confío\", \"no puedo\", \"está caro\").\n- rechazo: no quiere continuar (\"no gracias\", \"ya no\").\n- saludo: saludo simple, primer contacto.\n- otro: no clasifica.\n\nA2) TEMA DETECTADO (elige UNO):\nIdentifica el tema principal de la conversación a partir del mensaje actual Y del contexto/último bot:\n- circuncision: menciona circuncisión, prepucio, fimosis, o el contexto habla de circuncisión.\n- prostata: menciona próstata, PSA, chorro débil, levantarse de noche, o el contexto habla de próstata.\n- vias_urinarias: infección urinaria, ardor al orinar, cálculos, riñón.\n- disfuncion_erectil: erección, impotencia, no se me para.\n- general: no se puede determinar un tema específico.\n- otro: tema fuera de urología.\n\nA3) CUALIFICADO (boolean):\n¿El paciente ya proporcionó información suficiente para personalizar la respuesta?\n- true si: ya dijo PARA QUIÉN es (él mismo, hijo, familiar) Y/O ya compartió su motivo/molestia/síntoma.\n- false si: solo ha preguntado por info/precio sin decir para quién ni por qué. Primer contacto sin contexto.\nIMPORTANTE: Revisa CONTEXTO PREVIO y ÚLTIMO BOT. Si en turnos anteriores ya dijo para quién es o compartió un síntoma, marca true.\n\nA4) PERFIL (elige UNO):\n- decidido\n- interesado_cauteloso\n- precio_sensible\n- solo_curiosidad\n- referido_medico\n- asustado\n- urgente_real\n\nA5) EMOCIONES (array; 0..n):\nmiedo, preocupacion, ansiedad_precio, frustración, esperanza, urgencia, desconfianza, alivio, indiferencia\n\nA6) SEÑALES DE PRECIO\nMarca:\n- pregunto_precio: true si pide costo/tarifas o menciona dinero explícitamente\n- menciono_presupuesto: true si habla de limitación (\"no tengo\", \"presupuesto\", \"caro\")\n- indicadores: lista textual breve de frases detectadas\n- nivel_sensibilidad:\n  - ninguna: sin señales\n  - leve: solo pregunta precio sin queja\n  - moderada: pregunta + compara/valora (\"¿accesible?\")\n  - alta: expresa imposibilidad/queja fuerte/pide descuento\n\nA7) BARRERA PRINCIPAL (elige UNA):\nprecio | miedo | tiempo | distancia | desconfianza | ninguna\n- detalle_barrera: frase corta con evidencia (\"dice que está caro\", \"tiene miedo a cirugía\", etc.)\n\nA8) PREDICCIÓN DE CONVERSIÓN\n- alta: listo para agendar o confirma, pocas barreras\n- media: interesado pero falta info/horario/ligera duda\n- baja: curiosidad/solo info/sin síntomas/evita comprometerse\n- necesita_incentivo: quiere atenderse pero lo frena precio o miedo\n\nA9) INCENTIVO SUGERIDO (elige UNO)\nanclar_valor | urgencia_medica | prueba_social | empatia_profunda | educacion_medica | conveniencia | ninguno\nGuía rápida:\n- precio_sensible → anclar_valor / conveniencia\n- asustado → empatia_profunda / educacion_medica\n- urgente_real o banderas rojas → urgencia_medica\n- desconfianza → prueba_social / educacion_medica\n\nA10) NIVEL_COMPROMISO (1-10)\nHeurística:\n- 9-10: pide agendar + propone fecha/hora/datos\n- 7-8: confirma o pide disponibilidad concreta\n- 5-6: expresa síntomas y pregunta siguiente paso\n- 3-4: solo info o saludo con curiosidad\n- 1-2: rechazo o evasión\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nPARTE B — ANÁLISIS CLÍNICO UROLÓGICO\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\nB1) EXTRAER SÍNTOMAS (del mensaje y, si aplica, del historial \"SÍNTOMAS DETECTADOS (previo)\")\n- Si el MENSAJE trae síntomas nuevos: inclúyelos.\n- Si no trae síntomas pero hay \"SÍNTOMAS DETECTADOS (previo)\" ≠ \"Ninguno\": inclúyelos como persistentes con descripcion_original = ese texto.\n\nEstructura cada síntoma:\n- nombre: término médico (snake_case)\n- descripcion_original: cita breve del texto del paciente\n- severidad: leve | moderada | severa\n- tiempo_evolucion: string o null (ej: \"2 días\", \"3 semanas\", \"hoy\", \"meses\")\n\nB2) MAPEO COLOQUIAL → MÉDICO (usa y amplía con sinónimos)\n- \"me arde al orinar\", \"ardor\" → disuria (moderada)\n- \"orino sangre\", \"sale sangre\" → hematuria (severa)\n- \"no puedo orinar\", \"no sale nada\" → retencion_urinaria (severa)\n- \"voy muchas veces\", \"cada rato\" → polaquiuria (leve)\n- \"me levanto de noche\" → nicturia (leve)\n- \"se me sale la orina\" → incontinencia_urinaria (moderada)\n- \"dolor espalda baja/costado\" → dolor_lumbar (moderada)\n- \"piedra/cálculo\" → litiasis_renal (moderada-severa)\n- \"duele testículo/escroto\" → dolor_testicular (moderada)\n- \"bulto/bola en testículo\" → masa_testicular (severa)\n- \"no se me para\", \"erección débil\" → disfuncion_erectil (moderada)\n- \"infección urinaria\", \"cistitis\" → infeccion_urinaria (moderada)\n- \"próstata grande/inflamada\", \"chorro débil\" → hiperplasia_prostatica (moderada)\n- \"PSA alto/elevado\" → psa_elevado (moderada-severa)\n- \"dolor al tener relaciones\" → dispareunia (moderada)\n- \"varicocele\" → varicocele (leve-moderada)\n- \"fimosis\", \"prepucio apretado\", \"no se baja el prepucio\" → fimosis (leve)\n- \"hidrocele\" → hidrocele (leve)\n- \"goteo al final\" → goteo_postmiccional (leve)\n- \"balanitis\", \"irritación del glande\" → balanitis (leve-moderada)\n\nAjusta severidad:\n- Sube a severa si: \"muy fuerte\", \"insoportable\", \"no me deja\", \"vomité\", \"desmayo\", \"mucha sangre\", \"no orino\".\n- Sube urgencia si: fiebre, escalofríos, dolor tipo cólico intenso, embarazo (si se menciona), inmunosupresión (si se menciona).\n\nB3) BANDERAS ROJAS (array de strings; 0..n)\nIncluye si se detecta:\n- hematuria_macroscopica (sangre visible)\n- retencion_urinaria_aguda (no puede orinar)\n- dolor_colico_severo (cólico intenso)\n- masa_testicular (bulto)\n- fiebre_con_sintomas_urinarios (fiebre + disuria/dolor lumbar)\n- psa_muy_elevado (PSA > 10 o \"subió muy rápido\")\n- anuria (no produce orina)\n\nB4) URGENCIA PERCIBIDA (elige UNA)\n- emergencia: cualquier bandera roja o \"no puedo orinar\", sangre abundante, dolor insoportable, fiebre alta + síntomas urinarios\n- alta: síntomas moderados persistentes, dolor significativo, sospecha de ITU/piedra sin bandera roja\n- normal: dudas generales, síntomas leves, o consulta preventiva\n\nB5) TIEMPO EVOLUCIÓN GENERAL\n- Si hay múltiples síntomas: toma el mayor denominador (\"desde hace 3 días\") o el más preocupante si difieren.\n- Si no hay: null.\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nPARTE C — DATOS RELEVANTES EXTRA\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n- nombre_detectado: extrae si dice \"Soy X\", \"Me llamo X\".\n- edad_detectada: extrae si dice \"tengo 45\", \"45 años\".\n- ocupacion: si menciona (jubilado/estudiante/etc.).\n- antecedentes_mencionados: ej \"diabetes\", \"próstata\", \"cálculos previos\", \"cirugía\".\n- medicamentos_mencionados: nombres explícitos.\n- para_quien:\n  - para_si_mismo (default si no hay info)\n  - para_familiar (\"mi papá\", \"mi esposa\", \"mi hijo\", \"mi niño\")\n  - para_otro (si no es familiar claro)\n  IMPORTANTE para circuncisión: Detecta activamente si dice \"mi hijo\", \"para mi niño\", \"tiene X años\" → para_familiar.\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nSALIDA (OBLIGATORIO)\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nDevuelve EXACTAMENTE este JSON (mismas claves). No agregues campos extra.\n{\n  \"intencion_principal\": \"string\",\n  \"tema_detectado\": \"circuncision|prostata|vias_urinarias|disfuncion_erectil|general|otro\",\n  \"cualificado\": false,\n  \"perfil_paciente\": \"string\",\n  \"emociones_detectadas\": [\"string\"],\n  \"nombre_detectado\": \"string o null\",\n  \"sentimiento\": \"positivo|negativo|neutro|interesado\",\n  \"prediccion_conversion\": \"alta|media|baja|necesita_incentivo\",\n  \"incentivo_sugerido\": \"anclar_valor|urgencia_medica|prueba_social|empatia_profunda|educacion_medica|conveniencia|ninguno\",\n  \"barrera_principal\": \"precio|miedo|tiempo|distancia|desconfianza|ninguna\",\n  \"detalle_barrera\": \"string\",\n  \"nivel_compromiso\": 1,\n  \"senales_precio\": {\n    \"pregunto_precio\": false,\n    \"menciono_presupuesto\": false,\n    \"indicadores\": [\"string\"],\n    \"nivel_sensibilidad\": \"ninguna|leve|moderada|alta\"\n  },\n  \"sintomas_estructurados\": [\n    {\"nombre\": \"string\", \"descripcion_original\": \"string\", \"severidad\": \"leve|moderada|severa\", \"tiempo_evolucion\": \"string o null\"}\n  ],\n  \"banderas_rojas\": [\"string\"],\n  \"urgencia_percibida\": \"normal|alta|emergencia\",\n  \"tiempo_evolucion_general\": \"string o null\",\n  \"datos_relevantes\": {\n    \"ocupacion\": \"string o null\",\n    \"antecedentes_mencionados\": [\"string\"],\n    \"medicamentos_mencionados\": [\"string\"],\n    \"para_quien\": \"para_si_mismo|para_familiar|para_otro\"\n  },\n  \"edad_detectada\": \"string o null\",\n  \"pregunto_precio\": false,\n  \"siguiente_paso_ideal\": \"string\"\n}\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nNOTA OPERATIVA PARA \"siguiente_paso_ideal\"\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nGenera una recomendación concreta para el bot. Usa estas reglas en ORDEN DE PRIORIDAD:\n\n1. Si urgencia_percibida = \"emergencia\":\n   → \"derivar a urgencias inmediatamente y ofrecer seguimiento posterior en consulta\"\n\n2. Si tema_detectado = \"circuncision\" Y cualificado = false:\n   → \"calificar al paciente primero: preguntar para quién es y si tiene alguna molestia. NO dar precio de cirugía todavía\"\n\n3. Si tema_detectado = \"circuncision\" Y cualificado = true Y intencion = \"preguntar_precio\":\n   → \"dar precio de referencia de circuncisión ($16,000) aclarando que el costo final se define en consulta ($1,200) e invitar a agendar\"\n\n4. Si tema_detectado = \"circuncision\" Y cualificado = true Y intencion ≠ \"preguntar_precio\":\n   → \"dar valor del procedimiento (láser CO2, ambulatorio, sin dolor) y ofrecer consulta de valoración ($1,200)\"\n\n5. Si intencion = \"preguntar_precio\" (no circuncisión):\n   → \"dar precio de consulta, explicar qué incluye, y preguntar si desea agendar\"\n\n6. Si intencion = \"consultar_disponibilidad\":\n   → \"usar DISPONIBILIDAD_CALENDARIO, ofrecer 2-3 opciones y pedir preferencia\"\n\n7. Si intencion = \"expresar_sintomas\":\n   → \"validar síntomas, aplicar vacío clínico, y proponer consulta con precio\"\n\n8. Si intencion = \"agendar_listo\":\n   → \"confirmar datos (nombre, sede, horario) y usar AGENDAR_CONSULTA\"\n\n9. Si intencion = \"saludo\" o \"solo_informacion\":\n   → \"responder cálidamente y hacer pregunta calificadora para entender su necesidad\"\n\n10. Si intencion = \"objecion\":\n    → \"abordar la objeción específica con empatía y reconducir hacia el valor de la consulta\"\n\n11. Si intencion = \"rechazo\":\n    → \"respetar la decisión, dejar puerta abierta\"\n```\n",
        "needsFallback": true
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        18144,
        7424
      ],
      "id": "7c38deb0-dd7a-4da4-a87a-da2b3dbd0eda",
      "name": "6️⃣ Analizar Gemini",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        18160,
        7648
      ],
      "id": "30d5c646-1787-49d6-a8ad-06fa90a7a138",
      "name": "Gemini Analizador",
      "credentials": {
        "googlePalmApi": {
          "id": "dlAhoVkOPGtESarh",
          "name": "GOOGLE UROBOT"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ═══════════════════════════════════════════════════════════════════\n// 7️⃣ PROCESAR ANÁLISIS (UROBOT V2 - Behavioral Intelligence + Clinical)\n// ═══════════════════════════════════════════════════════════════════\n\nconst ctx = $('5️⃣ Procesar Contexto').first()?.json || {};\nconst analysisRaw = $input.first()?.json?.text || '{}';\n\n// === PARSE DEL JSON DE LA IA ===\nlet analisis = {};\ntry {\n  let cleaned = analysisRaw.replace(/```json|```/gi, '').trim();\n  const match = cleaned.match(/\\{[\\s\\S]*\\}/);\n  if (match) cleaned = match[0];\n  analisis = JSON.parse(cleaned);\n} catch (e) {\n  analisis = { \n    intencion_principal: 'otro', \n    perfil_paciente: 'solo_curiosidad',\n    emociones_detectadas: [],\n    sintomas_estructurados: [], \n    banderas_rojas: [],\n    urgencia_percibida: 'normal',\n    nivel_compromiso: 5,\n    prediccion_conversion: 'media',\n    incentivo_sugerido: 'ninguno',\n    barrera_principal: 'ninguna',\n    senales_precio: { pregunto_precio: false, nivel_sensibilidad: 'ninguna' }\n  };\n}\n\n// === INTENCIÓN ===\nconst intencionPrincipal = analisis.intencion_principal || analisis.intencion || 'otro';\n\n// === PERFIL Y COMPORTAMIENTO ===\nconst perfilPaciente = analisis.perfil_paciente || 'solo_curiosidad';\nconst emocionesDetectadas = Array.isArray(analisis.emociones_detectadas) ? analisis.emociones_detectadas : [];\nconst nivelCompromiso = analisis.nivel_compromiso || 5;\nconst prediccionConversion = analisis.prediccion_conversion || 'media';\nconst incentivoSugerido = analisis.incentivo_sugerido || 'ninguno';\nconst barrieraPrincipal = analisis.barrera_principal || 'ninguna';\nconst detalleBarrera = analisis.detalle_barrera || '';\n\n// === SEÑALES DE PRECIO ===\nconst senalesPrecio = analisis.senales_precio || {};\nconst preguntoPrecioNuevo = senalesPrecio.pregunto_precio || analisis.pregunto_precio || false;\nconst mencionoPresupuesto = senalesPrecio.menciono_presupuesto || false;\nconst indicadoresPrecio = Array.isArray(senalesPrecio.indicadores) ? senalesPrecio.indicadores : [];\nconst nivelSensibilidadPrecio = senalesPrecio.nivel_sensibilidad || 'ninguna';\n\n// === DATOS RELEVANTES ===\nconst datosRelevantes = analisis.datos_relevantes || {};\nconst ocupacion = datosRelevantes.ocupacion || null;\nconst antecedentesMencionados = Array.isArray(datosRelevantes.antecedentes_mencionados) ? datosRelevantes.antecedentes_mencionados : [];\nconst medicamentosMencionados = Array.isArray(datosRelevantes.medicamentos_mencionados) ? datosRelevantes.medicamentos_mencionados : [];\nconst paraQuien = datosRelevantes.para_quien || 'para_si_mismo';\n\n// === OTROS CAMPOS ===\nconst sentimiento = analisis.sentimiento || 'neutro';\nconst tonoEmocional = analisis.tono_emocional || emocionesDetectadas.join(', ');\nconst fechaMencionada = analisis.fecha_mencionada || null;\nconst horaMencionada = analisis.hora_mencionada || null;\nconst edadDetectada = analisis.edad_detectada || null;\nconst siguientePaso = analisis.siguiente_paso_ideal || '';\n\n// === VALIDACIÓN DE NOMBRE (anti-síntoma) ===\nconst terminosMedicos = new Set([\n  'disuria', 'hematuria', 'polaquiuria', 'nicturia', 'incontinencia',\n  'litiasis', 'varicocele', 'hidrocele', 'fimosis', 'prostatitis',\n  'cistitis', 'pielonefritis', 'ureteritis', 'uretritis',\n  'disfuncion', 'erectil', 'impotencia', 'infertilidad',\n  'dolor', 'ardor', 'sangre', 'piedra', 'calculo', 'riñon',\n  'hola', 'buenos', 'dias', 'días', 'buenas', 'tardes', 'noches',\n  'gracias', 'ok', 'si', 'sí', 'no', 'claro', 'dale', 'va',\n  'perfecto', 'bien', 'orina', 'orinar', 'prostata', 'próstata',\n  'testiculo', 'testículo', 'pene', 'vejiga', 'retencion'\n]);\nconst rawNombre = analisis.nombre_detectado || null;\nconst nombreDetectado = (rawNombre && !terminosMedicos.has(rawNombre.toLowerCase().trim()) && rawNombre.length > 1 && rawNombre.length < 60) ? rawNombre : null;\n\n// === PROCESAMIENTO DE URGENCIA (NUNCA BAJAR) ===\nconst urgenciaNueva = analisis.urgencia_percibida || 'normal';\nconst urgenciaPrevia = ctx.urgencia_percibida || 'normal';\nconst ordenUrgencia = { 'normal': 1, 'alta': 2, 'emergencia': 3 };\nconst urgenciaFinal = (ordenUrgencia[urgenciaNueva] || 1) >= (ordenUrgencia[urgenciaPrevia] || 1)\n  ? urgenciaNueva \n  : urgenciaPrevia;\nconst esUrgenciaMedica = urgenciaFinal === 'emergencia' || urgenciaFinal === 'alta';\n\n// === SÍNTOMAS ESTRUCTURADOS ===\nconst sintomasNuevos = Array.isArray(analisis.sintomas_estructurados)\n  ? analisis.sintomas_estructurados.filter(s => s && s.nombre)\n  : [];\n\nlet sintomasPrevios = [];\nif (Array.isArray(ctx.sintomas_acumulados)) {\n  sintomasPrevios = ctx.sintomas_acumulados.map(s => {\n    if (typeof s === 'string') {\n      return { nombre: s, descripcion_original: s, severidad: 'moderada', tiempo_evolucion: null };\n    }\n    return s;\n  });\n}\n\n// Merge inteligente: no duplicar por nombre, actualizar severidad si es mayor\nconst ordenSeveridad = { 'leve': 1, 'moderada': 2, 'severa': 3 };\nconst sintomasMerged = [...sintomasPrevios];\nfor (const sintomaNew of sintomasNuevos) {\n  const nombreLower = (sintomaNew.nombre || '').toLowerCase();\n  const existente = sintomasMerged.find(s => (s.nombre || '').toLowerCase() === nombreLower);\n  if (!existente) {\n    sintomasMerged.push(sintomaNew);\n  } else {\n    const sevExistente = ordenSeveridad[existente.severidad] || 2;\n    const sevNueva = ordenSeveridad[sintomaNew.severidad] || 2;\n    if (sevNueva > sevExistente) existente.severidad = sintomaNew.severidad;\n    if (!existente.tiempo_evolucion && sintomaNew.tiempo_evolucion) {\n      existente.tiempo_evolucion = sintomaNew.tiempo_evolucion;\n    }\n    if (sintomaNew.descripcion_original && sintomaNew.descripcion_original !== sintomaNew.nombre) {\n      existente.descripcion_original = sintomaNew.descripcion_original;\n    }\n  }\n}\nconst sintomasNombres = sintomasMerged.map(s => s.nombre).filter(Boolean);\n\n// === BANDERAS ROJAS (ACUMULATIVAS) ===\nconst banderasNuevas = Array.isArray(analisis.banderas_rojas) ? analisis.banderas_rojas : [];\nconst banderasPrevias = Array.isArray(ctx.banderas_rojas_previas) ? ctx.banderas_rojas_previas : [];\nconst banderasMerged = [...new Set([...banderasPrevias, ...banderasNuevas])];\n\n// === TIEMPO DE EVOLUCIÓN ===\nconst tiempoEvolucion = analisis.tiempo_evolucion_general ||\n  sintomasNuevos.find(s => s.tiempo_evolucion)?.tiempo_evolucion ||\n  ctx.tiempo_evolucion || null;\n\n// === PREGUNTÓ PRECIO (ACUMULATIVO) ===\nconst preguntoPrecio = preguntoPrecioNuevo || ctx.pregunto_precio || false;\n\n// === RETORNAR DATOS COMPLETOS ===\nreturn [{\n  json: {\n    ...ctx,\n    intencion_principal: intencionPrincipal,\n    intencion: intencionPrincipal,\n    perfil_paciente: perfilPaciente,\n    emociones_detectadas: emocionesDetectadas,\n    nivel_compromiso: nivelCompromiso,\n    prediccion_conversion: prediccionConversion,\n    incentivo_sugerido: incentivoSugerido,\n    barrera_principal: barrieraPrincipal,\n    detalle_barrera: detalleBarrera,\n    senales_precio: senalesPrecio,\n    nivel_sensibilidad_precio: nivelSensibilidadPrecio,\n    indicadores_precio: indicadoresPrecio,\n    menciono_presupuesto: mencionoPresupuesto,\n    ocupacion,\n    antecedentes_mencionados: antecedentesMencionados,\n    medicamentos_mencionados: medicamentosMencionados,\n    para_quien: paraQuien,\n    edad_detectada: edadDetectada,\n    sentimiento,\n    tono_emocional: tonoEmocional,\n    nombre_detectado: nombreDetectado,\n    siguiente_paso_ideal: siguientePaso,\n    fecha_mencionada: fechaMencionada,\n    hora_mencionada: horaMencionada,\n    urgencia_percibida: urgenciaFinal,\n    es_urgencia_medica: esUrgenciaMedica,\n    sintomas_estructurados: sintomasMerged,\n    sintomas_merged: sintomasNombres,\n    banderas_rojas: banderasMerged,\n    tiempo_evolucion: tiempoEvolucion,\n    pregunto_precio: preguntoPrecio,\n    tiene_historial_real: (ctx.historial_mensajes || '').length > 50,\n    es_primera_interaccion: !((ctx.historial_mensajes || '').length > 50) && (ctx.total_mensajes || 0) <= 1\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        18496,
        7424
      ],
      "id": "e5fa727f-ef22-4d99-9981-f8c6c0b186fb",
      "name": "7️⃣ Procesar Análisis",
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM upsert_lead_v13(\n  $1::text,     -- telefono\n  $2::text,     -- nombre\n  $3::text,     -- fuente\n  $4::text,     -- canal\n  $5::text,     -- mensaje\n  $6::text,     -- intencion\n  $7::text,     -- urgencia\n  $8::text[],   -- sintomas_nuevos\n  $9::text[],   -- banderas_rojas\n  $10::boolean, -- pregunto_precio\n  $11::text,    -- sentimiento\n  $12::text,    -- tiempo_evolucion\n  $13::text,    -- fit_servicio\n  $14::text,    -- para_quien\n  $15::text[],  -- objeciones\n  $16::text,    -- campana_id\n  $17::text,    -- campana_headline\n  $18::text,    -- campana_url\n  $19::text,    -- ctwa_clid\n  $20::jsonb,   -- referral_data\n  $21::jsonb    -- signals\n)",
        "options": {
          "queryReplacement": "={{ [\n  $json.telefono || '',\n  $json.nombre_detectado || $json.nombreUsuario || $json.nombre_confirmado || 'Usuario',\n  $json.es_meta_ads ? 'meta_ads' : ($json.fuente || 'whatsapp_directo'),\n  $json.es_meta_ads ? 'meta_ads' : 'organico',\n  ($json.mensajeUsuario || '').substring(0, 5000),\n  $json.intencion_principal || $json.intencion || 'otro',\n  $json.urgencia_percibida || 'bajo',\n  ($json.sintomas_merged || []).slice(0, 10),\n  $json.banderas_rojas || [],\n  $json.pregunto_precio === true,\n  $json.sentimiento || 'neutro',\n  $json.tiempo_evolucion || null,\n  $json.prediccion_conversion === 'alta' ? 'alto' : ($json.prediccion_conversion === 'media' ? 'medio' : 'bajo'),\n  $json.para_quien === 'para_si_mismo' ? 'mismo' : 'otro',\n  $json.barrera_principal && $json.barrera_principal !== 'ninguna' ? [$json.barrera_principal] : [],\n  $json.meta_campana_id || null,\n  $json.meta_headline || null,\n  $json.meta_source_url || null,\n  $json.meta_ctwa_clid || null,\n  null,\n  JSON.stringify({\n    perfil_paciente: $json.perfil_paciente || null,\n    emociones: $json.emociones_detectadas || [],\n    nivel_compromiso: $json.nivel_compromiso || null,\n    prediccion_conversion: $json.prediccion_conversion || null,\n    incentivo_sugerido: $json.incentivo_sugerido || null,\n    barrera_principal: $json.barrera_principal || null,\n    pregunto_precio: $json.pregunto_precio === true,\n    sintomas_estructurados: $json.sintomas_estructurados || [],\n    senales_precio: $json.senales_precio || null,\n    tema_detectado: $json.tema_detectado || null,\n    cualificado: $json.cualificado === true\n  })\n] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        18720,
        7424
      ],
      "id": "5eefe0ca-5c7d-442b-afe3-f9a0ea257aa5",
      "name": "8️⃣ Guardar Lead",
      "credentials": {
        "postgres": {
          "id": "LZyK5sbzVT7Dy3RU",
          "name": "Postgres urobot"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT puede_enviar_mensaje_whatsapp($1::text, 2, 10, 30) as resultado",
        "options": {
          "queryReplacement": "={{ [$json.telefono || $('1️⃣ Validar y Normalizar').first().json.telefono] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        18944,
        7424
      ],
      "id": "c68a5b39-4066-4e77-aa6f-0c2bf74d4bdd",
      "name": "🛡️ Anti-Baneo Check",
      "credentials": {
        "postgres": {
          "id": "LZyK5sbzVT7Dy3RU",
          "name": "Postgres urobot"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "puede-enviar",
              "leftValue": "={{ $json.resultado?.puede_enviar }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        19168,
        7424
      ],
      "id": "a60f4879-8f48-43bb-b905-8d697521f8f4",
      "name": "🚦 ¿Puede Enviar?"
    },
    {
      "parameters": {
        "jsCode": "// ═══════════════════════════════════════════════════════════════════\n// 🏷️ CLASIFICADOR HÍBRIDO UROBOT v2 - TÚ + USTED + multi-line\n// ═══════════════════════════════════════════════════════════════════\n\nconst ctx = $('9️⃣ Formatear Contexto').first()?.json || {};\nconst limpioData = $('🧹 Limpiar Respuesta').first()?.json || {};\nconst texto = limpioData.text || '';\nconst t = texto.toLowerCase();\nconst parrafos = texto.split(/\\n\\n+/).filter(p => p.trim());\nconst ultimoParrafo = (parrafos[parrafos.length - 1] || texto).toLowerCase();\n// Texto completo sin saltos de línea para regex multi-line\nconst tFlat = t.replace(/\\n/g, ' ');\n\nfunction clasificarHibrido() {\n  // ── PASO 1: CONFIRMACIÓN de cita (alta prioridad) ──\n  // Bot confirma que la cita quedó agendada/reservada\n  if (/qued(ó|a)?\\s*(agendad|reservad|formalmente)|ya qued(ó|a)|su cita.*confirm|tu cita.*confirm|listo.*reserv|queda reservad/i.test(t)) return 'confirmacion';\n  // Bot pide nombre completo para agendar\n  if (/confirm(a|e)me (tu|su) nombre|(tu|su) nombre completo|para (generar|abrir).*expediente|necesito su nombre/i.test(t)) return 'confirmacion';\n\n  // ── PASO 2: HORARIOS DADOS (bot mostró disponibilidad real) ──\n  // Detecta días + horas en el texto (multi-line safe con tFlat)\n  if (/(lunes|martes|mi[eé]rcoles|jueves|viernes|s[aá]bado)[\\s\\S]{0,60}\\d{1,2}[:\\.]?\\d{0,2}\\s*(hrs|hr|pm|am|p\\.m|a\\.m)?/i.test(tFlat)) {\n    // Si además hay pregunta = pidiendo que elija horario\n    if (/\\?/.test(t)) return 'horarios_dados';\n    // Si menciona \"disponible/espacio/tengo\" = mostrando opciones\n    if (/disponib|espacio|tengo|le queda/i.test(t)) return 'horarios_dados';\n  }\n  // Patrón directo: hora + pregunta (multi-line safe)\n  if (/\\d{1,2}:\\d{2}\\s*(pm|am|hrs|p\\.m|a\\.m)?[\\s\\S]{0,80}\\?/i.test(tFlat)) return 'horarios_dados';\n  // \"te/le queda/funciona/parece este horario\"\n  if (/(te|le) (queda|funciona|parece|acomoda)[\\s\\S]{0,30}(horario|hora|espacio)|apartarlo|apart[aá]rselo/i.test(tFlat)) return 'horarios_dados';\n\n  // ── PASO 3: OFERTA DE CITA (bot invita a agendar) ──\n  // USTED patterns (el bot habla de usted por defecto)\n  if (/le (busco|consigo|agendo|aparto)\\s*(un\\s*)?(espacio|horario|cita|lugar)/i.test(t)) return 'oferta_cita';\n  if (/le (gustar[ií]a|interesa)\\s*(que le)?\\s*(busque|agende|aparte|consiga)/i.test(t)) return 'oferta_cita';\n  if (/le queda mejor.*(polanco|sat[eé]lite|sede)|cu[aá]l sede le/i.test(t)) return 'oferta_cita';\n  if (/en cu[aá]l sede le (acomoda|queda|conviene)/i.test(t)) return 'oferta_cita';\n  if (/quiere que le (agende|busque|aparte)/i.test(t)) return 'oferta_cita';\n  // TÚ patterns (si el paciente tutea)\n  if (/te (gustar[ií]a|interesa).*agendar|te ofrezca.*espacio|quieres.*cita/i.test(t)) return 'oferta_cita';\n  // Cierre suave con sede\n  if (/polanco o sat[eé]lite/i.test(ultimoParrafo) && /\\?/.test(ultimoParrafo)) return 'oferta_cita';\n\n  // ── PASO 4: DESCUBRIMIENTO (pregunta médica) ──\n  if (/\\?/.test(ultimoParrafo) && /s[ií]ntoma|siente|cu[aá]ndo|molest|orin|dolor|ard|sangr|pr[oó]stat|levant|ba[nñ]o|noche/i.test(ultimoParrafo)) return 'descubrimiento';\n\n  // ── PASO 5: Fallbacks por contenido ──\n  if (/recuerda.*cita|no olvides|te esperamos|le esperamos|cualquier.*duda.*(aqu[ií]|estamos)/i.test(t)) return 'seguimiento';\n  if (/\\$\\s*\\d|precio|costo|consult.*incluye|honorario|\\d[,.]?\\d{3}\\s*(mxn|pesos)/i.test(t)) {\n    if (/disponib|espacio|lunes|martes|mi[eé]rcoles|jueves|viernes|s[aá]bado/i.test(t)) return 'horarios_dados';\n    return 'precio_dado';\n  }\n  if (/ubicaci|direcci|blvd|colonia|consultorio|hospital.*[aá]ngeles|san.*[aá]ngel/i.test(t)) return 'ubicacion_dada';\n  if (/urgencia|emergencia|acudir.*inmediatamente|urolog.*guardia/i.test(t)) return 'escalamiento';\n  if (/bienvenid|encantado|mucho gusto|soy.*dr|asistente.*dr|qu[eé] gusto que nos escribe/i.test(t)) return 'bienvenida';\n\n  return 'conversacion';\n}\n\nconst faseConversacion = clasificarHibrido();\n\n// Determinar si el bot espera respuesta\nconst esperaRespuesta = /\\?/.test(ultimoParrafo) || \n  ['descubrimiento', 'horarios_dados', 'oferta_cita', 'confirmacion'].includes(faseConversacion);\n\n// Acción del bot → mapea a valores que transition_lead_estado reconoce\nconst accionesMap = {\n  'confirmacion': 'confirmar_cita',\n  'horarios_dados': 'mostrar_horarios',\n  'oferta_cita': 'ofrecer_cita',\n  'descubrimiento': 'evaluar_sintomas',\n  'precio_dado': 'informar_precio',\n  'ubicacion_dada': 'informar_ubicacion',\n  'escalamiento': 'escalar_urgente',\n  'seguimiento': 'recordar_cita',\n  'bienvenida': 'presentarse',\n  'conversacion': 'continuar'\n};\nconst accionBot = accionesMap[faseConversacion] || 'continuar';\n\nreturn [{\n  json: {\n    ...ctx,\n    text: limpioData.text || '',\n    fase_conversacion: faseConversacion,\n    accion_bot: accionBot,\n    espera_respuesta: esperaRespuesta,\n    conversacion_id: ctx.conversacion_id || null\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        20816,
        7296
      ],
      "id": "9754cfa9-65cd-4079-b894-9b9e078cf3bc",
      "name": "🏷️ Procesar Clasificación",
      "continueOnFail": true
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        18288,
        7648
      ],
      "id": "02461dd2-b490-4d75-99ff-1b138b1b6047",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "dlAhoVkOPGtESarh",
          "name": "GOOGLE UROBOT"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-3-flash-preview",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        19744,
        7520
      ],
      "id": "a4c96e59-c870-4078-8f9a-7cce1cd8387d",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "dlAhoVkOPGtESarh",
          "name": "GOOGLE UROBOT"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT (r->>'bloqueado')::boolean AS bloqueado, r->>'motivo' AS motivo, r->>'tipo' AS tipo FROM check_numero_bloqueado($1::text) AS r",
        "options": {
          "queryReplacement": "={{ [$('1️⃣ Validar y Normalizar').first().json.telefono] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        15904,
        7424
      ],
      "id": "ae2f500c-3900-404d-a360-3619693abd52",
      "name": "🛑 Check Bloqueo DB",
      "credentials": {
        "postgres": {
          "id": "LZyK5sbzVT7Dy3RU",
          "name": "Postgres urobot"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "not-blocked",
              "leftValue": "={{ $json.bloqueado }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        16128,
        7424
      ],
      "id": "eb95c5df-ba69-4128-bc40-a06751f817f9",
      "name": "🛑 ¿Bloqueado?"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT CASE\n  WHEN $2 IN ('confirmar_cita', 'agendar_cita', 'cita_agendada', 'cita_confirmada', 'crear_cita') THEN\n    transition_lead_estado($1::uuid, 'cita_agendada', 'bot', $2)\n  WHEN $2 IN ('ofrecer_cita', 'mostrar_disponibilidad', 'consultar_calendario', 'mostrar_horarios', 'enviar_disponibilidad') THEN\n    transition_lead_estado($1::uuid, 'cita_propuesta', 'bot', $2)\n  ELSE\n    jsonb_build_object('success', true, 'changed', false, 'reason', 'no transition for ' || $2)\nEND as result",
        "options": {
          "queryReplacement": "={{ [$('8️⃣ Guardar Lead').first().json.out_lead_id, $('🏷️ Procesar Clasificación').first().json.accion_bot || 'continuar'] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        21488,
        7296
      ],
      "id": "03f46fb5-f54d-4f15-bb20-f38d71922a8b",
      "name": "🔄 Actualizar Estado Lead",
      "credentials": {
        "postgres": {
          "id": "LZyK5sbzVT7Dy3RU",
          "name": "Postgres urobot"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const ctx = $('9️⃣ Formatear Contexto').first()?.json || $('5️⃣ Procesar Contexto').first()?.json || {};\nconsole.log(`⏸️ Anti-Baneo SKIP: ${ctx.telefono || 'desconocido'} - mensaje no enviado por rate limit`);\nreturn [{ json: { skipped: true, reason: 'anti_baneo', telefono: ctx.telefono || '' } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        19392,
        7488
      ],
      "id": "26fcf3a7-4ec8-4a0f-b217-6f01953c1280",
      "name": "⏸️ Skip Anti-Baneo",
      "continueOnFail": true
    }
  ],
  "pinData": {
    "WhatsApp Trigger": [
      {
        "json": {
          "messaging_product": "whatsapp",
          "metadata": {
            "display_phone_number": "5215569109230",
            "phone_number_id": "1012549211941127"
          },
          "contacts": [
            {
              "profile": {
                "name": "Ángel Beltrán"
              },
              "wa_id": "5215581785196"
            }
          ],
          "messages": [
            {
              "from": "5215581785196",
              "id": "wamid.HBgNNTIxNTU4MTc4NTE5NhUCABIYIEFDNEYxNkExOTY3MDAwRTY0ODNFRTFBOEY2QUYzNjBEAA==",
              "timestamp": "1772463020",
              "text": {
                "body": "3 pm"
              },
              "type": "text"
            }
          ],
          "field": "messages"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "🚫 Filtrar Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "🚫 Filtrar Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🚫 Filtrar Status": {
      "main": [
        [
          {
            "node": "⚡ Rate Limit Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⚡ Rate Limit Check": {
      "main": [
        [
          {
            "node": "🚦 Rate OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🚦 Rate OK?": {
      "main": [
        [
          {
            "node": "📱 Tipo Media?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📱 Tipo Media?": {
      "main": [
        [
          {
            "node": "WA Get URL Imagen",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "WA Get URL Audio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Texto Documento",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Texto Normal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WA Get URL Imagen": {
      "main": [
        [
          {
            "node": "HTTP Descargar Imagen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Vision": {
      "main": [
        [
          {
            "node": "Set Texto Imagen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Texto Imagen": {
      "main": [
        [
          {
            "node": "Summarize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WA Get URL Audio": {
      "main": [
        [
          {
            "node": "HTTP Descargar Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Whisper": {
      "main": [
        [
          {
            "node": "Set Texto Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Texto Audio": {
      "main": [
        [
          {
            "node": "Summarize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Texto Documento": {
      "main": [
        [
          {
            "node": "Summarize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Texto Normal": {
      "main": [
        [
          {
            "node": "1️⃣ Validar y Normalizar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize": {
      "main": [
        [
          {
            "node": "1️⃣ Validar y Normalizar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1️⃣ Validar y Normalizar": {
      "main": [
        [
          {
            "node": "🔒 Check Rate Limit DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔒 Check Rate Limit DB": {
      "main": [
        [
          {
            "node": "🔒 Rate Limit OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔒 Rate Limit OK?": {
      "main": [
        [
          {
            "node": "🛑 Check Bloqueo DB",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "⏳ Rate Limit Msg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🛑 Check Bloqueo DB": {
      "main": [
        [
          {
            "node": "🛑 ¿Bloqueado?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🛑 ¿Bloqueado?": {
      "main": [
        [
          {
            "node": "2️⃣ Upsert Conversación",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2️⃣ Upsert Conversación": {
      "main": [
        [
          {
            "node": "3️⃣ Guardar Mensaje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3️⃣ Guardar Mensaje": {
      "main": [
        [
          {
            "node": "📝 Registrar Debounce",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📝 Registrar Debounce": {
      "main": [
        [
          {
            "node": "⏳ Debounce 5s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⏳ Debounce 5s": {
      "main": [
        [
          {
            "node": "🔍 Check Debounce",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔍 Check Debounce": {
      "main": [
        [
          {
            "node": "¿Soy Último?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Soy Último?": {
      "main": [
        [
          {
            "node": "4️⃣ Cargar Contexto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4️⃣ Cargar Contexto": {
      "main": [
        [
          {
            "node": "5️⃣ Procesar Contexto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "5️⃣ Procesar Contexto": {
      "main": [
        [
          {
            "node": "6️⃣ Analizar Gemini",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "9️⃣ Formatear Contexto": {
      "main": [
        [
          {
            "node": "🤖 AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🤖 AI Agent": {
      "main": [
        [
          {
            "node": "🧹 Limpiar Respuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🧹 Limpiar Respuesta": {
      "main": [
        [
          {
            "node": "🏷️ Procesar Clasificación",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar WhatsApp": {
      "main": [
        [
          {
            "node": "💾 Guardar Respuesta Bot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💾 Guardar Respuesta Bot": {
      "main": [
        [
          {
            "node": "🔄 Actualizar Estado Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "🤖 AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "🔄 Actualizar Estado Lead": {
      "main": [
        [
          {
            "node": "📊 Registrar Rate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'DISPONIBILIDAD_CALENDARIO'": {
      "ai_tool": [
        [
          {
            "node": "🤖 AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Call 'AGENDAR_CONSULTA'": {
      "ai_tool": [
        [
          {
            "node": "🤖 AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Call 'CANCELAR_CONSULTA'": {
      "ai_tool": [
        [
          {
            "node": "🤖 AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Call 'REAGENDAR_CONSULTA'": {
      "ai_tool": [
        [
          {
            "node": "🤖 AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Descargar Imagen": {
      "main": [
        [
          {
            "node": "OpenAI Vision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Descargar Audio": {
      "main": [
        [
          {
            "node": "OpenAI Whisper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "🤖 AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "6️⃣ Analizar Gemini": {
      "main": [
        [
          {
            "node": "7️⃣ Procesar Análisis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Analizador": {
      "ai_languageModel": [
        [
          {
            "node": "6️⃣ Analizar Gemini",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "7️⃣ Procesar Análisis": {
      "main": [
        [
          {
            "node": "8️⃣ Guardar Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "8️⃣ Guardar Lead": {
      "main": [
        [
          {
            "node": "🛡️ Anti-Baneo Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🛡️ Anti-Baneo Check": {
      "main": [
        [
          {
            "node": "🚦 ¿Puede Enviar?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🚦 ¿Puede Enviar?": {
      "main": [
        [
          {
            "node": "9️⃣ Formatear Contexto",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "⏸️ Skip Anti-Baneo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🏷️ Procesar Clasificación": {
      "main": [
        [
          {
            "node": "Enviar WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "6️⃣ Analizar Gemini",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "🤖 AI Agent",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Mexico_City",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": true,
    "timeSavedMode": "fixed",
    "binaryMode": "separate"
  },
  "versionId": "2ae9fb90-350a-4a15-a332-9d5ee403bf25",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8c33c5b047d489bd000bdf4aabe6e4981a2da591f7a11d61031348a2fe3ef66c"
  },
  "id": "MRdxjt5nxJFilgSV",
  "tags": []
}