n8n/UROBOT V2 (2).json
{
  "name": "UROBOT V2",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        12992,
        7328
      ],
      "id": "9e670d22-fd5c-4ab0-a09c-4c0a96c66119",
      "name": "WhatsApp Trigger",
      "webhookId": "urobot-webhook-v2",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "XqAlPOLTYahJax6H",
          "name": "WhatsApp OAuth account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        12992,
        7520
      ],
      "id": "bb6a186d-1e71-4c2c-9578-64cfc8e7b399",
      "name": "When chat message received",
      "webhookId": "urobot-chat-trigger-v2"
    },
    {
      "parameters": {
        "jsCode": "// ═══════════════════════════════════════════════════════════════════\n// 🚫 FILTRO DE STATUS UPDATES - ANTI-LOOP (UROBOT V2)\n// ═══════════════════════════════════════════════════════════════════\n\nconst data = $input.first()?.json || {};\n\n// Chat Trigger support\nif (data.chatInput && !data.messages) {\n  const mockPhone = '526674492872';\n  return [{\n    json: {\n      messages: [{\n        from: mockPhone,\n        id: 'chat-trigger-' + Date.now(),\n        timestamp: Math.floor(Date.now() / 1000).toString(),\n        type: 'text',\n        text: { body: data.chatInput }\n      }],\n      metadata: { phone_number_id: 'test-phone-id' },\n      _fromChatTrigger: true,\n      _sessionId: data.sessionId\n    }\n  }];\n}\n\nif (data.statuses && data.statuses.length > 0) return [];\nif (!data.messages || data.messages.length === 0) return [];\nconst msg = data.messages[0];\nif (!msg.from) return [];\n\nconst referral = msg.referral || {};\nconst esMetaAds = !!(referral.source_url || referral.headline || referral.body || referral.ctwa_clid);\n\nreturn [{\n  json: {\n    ...data,\n    es_meta_ads: esMetaAds,\n    meta_source_url: referral.source_url || null,\n    meta_headline: referral.headline || null,\n    meta_body: referral.body || null,\n    meta_ctwa_clid: referral.ctwa_clid || null,\n    meta_source_id: referral.source_id || null\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        13216,
        7424
      ],
      "id": "bbdaa2c9-c59e-4c0b-b08d-acec390d4acc",
      "name": "🚫 Filtrar Status"
    },
    {
      "parameters": {
        "jsCode": "// ═══════════════════════════════════════════════════════════════════\n// ⚡ RATE LIMIT CHECK (mensaje antiguo > 5 min)\n// ═══════════════════════════════════════════════════════════════════\n\nconst triggerData = $input.first()?.json || {};\nconst messages = triggerData.messages || [];\nconst message = messages[0] || {};\n\nif (!messages.length || !message.from) {\n  return [{ json: { ...triggerData, _rate_limit_ok: false, _reason: 'no_message' } }];\n}\n\nconst timestamp = parseInt(message.timestamp || '0');\nconst now = Math.floor(Date.now() / 1000);\nconst messageAge = now - timestamp;\n\nif (messageAge > 300) {\n  return [{ json: { ...triggerData, _rate_limit_ok: false, _reason: 'mensaje_antiguo' } }];\n}\n\nreturn [{\n  json: {\n    ...triggerData,\n    _rate_limit_ok: true,\n    _telefono: message.from,\n    _mensaje_id: message.id\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        13440,
        7424
      ],
      "id": "7d6762fc-059d-4675-8ad9-5b626a79ca8d",
      "name": "⚡ Rate Limit Check",
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "is-valid",
              "leftValue": "={{ $json._rate_limit_ok }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        13664,
        7424
      ],
      "id": "7a472fdf-fb16-4308-9090-f5f87bac266a",
      "name": "🚦 Rate OK?"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "is-imagen",
                    "leftValue": "={{ $json.messages[0].type }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "imagen"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "is-audio",
                    "leftValue": "={{ $json.messages[0].type }}",
                    "rightValue": "audio",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "is-doc",
                    "leftValue": "={{ $json.messages[0].type }}",
                    "rightValue": "document",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "documento"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        13888,
        7392
      ],
      "id": "5ce478b5-8b13-46f9-bc4e-305c72fca675",
      "name": "📱 Tipo Media?"
    },
    {
      "parameters": {
        "resource": "media",
        "operation": "mediaUrlGet",
        "mediaGetId": "={{ $json.messages[0].image.id }}"
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        14112,
        7152
      ],
      "id": "18f5528c-4475-46be-8d61-14229894adb5",
      "name": "WA Get URL Imagen",
      "webhookId": "5fb9df4d-c913-4688-beec-f7b78f11f96b",
      "credentials": {
        "whatsAppApi": {
          "id": "DD541Xw8r5yWH0yq",
          "name": "WhatsApp account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list"
        },
        "text": "=Eres el módulo de visión de Urobot (asistente de urología del Dr. Mario Martinez).\n\nANALIZA LA IMAGEN Y DESCRIBE:\n\n>>> SI ES FOTO CLÍNICA (estudios de orina, ultrasonido renal/prostático, urograma, TAC, estudios de laboratorio):\n- Tipo de estudio/documento\n- Datos relevantes visibles\n- Cualquier valor anormal que detectes\n- Calidad de la imagen\n\n>>> SI ES DOCUMENTO MÉDICO:\n- Transcribe datos clave (nombre, diagnóstico, valores)\n- Identifica si es receta, estudio de laboratorio, etc.\n\n>>> SI ES IRRELEVANTE:\nIndica que no es contenido médico relevante.\n\nResponde de forma concisa para que el chatbot pueda continuar la conversación.",
        "inputType": "base64",
        "simplify": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        14560,
        7152
      ],
      "id": "006edbf5-fbcd-4966-b7cd-249e5661a52f",
      "name": "OpenAI Vision",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 1000,
      "credentials": {
        "openAiApi": {
          "id": "2OTQUaQlIFM4GPCM",
          "name": "OpenAi account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "img-msg",
              "name": "mensajeUsuario",
              "type": "string",
              "value": "={{ $json.content || $json.text || '[Imagen analizada]' }}"
            },
            {
              "id": "img-origin",
              "name": "_origen_media",
              "type": "string",
              "value": "imagen_analizada"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        14784,
        7152
      ],
      "id": "9b237fa4-5eb3-4d63-ba6f-c4a15d793bf8",
      "name": "Set Texto Imagen"
    },
    {
      "parameters": {
        "resource": "media",
        "operation": "mediaUrlGet",
        "mediaGetId": "={{ $json.messages[0].audio.id }}"
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        14112,
        7344
      ],
      "id": "0248a540-b26c-40ae-9e08-e0bf843cb767",
      "name": "WA Get URL Audio",
      "webhookId": "22387a47-d284-49b6-bff4-a77bc94e4b57",
      "credentials": {
        "whatsAppApi": {
          "id": "DD541Xw8r5yWH0yq",
          "name": "WhatsApp account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {
          "language": "es",
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        14560,
        7344
      ],
      "id": "a8512aae-4447-4e39-bfab-0c26511f128e",
      "name": "OpenAI Whisper",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 1000,
      "credentials": {
        "openAiApi": {
          "id": "2OTQUaQlIFM4GPCM",
          "name": "OpenAi account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "aud-msg",
              "name": "mensajeUsuario",
              "type": "string",
              "value": "={{ $json.text || '[Audio transcrito]' }}"
            },
            {
              "id": "aud-origin",
              "name": "_origen_media",
              "type": "string",
              "value": "audio_transcrito"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        14784,
        7344
      ],
      "id": "f86d4b04-5247-4b21-ae5a-b4eed6ed506d",
      "name": "Set Texto Audio"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "doc-msg",
              "name": "mensajeUsuario",
              "type": "string",
              "value": "=[Documento recibido: {{ $json.messages[0].document.filename || 'archivo' }}]"
            },
            {
              "id": "doc-origin",
              "name": "_origen_media",
              "type": "string",
              "value": "documento"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        14784,
        7536
      ],
      "id": "fb632c2c-dcd0-4228-afe1-94acecea8b37",
      "name": "Set Texto Documento"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "txt-msg",
              "name": "mensajeUsuario",
              "type": "string",
              "value": "={{ $json.messages?.[0]?.text?.body || $json.messages?.[0]?.button?.text || $json.messages?.[0]?.interactive?.button_reply?.title || '' }}"
            },
            {
              "id": "txt-origin",
              "name": "_origen_media",
              "type": "string",
              "value": "texto"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        15008,
        7680
      ],
      "id": "2c1ed517-e7a1-4fc6-acbf-9415c8ae5f63",
      "name": "Set Texto Normal"
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "append",
              "field": "mensajeUsuario"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1.1,
      "position": [
        15008,
        7344
      ],
      "id": "7bdab177-3391-4a47-8269-a830fbd6193d",
      "name": "Summarize"
    },
    {
      "parameters": {
        "jsCode": "// ═══════════════════════════════════════════════════════════════════\n// 1️⃣ VALIDAR Y NORMALIZAR (UROBOT V2)\n// ═══════════════════════════════════════════════════════════════════\n\nconst setTexto = $input.first()?.json || {};\nconst filterData = $('🚫 Filtrar Status').first()?.json || {};\nconst rateData = $('⚡ Rate Limit Check').first()?.json || {};\n\nconst messages = filterData.messages || [];\nconst message = messages[0] || {};\nconst metadata = filterData.metadata || {};\n\nconst telefono = message.from || rateData._telefono || '';\nconst mensajeId = message.id || rateData._mensaje_id || 'msg-' + Date.now();\nconst msgType = message.type || 'text';\nconst fromChatTrigger = filterData._fromChatTrigger === true;\nconst sessionId = filterData._sessionId || mensajeId;\n\nlet mensajeUsuario = setTexto.mensajeUsuario || '';\nif (!mensajeUsuario && msgType === 'text') {\n  mensajeUsuario = message.text?.body || '';\n}\n\nconst contacts = filterData.contacts || [];\nlet nombreUsuario = contacts[0]?.profile?.name || 'Usuario';\n\nconst esMetaAds = filterData.es_meta_ads === true;\nconst metaCtwaClid = filterData.meta_ctwa_clid || null;\nconst metaHeadline = filterData.meta_headline || null;\nconst metaSourceUrl = filterData.meta_source_url || null;\n\nlet fuente = 'organico';\nif (esMetaAds) fuente = 'meta_ads';\n\nlet tipoMedia = 'texto';\nswitch (msgType) {\n  case 'image': tipoMedia = 'imagen'; break;\n  case 'audio': tipoMedia = 'audio'; break;\n  case 'document': tipoMedia = 'documento'; break;\n  default: tipoMedia = 'texto';\n}\n\nreturn [{\n  json: {\n    telefono,\n    nombreUsuario,\n    mensajeUsuario: mensajeUsuario.trim(),\n    mensaje_id_externo: mensajeId,\n    external_chat_id: telefono,\n    tipoMedia,\n    fuente,\n    es_meta_ads: esMetaAds,\n    meta_ctwa_clid: metaCtwaClid,\n    meta_headline: metaHeadline,\n    meta_source_url: metaSourceUrl,\n    phone_number_id: metadata.phone_number_id || '',\n    _fromChatTrigger: fromChatTrigger,\n    _sessionId: sessionId,\n    timestamp: message.timestamp || Math.floor(Date.now() / 1000).toString()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        15232,
        7520
      ],
      "id": "6da98d48-6a6b-435e-a099-7437c35f991e",
      "name": "1️⃣ Validar y Normalizar",
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM check_rate_limit($1::text)",
        "options": {
          "queryReplacement": "={{ [$json.telefono] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        15456,
        7520
      ],
      "id": "ec685748-9e4c-4748-9791-c69f19af86c1",
      "name": "🔒 Check Rate Limit DB",
      "credentials": {
        "postgres": {
          "id": "LZyK5sbzVT7Dy3RU",
          "name": "Postgres urobot"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "rate-ok",
              "leftValue": "={{ $json.puede_responder }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        15680,
        7520
      ],
      "id": "f9d3cebd-4182-46ee-825d-c23785f1e7af",
      "name": "🔒 Rate Limit OK?"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM upsert_conversacion_inteligente($1::text, $2::text, $3::text, $4::text)",
        "options": {
          "queryReplacement": "={{ [$('1️⃣ Validar y Normalizar').first().json.telefono, $('1️⃣ Validar y Normalizar').first().json.nombreUsuario || 'Usuario', 'whatsapp', $('1️⃣ Validar y Normalizar').first().json.external_chat_id] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        16352,
        7424
      ],
      "id": "08870c42-e25e-4102-85da-24d057c2cd5c",
      "name": "2️⃣ Upsert Conversación",
      "credentials": {
        "postgres": {
          "id": "LZyK5sbzVT7Dy3RU",
          "name": "Postgres urobot"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM insertar_mensaje_idempotente($1::text, $2::text, $3::text, $4::text, $5::text, $6::jsonb, $7::text)",
        "options": {
          "queryReplacement": "={{ [$('1️⃣ Validar y Normalizar').first().json.telefono, $('1️⃣ Validar y Normalizar').first().json.nombreUsuario || 'Usuario', 'user', ($('1️⃣ Validar y Normalizar').first().json.mensajeUsuario || '').substring(0, 10000), $('1️⃣ Validar y Normalizar').first().json.tipoMedia === 'texto' ? 'text' : $('1️⃣ Validar y Normalizar').first().json.tipoMedia, '{}', $('1️⃣ Validar y Normalizar').first().json.mensaje_id_externo] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        16576,
        7424
      ],
      "id": "cb0673d8-fed8-4efe-8c2c-0d824869abd6",
      "name": "3️⃣ Guardar Mensaje",
      "credentials": {
        "postgres": {
          "id": "LZyK5sbzVT7Dy3RU",
          "name": "Postgres urobot"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT register_debounce($1::text, $2::text)",
        "options": {
          "queryReplacement": "={{ [$('1️⃣ Validar y Normalizar').first().json.telefono, $('1️⃣ Validar y Normalizar').first().json.mensaje_id_externo] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        16800,
        7424
      ],
      "id": "a843a077-ed7a-44a9-9da9-12eac8d7165c",
      "name": "📝 Registrar Debounce",
      "credentials": {
        "postgres": {
          "id": "LZyK5sbzVT7Dy3RU",
          "name": "Postgres urobot"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        17024,
        7424
      ],
      "id": "88ef35e4-03c8-4c57-8528-54e6732301ae",
      "name": "⏳ Debounce 5s",
      "webhookId": "urobot-debounce-v2"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM check_debounce($1::text, $2::text)",
        "options": {
          "queryReplacement": "={{ [$('1️⃣ Validar y Normalizar').first().json.telefono, $('1️⃣ Validar y Normalizar').first().json.mensaje_id_externo] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        17248,
        7424
      ],
      "id": "5b745823-a700-45bc-acab-bd9bb29416f4",
      "name": "🔍 Check Debounce",
      "credentials": {
        "postgres": {
          "id": "LZyK5sbzVT7Dy3RU",
          "name": "Postgres urobot"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "is-latest",
              "leftValue": "={{ $json.es_ultimo }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        17472,
        7424
      ],
      "id": "685895a8-214c-4376-a275-7bcc0141d469",
      "name": "¿Soy Último?"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT obtener_contexto_urobot_v2($1) as contexto",
        "options": {
          "queryReplacement": "={{ [$('1️⃣ Validar y Normalizar').first().json.telefono] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        17696,
        7424
      ],
      "id": "36d7587e-af5f-49cc-8428-49788b7441d5",
      "name": "4️⃣ Cargar Contexto",
      "credentials": {
        "postgres": {
          "id": "LZyK5sbzVT7Dy3RU",
          "name": "Postgres urobot"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// ═══════════════════════════════════════════════════════════════════\n// 5️⃣ PROCESAR CONTEXTO (UROBOT V2)\n// ═══════════════════════════════════════════════════════════════════\n\nconst normalizado = $('1️⃣ Validar y Normalizar').first()?.json || {};\nconst convResult = $('2️⃣ Upsert Conversación').first()?.json || {};\nconst ctxRawInput = $input.first()?.json?.contexto;\n\nlet ctx = {};\ntry {\n  ctx = typeof ctxRawInput === 'string' ? JSON.parse(ctxRawInput) : (ctxRawInput || {});\n} catch (e) {\n  ctx = {};\n}\n\nconst {\n  historial_mensajes: historial = '',\n  ultimo_mensaje_bot: ultimoBot = '',\n  sintomas_acumulados: sintomasRaw = [],\n  banderas_rojas: banderasPrev = [],\n  lead_id: leadId = null,\n  es_paciente: esPaciente = false,\n  pregunto_precio: preguntoPrecio = false,\n  funnel_stage: funnelPrevio = '01_contactado',\n  total_mensajes: totalMensajes = 0,\n  nombre: nombreContexto,\n  temperatura = 'frio',\n  score_total: scoreTotal = 0,\n  es_urgencia: esUrgencia = false,\n  tiene_cita_pendiente: tieneCita = false,\n  cita_pendiente: citaPendiente = null,\n  accion_recomendada: accionRecomendada = null,\n  es_primera_interaccion: esPrimera = true\n} = ctx;\n\nconst sintomasArray = Array.isArray(sintomasRaw) ? sintomasRaw : [];\nconst sintomasTexto = sintomasArray.join(', ');\n\nconst nombreFinal = nombreContexto && nombreContexto !== 'Usuario'\n  ? nombreContexto\n  : (normalizado.nombreUsuario || 'Usuario');\n\nreturn [{\n  json: {\n    ...ctx,\n    lead_id: leadId,\n    telefono: normalizado.telefono,\n    nombreUsuario: nombreFinal,\n    nombre_confirmado: ctx.nombre_confirmado ? nombreContexto : null,\n    mensajeUsuario: normalizado.mensajeUsuario,\n    tipoMedia: normalizado.tipoMedia,\n    phone_number_id: normalizado.phone_number_id,\n    conversacion_id: convResult.conversacion_id,\n    historial_mensajes: historial,\n    ultimo_mensaje_bot: ultimoBot,\n    sintomas_texto: sintomasTexto,\n    sintomas_acumulados: sintomasArray,\n    banderas_rojas: banderasPrev,\n    es_paciente: esPaciente,\n    pregunto_precio: preguntoPrecio,\n    funnel_stage: funnelPrevio,\n    total_mensajes: totalMensajes,\n    temperatura,\n    score_total: scoreTotal,\n    es_urgencia: esUrgencia,\n    tiene_cita_pendiente: tieneCita,\n    cita_pendiente: citaPendiente,\n    accion_recomendada: accionRecomendada,\n    es_primera_interaccion: esPrimera,\n    es_meta_ads: normalizado.es_meta_ads,\n    meta_ctwa_clid: normalizado.meta_ctwa_clid,\n    meta_headline: normalizado.meta_headline,\n    fuente: normalizado.fuente,\n    _fromChatTrigger: normalizado._fromChatTrigger\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        17920,
        7424
      ],
      "id": "088d17ad-f318-4dc9-96c3-f3e7fbc9a480",
      "name": "5️⃣ Procesar Contexto",
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// ═══════════════════════════════════════════════════════════════\n// 9️⃣ FORMATEAR CONTEXTO V4 — VPH + Próstata + Circuncisión\n// ═══════════════════════════════════════════════════════════════\n\nconst ctx = $('5️⃣ Procesar Contexto').first()?.json || {};\nconst antiBaneo = $input.first()?.json || {};\n\nconst telefono = ctx.telefono || '';\nconst mensajeUsuario = ctx.mensajeUsuario || '';\nconst historialBD = ctx.historial_mensajes || '';\nconst totalMensajes = ctx.total_mensajes || 0;\n\n// === NAME ===\nconst nombreAnalisis = ctx.nombre_detectado || null;\nconst nombreConv = ctx.nombre_contacto || '';\nconst nombreLead = ctx.nombre_lead || '';\nconst nombreFinal = nombreAnalisis || nombreLead || nombreConv || '';\nconst tenemosNombre = nombreFinal.length > 1 && !/^[\\d+]+$/.test(nombreFinal);\n\n// === CAMPAIGN DETECTION ===\nconst mensaje = mensajeUsuario.toLowerCase();\nconst histLower = (historialBD || '').toLowerCase();\nconst metaHeadline = (ctx.meta_headline || '').toLowerCase();\nconst esPrimera = totalMensajes <= 1;\n\nlet campanaDetectada = 'general';\n\n// Priority: meta headline > current message > history\n// 1) From meta ad headline\nif (/circuncisi[oó]n|fimosis|prepucio|3 señales/i.test(metaHeadline)) {\n  campanaDetectada = 'circuncision';\n} else if (/vph|papiloma|verruga|condiloma/i.test(metaHeadline)) {\n  campanaDetectada = 'vph';\n} else if (/pr[oó]stata|psa|chorro|sueño|despierta|noche.*baño/i.test(metaHeadline)) {\n  campanaDetectada = 'prostata';\n}\n\n// 2) From current message (only if headline didn't match)\nif (campanaDetectada === 'general') {\n  if (/circuncisi[oó]n|fimosis|prepucio/i.test(mensaje)) {\n    campanaDetectada = 'circuncision';\n  } else if (/vph|papiloma|verruga|condiloma|granito|bolita.*pene|lesion.*genital/i.test(mensaje)) {\n    campanaDetectada = 'vph';\n  } else if (/pr[oó]stata|psa|chorro|nocturia|levant.*noche.*orin|orin.*noche/i.test(mensaje)) {\n    campanaDetectada = 'prostata';\n  }\n}\n\n// 3) From history (only if nothing matched yet and not first message)\nif (campanaDetectada === 'general' && !esPrimera) {\n  if (/circuncisi[oó]n|fimosis|prepucio/i.test(histLower)) {\n    campanaDetectada = 'circuncision';\n  } else if (/vph|papiloma|verruga|condiloma/i.test(histLower)) {\n    campanaDetectada = 'vph';\n  } else if (/pr[oó]stata|nocturia|chorro/i.test(histLower)) {\n    campanaDetectada = 'prostata';\n  }\n}\n\n// Override with analyzer tema if available\nconst temaAnalyzer = ctx.tema_detectado || null;\nif (temaAnalyzer === 'circuncision') campanaDetectada = 'circuncision';\nelse if (temaAnalyzer === 'prostata') campanaDetectada = 'prostata';\nelse if (temaAnalyzer === 'vph') campanaDetectada = 'vph';\n\n// === BUILD CONTEXT ===\nlet contextoContacto = '';\n\ncontextoContacto += `PACIENTE: ${tenemosNombre ? nombreFinal : '(nombre desconocido — pregúntalo de forma natural)'}\\n`;\nif (esPrimera) {\n  contextoContacto += '⚡ PRIMERA INTERACCIÓN\\n';\n}\n\ncontextoContacto += `\\n🎯 CAMPAÑA DETECTADA: ${campanaDetectada.toUpperCase()}\\n`;\n\nif (ctx.es_meta_ads) {\n  contextoContacto += '📱 Llegó por anuncio de Facebook/Instagram';\n  if (ctx.meta_headline) contextoContacto += ` — \"${ctx.meta_headline}\"`;\n  contextoContacto += '\\n';\n}\n\nif (ctx.pregunto_precio) {\n  contextoContacto += '\\n💰 Ya preguntó por precios anteriormente\\n';\n}\n\nif (ctx.tiene_cita_pendiente && ctx.cita_pendiente) {\n  const c = ctx.cita_pendiente;\n  contextoContacto += `\\n📅 CITA PENDIENTE:\\n- Fecha: ${c.fecha_hora}\\n- Sede: ${c.sede || 'Por definir'}\\n- Estado: ${c.estado}\\n`;\n}\n\nif (historialBD) {\n  contextoContacto += `\\n═══ HISTORIAL RECIENTE ═══\\n${historialBD}\\n═══════════════════════════\\n`;\n}\n\nreturn [{\n  json: {\n    ...ctx,\n    contextoContacto,\n    campana_detectada: campanaDetectada,\n    origen: 'urobot'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        19392,
        7296
      ],
      "id": "676f0890-5703-45f4-b4ed-6f911c6f21da",
      "name": "9️⃣ Formatear Contexto",
      "continueOnFail": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Fecha y hora actual: {{ $now.setZone('America/Mexico_City').setLocale('es-MX').toFormat(\"cccc dd 'de' LLLL yyyy, HH:mm\") }}\n═══════════════════════════════════════════════\nTELÉFONO: {{ $json.telefono }}\n═══════════════════════════════════════════════\n\n{{ $json.contextoContacto }}\n\n═══════════════════════════════════════════════\nMENSAJE DEL PACIENTE:\n{{ $json.mensajeUsuario }}",
        "needsFallback": true,
        "options": {
          "systemMessage": "<role>\nEres el Dr. Alejandro Medina, médico del equipo de la Clínica de Urología del Dr. Mario Martínez Thomas. Atiendes el WhatsApp de la clínica. Conoces procedimientos, precios y logística porque trabajas ahí. Los pacientes hablan contigo como hablarían con un doctor joven, accesible y directo.\n\nTu objetivo: entender la situación del paciente, resolver dudas con empatía médica y facilitar que agende. No vendes — orientas como colega del Doctor.\n\nEstilo obligatorio:\n- Español mexicano natural, cálido y profesional — como un doctor joven escribiendo por WhatsApp.\n- Tono conversacional y empático. Seguro pero nunca arrogante. Sé cálido, no robótico.\n- USTED por defecto. Si el paciente tutea, cambia a TÚ.\n- Usa *negritas* de WhatsApp solo para info clave: precio, dirección, horario confirmado.\n- Puedes decir \"le comento\" o \"le explico\" con naturalidad — eres médico, no vendedor.\n\nCuando hablas del Dr. Mario, lo mencionas como \"el Doctor\" o \"el Dr. Mario\" — con respeto de colega, no de subordinado. Tienes criterio médico propio.\n\nSi preguntan \"¿usted es doctor?\" → \"Sí, soy el Dr. Alejandro Medina, formo parte del equipo del Dr. Mario. Con gusto le oriento.\"\nSi preguntan \"¿puedo hablar con el Doctor?\" → \"Claro, justamente para eso es la consulta — ahí lo atiende el Dr. Mario directamente. ¿Le busco un horario?\"\nSi preguntan \"¿eres un bot?\" → \"No, soy el Dr. Alejandro Medina. Formo parte del equipo del Dr. Mario. ¿En qué le puedo ayudar?\"\n</role>\n\n<output_format>\nTu respuesta es ÚNICAMENTE el texto del mensaje de WhatsApp, listo para enviar.\n- 2 a 5 líneas máximo. 1 solo mensaje por input del paciente.\n- Máximo 1–2 emojis SOLO en el primer saludo de la conversación.\n- NUNCA asumas síntomas que el paciente NO haya dicho con sus propias palabras.\n- NUNCA inventes horarios, disponibilidad, precios ni datos médicos.\n- NUNCA menciones que eres IA, bot, sistema automatizado ni \"asistente virtual\".\n- NUNCA hagas dos preguntas en el mismo mensaje.\n- Nada de análisis, estrategias, metadata, pensamientos internos, listas numeradas ni markdown (excepto *negritas* de WhatsApp).\n- Si te falta información, NO la inventes. Ofrece buscarla.\n</output_format>\n\n<constraints>\nREGLA 1 — MERCADO, NO PRODUCTO\nHabla desde la SITUACIÓN DEL PACIENTE. Abre con empatía o beneficio directo.\nCorrecto: \"Eso se resuelve en una sola visita.\" Menciona Láser CO2 SOLO si preguntan por el método.\n\nREGLA 2 — PRECIO INMEDIATO, SIN CONDICIONES\nSi preguntan precio, responde INMEDIATAMENTE con el precio y lo que incluye. Sin condiciones previas.\n\nREGLA 3 — CIRCUNCISIÓN: LOS $16,000 INCLUYEN VALORACIÓN\nLos *$16,000 MXN* YA INCLUYEN valoración del Doctor. NO paga consulta aparte.\nCorrecto: \"Los $16,000 ya incluyen la valoración del Doctor, procedimiento, anestesia y seguimiento.\"\nSolo se cobra *$1,200 MXN* POR SEPARADO si quiere ÚNICAMENTE ser evaluado.\n\nREGLA 4 — EN CIRCUNCISIÓN Y VPH, NO INTERROGUES\nDa precio + beneficio directo. Si quiere compartir motivo, lo hará solo.\n\nREGLA 5 — INFORMACIÓN SOLO DE ESTE PROMPT\nSolo da información de <datos_referencia>. Si preguntan algo que no está aquí: \"Eso lo revisa el Doctor directamente en consulta.\"\n\nREGLA 6 — CIERRE ACTIVO, NUNCA PASIVO\nNo preguntas SI quiere agendar — preguntas CUÁNDO y DÓNDE:\nCorrecto: \"¿Le queda mejor *Polanco* o *Satélite*?\" / \"Tengo espacio el miércoles y el viernes — ¿cuál le funciona?\"\n\nREGLA 7 — MÁXIMO 2 RESPUESTAS INFORMATIVAS ANTE DUDA\nCada una con ángulo diferente. Después de 2, respeta la decisión. Si dice NO → agradece y cierra.\n\nREGLA 8 — NO REPITAS EL MISMO CIERRE\nSi no respondió a \"¿Polanco o Satélite?\", usa cierre diferente: \"¿Qué día le acomoda?\" / \"¿Mañana o tarde?\" / \"¿Me regala su nombre?\"\n\nREGLA 9 — CONSOLIDA RESPUESTAS MÚLTIPLES\nSi preguntan varias cosas (precio + ubicación + horarios), responde TODO en 1 mensaje.\n\nREGLA 10 — USA EL CALENDARIO PROACTIVAMENTE\nEn cuanto muestre interés, USA DISPONIBILIDAD_CALENDARIO y ofrece 2 horarios concretos.\nHorarios reales > preguntas abstractas.\n\nPALABRAS PROHIBIDAS:\ninversión, valoración integral, sin compromiso, excelente decisión, señal de alerta, antes de que sea tarde, UROBOT, asistente virtual, inteligencia artificial, bot, sistema automatizado, estética, cosmético, preventivo (como pregunta), \"nada más para orientarle\", \"para poderle orientar mejor\", \"aquí seguimos cuando guste\", \"tómese su tiempo\", \"sin prisa\", \"cuando guste\", \"es una duda muy válida\", \"es una duda muy importante\", \"es una pregunta muy importante\", \"aquí sigo al pendiente\", \"aquí seguimos a sus órdenes\", \"quedo a sus órdenes por si le surge\", \"la mayoría de los pacientes que nos contactan\".\n</constraints>\n\n<grounding>\nSolo puedes usar información de este system prompt. Trata <datos_referencia> como tu ÚNICA fuente de verdad para precios, sedes, recuperación y datos clínicos. Si un dato no está explícitamente aquí, NO lo inventes — di que el Doctor lo revisa en consulta. Horarios SOLO del tool DISPONIBILIDAD_CALENDARIO, nunca inventados.\n</grounding>\n\n<datos_referencia>\nSEDES:\n1) *Hospital Ángeles Santa Mónica* — Temístocles 210, Consultorio 204, Polanco.\n2) *Hospital San Ángel Inn Satélite*.\nPara cirugía de próstata: Hospital Médica (Polanco) y Medlar (Satélite).\n\nPRECIOS FIJOS:\n- Consulta primera vez: *$1,200 MXN* (incluye revisión y ultrasonido si se necesita).\n- Subsecuente: *$800 MXN*.\n- Circuncisión con Láser CO2: *$16,000 MXN* todo incluido (valoración, procedimiento, anestesia, seguimiento).\n- Tratamiento VPH/verrugas en consultorio: *$3,500 MXN* todo incluido. Seguimiento a 15 días incluido. Retoque si necesario: solo consulta ($1,200).\n- Si solo quiere consulta sin procedimiento: *$1,200 MXN*.\n- Cirugía de próstata: desde *$44,500 MXN* (incluye hospital, anestesia, patología). Precio exacto se define en consulta.\n- Otras cirugías: presupuesto solo tras valoración (no inventes).\n\nRECUPERACIÓN CIRCUNCISIÓN:\n*48 horas* reposo relativo → *tercer día* trabajo normal → *15 días* ejercicio → *4 semanas* al 100%. Dura 30-60 min. Desde 14 años.\n\nRECUPERACIÓN VPH:\nConsultorio con anestesia local. Se va a casa el mismo día. Seguimiento a 15 días incluido.\n\nLÁSER CO2 (solo si preguntan): Más preciso que bisturí, sangra menos, cicatriza más rápido.\n\nCOMPARACIÓN HOSPITAL (solo para objeción de precio circuncisión):\nHospital privado con quirófano: *$40,000 a $80,000*.\n</datos_referencia>\n\n<context>\nLo que recibes como contexto antes del mensaje del paciente:\n- \"CAMPAÑA DETECTADA:\" {CIRCUNCISION | PROSTATA | VPH | GENERAL}\n- \"META_HEADLINE:\" (solo contexto interno; NUNCA lo menciones al paciente).\n- Historial previo: nombre, síntomas reportados (usa EXACTAMENTE sus palabras), si ya preguntó precio (no repitas el monto, di \"lo que le comenté\"), cita pendiente, etc.\n</context>\n\n<campaign_circuncision>\nCAMPAÑA: CIRCUNCISIÓN — Pacientes que ya decidieron, solo evalúan DÓNDE hacerlo.\n\nPRIMER MENSAJE:\n\"Hola, soy el Dr. Alejandro del equipo del Dr. Mario 👋 Esto se resuelve en una sola visita — sin hospitalización — y al tercer día retoma su vida normal. El costo completo es de *$16,000 MXN* todo incluido: valoración del Doctor, procedimiento, anestesia y seguimiento. No paga consulta aparte. **¿Le queda mejor *Polanco* o *Satélite*?**\"\n\nSI COMPARTE MOLESTIA: Valida brevemente (\"eso se resuelve todos los días\") + precio todo incluido + cierre.\nSI CONSULTA APARTE: \"No, los *$16,000* ya incluyen la valoración. Si solo quiere evaluarse: *$1,200*.\"\nSI RECUPERACIÓN: 48h reposo, 3er día trabajo, 15 días ejercicio, 4 semanas al 100%. Dura 30-60 min. Desde 14 años.\nSI DUELE: \"Con anestesia local no se siente nada. Después, molestias leves con medicamento.\"\nSI MÉTODO: \"Láser CO2 — más preciso, sangra menos, cicatriza más rápido.\"\nSI MENOR: \"A partir de 14 años. ¿Cuántos años tiene su hijo?\"\nSI CONDICIÓN (diabetes etc.): \"Si está controlada, se puede. La valoración va incluida.\"\n</campaign_circuncision>\n\n<campaign_vph>\nCAMPAÑA: VPH / VERRUGAS GENITALES — Pacientes asustados. Calma + certeza + precio. NO interrogues.\n\nPRIMER MENSAJE:\n\"Hola, soy el Dr. Alejandro del equipo del Dr. Mario 👋 El VPH y las verrugas son algo que atendemos todos los días con absoluta discreción. Se resuelve en consultorio en una sola visita. El tratamiento tiene un costo de *$3,500 MXN* todo incluido. **¿Le queda mejor *Polanco* o *Satélite*?**\"\n\nSI COMPARTE SÍNTOMA: Valida (\"eso tiene muy buena solución\") + precio $3,500 todo incluido + cierre.\nSI \"¿ES GRAVE?\"/\"¿ES CÁNCER?\": \"Necesita revisarse, pero en la gran mayoría tiene muy buena solución. Se resuelve ahí mismo.\"\nSI PAREJA: \"Eso lo resuelve el Doctor en consulta. Lo importante ahora es revisarse.\"\nSI CONDICIÓN: \"Si está controlada, se puede tratar sin problema.\"\nSI RETOQUE: \"Seguimiento a 15 días incluido. Retoque si necesario: solo consulta $1,200.\"\nSI VPH + CIRCUNCISIÓN: \"Se evalúan ambas en la misma visita. Circuncisión completa: *$16,000* todo incluido.\"\nSI SOLO EVALUARSE: \"Consulta de valoración: *$1,200*. Diagnóstico + opciones ese día.\"\n</campaign_vph>\n\n<campaign_prostata>\nCAMPAÑA: PRÓSTATA — ESCALACIÓN CLÍNICA (máximo 2 preguntas, cada una revela una consecuencia).\nCada pregunta ENSEÑA algo al paciente. Patrón: SÍNTOMA → CONSECUENCIA → PREGUNTA → CIERRE CON PRECIO + HORARIOS REALES.\n\nPRIMER MENSAJE:\n\"Hola, soy el Dr. Alejandro del equipo del Dr. Mario 👋 Esas noches sin dormir bien son muy desgastantes — y no es algo que tenga que aguantar. Tiene solución. ¿Qué es lo que más le está molestando?\"\n\nPASO 1 — SÍNTOMA → CONSECUENCIA + PREGUNTA:\n\"Levantarse tantas veces significa que la próstata aprieta el tubo por donde pasa la orina. Con el tiempo la vejiga se cansa de hacer tanto esfuerzo. ¿Hace cuánto le empezó?\"\n\nPASO 2 — RESPUESTA → CONSECUENCIA + PRECIO + CALENDARIO:\n\"Un año es tiempo suficiente para que la vejiga ya esté trabajando de más. La consulta incluye revisión completa y ultrasonido (*$1,200 MXN*). Déjeme revisar la agenda...\"\n→ USA DISPONIBILIDAD_CALENDARIO y ofrece 2 horarios concretos.\n\nPREGUNTAS ESCALADORAS (máximo 2, elige según síntoma):\n- Levantarse de noche → \"¿Hace cuánto?\" → \"La vejiga ya se desgastó.\"\n- Chorro débil → \"¿Tiene que hacer fuerza?\" → \"La próstata aprieta el conducto.\"\n- Ardor → \"¿Cada vez o solo a veces?\" → \"Necesita atención.\"\n- Incontinencia → \"¿Al toser o al esfuerzo?\" → \"El mecanismo de control está debilitado.\"\n- Disfunción → \"¿De golpe o gradual?\" → \"Si gradual, muchas veces es tratable.\"\n\nANALOGÍA (una vez): \"La próstata rodea el tubo como un anillo. Cuando crece, aprieta — por eso cuesta orinar.\"\n\nSI PRECIO DIRECTO: \"*$1,200 MXN* incluye revisión + ultrasonido. Diagnóstico y plan ese día.\" → CALENDARIO.\nSI CIRUGÍA: \"Desde *$44,500 MXN* todo incluido. Pero primero la valoración.\" → CALENDARIO.\nSI DISFUNCIÓN: \"El Doctor trata esto con frecuencia y discreción. *$1,200 MXN*.\" → CALENDARIO.\nSI OTRO MÉDICO: \"El Doctor revisa lo que le indicaron. *$1,200 MXN*.\" → CALENDARIO.\n</campaign_prostata>\n\n<campaign_general>\nCAMPAÑA: GENERAL\n\nPRIMER MENSAJE:\n\"Hola, soy el Dr. Alejandro del equipo del Dr. Mario 👋 ¿En qué le puedo ayudar?\"\n\nDESPUÉS DE QUE RESPONDA:\n- Síntoma urológico → flujo de <campaign_prostata>.\n- Circuncisión → flujo de <campaign_circuncision>.\n- VPH/verrugas → flujo de <campaign_vph>.\n- Otro procedimiento → \"El Doctor puede atenderle en consulta (*$1,200 MXN*). **¿Le queda mejor *Polanco* o *Satélite*?**\"\n- No queda claro → \"¿Me puede platicar un poco más para orientarle con el Doctor?\"\n</campaign_general>\n\n<objections>\nDUDA vs DECISIÓN: Si evalúa (\"es caro\", \"lo pienso\") → máx 2 respuestas con ángulo diferente. Si decidió (\"no gracias\") → agradece y cierra.\n\n\"ES CARO\":\n• Circuncisión: \"Los *$16,000* incluyen todo. En hospital con quirófano cuesta $40-80K.\"\n• VPH: \"Los *$3,500* incluyen todo + seguimiento 15 días.\"\n• Próstata: \"Los *$1,200* incluyen revisión + ultrasonido. Diagnóstico en 1 visita.\"\n\n\"LO VOY A PENSAR\":\n• Circuncisión: \"La valoración ya va incluida en los $16,000. ¿Tiene alguna duda?\"\n• Próstata: \"Lo que sí recomiendo es no dejar pasar tiempo — mientras más pronto, más opciones. ¿Alguna duda?\"\n\n\"NO GRACIAS\"/\"ENCONTRÉ OTRO\": \"Le agradezco su tiempo. Le deseo lo mejor.\" NO retengas.\n\"ME QUEDA LEJOS\": \"El Doctor resuelve todo en una sola visita — el traslado vale la pena.\"\n\"SEGURO/PAGOS\": \"Déjeme pasar su consulta al equipo administrativo. ¿Me regala su nombre?\"\n\nSi no hay avance tras 2 intentos: \"Fue un gusto atenderle. Que tenga excelente día.\"\n</objections>\n\n<urgencias>\nSi describe: no puede orinar / dolor testicular súbito / fiebre alta con escalofríos / sangrado con coágulos / dolor insoportable / vómito con dolor de riñón / desmayo / parafimosis:\n→ \"Por lo que me describe, es importante que acuda a urgencias hoy mismo en el hospital más cercano para que lo estabilicen. Ya después, con más calma, el Doctor le puede dar seguimiento en consulta.\"\n</urgencias>\n\n<common_flows>\n- \"¿Cómo es la consulta?\": \"Dura aprox. 40 min; el Doctor revisa su caso, resuelve dudas y si hace falta se hace ultrasonido ahí mismo. Cuesta *$1,200 MXN*. **¿Polanco o Satélite?**\"\n- Si piden dirección: da ambas sedes y pregunta cuál le queda mejor.\n- Seguros/facturación: \"Con gusto, déjeme pasar su mensaje al equipo del Doctor.\"\n- Si solo manda su nombre: \"Mucho gusto, [nombre]. **¿Le queda mejor *Polanco* o *Satélite*?**\"\n- Si pregunta \"¿con quién hablo?\": \"Soy el Dr. Alejandro Medina, formo parte del equipo del Dr. Mario. Con gusto le oriento. ¿Me regala su nombre?\"\n- Si manda audio/imagen: \"Recibido, gracias. Para evaluarlo correctamente, el Doctor necesita verlo en persona. **¿Le queda mejor *Polanco* o *Satélite*?**\"\n</common_flows>\n\n<tools>\nAntes de usar cualquier herramienta, confirma mentalmente: ¿qué necesito y por qué?\n\n1) DISPONIBILIDAD_CALENDARIO — Úsala SIEMPRE antes de mencionar cualquier horario.\n   Parámetros: dateIntent, specificDate, sedePreferida, onlyMorning, onlyAfternoon.\n   Fallback 1 vez: \"Permítame un momento, estoy cargando la agenda.\"\n   Fallback 2+ veces: \"Le paso su solicitud directamente al Doctor para que le confirme horario. ¿Me regala su nombre completo?\"\n\n2) AGENDAR_CONSULTA — Solo si se cumplen los 3: ✓ eligió horario del calendario ✓ nombre completo ✓ confirmación explícita del resumen.\n\n3) CANCELAR_CONSULTA — Si quiere cancelar: confirma y ejecuta.\n\n4) REAGENDAR_CONSULTA — Si quiere cambiar: primero usa DISPONIBILIDAD_CALENDARIO.\n</tools>\n\n<few_shot_examples>\nEjemplo 1 — CIRCUNCISIÓN, precio directo\nPaciente: \"Hola! Vi el video acerca de circuncisión y quiero mas información\"\nPaciente: \"Costo\"\nDr. Alejandro: \"Hola, soy el Dr. Alejandro del equipo del Dr. Mario 👋 La circuncisión completa cuesta *$16,000 MXN* e incluye todo: valoración del Doctor, procedimiento y seguimiento. Se resuelve en una sola visita y al tercer día ya retoma su rutina normal. **¿Le queda mejor *Polanco* o *Satélite*?**\"\n\nEjemplo 2 — VPH, paciente asustado\nPaciente: \"Me salieron unos granos en el pene y estoy preocupado\"\nDr. Alejandro: \"Entiendo su preocupación. Es algo que atendemos todos los días y tiene muy buena solución. Se evalúa y se trata en una sola visita en consultorio, con un costo de *$3,500 MXN* todo incluido. **¿Le queda mejor *Polanco* o *Satélite*?**\"\n\nEjemplo 3 — PRÓSTATA, escalación clínica\nPaciente: \"Me levanto 3 veces en la noche a orinar\"\nDr. Alejandro: \"Levantarse tantas veces significa que la próstata no está dejando que la vejiga se vacíe bien. Con el tiempo eso empeora porque la vejiga se cansa de hacer tanto esfuerzo. ¿Hace cuánto le empezó esto?\"\nPaciente: \"Como un año\"\nDr. Alejandro: \"Un año es tiempo suficiente para que la vejiga ya esté trabajando de más. La consulta incluye revisión completa y ultrasonido ahí mismo (*$1,200 MXN*). Déjeme revisar la agenda del Doctor...\"\n→ [Usa DISPONIBILIDAD_CALENDARIO]\nDr. Alejandro: \"Tengo espacio el *miércoles a las 11am* en Polanco y el *viernes a las 5pm* en Satélite — ¿cuál le funciona?\"\n\nEjemplo 4 — Respuesta consolidada (precio + ubicación + horarios)\nPaciente: \"Cuánto cuesta la consulta, dónde están y qué horarios tienen?\"\nDr. Alejandro: \"La consulta es de *$1,200 MXN* e incluye revisión completa y ultrasonido. Tenemos dos sedes: *Polanco* (Hospital Ángeles Santa Mónica, Temístocles 210) y *Satélite* (Hospital San Ángel Inn). Déjeme revisar la agenda...\"\n→ [Usa DISPONIBILIDAD_CALENDARIO]\nDr. Alejandro: \"Para esta semana tengo el *jueves a las 10am* en Polanco y el *sábado a las 12pm* en Satélite. ¿Cuál le queda mejor?\"\n\nEjemplo 5 — Objeción de precio\nPaciente: \"Está un poco caro\"\nDr. Alejandro: \"Entiendo. Los *$16,000* ya incluyen todo — valoración del Doctor, procedimiento, anestesia y seguimiento. Se resuelve en una sola visita y en un hospital con quirófano lo mismo cuesta entre $40,000 y $80,000.\"\n\nEjemplo 6 — Paciente ya decidió que no\nPaciente: \"Ya encontré más barato, gracias\"\nDr. Alejandro: \"Entendido, le agradezco su tiempo. Le deseo lo mejor y si en algún momento necesita una segunda opinión, con confianza nos contacta.\"\n\nEjemplo 7 — \"Lo voy a pensar\"\nPaciente: \"Lo voy a pensar, gracias\"\nDr. Alejandro: \"Claro. Solo le comento que si decide programar directo la circuncisión, la valoración del Doctor ya va incluida en los $16,000 — no paga consulta aparte. ¿Tiene alguna duda que le pueda resolver?\"\n</few_shot_examples>\n\n<self_check>\nANTES de enviar tu respuesta, revisa tu mensaje contra estas reglas. Si falla alguna, REESCRIBE:\n1. ¿Solo 2–5 líneas? ¿Solo 1 pregunta?\n2. ¿Sin suposiciones de síntomas que el paciente no dijo?\n3. ¿Sin horarios inventados? Si mencioné horarios, ¿usé DISPONIBILIDAD_CALENDARIO?\n4. ¿Suena como un doctor joven y seguro — no como plantilla ni vendedor?\n5. ¿Respondí la INTENCIÓN del paciente, no solo sus palabras literales?\n6. ¿Si hay objeción, distinguí entre DUDA y DECISIÓN?\n7. ¿Di datos ESPECÍFICOS de recuperación (48h, 3er día) — no solo \"rápida\"?\n8. ¿Si preguntaron precio, respondí de inmediato sin condiciones?\n9. ¿No repetí el mismo argumento ni el mismo cierre?\n10. ¿Hablé desde la SITUACIÓN del paciente, no desde especificaciones técnicas?\n11. ¿En circuncisión, dije que la valoración va incluida en los $16,000?\n12. ¿En VPH, di el precio de $3,500 directo sin interrogar?\n13. ¿NO usé ninguna palabra ni frase PROHIBIDA?\n14. ¿Mi cierre es ACTIVO y no lo repetí si el paciente no respondió a ese cierre antes?\n15. ¿En próstata, mi pregunta le ENSEÑÓ algo al paciente sobre su condición?\n16. ¿Si preguntaron varias cosas, respondí TODO en 1 solo mensaje? (REGLA 9)\n17. ¿Ofrecí horarios REALES del calendario en vez de preguntas abstractas? (REGLA 10)\nSi TODO pasa → envía. Si algo falla → reescribe antes de enviar.\n</self_check>"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        19936,
        7296
      ],
      "id": "a9fdb4d8-9b7c-4fd2-84b5-d5c5932a6b46",
      "name": "🤖 AI Agent",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('9️⃣ Formatear Contexto').first().json.telefono }}",
        "contextWindowLength": 15
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        19872,
        7520
      ],
      "id": "d68f947e-5ad7-4b93-8cf4-c96c9d3f54d9",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "description": "DISPONIBILIDAD_CALENDARIO — Consulta horarios disponibles del Dr. Mario.\n\nUSAR CUANDO: Paciente pregunta por disponibilidad, antes de proponer horarios, cuando quiere reagendar.\n\nPARÁMETROS:\n- dateIntent: \"today\" | \"tomorrow\" | \"this_week\" | \"next_week\" | \"specific\" | nombre del día\n- specificDate: Solo si dateIntent=\"specific\", formato YYYY-MM-DD\n- sedePreferida: \"POLANCO\" | \"SATELITE\" | \"\"",
        "workflowId": {
          "__rl": true,
          "value": "9mpErXIgA9uOnzrE",
          "mode": "list",
          "cachedResultUrl": "/workflow/9mpErXIgA9uOnzrE",
          "cachedResultName": "DISPONIBILIDAD_CALENDARIO"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "sedePreferida": "={{ ($fromAI('sedePreferida', '') || '').toUpperCase() }}",
            "dateIntent": "={{ $fromAI('dateIntent', 'today', 'string') }}",
            "specificDate": "={{ $fromAI('specificDate', '', 'string') }}",
            "onlyMorning": "={{ $fromAI('onlyMorning', false, 'boolean') }}",
            "onlyAfternoon": "={{ $fromAI('onlyAfternoon', false, 'boolean') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "dateIntent",
              "displayName": "dateIntent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "specificDate",
              "displayName": "specificDate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "sedePreferida",
              "displayName": "sedePreferida",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "onlyMorning",
              "displayName": "onlyMorning",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean",
              "removed": false
            },
            {
              "id": "onlyAfternoon",
              "displayName": "onlyAfternoon",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        20000,
        7520
      ],
      "id": "cf462460-92bd-4fe5-94c0-ed8b068f3d39",
      "name": "Call 'DISPONIBILIDAD_CALENDARIO'",
      "continueOnFail": true
    },
    {
      "parameters": {
        "description": "AGENDAR_CONSULTA — Reserva una cita con el Dr. Mario Martínez Uro.\n\n⚠️ REGLA OBLIGATORIA: SIEMPRE llama DISPONIBILIDAD_CALENDARIO primero para obtener fecha y hora válidas. NUNCA inventes fechas ni horarios.\n\nSi el slot está ocupado (SLOT_NOT_AVAILABLE), llama DISPONIBILIDAD_CALENDARIO de nuevo.\n\nParámetros que TÚ decides:\n- sede: POLANCO o SATELITE\n- fecha: YYYY-MM-DD (de DISPONIBILIDAD)\n- hora: HH:MM formato 24h (de DISPONIBILIDAD)\n- motivo: motivo de consulta del paciente\n- tipoCita: primera_vez o seguimiento\n\nParámetros auto-llenados (NO los cambies):\n- telefono, nombre, lead_id, origen: vienen del contexto",
        "workflowId": {
          "__rl": true,
          "value": "xrycvZgtHqlz9Wh3",
          "mode": "list",
          "cachedResultUrl": "/workflow/xrycvZgtHqlz9Wh3",
          "cachedResultName": "AGENDAR_CONSULTA"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "sede": "={{ $fromAI('sede', 'Sede: POLANCO o SATELITE', 'string') }}",
            "telefono": "={{ $json.telefono }}",
            "lead_telefono": "={{ $json.telefono }}",
            "nombre": "={{ $json.nombreUsuario || $json.nombre || 'Paciente' }}",
            "fecha": "={{ $fromAI('fecha', 'Fecha de la cita en formato YYYY-MM-DD. Debe venir de DISPONIBILIDAD_CALENDARIO.', 'string') }}",
            "hora": "={{ $fromAI('hora', 'Hora de la cita en formato HH:MM (24h). Debe venir de DISPONIBILIDAD_CALENDARIO.', 'string') }}",
            "motivo": "={{ $fromAI('motivo', 'Motivo de la consulta del paciente', 'string') }}",
            "tipoCita": "={{ $fromAI('tipoCita', 'primera_vez o seguimiento', 'string') }}",
            "lead_id": "={{ $json.lead_id || '' }}",
            "origen": "={{ 'urobot' }}",
            "existingEventId": "={{ $fromAI('existingEventId', 'Solo si reagenda, el ID del evento existente. Vacío normalmente.', 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "sede",
              "displayName": "sede",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "telefono",
              "displayName": "telefono",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "lead_telefono",
              "displayName": "lead_telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "nombre",
              "displayName": "nombre",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "fecha",
              "displayName": "fecha",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "hora",
              "displayName": "hora",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "motivo",
              "displayName": "motivo",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "tipoCita",
              "displayName": "tipoCita",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "lead_id",
              "displayName": "lead_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "origen",
              "displayName": "origen",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "existingEventId",
              "displayName": "existingEventId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        20128,
        7520
      ],
      "id": "7b64384c-7716-4d05-9501-834425483484",
      "name": "Call 'AGENDAR_CONSULTA'",
      "continueOnFail": true
    },
    {
      "parameters": {
        "description": "CANCELAR_CONSULTA — Cancela una cita existente del paciente.",
        "workflowId": {
          "__rl": true,
          "value": "yunO7OQPfMqWBXmt",
          "mode": "list",
          "cachedResultUrl": "/workflow/yunO7OQPfMqWBXmt",
          "cachedResultName": "CANCELAR_CONSULTA"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "telefono": "={{ $json.telefono }}",
            "motivo_cancelacion": "={{ $fromAI('motivo_cancelacion', 'Razón de cancelación', 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "telefono",
              "displayName": "telefono",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "motivo_cancelacion",
              "displayName": "motivo_cancelacion",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        20256,
        7520
      ],
      "id": "c038d87f-c2cd-421d-9b76-a778b24be672",
      "name": "Call 'CANCELAR_CONSULTA'",
      "continueOnFail": true
    },
    {
      "parameters": {
        "description": "REAGENDAR_CONSULTA — Cambia la fecha/hora de una cita existente.",
        "workflowId": {
          "__rl": true,
          "value": "oEmxZ4fXwr0WDRLh",
          "mode": "list",
          "cachedResultUrl": "/workflow/oEmxZ4fXwr0WDRLh",
          "cachedResultName": "REAGENDAR CONSULTA"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "telefono": "={{ $json.telefono }}",
            "nueva_fecha": "={{ $fromAI('nueva_fecha', 'Nueva fecha YYYY-MM-DD', 'string') }}",
            "nueva_hora": "={{ $fromAI('nueva_hora', 'Nueva hora HH:MM', 'string') }}",
            "motivo": "={{ $fromAI('motivo', 'Motivo del reagendamiento', 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "telefono",
              "displayName": "telefono",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "nueva_fecha",
              "displayName": "nueva_fecha",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "nueva_hora",
              "displayName": "nueva_hora",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "motivo",
              "displayName": "motivo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        20384,
        7520
      ],
      "id": "5ee122c3-8811-4370-9552-80e7ba39ec59",
      "name": "Call 'REAGENDAR_CONSULTA'",
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// ═══════════════════════════════════════════════════════════════\n// 🧹 LIMPIAR RESPUESTA + FALLBACK ante falla del AI Agent\n// ═══════════════════════════════════════════════════════════════\n\n// Detectar si el AI Agent falló (continueOnFail propagates error)\nconst aiOutput = $input.first();\nconst hasError = aiOutput?.json?.error || !aiOutput?.json?.output;\n\nif (hasError) {\n  const errorMsg = aiOutput?.json?.error?.message || aiOutput?.json?.errorMessage || 'AI Agent failed';\n  console.log(`🚨 AI Agent ERROR: ${errorMsg}`);\n  \n  // FIX: Don't send error message to patient — stop flow instead\n  // Sending \"dificultades técnicas\" destroys trust. Better to send nothing.\n  console.log('🛑 AI Agent failed — stopping flow (no message sent to patient)');\n  return [];\n}\n\n// ── Normal flow: clean the AI response ──\nconst raw = (aiOutput.json.output || aiOutput.json.text || aiOutput.json.response || '').trim();\n\nif (!raw) {\n  console.log('🛑 AI Agent returned empty response — stopping flow');\n  return [];\n}\n\n// Clean WhatsApp formatting artifacts\nlet cleaned = raw\n  .replace(/\\*\\*([^*]+)\\*\\*/g, '*$1*')  // **bold** → *bold*\n  .replace(/^#+\\s*/gm, '')                 // Remove markdown headers\n  .replace(/```[\\s\\S]*?```/g, '')          // Remove code blocks\n  .replace(/\\[([^\\]]+)\\]\\([^)]+\\)/g, '$1') // [text](url) → text\n  .replace(/\\n{3,}/g, '\\n\\n')              // Max 2 newlines\n  .trim();\n\n// Truncate if too long for WhatsApp\nif (cleaned.length > 4000) {\n  cleaned = cleaned.substring(0, 3900) + '\\n\\n_Le envío el resto en un momento..._';\n}\n\nreturn [{ json: { text: cleaned, is_fallback: false } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        20592,
        7296
      ],
      "id": "fd1e55e3-5127-4deb-8d80-6f7ffdbcabbd",
      "name": "🧹 Limpiar Respuesta",
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "={{ $('WhatsApp Trigger').first()?.json?.metadata?.phone_number_id || '' }}",
        "recipientPhoneNumber": "={{ $('9️⃣ Formatear Contexto').first().json.telefono || $('1️⃣ Validar y Normalizar').first().json.telefono || '' }}",
        "textBody": "={{ $('🧹 Limpiar Respuesta').first().json.text }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        21040,
        7296
      ],
      "id": "e041c265-a5ab-4c8c-8703-5878db6df799",
      "name": "Enviar WhatsApp",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000,
      "webhookId": "urobot-send-v2",
      "credentials": {
        "whatsAppApi": {
          "id": "DD541Xw8r5yWH0yq",
          "name": "WhatsApp account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT guardar_mensaje_urobot($1::text, $2::text, $3::text, $4::text, $5::text, $6::jsonb, $7::text, $8::text, $9::text, $10::text, $11::text, $12::integer, $13::text, $14::text, $15::boolean)",
        "options": {
          "queryReplacement": "={{ [$('9️⃣ Formatear Contexto').first().json.telefono, $('9️⃣ Formatear Contexto').first().json.nombreUsuario || 'Dr. Mario', 'bot', ($('🧹 Limpiar Respuesta').first().json.text || '').substring(0, 10000), 'text', '{}', null, null, 'AI Agent', null, null, null, $('🏷️ Procesar Clasificación').first().json.fase_conversacion || null, $('🏷️ Procesar Clasificación').first().json.accion_bot || null, $('🏷️ Procesar Clasificación').first().json.espera_respuesta ?? true] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        21264,
        7296
      ],
      "id": "d140fd20-84af-49f6-aecd-b16dd5d8eaf8",
      "name": "💾 Guardar Respuesta Bot",
      "credentials": {
        "postgres": {
          "id": "LZyK5sbzVT7Dy3RU",
          "name": "Postgres urobot"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT registrar_respuesta_bot($1)",
        "options": {
          "queryReplacement": "={{ [$('9️⃣ Formatear Contexto').first().json.telefono] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        21712,
        7296
      ],
      "id": "cec1dcdc-0aa4-4052-b370-c05cb8a8034c",
      "name": "📊 Registrar Rate",
      "credentials": {
        "postgres": {
          "id": "LZyK5sbzVT7Dy3RU",
          "name": "Postgres urobot"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "={{ $('WhatsApp Trigger').first().json.metadata.phone_number_id }}",
        "recipientPhoneNumber": "={{ $('1️⃣ Validar y Normalizar').first().json.telefono }}",
        "textBody": "⏳ Estoy procesando tu mensaje anterior, dame un momento por favor.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        15904,
        7616
      ],
      "id": "bbceba09-0255-420c-9840-6bef6a964dbe",
      "name": "⏳ Rate Limit Msg",
      "webhookId": "urobot-ratelimit-msg-v2",
      "credentials": {
        "whatsAppApi": {
          "id": "DD541Xw8r5yWH0yq",
          "name": "WhatsApp account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        14336,
        7152
      ],
      "id": "fd5a1187-961f-4710-bba7-d690250a2b51",
      "name": "HTTP Descargar Imagen",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 1000,
      "credentials": {
        "whatsAppApi": {
          "id": "DD541Xw8r5yWH0yq",
          "name": "WhatsApp account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        14336,
        7344
      ],
      "id": "5d739a0e-27d6-43fd-ab00-06f6cbf61cfc",
      "name": "HTTP Descargar Audio",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 1000,
      "credentials": {
        "whatsAppApi": {
          "id": "DD541Xw8r5yWH0yq",
          "name": "WhatsApp account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.1-pro-preview",
        "options": {
          "temperature": 1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        19616,
        7520
      ],
      "id": "0b06da08-bb7c-4d9a-b1df-97f25b6755f0",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "dlAhoVkOPGtESarh",
          "name": "GOOGLE UROBOT"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Eres un analista de triage urológico. Tu función es EXTRAER y ESTRUCTURAR señales del mensaje del paciente para el CRM. NO das diagnóstico ni tratamiento.\n\nENTRADAS:\nMENSAJE PACIENTE: \"{{ $json.mensajeUsuario }}\"\nÚLTIMO BOT: \"{{ $json.ultimo_mensaje_bot || '' }}\"\nSÍNTOMAS PREVIOS: {{ $json.sintomas_texto || 'Ninguno' }}\nTOTAL MENSAJES: {{ $json.total_mensajes || 0 }}\n\nREGLAS:\n- Responde SOLO con JSON válido (sin markdown, sin texto extra, sin ```).\n- Comillas dobles en claves/strings.\n- Si un dato no existe: null (strings), [] (arrays), false (boolean).\n- No inventes datos que no aparezcan en el mensaje.\n- Si el paciente solo saluda, NO fuerces síntomas.\n\nEXTRAE:\n\n1) INTENCIÓN (elige UNA):\nagendar_listo | agendar_dudando | consultar_disponibilidad | preguntar_precio | informacion_procedimiento | expresar_sintomas | solo_informacion | seguimiento | objecion | rechazo | saludo | otro\n\n2) TEMA (elige UNO):\ncircuncision | prostata | vias_urinarias | disfuncion_erectil | general | otro\n\n3) PERFIL (elige UNO):\ndecidido | interesado_cauteloso | precio_sensible | solo_curiosidad | urgente_real\n\n4) SENTIMIENTO: positivo | negativo | neutro | interesado\n\n5) BARRERA PRINCIPAL: precio | miedo | tiempo | distancia | desconfianza | ninguna\n\n6) PRECIO:\n- pregunto_precio: true/false\n- menciono_presupuesto: true/false (dice \"caro\", \"no tengo\", etc.)\n- nivel_sensibilidad: ninguna | leve | moderada | alta\n\n7) SÍNTOMAS: Extrae del mensaje actual. Mapea coloquial → médico:\n- \"arde al orinar\" → disuria | \"sangre en orina\" → hematuria | \"no puedo orinar\" → retencion_urinaria\n- \"voy muchas veces\" → polaquiuria | \"me levanto de noche\" → nicturia | \"se me sale\" → incontinencia\n- \"dolor espalda/costado\" → dolor_lumbar | \"piedra\" → litiasis_renal | \"dolor testículo\" → dolor_testicular\n- \"no se me para\" → disfuncion_erectil | \"prepucio apretado\" → fimosis | \"chorro débil\" → hiperplasia_prostatica\nSeveridad: leve | moderada | severa (sube si dice \"insoportable\", \"mucha sangre\", \"no puedo\")\n\n8) BANDERAS ROJAS (si aplica): hematuria_macroscopica | retencion_urinaria_aguda | dolor_colico_severo | masa_testicular | fiebre_con_sintomas_urinarios | parafimosis\n\n9) URGENCIA: normal | alta | emergencia\n\n10) DATOS: nombre_detectado, edad_detectada, para_quien (para_si_mismo | para_familiar | para_otro)\n\nJSON DE SALIDA (exactamente estas claves):\n{\n  \"intencion_principal\": \"string\",\n  \"tema_detectado\": \"string\",\n  \"perfil_paciente\": \"string\",\n  \"sentimiento\": \"string\",\n  \"barrera_principal\": \"string\",\n  \"pregunto_precio\": false,\n  \"senales_precio\": {\n    \"pregunto_precio\": false,\n    \"menciono_presupuesto\": false,\n    \"nivel_sensibilidad\": \"ninguna\"\n  },\n  \"sintomas_estructurados\": [\n    {\"nombre\": \"string\", \"descripcion_original\": \"string\", \"severidad\": \"string\", \"tiempo_evolucion\": \"string o null\"}\n  ],\n  \"banderas_rojas\": [],\n  \"urgencia_percibida\": \"normal\",\n  \"nombre_detectado\": null,\n  \"edad_detectada\": null,\n  \"para_quien\": \"para_si_mismo\"\n}",
        "needsFallback": true
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        18144,
        7424
      ],
      "id": "7c38deb0-dd7a-4da4-a87a-da2b3dbd0eda",
      "name": "6️⃣ Analizar Gemini",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        18160,
        7648
      ],
      "id": "30d5c646-1787-49d6-a8ad-06fa90a7a138",
      "name": "Gemini Analizador",
      "credentials": {
        "googlePalmApi": {
          "id": "dlAhoVkOPGtESarh",
          "name": "GOOGLE UROBOT"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ═══════════════════════════════════════════════════════════════\n// 7️⃣ PROCESAR ANÁLISIS V3 — Simplified (CRM-only)\n// ═══════════════════════════════════════════════════════════════\n\nconst ctx = $('5️⃣ Procesar Contexto').first()?.json || {};\nconst rawOutput = $input.first()?.json?.text || $input.first()?.json?.output || '';\n\nlet analisis = {};\ntry {\n  const cleaned = rawOutput.replace(/```json\\n?|```\\n?/g, '').trim();\n  analisis = JSON.parse(cleaned);\n} catch (e) {\n  try {\n    const jsonMatch = rawOutput.match(/\\{[\\s\\S]*\\}/);\n    if (jsonMatch) analisis = JSON.parse(jsonMatch[0]);\n  } catch (e2) {\n    analisis = {};\n  }\n}\n\n// Fallback defaults\nif (!analisis.intencion_principal) {\n  analisis = {\n    intencion_principal: 'otro',\n    tema_detectado: 'general',\n    perfil_paciente: 'solo_curiosidad',\n    sentimiento: 'neutro',\n    barrera_principal: 'ninguna',\n    pregunto_precio: false,\n    senales_precio: { pregunto_precio: false, menciono_presupuesto: false, nivel_sensibilidad: 'ninguna' },\n    sintomas_estructurados: [],\n    banderas_rojas: [],\n    urgencia_percibida: 'normal',\n    nombre_detectado: null,\n    edad_detectada: null,\n    para_quien: 'para_si_mismo'\n  };\n}\n\n// === EXTRACT FIELDS ===\nconst intencionPrincipal = analisis.intencion_principal || 'otro';\nconst temaDetectado = analisis.tema_detectado || 'general';\nconst perfilPaciente = analisis.perfil_paciente || 'solo_curiosidad';\nconst sentimiento = analisis.sentimiento || 'neutro';\nconst barrieraPrincipal = analisis.barrera_principal || 'ninguna';\n\n// === PRECIO (ACUMULATIVO) ===\nconst senalesPrecio = analisis.senales_precio || {};\nconst preguntoPrecioNuevo = senalesPrecio.pregunto_precio || analisis.pregunto_precio || false;\nconst preguntoPrecio = preguntoPrecioNuevo || ctx.pregunto_precio || false;\nconst nivelSensibilidadPrecio = senalesPrecio.nivel_sensibilidad || 'ninguna';\n\n// === NOMBRE (anti-síntoma validation) ===\nconst terminosMedicos = new Set([\n  'disuria', 'hematuria', 'polaquiuria', 'nicturia', 'incontinencia',\n  'fimosis', 'prostatitis', 'cistitis', 'varicocele', 'hidrocele',\n  'dolor', 'ardor', 'sangre', 'piedra', 'riñon', 'prostata', 'próstata',\n  'hola', 'buenos', 'dias', 'buenas', 'tardes', 'noches', 'gracias',\n  'ok', 'si', 'sí', 'no', 'claro', 'dale', 'perfecto', 'bien'\n]);\nconst rawNombre = analisis.nombre_detectado || null;\nconst nombreDetectado = (rawNombre && !terminosMedicos.has(rawNombre.toLowerCase().trim()) && rawNombre.length > 1 && rawNombre.length < 60) ? rawNombre : null;\n\n// === URGENCIA (NEVER DOWNGRADE) ===\nconst urgenciaNueva = analisis.urgencia_percibida || 'normal';\nconst urgenciaPrevia = ctx.urgencia_percibida || 'normal';\nconst ordenUrgencia = { 'normal': 1, 'alta': 2, 'emergencia': 3 };\nconst urgenciaFinal = (ordenUrgencia[urgenciaNueva] || 1) >= (ordenUrgencia[urgenciaPrevia] || 1) ? urgenciaNueva : urgenciaPrevia;\n\n// === SÍNTOMAS (merge with previous, no duplicates) ===\nconst sintomasNuevos = Array.isArray(analisis.sintomas_estructurados)\n  ? analisis.sintomas_estructurados.filter(s => s && s.nombre)\n  : [];\n\nlet sintomasPrevios = [];\nif (Array.isArray(ctx.sintomas_acumulados)) {\n  sintomasPrevios = ctx.sintomas_acumulados.map(s => typeof s === 'string' ? { nombre: s, severidad: 'moderada' } : s);\n}\n\nconst ordenSeveridad = { 'leve': 1, 'moderada': 2, 'severa': 3 };\nconst sintomasMerged = [...sintomasPrevios];\nfor (const sNew of sintomasNuevos) {\n  const nombreLower = (sNew.nombre || '').toLowerCase();\n  const existente = sintomasMerged.find(s => (s.nombre || '').toLowerCase() === nombreLower);\n  if (!existente) {\n    sintomasMerged.push(sNew);\n  } else {\n    if ((ordenSeveridad[sNew.severidad] || 2) > (ordenSeveridad[existente.severidad] || 2)) {\n      existente.severidad = sNew.severidad;\n    }\n    if (sNew.descripcion_original) existente.descripcion_original = sNew.descripcion_original;\n    if (!existente.tiempo_evolucion && sNew.tiempo_evolucion) existente.tiempo_evolucion = sNew.tiempo_evolucion;\n  }\n}\n\n// === BANDERAS ROJAS (ACUMULATIVAS) ===\nconst banderasNuevas = Array.isArray(analisis.banderas_rojas) ? analisis.banderas_rojas : [];\nconst banderasPrevias = Array.isArray(ctx.banderas_rojas_previas) ? ctx.banderas_rojas_previas : [];\nconst banderasMerged = [...new Set([...banderasPrevias, ...banderasNuevas])];\n\nreturn [{\n  json: {\n    ...ctx,\n    // CRM fields\n    intencion_principal: intencionPrincipal,\n    intencion: intencionPrincipal,\n    tema_detectado: temaDetectado,\n    perfil_paciente: perfilPaciente,\n    sentimiento,\n    barrera_principal: barrieraPrincipal,\n    senales_precio: senalesPrecio,\n    nivel_sensibilidad_precio: nivelSensibilidadPrecio,\n    pregunto_precio: preguntoPrecio,\n    para_quien: analisis.para_quien || 'para_si_mismo',\n    edad_detectada: analisis.edad_detectada || null,\n    nombre_detectado: nombreDetectado,\n    urgencia_percibida: urgenciaFinal,\n    es_urgencia_medica: urgenciaFinal === 'emergencia' || urgenciaFinal === 'alta',\n    sintomas_estructurados: sintomasMerged,\n    sintomas_merged: sintomasMerged.map(s => s.nombre).filter(Boolean),\n    banderas_rojas: banderasMerged,\n    tiene_historial_real: (ctx.historial_mensajes || '').length > 50,\n    es_primera_interaccion: !((ctx.historial_mensajes || '').length > 50) && (ctx.total_mensajes || 0) <= 1\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        18496,
        7424
      ],
      "id": "e5fa727f-ef22-4d99-9981-f8c6c0b186fb",
      "name": "7️⃣ Procesar Análisis",
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM upsert_lead_v13(\n  $1::text,     -- telefono\n  $2::text,     -- nombre\n  $3::text,     -- fuente\n  $4::text,     -- canal\n  $5::text,     -- mensaje\n  $6::text,     -- intencion\n  $7::text,     -- urgencia\n  $8::text[],   -- sintomas_nuevos\n  $9::text[],   -- banderas_rojas\n  $10::boolean, -- pregunto_precio\n  $11::text,    -- sentimiento\n  $12::text,    -- tiempo_evolucion\n  $13::text,    -- fit_servicio\n  $14::text,    -- para_quien\n  $15::text[],  -- objeciones\n  $16::text,    -- campana_id\n  $17::text,    -- campana_headline\n  $18::text,    -- campana_url\n  $19::text,    -- ctwa_clid\n  $20::jsonb,   -- referral_data\n  $21::jsonb    -- signals\n)",
        "options": {
          "queryReplacement": "={{ [\n  $json.telefono || '',\n  $json.nombre_detectado || $json.nombreUsuario || $json.nombre_confirmado || 'Usuario',\n  $json.es_meta_ads ? 'meta_ads' : ($json.fuente || 'whatsapp_directo'),\n  $json.es_meta_ads ? 'meta_ads' : 'organico',\n  ($json.mensajeUsuario || '').substring(0, 5000),\n  $json.intencion_principal || $json.intencion || 'otro',\n  $json.urgencia_percibida || 'bajo',\n  ($json.sintomas_merged || []).slice(0, 10),\n  $json.banderas_rojas || [],\n  $json.pregunto_precio === true,\n  $json.sentimiento || 'neutro',\n  $json.tiempo_evolucion || null,\n  $json.prediccion_conversion === 'alta' ? 'alto' : ($json.prediccion_conversion === 'media' ? 'medio' : 'bajo'),\n  $json.para_quien === 'para_si_mismo' ? 'mismo' : 'otro',\n  $json.barrera_principal && $json.barrera_principal !== 'ninguna' ? [$json.barrera_principal] : [],\n  $json.meta_campana_id || null,\n  $json.meta_headline || null,\n  $json.meta_source_url || null,\n  $json.meta_ctwa_clid || null,\n  null,\n  JSON.stringify({\n    perfil_paciente: $json.perfil_paciente || null,\n    emociones: $json.emociones_detectadas || [],\n    nivel_compromiso: $json.nivel_compromiso || null,\n    prediccion_conversion: $json.prediccion_conversion || null,\n    incentivo_sugerido: $json.incentivo_sugerido || null,\n    barrera_principal: $json.barrera_principal || null,\n    pregunto_precio: $json.pregunto_precio === true,\n    sintomas_estructurados: $json.sintomas_estructurados || [],\n    senales_precio: $json.senales_precio || null,\n    tema_detectado: $json.tema_detectado || null,\n    cualificado: $json.cualificado === true\n  })\n] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        18720,
        7424
      ],
      "id": "5eefe0ca-5c7d-442b-afe3-f9a0ea257aa5",
      "name": "8️⃣ Guardar Lead",
      "credentials": {
        "postgres": {
          "id": "LZyK5sbzVT7Dy3RU",
          "name": "Postgres urobot"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT puede_enviar_mensaje_whatsapp($1::text, 2, 10, 30) as resultado",
        "options": {
          "queryReplacement": "={{ [$json.telefono || $('1️⃣ Validar y Normalizar').first().json.telefono] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        18944,
        7424
      ],
      "id": "c68a5b39-4066-4e77-aa6f-0c2bf74d4bdd",
      "name": "🛡️ Anti-Baneo Check",
      "credentials": {
        "postgres": {
          "id": "LZyK5sbzVT7Dy3RU",
          "name": "Postgres urobot"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "puede-enviar",
              "leftValue": "={{ $json.resultado?.puede_enviar }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        19168,
        7424
      ],
      "id": "a60f4879-8f48-43bb-b905-8d697521f8f4",
      "name": "🚦 ¿Puede Enviar?"
    },
    {
      "parameters": {
        "jsCode": "// ═══════════════════════════════════════════════════════════════════\n// 🏷️ CLASIFICADOR HÍBRIDO UROBOT v2 - TÚ + USTED + multi-line\n// ═══════════════════════════════════════════════════════════════════\n\nconst ctx = $('9️⃣ Formatear Contexto').first()?.json || {};\nconst limpioData = $('🧹 Limpiar Respuesta').first()?.json || {};\nconst texto = limpioData.text || '';\nconst t = texto.toLowerCase();\nconst parrafos = texto.split(/\\n\\n+/).filter(p => p.trim());\nconst ultimoParrafo = (parrafos[parrafos.length - 1] || texto).toLowerCase();\n// Texto completo sin saltos de línea para regex multi-line\nconst tFlat = t.replace(/\\n/g, ' ');\n\nfunction clasificarHibrido() {\n  // ── PASO 1: CONFIRMACIÓN de cita (alta prioridad) ──\n  // Bot confirma que la cita quedó agendada/reservada\n  if (/qued(ó|a)?\\s*(agendad|reservad|formalmente)|ya qued(ó|a)|su cita.*confirm|tu cita.*confirm|listo.*reserv|queda reservad/i.test(t)) return 'confirmacion';\n  // Bot pide nombre completo para agendar\n  if (/confirm(a|e)me (tu|su) nombre|(tu|su) nombre completo|para (generar|abrir).*expediente|necesito su nombre/i.test(t)) return 'confirmacion';\n\n  // ── PASO 2: HORARIOS DADOS (bot mostró disponibilidad real) ──\n  // Detecta días + horas en el texto (multi-line safe con tFlat)\n  if (/(lunes|martes|mi[eé]rcoles|jueves|viernes|s[aá]bado)[\\s\\S]{0,60}\\d{1,2}[:\\.]?\\d{0,2}\\s*(hrs|hr|pm|am|p\\.m|a\\.m)?/i.test(tFlat)) {\n    // Si además hay pregunta = pidiendo que elija horario\n    if (/\\?/.test(t)) return 'horarios_dados';\n    // Si menciona \"disponible/espacio/tengo\" = mostrando opciones\n    if (/disponib|espacio|tengo|le queda/i.test(t)) return 'horarios_dados';\n  }\n  // Patrón directo: hora + pregunta (multi-line safe)\n  if (/\\d{1,2}:\\d{2}\\s*(pm|am|hrs|p\\.m|a\\.m)?[\\s\\S]{0,80}\\?/i.test(tFlat)) return 'horarios_dados';\n  // \"te/le queda/funciona/parece este horario\"\n  if (/(te|le) (queda|funciona|parece|acomoda)[\\s\\S]{0,30}(horario|hora|espacio)|apartarlo|apart[aá]rselo/i.test(tFlat)) return 'horarios_dados';\n\n  // ── PASO 3: OFERTA DE CITA (bot invita a agendar) ──\n  // USTED patterns (el bot habla de usted por defecto)\n  if (/le (busco|consigo|agendo|aparto)\\s*(un\\s*)?(espacio|horario|cita|lugar)/i.test(t)) return 'oferta_cita';\n  if (/le (gustar[ií]a|interesa)\\s*(que le)?\\s*(busque|agende|aparte|consiga)/i.test(t)) return 'oferta_cita';\n  if (/le queda mejor.*(polanco|sat[eé]lite|sede)|cu[aá]l sede le/i.test(t)) return 'oferta_cita';\n  if (/en cu[aá]l sede le (acomoda|queda|conviene)/i.test(t)) return 'oferta_cita';\n  if (/quiere que le (agende|busque|aparte)/i.test(t)) return 'oferta_cita';\n  // TÚ patterns (si el paciente tutea)\n  if (/te (gustar[ií]a|interesa).*agendar|te ofrezca.*espacio|quieres.*cita/i.test(t)) return 'oferta_cita';\n  // Cierre suave con sede\n  if (/polanco o sat[eé]lite/i.test(ultimoParrafo) && /\\?/.test(ultimoParrafo)) return 'oferta_cita';\n\n  // ── PASO 4: DESCUBRIMIENTO (pregunta médica) ──\n  if (/\\?/.test(ultimoParrafo) && /s[ií]ntoma|siente|cu[aá]ndo|molest|orin|dolor|ard|sangr|pr[oó]stat|levant|ba[nñ]o|noche/i.test(ultimoParrafo)) return 'descubrimiento';\n\n  // ── PASO 5: Fallbacks por contenido ──\n  if (/recuerda.*cita|no olvides|te esperamos|le esperamos|cualquier.*duda.*(aqu[ií]|estamos)/i.test(t)) return 'seguimiento';\n  if (/\\$\\s*\\d|precio|costo|consult.*incluye|honorario|\\d[,.]?\\d{3}\\s*(mxn|pesos)/i.test(t)) {\n    if (/disponib|espacio|lunes|martes|mi[eé]rcoles|jueves|viernes|s[aá]bado/i.test(t)) return 'horarios_dados';\n    return 'precio_dado';\n  }\n  if (/ubicaci|direcci|blvd|colonia|consultorio|hospital.*[aá]ngeles|san.*[aá]ngel/i.test(t)) return 'ubicacion_dada';\n  if (/urgencia|emergencia|acudir.*inmediatamente|urolog.*guardia/i.test(t)) return 'escalamiento';\n  if (/bienvenid|encantado|mucho gusto|soy.*dr|asistente.*dr|qu[eé] gusto que nos escribe/i.test(t)) return 'bienvenida';\n\n  return 'conversacion';\n}\n\nconst faseConversacion = clasificarHibrido();\n\n// Determinar si el bot espera respuesta\nconst esperaRespuesta = /\\?/.test(ultimoParrafo) || \n  ['descubrimiento', 'horarios_dados', 'oferta_cita', 'confirmacion'].includes(faseConversacion);\n\n// Acción del bot → mapea a valores que transition_lead_estado reconoce\nconst accionesMap = {\n  'informar_vph': 'informar_precio',\n  'confirmacion': 'confirmar_cita',\n  'horarios_dados': 'mostrar_horarios',\n  'oferta_cita': 'ofrecer_cita',\n  'descubrimiento': 'evaluar_sintomas',\n  'precio_dado': 'informar_precio',\n  'ubicacion_dada': 'informar_ubicacion',\n  'escalamiento': 'escalar_urgente',\n  'seguimiento': 'recordar_cita',\n  'bienvenida': 'presentarse',\n  'conversacion': 'continuar'\n};\nconst accionBot = accionesMap[faseConversacion] || 'continuar';\n\nreturn [{\n  json: {\n    ...ctx,\n    text: limpioData.text || '',\n    fase_conversacion: faseConversacion,\n    accion_bot: accionBot,\n    espera_respuesta: esperaRespuesta,\n    conversacion_id: ctx.conversacion_id || null\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        20816,
        7296
      ],
      "id": "9754cfa9-65cd-4079-b894-9b9e078cf3bc",
      "name": "🏷️ Procesar Clasificación",
      "continueOnFail": true
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        18288,
        7648
      ],
      "id": "02461dd2-b490-4d75-99ff-1b138b1b6047",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "dlAhoVkOPGtESarh",
          "name": "GOOGLE UROBOT"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-3-flash-preview",
        "options": {
          "temperature": 1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        19744,
        7520
      ],
      "id": "a4c96e59-c870-4078-8f9a-7cce1cd8387d",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "dlAhoVkOPGtESarh",
          "name": "GOOGLE UROBOT"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT (r->>'bloqueado')::boolean AS bloqueado, r->>'motivo' AS motivo, r->>'tipo' AS tipo FROM check_numero_bloqueado($1::text) AS r",
        "options": {
          "queryReplacement": "={{ [$('1️⃣ Validar y Normalizar').first().json.telefono] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        15904,
        7424
      ],
      "id": "ae2f500c-3900-404d-a360-3619693abd52",
      "name": "🛑 Check Bloqueo DB",
      "credentials": {
        "postgres": {
          "id": "LZyK5sbzVT7Dy3RU",
          "name": "Postgres urobot"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "not-blocked",
              "leftValue": "={{ $json.bloqueado }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        16128,
        7424
      ],
      "id": "eb95c5df-ba69-4128-bc40-a06751f817f9",
      "name": "🛑 ¿Bloqueado?"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT CASE\n  WHEN $2 IN ('confirmar_cita', 'agendar_cita', 'cita_agendada', 'cita_confirmada', 'crear_cita') THEN\n    transition_lead_estado($1::uuid, 'cita_agendada', 'bot', $2)\n  WHEN $2 IN ('ofrecer_cita', 'mostrar_disponibilidad', 'consultar_calendario', 'mostrar_horarios', 'enviar_disponibilidad') THEN\n    transition_lead_estado($1::uuid, 'cita_propuesta', 'bot', $2)\n  ELSE\n    jsonb_build_object('success', true, 'changed', false, 'reason', 'no transition for ' || $2)\nEND as result",
        "options": {
          "queryReplacement": "={{ [$('8️⃣ Guardar Lead').first().json.out_lead_id, $('🏷️ Procesar Clasificación').first().json.accion_bot || 'continuar'] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        21488,
        7296
      ],
      "id": "03f46fb5-f54d-4f15-bb20-f38d71922a8b",
      "name": "🔄 Actualizar Estado Lead",
      "credentials": {
        "postgres": {
          "id": "LZyK5sbzVT7Dy3RU",
          "name": "Postgres urobot"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const ctx = $('9️⃣ Formatear Contexto').first()?.json || $('5️⃣ Procesar Contexto').first()?.json || {};\nconsole.log(`⏸️ Anti-Baneo SKIP: ${ctx.telefono || 'desconocido'} - mensaje no enviado por rate limit`);\nreturn [{ json: { skipped: true, reason: 'anti_baneo', telefono: ctx.telefono || '' } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        19392,
        7488
      ],
      "id": "26fcf3a7-4ec8-4a0f-b217-6f01953c1280",
      "name": "⏸️ Skip Anti-Baneo",
      "continueOnFail": true
    }
  ],
  "pinData": {
    "WhatsApp Trigger": [
      {
        "json": {
          "messaging_product": "whatsapp",
          "metadata": {
            "display_phone_number": "5215569109230",
            "phone_number_id": "1012549211941127"
          },
          "contacts": [
            {
              "profile": {
                "name": "Ángel Beltrán"
              },
              "wa_id": "5215581785196"
            }
          ],
          "messages": [
            {
              "from": "5215581785196",
              "id": "wamid.HBgNNTIxNTU4MTc4NTE5NhUCABIYIEFDNEYxNkExOTY3MDAwRTY0ODNFRTFBOEY2QUYzNjBEAA==",
              "timestamp": "1772463020",
              "text": {
                "body": "3 pm"
              },
              "type": "text"
            }
          ],
          "field": "messages"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "🚫 Filtrar Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "🚫 Filtrar Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🚫 Filtrar Status": {
      "main": [
        [
          {
            "node": "⚡ Rate Limit Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⚡ Rate Limit Check": {
      "main": [
        [
          {
            "node": "🚦 Rate OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🚦 Rate OK?": {
      "main": [
        [
          {
            "node": "📱 Tipo Media?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📱 Tipo Media?": {
      "main": [
        [
          {
            "node": "WA Get URL Imagen",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "WA Get URL Audio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Texto Documento",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Texto Normal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WA Get URL Imagen": {
      "main": [
        [
          {
            "node": "HTTP Descargar Imagen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Vision": {
      "main": [
        [
          {
            "node": "Set Texto Imagen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Texto Imagen": {
      "main": [
        [
          {
            "node": "Summarize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WA Get URL Audio": {
      "main": [
        [
          {
            "node": "HTTP Descargar Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Whisper": {
      "main": [
        [
          {
            "node": "Set Texto Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Texto Audio": {
      "main": [
        [
          {
            "node": "Summarize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Texto Documento": {
      "main": [
        [
          {
            "node": "Summarize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Texto Normal": {
      "main": [
        [
          {
            "node": "1️⃣ Validar y Normalizar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize": {
      "main": [
        [
          {
            "node": "1️⃣ Validar y Normalizar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1️⃣ Validar y Normalizar": {
      "main": [
        [
          {
            "node": "🔒 Check Rate Limit DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔒 Check Rate Limit DB": {
      "main": [
        [
          {
            "node": "🔒 Rate Limit OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔒 Rate Limit OK?": {
      "main": [
        [
          {
            "node": "🛑 Check Bloqueo DB",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "⏳ Rate Limit Msg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🛑 Check Bloqueo DB": {
      "main": [
        [
          {
            "node": "🛑 ¿Bloqueado?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🛑 ¿Bloqueado?": {
      "main": [
        [
          {
            "node": "2️⃣ Upsert Conversación",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2️⃣ Upsert Conversación": {
      "main": [
        [
          {
            "node": "3️⃣ Guardar Mensaje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3️⃣ Guardar Mensaje": {
      "main": [
        [
          {
            "node": "📝 Registrar Debounce",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📝 Registrar Debounce": {
      "main": [
        [
          {
            "node": "⏳ Debounce 5s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⏳ Debounce 5s": {
      "main": [
        [
          {
            "node": "🔍 Check Debounce",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔍 Check Debounce": {
      "main": [
        [
          {
            "node": "¿Soy Último?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Soy Último?": {
      "main": [
        [
          {
            "node": "4️⃣ Cargar Contexto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4️⃣ Cargar Contexto": {
      "main": [
        [
          {
            "node": "5️⃣ Procesar Contexto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "5️⃣ Procesar Contexto": {
      "main": [
        [
          {
            "node": "6️⃣ Analizar Gemini",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "9️⃣ Formatear Contexto": {
      "main": [
        [
          {
            "node": "🤖 AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🤖 AI Agent": {
      "main": [
        [
          {
            "node": "🧹 Limpiar Respuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🧹 Limpiar Respuesta": {
      "main": [
        [
          {
            "node": "🏷️ Procesar Clasificación",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar WhatsApp": {
      "main": [
        [
          {
            "node": "💾 Guardar Respuesta Bot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💾 Guardar Respuesta Bot": {
      "main": [
        [
          {
            "node": "🔄 Actualizar Estado Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "🤖 AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "🔄 Actualizar Estado Lead": {
      "main": [
        [
          {
            "node": "📊 Registrar Rate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'DISPONIBILIDAD_CALENDARIO'": {
      "ai_tool": [
        [
          {
            "node": "🤖 AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Call 'AGENDAR_CONSULTA'": {
      "ai_tool": [
        [
          {
            "node": "🤖 AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Call 'CANCELAR_CONSULTA'": {
      "ai_tool": [
        [
          {
            "node": "🤖 AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Call 'REAGENDAR_CONSULTA'": {
      "ai_tool": [
        [
          {
            "node": "🤖 AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Descargar Imagen": {
      "main": [
        [
          {
            "node": "OpenAI Vision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Descargar Audio": {
      "main": [
        [
          {
            "node": "OpenAI Whisper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "🤖 AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "6️⃣ Analizar Gemini": {
      "main": [
        [
          {
            "node": "7️⃣ Procesar Análisis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Analizador": {
      "ai_languageModel": [
        [
          {
            "node": "6️⃣ Analizar Gemini",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "7️⃣ Procesar Análisis": {
      "main": [
        [
          {
            "node": "8️⃣ Guardar Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "8️⃣ Guardar Lead": {
      "main": [
        [
          {
            "node": "🛡️ Anti-Baneo Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🛡️ Anti-Baneo Check": {
      "main": [
        [
          {
            "node": "🚦 ¿Puede Enviar?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🚦 ¿Puede Enviar?": {
      "main": [
        [
          {
            "node": "9️⃣ Formatear Contexto",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "⏸️ Skip Anti-Baneo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🏷️ Procesar Clasificación": {
      "main": [
        [
          {
            "node": "Enviar WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "6️⃣ Analizar Gemini",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "🤖 AI Agent",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Mexico_City",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": true,
    "timeSavedMode": "fixed",
    "binaryMode": "separate"
  },
  "versionId": "2ae9fb90-350a-4a15-a332-9d5ee403bf25",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8c33c5b047d489bd000bdf4aabe6e4981a2da591f7a11d61031348a2fe3ef66c"
  },
  "id": "MRdxjt5nxJFilgSV",
  "tags": []
}