FLUJOS N8N/BLOQUEAR DOCTORALIA.json
{
  "name": "BLOQUEAR DOCTORALIA",
  "nodes": [
    {
      "parameters": {},
      "id": "cd2036f9-50de-45ba-9d6d-ff94e161bc61",
      "name": "Disparador Manual",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://production-sfo.browserless.io/function",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "2TRxwP7Wkg22NkHf3974bae30d2405441c922d92eef888447"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "context",
              "value": "={{ {\n  \"fecha\": $json.fecha,\n  \"horaInicio\": $json.hora_inicio,\n  \"horaFin\": $json.hora_fin,\n  \"consultorio\": $json.consultorio,\n  \"cookies\": $json.cookies_json\n} }}"
            },
            {
              "name": "code",
              "value": "export default async ({ page, context }) => {\n  try {\n    const { fecha, horaInicio, horaFin, consultorio, cookies } = context;\n    console.log(`🤖 V21 Formulario Manual: ${fecha} ${horaInicio} en ${consultorio}`);\n\n    // 1. INYECTAR COOKIES\n    const cookiesArray = typeof cookies === 'string' ? JSON.parse(cookies) : cookies;\n    await page.setCookie(...cookiesArray);\n\n    await page.setViewport({ width: 1920, height: 1080 });\n\n    // 2. IR AL CALENDARIO\n    await page.goto('https://docplanner.doctoralia.com.mx/#/calendar/week', { waitUntil: 'networkidle2' });\n    await page.waitForSelector('.fc-scrollgrid', { timeout: 20000 });\n\n    // 3. ABRIR EL PANEL (Haciendo clic en la hora deseada en la grilla)\n    // Nota: Si no encontramos la hora, usamos el botón \"Añadir\" genérico si existe, pero la grilla es mejor.\n    const timeStr = horaInicio.includes(':00') ? horaInicio : `${horaInicio}:00`;\n    const daySelector = `td[data-date=\"${fecha}\"]`;\n    const timeSelector = `td[data-time=\"${timeStr}\"]`;\n\n    // Asegurar que la fecha es visible (Viaje en el tiempo V15)\n    if (!await page.$(daySelector)) {\n         console.log('Fecha no visible, usando datepicker...');\n         const dateInput = 'input.vdp-datepicker__input, input[placeholder*=\"dd\"]';\n         if (await page.$(dateInput)) {\n             const [yyyy, mm, dd] = fecha.split('-');\n             await page.click(dateInput, { clickCount: 3 });\n             await page.type(dateInput, `${dd}.${mm}.${yyyy}`);\n             await page.keyboard.press('Enter');\n             await page.waitForSelector(daySelector, { timeout: 15000 });\n         }\n    }\n\n    // Clic en la celda para abrir el panel\n    const colEl = await page.waitForSelector(daySelector);\n    const rowEl = await page.waitForSelector(timeSelector);\n    await rowEl.scrollIntoView();\n    const colBox = await colEl.boundingBox();\n    const rowBox = await rowEl.boundingBox();\n    await page.mouse.click(colBox.x + (colBox.width / 2), rowBox.y + (rowBox.height / 2));\n\n    // 4. ESPERAR PANEL LATERAL\n    console.log('Esperando panel lateral...');\n    await page.waitForSelector('[data-testid=\"booking-drawer\"]', { visible: true });\n\n    // 5. SELECCIONAR PESTAÑA \"BLOQUEO\" (Tu selector)\n    console.log('Cambiando a Bloqueo...');\n    const tabBloqueo = 'a[aria-label=\"Bloqueo\"]';\n    await page.waitForSelector(tabBloqueo);\n    await page.click(tabBloqueo);\n\n    // 6. SELECCIONAR CONSULTORIO (Agenda)\n    // Buscamos el dropdown que contiene el nombre del consultorio actual o el selector genérico\n    console.log(`Seleccionando consultorio: ${consultorio}`);\n    // Este XPath busca un input que esté cerca del texto del consultorio o el dropdown principal\n    // Intentamos hacer clic en el selector de agenda\n    const agendaDropdown = '.multiselect__select'; // Selector genérico de Doctoralia para dropdowns\n    // OJO: Doctoralia suele tener varios. Vamos a buscar el que tiene la lista de agendas.\n    \n    // Estrategia Robusta: Buscar el texto del consultorio en la página. Si no está seleccionado, abrir dropdown.\n    const consultorioXpath = `//span[contains(text(), '${consultorio}')]`;\n    const isSelected = await page.$x(consultorioXpath);\n    \n    if (isSelected.length === 0) {\n        // Si no vemos el nombre, abrimos el dropdown de agendas\n        // Usamos un selector más amplio para encontrar el dropdown de agendas\n        await page.click('.booking-appointment-sidebar-create-header .multiselect'); \n        await new Promise(r => setTimeout(r, 500));\n        // Ahora clic en el nombre del consultorio\n        const [opcion] = await page.$x(`//span[contains(text(), '${consultorio}')]`);\n        if (opcion) await opcion.click();\n    }\n\n    // 7. AJUSTAR HORA FIN (Duración)\n    // Doctoralia calcula la hora fin basada en la duración. \n    // Tu selector de hora fin: dropdown-toggle\n    // Vamos a calcular la duración y seleccionarla.\n    const start = new Date(`2000-01-01T${horaInicio}`);\n    const end = new Date(`2000-01-01T${horaFin}`);\n    const diff = (end - start) / 60000;\n    console.log(`Estableciendo duración: ${diff} min`);\n    \n    // Abrir dropdown de duración\n    await page.click('[data-testid=\"booking-drawer-module-details-duration-0\"]');\n    const durXpath = `//span[contains(text(), '${diff} min')]`;\n    const [opt] = await page.$x(durXpath);\n    if (opt) await opt.click();\n\n    // 8. ESCRIBIR NOTA (Tu selector)\n    console.log('Escribiendo nota...');\n    const noteInput = 'input[aria-label=\"Nombre\"]';\n    await page.waitForSelector(noteInput);\n    await page.type(noteInput, 'Bloqueado por Urobot');\n\n    // 9. CREAR BLOQUEO (Tu selector)\n    console.log('Guardando...');\n    const btnCrear = 'button[aria-label=\"Crear bloqueo\"]';\n    await page.waitForSelector(btnCrear);\n    await page.click(btnCrear);\n    \n    // Esperar confirmación (que se cierre el panel)\n    await page.waitForFunction(() => !document.querySelector('[data-testid=\"booking-drawer\"]'));\n\n    return { success: true, msg: `✅ Bloqueo creado en ${consultorio} para ${fecha} ${horaInicio}` };\n\n  } catch (err) {\n      const screenshot = await page.screenshot({ encoding: 'base64', quality: 40, type: 'jpeg' });\n      return { \n          status: 'error',\n          msg: err.message,\n          screenshot_base64: screenshot\n      };\n  }\n};"
            }
          ]
        },
        "options": {
          "timeout": 120000
        }
      },
      "id": "3e5954a1-30c6-44a5-a3ae-1956f72b865c",
      "name": "Bloquear (V21 Formulario)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        544,
        0
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "fecha",
              "value": "2025-11-20"
            },
            {
              "name": "hora_inicio",
              "value": "17:00"
            },
            {
              "name": "hora_fin",
              "value": "17:30"
            },
            {
              "name": "consultorio",
              "value": "Hospital San Angel Inn Satelite"
            },
            {
              "name": "cookies_json",
              "value": "[     {         \"domain\": \"docplanner.doctoralia.com.mx\",         \"expirationDate\": 1763657146,         \"hostOnly\": true,         \"httpOnly\": false,         \"name\": \"mkplAuth\",         \"path\": \"/\",         \"sameSite\": \"lax\",         \"secure\": true,         \"session\": false,         \"storeId\": null,         \"value\": \"bearer%20YTE0NjYwNGE3MmI3ZDU4ZjNhMjhhMGUyMzM2MTU0ZjYzMmQ5ODMxZjU1ZDFmZjIwODNmNzVhNWJiNWRmN2Y0MQ\"     } ]"
            }
          ]
        },
        "options": {}
      },
      "id": "c81193e4-f81e-4603-ba28-dbbfebbe13d3",
      "name": "DATOS Y COOKIE1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        320,
        0
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Disparador Manual": {
      "main": [
        [
          {
            "node": "DATOS Y COOKIE1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DATOS Y COOKIE1": {
      "main": [
        [
          {
            "node": "Bloquear (V21 Formulario)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d4c51d5b-72e0-49a0-8c8a-6c25b0440c4d",
  "meta": {
    "instanceId": "8c33c5b047d489bd000bdf4aabe6e4981a2da591f7a11d61031348a2fe3ef66c"
  },
  "id": "qWzLx7rDX6omWnBY",
  "tags": []
}