FLUJOS N8N/LEAD_TRACKER_UROBOT.json
{
  "name": "LEAD_TRACKER_UROBOT",
  "nodes": [
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"Lead_ID\": null,\n  \"Nombre_Completo\": \"Nombre Apellido\",\n  \"Telefono_WhatsApp\": \"+525512345678\",\n  \"Fuente_Lead\": \"WhatsApp\",\n  \"Fecha_Primer_Contacto\": \"2025-10-16T00:00:00Z\",\n  \"Estado\": \"Nuevo\",\n  \"Notas_Iniciales\": \"Mensaje inicial del paciente\",\n  \"Session_ID\": \"S-XXX011\",\n  \"ultima_interaccion\": \"2025-10-16T00:00:00Z\",\n  \"total_interacciones\": 1,\n  \"Paciente_ID\": null,\n  \"Fecha_Conversion\": null\n}\n"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1552,
        -192
      ],
      "id": "14efc895-d0d6-410e-99f4-02bf271a9600",
      "name": "When called by another workflow"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT * FROM upsert_lead_interaction(\n  -- IDENTIDAD / LEAD\n  p_nombre_completo := {{ $json.Nombre_Completo ? \"'\" + $json.Nombre_Completo.replace(/'/g, \"''\") + \"'\" : \"NULL\" }},\n  p_telefono_whatsapp := {{ $json.Telefono_WhatsApp ? \"'\" + $json.Telefono_WhatsApp + \"'\" : \"NULL\" }},\n\n  -- MARKETING / ORIGEN\n  p_fuente_lead := {{ $json.Fuente_Lead ? \"'\" + $json.Fuente_Lead + \"'\" : \"'WhatsApp'\" }},\n  p_canal_marketing := {{ $json.Canal_Marketing ? \"'\" + $json.Canal_Marketing.replace(/'/g, \"''\") + \"'\" : \"NULL\" }},\n\n  -- ESTADO DEL LEAD\n  p_estado := {{ $json.Estado ? \"'\" + $json.Estado + \"'\" : \"'Nuevo'\" }},\n  p_notas_iniciales := {{ $json.Notas_Iniciales ? \"'\" + $json.Notas_Iniciales.replace(/'/g, \"''\") + \"'\" : \"NULL\" }},\n\n  -- SESIÓN / MENSAJE\n  p_session_id := {{ $json.Session_ID ? \"'\" + $json.Session_ID + \"'\" : \"NULL\" }},\n  p_message_id := {{ $json.Conversacion_Mensaje_ID || $json.messageId\n                      ? \"'\" + ($json.Conversacion_Mensaje_ID || $json.messageId) + \"'\"\n                      : \"NULL\"\n                  }},\n\n  -- CONTENIDO DE LA CONVERSACIÓN\n  p_contenido := {{ $json.Conversacion_Texto\n                      ? \"'\" + $json.Conversacion_Texto.replace(/'/g, \"''\") + \"'\"\n                      : \"NULL\"\n                  }},\n  p_tipo_mensaje := {{ $json.Conversacion_Tipo\n                        ? \"'\" + $json.Conversacion_Tipo + \"'\"\n                        : \"'texto'\"\n                    }},\n  p_timestamp_mensaje := {{ $json.Conversacion_Timestamp\n                              ? \"'\" + $json.Conversacion_Timestamp + \"'::TIMESTAMPTZ\"\n                              : \"NOW()\"\n                          }},\n  p_es_bot := FALSE,\n\n  -- VÍNCULO PACIENTE / CONVERSIÓN\n  p_paciente_id := {{ $json.Paciente_ID ? \"'\" + $json.Paciente_ID + \"'::UUID\" : \"NULL\" }},\n  p_fecha_conversion := {{ $json.Fecha_Conversion ? \"'\" + $json.Fecha_Conversion + \"'::TIMESTAMPTZ\" : \"NULL\" }}\n);\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -1328,
        -192
      ],
      "id": "c754af29-5393-41a1-bfb3-a66d088399e6",
      "name": "Upsert Lead (RPC)",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000
    },
    {
      "parameters": {
        "jsCode": "// ========================================\n// PARSE RPC RESPONSE v2.0\n// ========================================\n// Compatible con formato Urobot\n\nconst input = $input.first()?.json;\n\n// El resultado viene como array de PostgreSQL\nlet result;\n\nif (Array.isArray(input) && input.length > 0) {\n  // Formato: [{ upsert_lead_interaction: {...} }]\n  result = input[0]?.upsert_lead_interaction || input[0];\n} else if (input?.upsert_lead_interaction) {\n  // Formato directo con función\n  result = input.upsert_lead_interaction;\n} else {\n  // Formato directo\n  result = input;\n}\n\n// Si viene como string JSON, parsearlo\nif (typeof result === 'string') {\n  try {\n    result = JSON.parse(result);\n  } catch (e) {\n    console.error('❌ Error parseando respuesta:', e);\n    result = { success: false, error: 'PARSE_ERROR', message: e.message };\n  }\n}\n\n// Extraer campos del JSONB\nconst success = result?.success || false;\nconst action = result?.action || 'UNKNOWN';\nconst isDuplicate = result?.is_duplicate || false;\nconst leadId = result?.lead_id || null;\nconst leadUuid = result?.lead_uuid || null;\nconst telefono = result?.telefono || null;\nconst telefonoOriginal = result?.telefono_original || null;\nconst totalInteracciones = result?.total_interacciones || 0;\nconst estado = result?.estado || null;\nconst message = result?.message || 'Procesado';\nconst error = result?.error || null;\nconst errorDetail = result?.error_detail || null;\n\n// Logging para debugging\nif (success) {\n  console.log('✅ LEAD_TRACKER RPC Result:', {\n    action,\n    lead_id: leadId,\n    total_interacciones: totalInteracciones,\n    is_duplicate: isDuplicate\n  });\n} else {\n  console.error('❌ LEAD_TRACKER Error:', {\n    error,\n    error_detail: errorDetail,\n    message\n  });\n}\n\n// Retornar formato consistente para n8n\nreturn [{\n  json: {\n    success,\n    action,\n    is_duplicate: isDuplicate,\n    lead_id: leadId,\n    lead_uuid: leadUuid,\n    telefono,\n    telefono_original: telefonoOriginal,\n    total_interacciones: totalInteracciones,\n    estado,\n    message,\n    error,\n    error_detail: errorDetail,\n    \n    // Metadata\n    _timestamp: new Date().toISOString(),\n    _version: '2.0',\n    _source: 'LEAD_TRACKER_V2_RPC'\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1104,
        -192
      ],
      "id": "d9ab5bf9-6406-47da-b53c-6513d52b10d8",
      "name": "Parse Response"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "id": "success-check",
              "leftValue": "={{ $json.success }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "looseTypeValidation": true
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -880,
        -192
      ],
      "id": "a3c6d31c-37d2-4871-bef6-8d413f127221",
      "name": "Success?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "status",
              "name": "status",
              "value": "success",
              "type": "string"
            },
            {
              "id": "action",
              "name": "action",
              "value": "={{ $json.action }}",
              "type": "string"
            },
            {
              "id": "lead_id",
              "name": "lead_id",
              "value": "={{ $json.lead_id }}",
              "type": "string"
            },
            {
              "id": "lead_uuid",
              "name": "lead_uuid",
              "value": "={{ $json.lead_uuid }}",
              "type": "string"
            },
            {
              "id": "telefono",
              "name": "telefono",
              "value": "={{ $json.telefono }}",
              "type": "string"
            },
            {
              "id": "total_interacciones",
              "name": "total_interacciones",
              "value": "={{ $json.total_interacciones }}",
              "type": "number"
            },
            {
              "id": "is_duplicate",
              "name": "is_duplicate",
              "value": "={{ $json.is_duplicate }}",
              "type": "boolean"
            },
            {
              "id": "message",
              "name": "message",
              "value": "={{ $json.message }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -656,
        -288
      ],
      "id": "bbb46afc-7df4-438c-9d90-4a881c172679",
      "name": "Return Success"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "status",
              "name": "status",
              "value": "error",
              "type": "string"
            },
            {
              "id": "error",
              "name": "error",
              "value": "={{ $json.error || 'UNKNOWN_ERROR' }}",
              "type": "string"
            },
            {
              "id": "error_detail",
              "name": "error_detail",
              "value": "={{ $json.error_detail || $json.message }}",
              "type": "string"
            },
            {
              "id": "telefono",
              "name": "telefono",
              "value": "={{ $json.telefono_original || '' }}",
              "type": "string"
            },
            {
              "id": "message",
              "name": "message",
              "value": "Error al procesar lead",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -656,
        -96
      ],
      "id": "a339ea22-de37-4057-b7a3-3a55d619f7cd",
      "name": "Return Error"
    }
  ],
  "pinData": {},
  "connections": {
    "When called by another workflow": {
      "main": [
        [
          {
            "node": "Upsert Lead (RPC)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Lead (RPC)": {
      "main": [
        [
          {
            "node": "Parse Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Response": {
      "main": [
        [
          {
            "node": "Success?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Success?": {
      "main": [
        [
          {
            "node": "Return Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0e7a01b5-39d1-407f-aea2-4f08c62ddb31",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8c33c5b047d489bd000bdf4aabe6e4981a2da591f7a11d61031348a2fe3ef66c"
  },
  "id": "60O0TVKpMILReijq",
  "tags": []
}