FLUJOS N8N/NOTIFICAR_ASISTENTE.json
{
  "name": "NOTIFICAR_ASISTENTE",
  "nodes": [
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "mensaje_para_liz",
              "stringValue": "=*Hola Liz, soy Angiobot.*\n\nTe escribo porque tenemos un paciente que requiere atenci贸n personalizada.\n\n *DATOS DEL PACIENTE*\n *Nombre:* {{ $json.nombre }}\n *Tel茅fono:* {{ $json.telefono }}\n *Link directo:* https://wa.me/{{ $json.telefono }}\n\n *ANLISIS Y ESTRATEGIA:*\n{{ $json.resumen }}"
            }
          ]
        },
        "options": {}
      },
      "id": "f545d038-c49b-4a43-a7b1-f0acf0dbb93d",
      "name": "Formato Mensaje Liz",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        224,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://wasenderapi.com/api/send-message",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ \n  JSON.stringify({\n    \"to\": \"+525663859124\",\n    \"text\": $('Formato Mensaje Liz').item.json.mensaje_para_liz\n  }) \n}}",
        "options": {}
      },
      "id": "35d532ac-3a31-454a-9c19-b8446a3dc25e",
      "name": "Enviar a Lizeth",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        448,
        0
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "xK3ExoG4aNY8VksA",
          "name": "ANGIOBOTHHTP"
        }
      }
    },
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"nombre\": \"Pep L贸pez\",\n  \"telefono\": \"6674747474\",\n  \"resumen\": \"El paciente pregunt贸 por informaci贸n sobre v谩rices. Menciona tener pesadez y venitas marcadas. Ya se le inform贸 el costo de la consulta ($1,500) y que incluye Doppler. Autoriz贸 compartir sus datos para agendar cita.\"\n}"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "a3959662-d467-400f-bacf-a4c20fdddabc",
      "name": "When Executed by Another Workflow"
    }
  ],
  "pinData": {},
  "connections": {
    "Formato Mensaje Liz": {
      "main": [
        [
          {
            "node": "Enviar a Lizeth",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Formato Mensaje Liz",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "98ad2446-b4e1-4e1e-b81d-b42c82e3af5a",
  "meta": {
    "instanceId": "fa325fb5647da2276b2d0a6782139e0680d73151ad2afa12166d826642c25456"
  },
  "id": "JJt7zi1bQOJndBdu",
  "tags": []
}