FLUJOS N8N/RECORDATORIOS_DISPATCHER.json
{
  "name": "RECORDATORIOS_DISPATCHER",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 2
            }
          ]
        }
      },
      "id": "38ca882a-a70c-4bfa-85b3-5cbee665c274",
      "name": "Cada 2 Minutos",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2000,
        304
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM claim_notification_jobs(5, 'n8n-dispatcher');",
        "options": {}
      },
      "id": "4e177d16-5c91-4d5a-99e4-b15e8047f078",
      "name": "Claim Jobs Pendientes",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -1744,
        304
      ],
      "credentials": {
        "postgres": {
          "id": "LZyK5sbzVT7Dy3RU",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "has-jobs",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "2923860d-16a6-4704-b7b6-199fb2a10334",
      "name": "¿Hay Jobs?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1504,
        304
      ]
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "id": "15cab42b-cc24-4063-ac98-9c8819340718",
      "name": "Procesar Uno a Uno",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1248,
        208
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "valid-phone",
              "leftValue": "={{ $json.phone_number }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            },
            {
              "id": "valid-message",
              "leftValue": "={{ $json.message_body }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "927bf8d7-63f5-41bd-8fec-c63fa63ee5b4",
      "name": "Validar Datos",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1008,
        208
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://wasenderapi.com/api/send-message",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ \"to\": $json.phone_number, \"text\": $json.message_body }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "937a3b66-58db-4582-bc0f-dd021c6fc28b",
      "name": "Enviar WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -752,
        112
      ],
      "continueOnFail": true
    },
    {
      "parameters": {},
      "id": "979afa0d-3e1b-47fe-ac6e-3e94d84a013e",
      "name": "Wait 2s (Rate Limit)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -496,
        112
      ],
      "webhookId": "wait-rate-limit"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "success",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "dc43de5a-d1d5-422f-941a-0817da75764f",
      "name": "¿Envío Exitoso?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -256,
        112
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM mark_notification_sent(\n  '{{ $('Procesar Uno a Uno').item.json.id }}'::uuid,\n  '{{ $json.message_id ?? $json.id ?? \"\" }}'\n);",
        "options": {}
      },
      "id": "5d858b59-08d4-429d-8324-2cb8481b17b7",
      "name": "Marcar Enviado ✅",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        0,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "LZyK5sbzVT7Dy3RU",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM mark_notification_failed(\n  '{{ $('Procesar Uno a Uno').item.json.id }}'::uuid,\n  '{{ ($json.error?.message ?? $json.message ?? \"Error desconocido\").replace(/'/g, \"''\") }}'\n);",
        "options": {}
      },
      "id": "dc8291c2-0f38-4670-a3f5-80a45f1bb30f",
      "name": "Marcar Fallido ❌",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        0,
        208
      ],
      "credentials": {
        "postgres": {
          "id": "LZyK5sbzVT7Dy3RU",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM mark_notification_failed(\n  '{{ $('Procesar Uno a Uno').item.json.id }}'::uuid,\n  'Datos inválidos: teléfono o mensaje vacío'\n);",
        "options": {}
      },
      "id": "0ec5eefe-70f4-494c-a9d7-4b7d75519b6e",
      "name": "Marcar Inválido ⚠️",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -752,
        352
      ],
      "credentials": {
        "postgres": {
          "id": "LZyK5sbzVT7Dy3RU",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {},
      "id": "894c7cfd-a0ad-41ad-8263-043a4bee53d3",
      "name": "Sin Jobs (No-Op)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1248,
        400
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Cada 2 Minutos": {
      "main": [
        [
          {
            "node": "Claim Jobs Pendientes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claim Jobs Pendientes": {
      "main": [
        [
          {
            "node": "¿Hay Jobs?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Hay Jobs?": {
      "main": [
        [
          {
            "node": "Procesar Uno a Uno",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sin Jobs (No-Op)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Procesar Uno a Uno": {
      "main": [
        [],
        [
          {
            "node": "Validar Datos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Datos": {
      "main": [
        [
          {
            "node": "Enviar WhatsApp",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Marcar Inválido ⚠️",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar WhatsApp": {
      "main": [
        [
          {
            "node": "Wait 2s (Rate Limit)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 2s (Rate Limit)": {
      "main": [
        [
          {
            "node": "¿Envío Exitoso?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Envío Exitoso?": {
      "main": [
        [
          {
            "node": "Marcar Enviado ✅",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Marcar Fallido ❌",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Marcar Enviado ✅": {
      "main": [
        [
          {
            "node": "Procesar Uno a Uno",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Marcar Fallido ❌": {
      "main": [
        [
          {
            "node": "Procesar Uno a Uno",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Marcar Inválido ⚠️": {
      "main": [
        [
          {
            "node": "Procesar Uno a Uno",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Mexico_City",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "38760ee7-3664-4856-bf28-3121ef6221ff",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8c33c5b047d489bd000bdf4aabe6e4981a2da591f7a11d61031348a2fe3ef66c"
  },
  "id": "vVIFz6fyqEwLWSlL",
  "tags": []
}