FLUJOS N8N/UROBOT_PROCESAR_RESPUESTA_FIXED.json
{
  "name": "UROBOT_PROCESAR_RESPUESTA_FIXED",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webhook-whatsapp",
        "options": {}
      },
      "id": "4f3e77b8-ac00-427f-8854-b932f3ba2e03",
      "name": "Webhook WhatsApp",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -2272,
        -224
      ],
      "webhookId": "53f4362b-7f7d-40f9-9b6d-3a33bb4ac4f6"
    },
    {
      "parameters": {
        "jsCode": "// Extraer datos y filtrar mensajes propios\nconst body = $json.body || {};\nconst messageData = body.data?.message || body.message || {};\nconst keyData = body.data?.key || body.key || {};\n\nif (keyData.fromMe) return [];\n\nconst telefono = keyData.remoteJid?.split('@')[0] || '';\nconst texto = \n  messageData.conversation || \n  messageData.extendedTextMessage?.text || \n  messageData.buttonsResponseMessage?.selectedDisplayText ||\n  '';\n\nif (!texto) return [];\n\nreturn [{\n  json: {\n    telefono_entrante: telefono,\n    mensaje_usuario: texto\n  }\n}];"
      },
      "id": "7cd6cebb-6638-4c24-bb0e-4c46f6d042ed",
      "name": "Extraer Datos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2064,
        -224
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM identificar_paciente_por_telefono('{{ $json.telefono_entrante }}');",
        "options": {}
      },
      "id": "6e9f4fac-c2f2-4259-9c16-a06a6dd2a01b",
      "name": "Buscar Cita Activa",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -1840,
        -224
      ],
      "credentials": {
        "postgres": {
          "id": "LZyK5sbzVT7Dy3RU",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cita_existe",
              "leftValue": "={{ $json.consulta_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "dbcb85ac-1cdd-4ae9-afb9-30b6412425e6",
      "name": "Tiene Cita?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1616,
        -224
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analiza la respuesta del paciente sobre su cita médica.\nMensaje: \"{{ $('Extraer Datos').item.json.mensaje_usuario }}\"\n\nResponde SOLO con una palabra:\n- CONFIRMAR (si dice sí, ok, confirmado, voy a ir, pulgar arriba)\n- CANCELAR (si dice no voy, cancela, ya no quiero)\n- IA_HANDOFF (si dice cambiar fecha, mover hora, otro día, tengo dudas, precio, ubicación, o cualquier otra cosa)\n\nSi no es una confirmación o cancelación explícita, responde IA_HANDOFF.",
        "options": {}
      },
      "id": "d5d542fc-0f2b-411e-9819-8947fddaf5c8",
      "name": "Clasificar Intención",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -1360,
        -240
      ],
      "notes": "Usar modelo rápido (Gemini Flash)"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "CONFIRMAR",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ]
              }
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "CANCELAR",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ]
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": 2
        }
      },
      "id": "52f5d81c-b5f4-4e92-ab98-a7c40cfe7e42",
      "name": "Enrutador",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -960,
        -224
      ],
      "notes": "0: Confirmar\n1: Cancelar\nDefault: Pasar a IA (Reagendar/Dudas)"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE consultas SET \n  confirmado_paciente = true, \n  estado_confirmacion = 'Confirmada', \n  updated_at = NOW() \nWHERE id = '{{ $('Buscar Cita Activa').item.json.consulta_id }}'::uuid;",
        "options": {}
      },
      "id": "e16ea47c-02c1-4688-89d1-18fb56bf43e5",
      "name": "BD: Confirmar",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -656,
        -448
      ],
      "credentials": {
        "postgres": {
          "id": "LZyK5sbzVT7Dy3RU",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://wasenderapi.com/api/send-message",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"to\": \"{{ $('Extraer Datos').item.json.telefono_entrante }}\",\n  \"text\": \"¡Listo! Tu cita está 100% confirmada ✅. Nos vemos pronto.\"\n}",
        "options": {}
      },
      "id": "7057e7e5-4d51-4d4a-835b-79766e4fda46",
      "name": "Responder OK",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -464,
        -448
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "BracTxTCVOWFfFBZ",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE consultas SET \n  estado_cita = 'Cancelada', \n  cancelado_por = 'Paciente', \n  updated_at = NOW() \nWHERE id = '{{ $('Buscar Cita Activa').item.json.consulta_id }}'::uuid;",
        "options": {}
      },
      "id": "c57cf066-c475-49fc-a41b-319edeea3496",
      "name": "BD: Cancelar",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -656,
        -256
      ],
      "credentials": {
        "postgres": {
          "id": "LZyK5sbzVT7Dy3RU",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://wasenderapi.com/api/send-message",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"to\": \"{{ $('Extraer Datos').item.json.telefono_entrante }}\",\n  \"text\": \"Entendido, hemos cancelado tu cita. Si deseas reagendar en el futuro, solo escríbenos por aquí.\"\n}",
        "options": {}
      },
      "id": "4c058b31-e7bc-4356-8a93-26f7b948015b",
      "name": "Responder Cancel",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -464,
        -256
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "BracTxTCVOWFfFBZ",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": "MRdxjt5nxJFilgSV",
        "mode": "each",
        "options": {}
      },
      "id": "8afa6e81-77d2-44f0-aefb-6ef7f22e6146",
      "name": "Pasar a UROBOT (IA)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        -656,
        16
      ],
      "notes": "ID del workflow UROBOT principal"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1504,
        -32
      ],
      "id": "6c40ecd5-5634-4e37-b17e-6fd672040e90",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "dlAhoVkOPGtESarh",
          "name": "GOOGLE UROBOT"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook WhatsApp": {
      "main": [
        [
          {
            "node": "Extraer Datos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer Datos": {
      "main": [
        [
          {
            "node": "Buscar Cita Activa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Cita Activa": {
      "main": [
        [
          {
            "node": "Tiene Cita?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tiene Cita?": {
      "main": [
        [
          {
            "node": "Clasificar Intención",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Pasar a UROBOT (IA)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clasificar Intención": {
      "main": [
        [
          {
            "node": "Enrutador",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enrutador": {
      "main": [
        [
          {
            "node": "BD: Confirmar",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "BD: Cancelar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BD: Confirmar": {
      "main": [
        [
          {
            "node": "Responder OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BD: Cancelar": {
      "main": [
        [
          {
            "node": "Responder Cancel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Clasificar Intención",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Mexico_City",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "3440e9c2-4fdd-4034-a182-0ae7b30b5106",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8c33c5b047d489bd000bdf4aabe6e4981a2da591f7a11d61031348a2fe3ef66c"
  },
  "id": "vVIFz6fyqEwLWSlL",
  "tags": []
}