FLUJOS N8N/UROBOT.json
{
  "name": "UROBOT",
  "nodes": [
    {
      "parameters": {
        "description": "=HERRAMIENTA: DISPONIBILIDAD_CALENDARIO\n\nUSO\n- Para consultar horarios/días disponibles cuando el paciente pida horarios, mencione fecha (hoy, mañana, viernes, próxima semana o fecha específica) o sede (Polanco/Satélite).\n- Nunca inventes horarios.\n\nPARÁMETROS\n- timezone: \"America/Mexico_City\".\n- desiredStart (ISO local CDMX sin \"Z\"):\n  - sin fecha → hoy 00:00:00\n  - “mañana” → mañana 00:00:00\n  - “viernes” (u otro día) → próximo ese día 00:00:00\n  - “la próxima semana” → próximo lunes 00:00:00\n- userText: mensaje original del paciente.\n- sedePreferida: POLANCO / SATELITE o ''.\n",
        "workflowId": {
          "__rl": true,
          "value": "9mpErXIgA9uOnzrE",
          "mode": "list",
          "cachedResultUrl": "/workflow/9mpErXIgA9uOnzrE",
          "cachedResultName": "DISPONIBILIDAD_CALENDARIO"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "includeWeekends": false,
            "onlyMorning": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('onlyMorning', ``, 'boolean') }}",
            "onlyAfternoon": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('onlyAfternoon', ``, 'boolean') }}",
            "desiredStart": "={{ $fromAI('desiredStart', $now.setZone('America/Mexico_City').toISO(), 'string') }}",
            "userText": "={{ $fromAI('userText', $json.mensajeUsuario)}}",
            "sedePreferida": "={{ $fromAI('sedePreferida', '', 'string').toUpperCase() }}",
            "timezone": "America/Mexico_City",
            "windowDays": 14,
            "maxResults": 50,
            "requestId": "={{ $now.toMillis() }}-{{ Math.random().toString(36).substr(2, 9) }}",
            "source": "urobot_whatsapp"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "desiredStart",
              "displayName": "desiredStart",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "userText",
              "displayName": "userText",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "sedePreferida",
              "displayName": "sedePreferida",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "timezone",
              "displayName": "timezone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "windowDays",
              "displayName": "windowDays",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            },
            {
              "id": "maxResults",
              "displayName": "maxResults",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            },
            {
              "id": "includeWeekends",
              "displayName": "includeWeekends",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean"
            },
            {
              "id": "onlyMorning",
              "displayName": "onlyMorning",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean"
            },
            {
              "id": "onlyAfternoon",
              "displayName": "onlyAfternoon",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean"
            },
            {
              "id": "requestId",
              "displayName": "requestId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false,
          "values": {
            "string": [
              {
                "name": "userText",
                "value": "={{$json.mensajeUsuario}}"
              },
              {
                "name": "sedePreferida",
                "value": "={{$json.sedePreferida || \"\"}}"
              },
              {
                "name": "timezone",
                "value": "America/Mexico_City"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1600,
        688
      ],
      "id": "392049a7-5e74-4cf4-8976-3ee1f7df1393",
      "name": "call'GET_DISPONIBILIDAD_CALENDARIOS"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "=UroBot – asistente clínico de urología del Dr. Mario Martínez Thomas.\n\nFECHA_ACTUAL: {{ $today.setZone('America/Mexico_City').toFormat('dd/MM/yyyy') }}\nHORA_ACTUAL: {{ $now.setZone('America/Mexico_City').toFormat('HH:mm') }}\n\nROL\nEres UroBot, asistente clínico (no vendedor) del Dr. Mario. Tu misión es:\n1) Entender rápido la situación.\n2) Dar claridad y tranquilidad con info general.\n3) Explicar cómo puede ayudar el Dr. Mario.\n4) Solo después, ofrecer ver horarios si tiene sentido.\n\nESTILO\n- Español neutro mexicano, de “tú”, tono cálido tipo WhatsApp.\n- Respuestas de 2–5 líneas, claras y concretas.\n- Máx 1 emoji 🙂 si suma calidez.\n- No des diagnósticos (“tienes X”), pronósticos ni medicamentos.\n- No digas que eres IA ni menciones herramientas o flujos internos.\n\nURGENCIAS (SIEMPRE ANTES DE TODO)\nSi el mensaje indica:\n- No puede orinar, con muchas ganas y dolor.\n- Orina con mucha sangre o coágulos.\n- Dolor testicular súbito e intenso, con o sin náusea/vómito.\n\nEntonces responde EXACTAMENTE y nada más:\n\n\"🚨 ATENCIÓN MÉDICA URGENTE\nTus síntomas indican una posible urgencia urológica que requiere atención inmediata.\n1. Acude YA a Urgencias de Hospital Ángeles (Polanco) o San Ángel Inn (Satélite) (abiertos 24h).\n2. No esperes a una consulta agendada. Tu seguridad es primero. Si es crítico, llama al 911.\"\n\nFLUJO (CUANDO NO ES URGENCIA)\n1) Agradece y valida en 1 línea:\n   - “Gracias por escribirme, entiendo que esto preocupe mucho 😊”.\n2) Haz MÁXIMO 2 preguntas cortas para entender:\n   - Prioriza: para quién es, síntoma principal, desde cuándo.\n3) Con esa info, explica en lenguaje simple:\n   - Qué podría significar en general (sin decir que sí tiene o no tiene cáncer/enfermedad).\n   - Qué suele valorar un urólogo y qué estudios ayudan a aclarar (por ejemplo, tacto rectal, ultrasonido, PSA, biopsia, etc. cuando aplique).\n   - Señales de alarma que debe vigilar, sin asustar.\n   Usa la herramienta de contenido educativo si está disponible.\n\n4) Conecta con el Dr. Mario:\n   - Explica qué haría el Dr. Mario con un caso así: cómo revisaría, qué estudios podría solicitar y cómo eso ayuda a decidir si requiere cirugía o no.\n   - Enfatiza que la consulta sirve para tomar una decisión informada y con calma.\n\n5) Cierra SIEMPRE con una invitación suave o pregunta:\n   - “¿Te gustaría que te ayude a ver horarios para que el Dr. Mario revise tu caso con calma?”\n   - o “Si prefieres, seguimos resolviendo tus dudas por aquí 🙂”.\n\nCOSTOS BÁSICOS (OPCIONAL SI PREGUNTA)\n- Consulta presencial: $1,200 MXN.\n- Sedes: Polanco (Ángeles Santa Mónica: Lun, Mar, Vie) y Satélite (San Ángel Inn: Mié, Jue, Sáb).\n- Cirugías aproximadas: vasectomía ~ $12,500 MXN, circuncisión ~ $16,000 MXN.\nAclara que los precios de cirugía son aproximados y requieren valoración presencial.\n",
          "returnIntermediateSteps": false,
          "batching": {},
          "enableStreaming": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1744,
        368
      ],
      "id": "31a2cc38-4402-4773-b734-96c3cd52ef16",
      "name": "Urobot"
    },
    {
      "parameters": {
        "jsCode": "/**\n * WhatsApp Formatter LITE\n * Enfoque: Limpieza rápida, respeta la estructura original de la IA\n */\n\nreturn items.map(item => {\n  \n  // 1. EXTRACCIÓN SEGURA (Busca en varios lugares comunes)\n  const extractText = () => {\n    const candidates = [\n      item.json?.output,\n      item.json?.text,\n      item.json?.message,\n      item.json?.content\n    ];\n    // Encuentra el primero que no sea nulo/vacío y sea string\n    return candidates.find(c => c && typeof c === 'string') || '';\n  };\n\n  let text = extractText();\n\n  // Si no hay texto, retornar vacío sin error\n  if (!text || text.trim().length === 0) {\n    return { json: { output: '' } };\n  }\n\n  // 2. LIMPIEZA Y FORMATO (La lógica simplificada)\n  \n  // A. Normalización básica\n  text = text.replace(/\\r\\n/g, '\\n'); // Estandarizar saltos de línea\n  text = text.replace(/^[\"']|[\"']$/g, ''); // Quitar comillas al inicio/final si la IA las puso\n\n  // B. Adaptación de Markdown (IA -> WhatsApp)\n  // La IA suele usar **negrita**, WhatsApp usa *negrita*\n  text = text.replace(/\\*\\*(.*?)\\*\\*/g, '*$1*'); \n  // Convertir encabezados Markdown (### Titulo) a Negritas (*Titulo*)\n  text = text.replace(/^#+\\s*(.*)$/gm, '*$1*');\n\n  // C. Limpieza de HTML residual (por seguridad)\n  text = text.replace(/<br\\s*\\/?>/gi, '\\n'); // <br> a salto de línea\n  text = text.replace(/<[^>]*>/g, ''); // Eliminar cualquier otro tag HTML\n\n  // D. Limpieza de Espacios (Lo más importante para que se vea \"Limpio\")\n  // Reemplazar múltiples espacios por uno solo\n  text = text.replace(/[ \\t]+/g, ' ');\n  // CRÍTICO: Máximo 2 saltos de línea consecutivos (párrafo, línea vacía, párrafo)\n  text = text.replace(/\\n{3,}/g, '\\n\\n');\n  \n  // E. Ajustes estéticos finales\n  // Evitar espacio entre salto de línea y punto de lista (ej: \\n •)\n  text = text.replace(/\\n\\s+([•\\-])/g, '\\n$1');\n  // Dar formato a teléfonos mexicanos (opcional, simple)\n  text = text.replace(/(\\d{2})(\\d{4})(\\d{4})/g, '($1) $2-$3');\n\n  // 3. RETORNO\n  return {\n    json: {\n      output: text.trim(),\n      success: true\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2480,
        368
      ],
      "id": "3b4eda12-cfee-4c9a-856b-7c233ad56d74",
      "name": "Limpiar respuesta de agente1",
      "retryOnFail": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "11159216-7689-4618-a01d-55c07a8c2775",
              "name": "=mensajeUsuario",
              "value": "={{ \n  $json.mensajeUsuario \n  || $node[\"Armar Respuesta\"]?.json?.transcripcion \n  || $node[\"Transcribe a recording\"]?.json?.text\n  || $node[\"Webhook1\"].json.body.data.messages.message.conversation \n  || '' \n}}\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1120,
        272
      ],
      "id": "08c71048-fca9-4c54-8e07-be49e1978350",
      "name": "Mapear Mensaje1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Webhook1').item.json.body.data.messages.message.audioMessage }}",
                    "rightValue": true,
                    "operator": {
                      "type": "object",
                      "operation": "notEmpty",
                      "singleValue": true
                    },
                    "id": "4d9ae069-2fd0-49e8-b69b-d91e745af3e8"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "24fd1f58-d0a5-4116-80c0-4f0ba4b4f828",
                    "leftValue": "={{ $('Webhook1').item.json.body.data.messages.message }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Texto"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        0,
        272
      ],
      "id": "700109cc-6f6d-4269-8caa-14ff5c1f9dfe",
      "name": "Switch1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cb412f41-019f-4bb8-a452-e665d1027e0a",
              "name": "=numeroRemitente",
              "value": "={{$json.body.data.messages.key.remoteJid}}",
              "type": "string"
            },
            {
              "id": "1cb507bf-fc90-413c-9eea-16526b334494",
              "name": "nombreUsuario",
              "value": "={{$json.body.data.messages.pushName}}",
              "type": "string"
            },
            {
              "id": "b75d41bd-9b6b-4b8d-a118-8d6691cc1c6a",
              "name": "mensajeUsuario",
              "value": "={{$json.body.data.messages.message.conversation}}",
              "type": "string"
            },
            {
              "id": "b3fd2c11-5469-4b0c-833d-eb03bcf21cef",
              "name": "body.sessionId",
              "value": "={{ $json.body.sessionId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -224,
        176
      ],
      "id": "5d98e090-b1ad-4ff7-a5b1-dea771590fa5",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "e257a96a-f46a-4a68-b7b7-79f3dadfbe2b",
        "options": {
          "rawBody": false
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -448,
        176
      ],
      "id": "a15d3200-a96a-49ca-a9db-746f702b64d6",
      "name": "Webhook1",
      "webhookId": "e257a96a-f46a-4a68-b7b7-79f3dadfbe2b"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {
          "maxOutputTokens": 2048
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1216,
        640
      ],
      "id": "29298ffe-ef39-440c-9eaf-6c1cc064ae47",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "dlAhoVkOPGtESarh",
          "name": "GOOGLE UROBOT"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "=Usa esta herramienta solo para dudas CLÍNICAS de urología (síntomas, enfermedades, procedimientos, cuidados). \nInput: resumen breve (1–3 líneas) con síntoma principal, edad aproximada, tiempo de evolución y 1–2 datos clave. \nDevuelve texto que debes reescribir con tus palabras, en lenguaje sencillo, sin diagnósticos ni tratamientos específicos.\n",
        "tableName": {
          "__rl": true,
          "value": "conocimiento_procedimientos_urologia",
          "mode": "list",
          "cachedResultName": "conocimiento_procedimientos_urologia"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        1792,
        736
      ],
      "id": "54ea7f42-d6f8-4646-afb4-9a92bb3ae74a",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "g3830K1IgvyF3E0x",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        1920,
        912
      ],
      "id": "df0dda8e-804a-4714-8fb8-1c30a7dee253",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "dlAhoVkOPGtESarh",
          "name": "GOOGLE UROBOT"
        }
      }
    },
    {
      "parameters": {
        "description": "=HERRAMIENTA: ESCALAR_A_HUMANO\n\nUSO\n- Cuando el paciente pida hablar con una persona/que lo llamen, tenga temas de costos/facturación/cirugía complejos o muestre enojo/quejas/caso fuera de protocolo.\n- No la uses para dudas clínicas simples ni solo horarios/precios.\n\nANTES DE LLAMARLA\n- Pregunta si le parece bien que alguien lo contacte.\n- Obtén: nombre, celular MX (10 dígitos) y resumen (1–2 frases) de lo que necesita.\n\nINPUT\n- nombre: string\n- telefono: string (10 dígitos MX)\n- resumen: string\n\nDESPUÉS\n- Avisa que el equipo lo contactará y evita abrir temas nuevos complejos.\n",
        "workflowId": {
          "__rl": true,
          "value": "EakL64jMzXkPuDfO",
          "mode": "list",
          "cachedResultUrl": "/workflow/EakL64jMzXkPuDfO",
          "cachedResultName": "ESCALAR_ASISTENTE"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "nombrePaciente": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('nombrePaciente', ``, 'string') }}",
            "telefono": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('telefono', ``, 'string') }}",
            "motivo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('motivo', ``, 'string') }}",
            "contexto": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('contexto', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "nombrePaciente",
              "displayName": "nombrePaciente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "telefono",
              "displayName": "telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "motivo",
              "displayName": "motivo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "contexto",
              "displayName": "contexto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        2016,
        592
      ],
      "id": "64422342-407f-43ea-921e-038f29b54bb9",
      "name": "ESCALAR_HUMANO"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://wasenderapi.com/api/decrypt-media",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ data: { messages: $(\"Webhook1\").item.json.body.data.messages } }) }}\n",
        "options": {}
      },
      "id": "9021a984-c873-495d-aaae-c677b5d2153b",
      "name": "Decrypt Media (Wasender)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        224,
        192
      ]
    },
    {
      "parameters": {
        "url": "={{ $(\"Decrypt Media (Wasender)\").item.json.publicUrl }}\n",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "options": {}
      },
      "id": "295b1470-478a-4bde-8238-cee59538dc8b",
      "name": "Descargar Decrypt (OGG)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        448,
        192
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "transcripcion",
              "value": "={{$json.text}}"
            }
          ]
        },
        "options": {}
      },
      "id": "6a72e7ef-489a-4433-9f80-bbb64b6ba2c6",
      "name": "Armar Respuesta",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        896,
        192
      ]
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        672,
        192
      ],
      "id": "7e0ee1a8-1cf3-4876-ad57-68f332477cc0",
      "name": "Transcribe a recording"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        1120,
        464
      ],
      "id": "a9540aae-15be-42d9-ac70-6bef47049431",
      "name": "When chat message received",
      "webhookId": "aea3f6f5-6dbf-4bf7-9620-6ab470f82e22"
    },
    {
      "parameters": {
        "jsCode": "/**\n * LEAD_CAPTURE v4.1 – SUPABASE EDITION (Alineado a esquema)\n * - Telefono_WhatsApp: 10 dígitos MX (sin +) para matching y UNIQUE\n * - Fechas: ISO completo (timestamptz friendly)\n * - Saneo de UUID/fechas nulas\n * - Corrige snake_case de existing.estado\n */\n\nconst src = $input.first().json;\n\n// ---------- CONFIG ----------\nconst COOLDOWN_MIN = 10;\nconst USE_MSG_ID_DEDUP = false;\n\n// ---------- HELPERS ----------\nconst trim = (v) => (v == null ? '' : String(v).trim());\n\nfunction digitsOnly(s) {\n  s = String(s || '');\n  let out = '';\n  for (let i = 0; i < s.length; i++) {\n    const c = s.charCodeAt(i);\n    if (c >= 48 && c <= 57) out += s[i];\n  }\n  return out;\n}\n\n// Canon MX 10 dígitos (últimos 10); útil para tu columna telefono_whatsapp\nfunction toMX10(anyPhone) {\n  const d = digitsOnly(anyPhone);\n  if (!d) return '';\n  // toma últimos 10 dígitos (comportamiento típico MX)\n  return d.length >= 10 ? d.slice(-10) : d; \n}\n\n// E.164 rápido (por si lo quieres usar en otra capa)\nfunction toE164Fast(anyPhone, cc='52') {\n  const d = digitsOnly(anyPhone);\n  if (!d) return '';\n  // si ya viene con 52XXXXXXXXXX (12 dígitos) o 10 dígitos nacionales\n  if (d.length === 10) return `+${cc}${d}`;\n  if (d.length === 12 && d.startsWith(cc)) return `+${d}`;\n  return `+${d}`; // fallback\n}\n\n// A ISO completo (timestamptz). Si viene \"YYYY-MM-DD\", subo a T00:00:00Z\nfunction toISODateTime(x) {\n  if (!x) return null;\n  if (x instanceof Date && !isNaN(x)) return x.toISOString();\n  const s = trim(x);\n  if (!s) return null;\n  if (/^\\d{4}-\\d{2}-\\d{2}$/.test(s)) return `${s}T00:00:00Z`;\n  const dt = new Date(s);\n  return isNaN(dt) ? null : dt.toISOString();\n}\n\nfunction titleCaseFast(name){\n  let s = trim(name);\n  if (!s) return '';\n  if (s.length <= 24 && /[A-ZÁÉÍÓÚÑÜ]/.test(s)) return s;\n  s = s.toLowerCase();\n  const parts = s.split(' ');\n  for (let i=0;i<parts.length;i++){\n    const w = parts[i]; if (w) parts[i] = w[0].toUpperCase() + w.slice(1);\n  }\n  return parts.join(' ');\n}\n\nfunction isUuid(v){\n  if (v == null) return false;\n  const s = String(v).trim();\n  return /^[0-9a-f]{8}-[0-9a-f]{4}-[1-5][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$/i.test(s);\n}\nfunction cleanUuidOrNull(v){\n  const s = trim(v);\n  if (!s || s.toLowerCase() === 'null') return null;\n  return isUuid(s) ? s : null;\n}\n\n// ---------- INPUTS ----------\nconst numeroRemitente = src.numeroRemitente || (src.body?.data?.messages?.key?.remoteJid) || src.Telefono_WhatsApp || '';\nconst nombreUsuario   = src.nombreUsuario || src.Nombre_Completo || 'Desconocido';\nconst mensajeUsuario  = src.mensajeUsuario || src.Notas_Iniciales || '';\nconst sessionId       = src.body?.sessionId || src.Session_ID || '';\n\nconst telefonoCanon10 = toMX10(numeroRemitente);          // <-- el que guardamos y usamos para duplicados\n// const telefonoE164    = toE164Fast(numeroRemitente);    // <-- opcional si quisieras guardarlo aparte\n\nif (!telefonoCanon10) return [];\n\n// ---------- GATING ----------\nconst existing = src._existing || null;\nconst isCreate = !existing;\n\nconst sMsg = trim(mensajeUsuario);\nconst lowMsg = sMsg.toLowerCase();\nconst stops = new Set(['ok','va','sale','gracias','de nada','hola','👍','👌','😀','😃','😄','😁','👍🏻','👍🏽','👍🏿','buenos dias','buenas tardes','buenas noches']);\nconst msgIsNoise = sMsg && (sMsg.length <= 2 || stops.has(lowMsg));\nconst kws = ['cita','agenda','disponibilidad','horario','hora','costo','precio','ubicación','polanco','satélite','satelite','consulta','urgencia'];\nconst msgHasSignal = !!kws.find(k => lowMsg.includes(k));\n\nlet cooldownPassed = true;\nif (existing && (existing.ultima_interaccion || existing.ultima_interaccion === 0)){\n  const last = new Date(existing.ultima_interaccion);\n  if (!isNaN(last)) {\n    const diffMin = (Date.now() - last.getTime()) / 60000;\n    cooldownPassed = diffMin >= COOLDOWN_MIN;\n  }\n}\n\nif (!isCreate && !(msgHasSignal || cooldownPassed)) {\n  return [];\n}\n\n// ---------- BUILD OUTPUT ----------\nconst nowISO = new Date().toISOString();        // ISO completo\nconst leadId = trim(src.Lead_ID || null) || null;\n\n// OJO: existing viene de BD con snake_case\nconst estadoBD = existing?.estado || null;\nconst estado = msgHasSignal ? 'Calificado' : (isCreate ? 'Nuevo' : (estadoBD || 'Contactado'));\n\nlet notas = trim(sMsg);\nif (notas.length > 200) notas = notas.slice(0,200);\n\n// Si hay existente, preserva su fecha de primer contacto; si no, usa ahora\nconst fechaPrimerContacto = isCreate\n  ? nowISO\n  : (toISODateTime(existing?.fecha_primer_contacto) || nowISO);\n\nreturn [{\n  json: {\n    // Identidad\n    Lead_ID: leadId,                              // puede ser null (UNIQUE nullable)\n    Nombre_Completo: titleCaseFast(nombreUsuario),\n\n    // TELEFONO: la forma canónica que usa tu Search Duplicate y UNIQUE\n    Telefono_WhatsApp: telefonoCanon10,           // <-- 10 dígitos MX\n\n    // Meta\n    Fuente_Lead: 'WhatsApp',\n    Fecha_Primer_Contacto: fechaPrimerContacto,   // timestamptz ISO\n    Estado: estado,\n    Notas_Iniciales: notas,\n    Session_ID: sessionId,\n\n    // Interacciones\n    ultima_interaccion: nowISO,                   // timestamptz ISO\n    total_interacciones: isCreate ? 1 : (Number(existing?.total_interacciones ?? 0) + 1),\n\n    // Conversión / vínculo paciente (saneados)\n    Paciente_ID: cleanUuidOrNull(existing?.paciente_id),\n    Fecha_Conversion: toISODateTime(existing?.fecha_conversion)\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "f36600ca-7411-49ee-a435-a4b5ca116aab",
      "name": "LEAD_CAPTURE"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "yI0ZZsP2n3ocSlCn",
          "mode": "list",
          "cachedResultUrl": "/workflow/yI0ZZsP2n3ocSlCn",
          "cachedResultName": "LEAD_TRACKER_UROBOT"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "Telefono_WhatsApp": "={{ $json.Telefono_WhatsApp }}",
            "Nombre_Completo": "={{ $json.Nombre_Completo }}",
            "Fuente_Lead": "={{ $json.Fuente_Lead }}",
            "Fecha_Primer_Contacto": "={{ $json.Fecha_Primer_Contacto }}",
            "Estado": "={{ $json.Estado }}",
            "Notas_Iniciales": "={{ $json.Notas_Iniciales }}",
            "Session_ID": "={{ $json.Session_ID }}",
            "ultima_interaccion": "={{ $json.ultima_interaccion }}",
            "total_interacciones": "={{ $json.total_interacciones }}",
            "Lead_ID": "={{ $json.Lead_ID }}",
            "Paciente_ID": "={{ $json.Paciente_ID }}",
            "Fecha_Conversion": "={{ $json.Fecha_Conversion }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Lead_ID",
              "displayName": "Lead_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Nombre_Completo",
              "displayName": "Nombre_Completo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "Telefono_WhatsApp",
              "displayName": "Telefono_WhatsApp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "Fuente_Lead",
              "displayName": "Fuente_Lead",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "Fecha_Primer_Contacto",
              "displayName": "Fecha_Primer_Contacto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "Estado",
              "displayName": "Estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "Notas_Iniciales",
              "displayName": "Notas_Iniciales",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "Session_ID",
              "displayName": "Session_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "ultima_interaccion",
              "displayName": "ultima_interaccion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "total_interacciones",
              "displayName": "total_interacciones",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "Paciente_ID",
              "displayName": "Paciente_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Fecha_Conversion",
              "displayName": "Fecha_Conversion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        224,
        0
      ],
      "id": "55df3628-264b-443d-a375-c8ace4683697",
      "name": "Call 'LEAD_TRACKER'1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://wasenderapi.com/api/send-message",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"to\": {{ JSON.stringify($('Webhook1').item.json.body.data.messages.key.remoteJid) }},\n  \"text\": {{ JSON.stringify($json.text ?? $json.whatsapp ?? $json.cleaned) }}\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2432,
        112
      ],
      "id": "f9dff412-1728-4643-ba86-5978ac224dfa",
      "name": "Enviar Respuesta de Asistente",
      "retryOnFail": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "BracTxTCVOWFfFBZ",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "hj7b"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1408,
        672
      ],
      "id": "bec02cc8-ee9b-43ef-b4f0-143716313e4d",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "description": "=HERRAMIENTA: AGENDAR_CONSULTA\n\nUSO\n- Solo para CONFIRMAR una cita cuando ya:\n  - llamaste a DISPONIBILIDAD_CALENDARIO,\n  - mostraste horarios y eligió uno (día, hora, sede),\n  - tienes nombre completo, celular MX (10 dígitos) y motivo de consulta,\n  - identificaste el slot exacto en la respuesta.\n\nPARÁMETROS\n- slotId: \"slot_\" + sede + \"_\" + startISO (del slot elegido).\n- sede: \"POLANCO\" o \"SATELITE\".\n- start / end: startISO / endISO del slot (ISO 8601 UTC, sin cambios).\n- paciente: { \"nombre\": \"...\", \"telefono\": \"10_dígitos_MX\" }.\n- tipoCita: \"primera_vez\" o \"seguimiento\".\n- motivoConsulta: 1–2 frases descriptivas (evita solo “revisión” o “consulta”).\n\nREGLA CLAVE\n- No inventes slotId, start ni end; usa exactamente lo devuelto por DISPONIBILIDAD_CALENDARIO.\n",
        "workflowId": {
          "__rl": true,
          "value": "xrycvZgtHqlz9Wh3",
          "mode": "list",
          "cachedResultUrl": "/workflow/xrycvZgtHqlz9Wh3",
          "cachedResultName": "AGENDAR_CONSULTA"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "slotId": "={{ $fromAI('slotId', '', 'string') }}",
            "sede": "={{ $fromAI('sede', '', 'string') }}",
            "start": "={{ $fromAI('start', '', 'string') }}",
            "end": "={{ $fromAI('end', '', 'string') }}",
            "paciente": "={{ $fromAI('paciente', {}, 'json') }}",
            "tipoCita": "={{ $fromAI('tipoCita', 'primera_vez', 'string') }}",
            "motivoConsulta": "={{ $fromAI('motivoConsulta', '', 'string') }}",
            "lead_telefono": "={{ $json.lead_telefono }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "slotId",
              "displayName": "slotId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "sede",
              "displayName": "sede",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "start",
              "displayName": "start",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "end",
              "displayName": "end",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "paciente",
              "displayName": "paciente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "tipoCita",
              "displayName": "tipoCita",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "motivoConsulta",
              "displayName": "motivoConsulta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "lead_telefono",
              "displayName": "lead_telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        2224,
        592
      ],
      "id": "c11f149e-6457-4d72-8537-6731512b64be",
      "name": "AGENDAR_CONSULTA'"
    },
    {
      "parameters": {
        "description": "=HERRAMIENTA: REAGENDAR_CONSULTA\n\nUSO\n- Solo para CAMBIAR una cita ya agendada (no crear nueva).\n- No la uses para horarios (→ DISPONIBILIDAD_CALENDARIO) ni para nueva cita (→ AGENDAR_CONSULTA).\n\nPARÁMETROS (todos antes de llamarla)\n- telefono: celular MX, 10 dígitos.\n- newDate: YYYY-MM-DD (America/Mexico_City).\n- newTime: HH:MM (24 h, hora local CDMX).\n- newSede: \"POLANCO\", \"SATELITE\" o ''.\n- reason: motivo del cambio (opcional).\n\nLENGUAJE NATURAL\n- Convierte “viernes a las 3pm” → next viernes + \"15:00\", siempre en hora local CDMX.\n- Si solo dice “¿hay el miércoles?” sin hora: primero usa DISPONIBILIDAD_CALENDARIO, luego llama REAGENDAR_CONSULTA con newTime definido.\n",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "PVMah1xv97jaXawm"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "telefono": "={{ $fromAI('telefono', '', 'string') }}",
            "newDate": "={{ $fromAI('newDate', '', 'string') }}",
            "newTime": "={{ $fromAI('newTime', '', 'string') }}",
            "newSede": "={{ $fromAI('newSede', '', 'string') }}",
            "reason": "={{ $fromAI('reason', 'Reagendamiento solicitado', 'string') }}",
            "consultaId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('consultaId', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "telefono",
              "displayName": "telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "consultaId",
              "displayName": "consultaId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "newDate",
              "displayName": "newDate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "newTime",
              "displayName": "newTime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "newSede",
              "displayName": "newSede",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "reason",
              "displayName": "reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        2432,
        592
      ],
      "id": "1c05f333-7246-49a7-ae06-33b576af402f",
      "name": "REAGENDAR_CONSULTA"
    }
  ],
  "pinData": {},
  "connections": {
    "call'GET_DISPONIBILIDAD_CALENDARIOS": {
      "ai_tool": [
        [
          {
            "node": "Urobot",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Urobot": {
      "main": [
        [
          {
            "node": "Limpiar respuesta de agente1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mapear Mensaje1": {
      "main": [
        [
          {
            "node": "Urobot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Decrypt Media (Wasender)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mapear Mensaje1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          },
          {
            "node": "LEAD_CAPTURE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Urobot",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "ai_tool": [
        [
          {
            "node": "Urobot",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "ESCALAR_HUMANO": {
      "ai_tool": [
        [
          {
            "node": "Urobot",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Decrypt Media (Wasender)": {
      "main": [
        [
          {
            "node": "Descargar Decrypt (OGG)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Descargar Decrypt (OGG)": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "Armar Respuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Armar Respuesta": {
      "main": [
        [
          {
            "node": "Mapear Mensaje1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Urobot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LEAD_CAPTURE": {
      "main": [
        [
          {
            "node": "Call 'LEAD_TRACKER'1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Urobot",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AGENDAR_CONSULTA'": {
      "ai_tool": [
        [
          {
            "node": "Urobot",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "REAGENDAR_CONSULTA": {
      "ai_tool": [
        [
          {
            "node": "Urobot",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Mexico_City",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "0d223d5a-d76a-4d4e-b3cf-a70c73949c72",
  "meta": {
    "instanceId": "8c33c5b047d489bd000bdf4aabe6e4981a2da591f7a11d61031348a2fe3ef66c"
  },
  "id": "MRdxjt5nxJFilgSV",
  "tags": []
}