FLUJOS N8N/UROBOT.json
{
  "name": "UROBOT",
  "nodes": [
    {
      "parameters": {
        "description": "==DISPONIBILIDAD_CALENDARIO — Horarios disponibles\n\nUsa esta herramienta para ver horarios reales de consulta (CDMX) ANTES de ofrecer cualquier horario.\n\nInputs (fromAI)\n- dateIntent: intención de fecha. Ej.: \"today\", \"tomorrow\", \"esta_semana\", \"next_week\", día (\"lunes\") o \"specific\".\n  Si solo pregunta “¿Qué horarios tienes?” → usa \"today\".\n- specificDate: si dio fecha exacta, en \"YYYY-MM-DD\".\n- sedePreferida: \"POLANCO\" o \"SATELITE\" (opcional; si no la menciona, va vacío).\n\nOtros datos (userText, timezone, etc.) se llenan automáticamente.\n\nOutputs\n- status: \"success\" | \"no_availability\" | \"error\".\n- suggestedResponse: texto listo para enviar al paciente con horarios.\n- allowedSlots: horarios disponibles.\n- slotsForBooking: horarios agendables con id y slotData (start, end, sede).\n\nReglas\n- No des horarios que no estén en allowedSlots/slotsForBooking.\n- Usa suggestedResponse como base y solo cambia el tono.\n- status=\"no_availability\": explica que no hay horarios y ofrece otra fecha o sede.\n- status=\"error\": trátalo como fallo técnico; no inventes horarios.\n",
        "workflowId": {
          "__rl": true,
          "value": "9mpErXIgA9uOnzrE",
          "mode": "list",
          "cachedResultUrl": "/workflow/9mpErXIgA9uOnzrE",
          "cachedResultName": "DISPONIBILIDAD_CALENDARIO"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "sedePreferida": "={{ ($fromAI('sedePreferida', '') || '').toUpperCase().replace(/[^A-Z]/g, '').replace('POLNACO','POLANCO').replace('SATELLITE','SATELITE') }}\n",
            "dateIntent": "={{ $fromAI('dateIntent', 'today', 'string') }}",
            "specificDate": "={{ $fromAI('specificDate', '', 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "dateIntent",
              "displayName": "dateIntent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "specificDate",
              "displayName": "specificDate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "sedePreferida",
              "displayName": "sedePreferida",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "onlyMorning",
              "displayName": "onlyMorning",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean",
              "removed": true
            },
            {
              "id": "onlyAfternoon",
              "displayName": "onlyAfternoon",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean",
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false,
          "values": {
            "string": [
              {
                "name": "userText",
                "value": "={{$json.mensajeUsuario}}"
              },
              {
                "name": "sedePreferida",
                "value": "={{$json.sedePreferida || \"\"}}"
              },
              {
                "name": "timezone",
                "value": "America/Mexico_City"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        64,
        1184
      ],
      "id": "392049a7-5e74-4cf4-8976-3ee1f7df1393",
      "name": "call'GET_DISPONIBILIDAD_CALENDARIOS"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "e257a96a-f46a-4a68-b7b7-79f3dadfbe2b",
        "options": {
          "rawBody": false
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2880,
        864
      ],
      "id": "a15d3200-a96a-49ca-a9db-746f702b64d6",
      "name": "Webhook1",
      "webhookId": "e257a96a-f46a-4a68-b7b7-79f3dadfbe2b"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "=RAG MÉDICO UROLÓGICO\n\nÚSALA cuando el paciente tenga dudas CLÍNICAS de urología (síntomas, enfermedades, estudios, tratamientos, cirugías).  \nNO usar para horarios, costos, sedes ni temas administrativos.\n\nINPUT:\nResumen breve en español con:\n- Síntoma(s) principal(es)\n- Edad y sexo\n- Tiempo de evolución\n- Datos clave (fiebre, sangre en orina, dolor intenso, etc.)\n- Pregunta principal del paciente (si la hay)\n\nOUTPUT (cómo debes usarlo):\n- Parafrasea en lenguaje sencillo, NO copies textual.\n- Explica posibles causas de forma general, sin dar diagnóstico definitivo ni dosis.\n- Menciona estudios/valoración que “suelen recomendarse” en estos casos.\n- Aclara siempre que es información general y NO sustituye la consulta presencial.\n- Si suena a urgencia (no puede orinar, mucha sangre, dolor testicular súbito, fiebre alta), indica que acuda YA a Urgencias y no ofrezcas cita.\n",
        "tableName": {
          "__rl": true,
          "value": "conocimiento_procedimientos_urologia",
          "mode": "list",
          "cachedResultName": "conocimiento_procedimientos_urologia"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        192,
        1184
      ],
      "id": "54ea7f42-d6f8-4646-afb4-9a92bb3ae74a",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "g3830K1IgvyF3E0x",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        272,
        1392
      ],
      "id": "df0dda8e-804a-4714-8fb8-1c30a7dee253",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "dlAhoVkOPGtESarh",
          "name": "GOOGLE UROBOT"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://wasenderapi.com/api/send-message",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"to\": {{ JSON.stringify($('Webhook1').item.json.body.data.messages.key.remoteJid) }},\n  \"text\": {{ JSON.stringify($('Limpiar respuesta de agente').item.json.output) }}\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1744,
        960
      ],
      "id": "f9dff412-1728-4643-ba86-5978ac224dfa",
      "name": "Enviar Respuesta de Asistente",
      "retryOnFail": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "BracTxTCVOWFfFBZ",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "description": "===REAGENDAR_CONSULTA\nUsa esta herramienta cuando el paciente quiera cambiar la fecha u hora de su cita.\nEsta herramienta valida internamente si el horario está disponible.\n\nINPUTS OBLIGATORIOS:\n- telefono: 10 dígitos.\n- newDate: Fecha deseada (YYYY-MM-DD). Si dice \"mañana\", calcula la fecha.\n- newTime: Hora deseada (HH:MM) formato 24h.\n- newSede: \"POLANCO\" o \"SATELITE\". (Si el usuario no la menciona, usa la misma de la cita anterior o pregúntala antes de llamar a la herramienta).\n\nINPUTS OPCIONALES:\n- reason: Motivo del cambio.\n- consultaId: Déjalo VACÍO, el sistema lo buscará por teléfono.\n\nCASOS DE USO:\n1. Si el usuario da fecha y hora exactas: EJECUTA LA HERRAMIENTA DIRECTAMENTE.\n2. Si el usuario solo dice \"quiero cambiar\": Pregunta fecha/hora y sugiere ver horarios con DISPONIBILIDAD_CALENDARIO.",
        "workflowId": {
          "__rl": true,
          "value": "oEmxZ4fXwr0WDRLh",
          "mode": "list",
          "cachedResultUrl": "/workflow/oEmxZ4fXwr0WDRLh",
          "cachedResultName": "REAGENDAR_CONSULTA"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "telefono": "={{ ($json.telefono || '').replace(/\\D/g, '').slice(-10) }}\n",
            "consultaId": "={{ $fromAI('consultaId', '', 'string') }}",
            "newDate": "={{ $fromAI('newDate', '', 'string') }}",
            "newTime": "={{ $fromAI('newTime', '', 'string') }}",
            "newSede": "={{ $fromAI('newSede', '', 'string') }}\n",
            "reason": "={{ $fromAI('reason', 'Reagendamiento...', 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "telefono",
              "displayName": "telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "consultaId",
              "displayName": "consultaId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "newDate",
              "displayName": "newDate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "newTime",
              "displayName": "newTime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "newSede",
              "displayName": "newSede",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "reason",
              "displayName": "reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        480,
        1184
      ],
      "id": "1c05f333-7246-49a7-ae06-33b576af402f",
      "name": "REAGENDAR_CONSULTA"
    },
    {
      "parameters": {
        "description": "=──────────────────────────────────────────────────────────────────────\n4. CANCELAR_CONSULTA\n──────────────────────────────────────────────────────────────────────\n\nCUÁNDO: \"cancelar\", \"ya no puedo ir\", \"cancela mi cita\"\n\nFLUJO: Lista citas si no hay consultaId → identifica cuál → CONFIRMA: \"¿Confirmo cancelación del [fecha]?\" → ejecuta\n\nPARÁMETROS:\n• phone: 10 dígitos\n• consultaId: ID de cita (si ya identificada)\n• confirmarCancelacion: true cuando confirme\n• motivoCancelacion: razón (opcional)\n\n⚠️ SIEMPRE confirma antes de cancelar",
        "workflowId": {
          "__rl": true,
          "value": "yunO7OQPfMqWBXmt",
          "mode": "list",
          "cachedResultUrl": "/workflow/yunO7OQPfMqWBXmt",
          "cachedResultName": "CANCELAR_CONSULTA"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "phone": "={{ $json.telefono || $json.phone }}",
            "consultaId": "={{ $fromAI('consultaId', '', 'string') }}",
            "confirmarCancelacion": false,
            "motivoCancelacion": "={{ $fromAI('motivoCancelacion', `Cancelada por el paciente`, 'string') }}",
            "timezone": "America/Mexico_City\n",
            "requestId": "={{ $now.toMillis() }}\n",
            "source": "urobot_whatsapp"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "consultaId",
              "displayName": "consultaId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "confirmarCancelacion",
              "displayName": "confirmarCancelacion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean",
              "removed": false
            },
            {
              "id": "motivoCancelacion",
              "displayName": "motivoCancelacion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "timezone",
              "displayName": "timezone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "requestId",
              "displayName": "requestId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        640,
        1184
      ],
      "id": "92c28d3c-43a7-48e8-b48d-ae4e739dc1fe",
      "name": "Call 'CANCELAR_CONSULTA'"
    },
    {
      "parameters": {
        "description": "=Escala la conversación a un asistente humano.\n\nCUÁNDO USAR:\n- Usuario frustrado o enojado\n- Pide hablar con humano\n- Error técnico repetido\n- Solicitud fuera del alcance del bot\n\nPARÁMETROS:\n- nombre: Nombre del paciente (si lo conoces, si no: \"No proporcionado\")\n- resumen: Resumen breve de la situación (máx 200 caracteres)\n\nDESPUÉS DE EJECUTAR:\nConfirma: \"Te paso con un asistente del equipo del Dr. Mario. Te contactarán pronto por WhatsApp.\"",
        "workflowId": {
          "__rl": true,
          "value": "EakL64jMzXkPuDfO",
          "mode": "list",
          "cachedResultUrl": "/workflow/EakL64jMzXkPuDfO",
          "cachedResultName": "ESCALAR_ASISTENTE"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "nombre": "={{ $fromAI('nombre', 'No proporcionado', 'string') }}",
            "telefono": "={{ $('Edit Fields').item.json.telefonoLimpio }}",
            "resumen": "={{ $fromAI('resumen', '', 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "nombre",
              "displayName": "nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "telefono",
              "displayName": "telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "resumen",
              "displayName": "resumen",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        816,
        1200
      ],
      "id": "7607758e-ab33-4599-947e-3f4b7fd92640",
      "name": "Call 'ESCALAR_ASISTENTE'"
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "={{ $('Acción Rápida1').item.json.calendar_id }}",
          "mode": "id"
        },
        "eventId": "={{ $('Acción Rápida1').item.json.calendar_event_id }}",
        "updateFields": {
          "summary": "=✅ {{ $('Cargar Contexto').item.json.nombre_paciente || 'Paciente' }}"
        }
      },
      "id": "2d712243-fbd1-462b-a3d5-992567f8bc55",
      "name": "Calendar: Confirmar ✅2",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        448,
        432
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "Hm8ggB0P1TTFp0A0",
          "name": "GOOGLE UROBOT"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "={{ $('Acción Rápida1').item.json.calendar_id }}",
          "mode": "id"
        },
        "eventId": "={{ $('Acción Rápida1').item.json.calendar_event_id }}",
        "options": {}
      },
      "id": "929231b4-ae8a-4404-914a-eb8cf6d9b5c4",
      "name": "Calendar: Cancelar ❌2",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        448,
        640
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "Hm8ggB0P1TTFp0A0",
          "name": "GOOGLE UROBOT"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT guardar_mensaje('{{ $('Edit Fields').item.json.telefonoLimpio }}', 'asistente', '{{ $('Limpiar respuesta de agente').item.json.output.replace(/'/g, \"''\") }}');",
        "options": {}
      },
      "id": "13eceb6e-01b3-4a6a-afe3-f7d1455b7995",
      "name": "Guardar Msg Bot (IA)2",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1520,
        960
      ],
      "credentials": {
        "postgres": {
          "id": "LZyK5sbzVT7Dy3RU",
          "name": "Postgres account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "msg-usuario",
              "name": "mensajeUsuario",
              "value": "={{ $('Edit Fields').item.json.mensajeUsuario }}",
              "type": "string"
            },
            {
              "id": "sesion-id",
              "name": "sesionId",
              "value": "={{ $('Edit Fields').item.json.telefonoLimpio }}",
              "type": "string"
            },
            {
              "id": "historial",
              "name": "historialConversacion",
              "value": "={{ $('Cargar Contexto').item.json.historial_conversacion }}",
              "type": "string"
            },
            {
              "id": "tiene-cita",
              "name": "tieneCitaPendiente",
              "value": "={{ $('Cargar Contexto').item.json.obtener_contexto_urobot.tiene_cita_pendiente }}",
              "type": "boolean"
            },
            {
              "id": "info-cita",
              "name": "infoCita",
              "value": "={{ $('Cargar Contexto').item.json.obtener_contexto_urobot.info_cita }}",
              "type": "string"
            },
            {
              "id": "nombre-pac",
              "name": "nombrePaciente",
              "value": "={{ $('Cargar Contexto').item.json.nombre_paciente || $('Edit Fields').item.json.nombreUsuario }}",
              "type": "string"
            },
            {
              "id": "telefono",
              "name": "telefono",
              "value": "={{ $('Edit Fields').item.json.telefonoLimpio }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -416,
        960
      ],
      "id": "118ec709-1f73-40f7-911b-e20c206a1484",
      "name": "Mapear Mensaje"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT * FROM obtener_contexto_urobot('{{ $('Edit Fields').item.json.telefonoLimpio }}');",
        "options": {}
      },
      "id": "39bb3bb4-bd25-4f62-9cdb-018306a987e7",
      "name": "Cargar Contexto",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -1088,
        768
      ],
      "credentials": {
        "postgres": {
          "id": "LZyK5sbzVT7Dy3RU",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT * FROM procesar_respuesta_rapida(\n  '{{ $('Edit Fields').item.json.telefonoLimpio }}',\n  '{{ $('Edit Fields').item.json.mensajeUsuario.replace(/'/g, \"''\") }}'\n);",
        "options": {}
      },
      "id": "8325917e-9fbf-4b99-8c51-60b8b883462e",
      "name": "Acción Rápida",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -864,
        768
      ],
      "credentials": {
        "postgres": {
          "id": "LZyK5sbzVT7Dy3RU",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT guardar_mensaje('{{ $('Edit Fields').item.json.telefonoLimpio }}', 'asistente', '{{ $('Acción Rápida').item.json.respuesta.replace(/'/g, \"''\") }}');",
        "options": {}
      },
      "id": "283bbf15-2b80-406a-8129-ae351123cbcc",
      "name": "Guardar Msg Bot (Rápida)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -160,
        560
      ],
      "credentials": {
        "postgres": {
          "id": "LZyK5sbzVT7Dy3RU",
          "name": "Postgres account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://wasenderapi.com/api/send-message",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ \"to\": \"52\" + $('Edit Fields').item.json.telefonoLimpio, \"text\": $json.respuesta }) }}",
        "options": {}
      },
      "id": "69622692-071c-4cf7-9520-ba99cea82d05",
      "name": "Enviar Respuesta Rápida",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -416,
        560
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "BracTxTCVOWFfFBZ",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Acción Rápida').item.json.accion }}",
                    "rightValue": "CONFIRMAR",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "8e58ecfa-5ccf-411b-a401-8883ccbd28d4"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "confirmar"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Acción Rápida').item.json.accion }}",
                    "rightValue": "CANCELAR",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "20f0ad23-468f-4dd0-9b93-8dd6bf25e5b7"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "cancelar"
            }
          ]
        },
        "options": {
          "fallbackOutput": "none"
        }
      },
      "id": "ef56642b-3d8e-4c40-be25-dd4628187c60",
      "name": "Tipo Acción",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        64,
        560
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT guardar_mensaje('{{ $json.telefonoLimpio }}', 'usuario', '{{ $json.mensajeUsuario.replace(/'/g, \"''\") }}');",
        "options": {}
      },
      "id": "782bc86f-055c-4378-8cc1-e4d71ba5dcba",
      "name": "Guardar Msg Usuario",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -1312,
        768
      ],
      "credentials": {
        "postgres": {
          "id": "LZyK5sbzVT7Dy3RU",
          "name": "Postgres account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "id": "es-accion-rapida",
              "leftValue": "={{ $json.es_accion_rapida }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "looseTypeValidation": true
        }
      },
      "id": "f50a5da1-9c8e-448e-8051-f27496c0d57f",
      "name": "¿Acción Rápida?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -640,
        768
      ]
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook1').item.json.body.sessionId }}",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -64,
        1184
      ],
      "id": "9005417d-4727-471d-b2aa-572cc4535267",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM upsert_lead_interaction(\n  $1, $2, $3, $4, $5, $6, $7, $8\n);",
        "options": {
          "queryReplacement": "={{ \n  [\n    $json.p_nombre, \n    $json.p_telefono, \n    $json.p_fuente, \n    $json.p_canal, \n    $json.p_estado, \n    $json.p_notas, \n    $json.p_session, \n    $json.p_contenido \n  ] \n}}"
        }
      },
      "id": "ad3f929a-4ba0-41aa-b3c3-789fec001c5b",
      "name": "Upsert Lead (Directo)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -1088,
        960
      ],
      "credentials": {
        "postgres": {
          "id": "LZyK5sbzVT7Dy3RU",
          "name": "Postgres account"
        }
      },
      "continueOnFail": false
    },
    {
      "parameters": {
        "jsCode": "// =========================================================\n// LEAD CAPTURE V4.0 - FIX: Kill switch corregido\n// =========================================================\n\nconst src = $input.first().json;\n\n// 1. OBTENER DATOS\nconst telefono = src.telefonoLimpio || src.numeroRemitente || '';\nconst mensaje = src.mensajeUsuario || '';\nconst nombre = src.nombreUsuario || 'Paciente';\n\n// 2. VALIDACIÓN: Solo rechazar si NO hay teléfono válido\nif (!telefono || telefono.length < 10) {\n  return []; // Sin teléfono válido, no hay lead\n}\n\n// 3. LIMPIEZA DE TELÉFONO (MX 10 Dígitos)\nlet phone = telefono.replace(/\\D/g, '');\nif (phone.startsWith('52') && phone.length > 10) {\n  phone = phone.slice(-10);\n}\nif (phone.length !== 10) {\n  return []; // Número inválido\n}\n\n// 4. DETECCIÓN DE INTENCIÓN\nconst msgLower = (mensaje || '').toLowerCase();\nconst keywordsInteres = ['precio', 'costo', 'cita', 'agenda', 'agendar', 'disponibilidad', 'horario', 'ubicacion', 'donde', 'info', 'doctor', 'consulta'];\nconst esInteresado = keywordsInteres.some(k => msgLower.includes(k));\n\n// 5. NORMALIZAR NOMBRE\nconst cleanName = (nombre || 'Paciente')\n  .replace(/^\\+?\\d+/, '') // Quitar números al inicio\n  .trim() || 'Paciente';\n\n// 6. DATOS DE MARKETING (Meta Ads)\nlet fuente = 'Orgánico';\nlet canal = null;\nconst body = src.body || {};\nconst adInfo = body?.data?.messages?.message?.extendedTextMessage?.contextInfo?.externalAdReply;\nif (adInfo) {\n  fuente = 'Paid Media';\n  canal = adInfo.sourceType || 'Meta Ads';\n}\n\n// 7. SALIDA PARA POSTGRES\nreturn [{\n  json: {\n    p_nombre: cleanName,\n    p_telefono: phone,\n    p_fuente: fuente,\n    p_canal: canal,\n    p_estado: esInteresado ? 'Interesado' : 'Nuevo',\n    p_notas: mensaje.slice(0, 500) || 'Interacción registrada',\n    p_session: src.sessionId || ('session_' + phone),\n    p_contenido: mensaje || 'Mensaje recibido'\n  }\n}];"
      },
      "id": "227bf07f-de86-417e-b412-4759d764c9a0",
      "name": "LEAD_CAPTURE1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1312,
        960
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "180b7b13-8a3d-4952-87c2-555f5247900b",
              "leftValue": "={{ !!$json.body?.data?.messages?.message?.documentMessage }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "af40ea10-0da3-4987-b23d-723cbef97871",
      "name": "¿Es Documento? (Wasender)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2656,
        864
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.wasenderapi.com/api/decrypt-media",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ \"Bearer \" + $env.WASENDER_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { data: { messages: $json.body.data.messages } } }}",
        "options": {}
      },
      "id": "5f29b83d-ee24-49a4-953d-bcb6b0ad8e40",
      "name": "Desencriptar media (Wasender)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2432,
        784
      ],
      "retryOnFail": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "={{ $json.publicUrl }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "3dd7af74-f1e7-4fc4-8480-fd711cc4b3f6",
      "name": "Descargar PDF desencriptado",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2208,
        784
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "id": "0e234874-8ba8-44b5-b341-90fca46b79b9",
      "name": "Leer PDF",
      "type": "n8n-nodes-base.readPDF",
      "typeVersion": 1,
      "position": [
        -1984,
        784
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "mensajeUsuario",
              "value": "={{ \n  $json.text && $json.text.length > 50 \n    ? \"[📄 DOCUMENTO RECIBIDO]\\nContenido extraído:\\n\" + $json.text.slice(0, 5000) + \"\\n\\n[Analiza el estudio, explica en lenguaje sencillo, sugiere cita si hay valores anormales.]\"\n    : \"[📄 Recibí un documento pero no pude leer su contenido. Pregunta al usuario de qué se trata o pide que lo envíe de nuevo.]\"\n}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "f2768672-78cd-4740-903e-e8073f6c88fc",
      "name": "Adjuntar Texto a Mensaje",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1760,
        784
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "tel-limpio",
              "name": "telefonoLimpio",
              "value": "={{ $json.body.data.messages.key.cleanedSenderPn }}",
              "type": "string"
            },
            {
              "id": "cb412f41-019f-4bb8-a452-e665d1027e0a",
              "name": "numeroRemitente",
              "value": "={{ $json.body.data.messages.key.cleanedSenderPn }}",
              "type": "string"
            },
            {
              "id": "1cb507bf-fc90-413c-9eea-16526b334494",
              "name": "nombreUsuario",
              "value": "={{ $json.body.data.messages.pushName }}",
              "type": "string"
            },
            {
              "id": "b75d41bd-9b6b-4b8d-a118-8d6691cc1c6a",
              "name": "mensajeUsuario",
              "value": "={{ \n  // Si ya viene mensaje (de PDF)\n  $json.mensajeUsuario ? $json.mensajeUsuario :\n  // Texto normal\n  $json.body.data.messages.message.conversation ? $json.body.data.messages.message.conversation :\n  // Texto con contexto (respuesta/quote)\n  $json.body.data.messages.message.extendedTextMessage?.text ? $json.body.data.messages.message.extendedTextMessage.text :\n  // Imagen\n  $json.body.data.messages.message.imageMessage ? '[📷 Usuario envió imagen' + ($json.body.data.messages.message.imageMessage.caption ? ': \"' + $json.body.data.messages.message.imageMessage.caption + '\"' : '') + '. Pregunta qué muestra o para qué la envía.]' :\n  // Audio\n  $json.body.data.messages.message.audioMessage ? '[🎤 Usuario envió audio. No puedes escucharlo. Pide amablemente que escriba su mensaje.]' :\n  // Video\n  $json.body.data.messages.message.videoMessage ? '[🎥 Usuario envió video. Pregunta de qué se trata.]' :\n  // Sticker\n  $json.body.data.messages.message.stickerMessage ? '[Usuario envió sticker. Responde amigable y pregunta en qué puedes ayudar.]' :\n  // Ubicación\n  $json.body.data.messages.message.locationMessage ? '[📍 Usuario compartió ubicación. Pregunta si necesita indicaciones al consultorio.]' :\n  // Contacto\n  $json.body.data.messages.message.contactMessage ? '[👤 Usuario compartió un contacto. Pregunta para qué lo comparte.]' :\n  // Fallback\n  '[Mensaje recibido. ¿En qué puedo ayudarte?]'\n}}",
              "type": "string"
            },
            {
              "id": "b3fd2c11-5469-4b0c-833d-eb03bcf21cef",
              "name": "sessionId",
              "value": "={{ $json.body.sessionId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1536,
        864
      ],
      "id": "92ed33e7-101b-48b9-bbec-15f9579c9984",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "/**\n * ═══════════════════════════════════════════════════════════════\n * UROBOT - VALIDADOR v3.0 (FIX: ANTI-LEAK DE PENSAMIENTO)\n * ═══════════════════════════════════════════════════════════════\n * * Cambios v3.0:\n * - Nueva función 'limpiarPensamientosInternos' que elimina texto en inglés del LLM.\n * - Mantiene la lógica de prioridad para confirmaciones de cita.\n */\n\n// ═══════════════════════════════════════════════════════════════\n// CONFIGURACIÓN\n// ═══════════════════════════════════════════════════════════════\n\nconst CONFIG = {\n  maxLength: 1500,\n  minLength: 5,\n  enableHallucinationCheck: true,\n  enableSentimentDetection: true,\n  \n  // Patrones para detectar razonamiento interno del LLM (Basura en Inglés)\n  patronesBasura: [\n    /(Perfecto\\.|Great\\.|Ok\\.)?\\s*(We need to|The conversation|The assistant|The task|The user|The message|The bot|Evaluating|The prompt)\\b[\\s\\S]*/yi,\n    /System requires to respond/yi,\n    /But user's message was/yi\n  ],\n\n  // Patrones de alucinación (Horarios/Citas falsas)\n  patterns: {\n    horarios: /\\b([01]?[0-9]|2[0-3]):[0-5][0-9]\\s*(am|pm|AM|PM|hrs|horas)?\\b/g,\n    confirmacionesCita: /\\b(tu cita (quedó|está|ha sido) (agendada|confirmada|reservada)|te esperamos el|quedas agendad[oa])\\b/gi,\n    preciosNoEstandar: /\\$\\s*[\\d,]+(?!\\s*(mxn|pesos|,200|,500|,000))/gi,\n  },\n  \n  preciosValidos: ['$1,200', '$3,500', '$12,500', '$16,000', '$15,000'],\n  herramientasHorario: ['DISPONIBILIDAD', 'GET_DISPONIBILIDAD', 'AGENDAR', 'REAGENDAR', 'AGENDAR_CONSULTA'],\n  \n  fallbacks: {\n    empty: 'Disculpa, tuve un problema al procesar tu mensaje. ¿Podrías repetirlo? 🙏',\n    hallucination: 'Permíteme verificar esa información para darte datos correctos...',\n    toolError: 'Tuve un problema técnico consultando la información. ¿Intentamos de nuevo?',\n    tooLong: '\\n\\n¿Te doy más detalles sobre algo en específico?'\n  }\n};\n\n// ═══════════════════════════════════════════════════════════════\n// FUNCIONES DE LIMPIEZA Y VALIDACIÓN\n// ═══════════════════════════════════════════════════════════════\n\nfunction extraerTexto(item) {\n  const candidates = [\n    item.json?.output, item.json?.text, item.json?.message, item.json?.content, item.json?.response\n  ];\n  return candidates.find(c => c && typeof c === 'string') || '';\n}\n\n// 🚀 NUEVA FUNCIÓN: Elimina el \"pensamiento\" en inglés\nfunction limpiarPensamientosInternos(texto) {\n  if (!texto) return '';\n  let limpio = texto;\n  \n  // Si detecta patrones de inglés técnico/razonamiento, corta el texto ahí\n  for (const patron of CONFIG.patronesBasura) {\n    if (patron.test(limpio)) {\n      // Cortamos todo lo que siga a partir del patrón encontrado\n      limpio = limpio.replace(patron, '');\n    }\n  }\n  return limpio.trim();\n}\n\nfunction detectarHerramientasUsadas(item) {\n  const toolCalls = [];\n  const possibleSources = [\n    item.json?.toolCalls, item.json?.intermediateSteps, \n    item.json?.steps, item.json?.agentOutput?.intermediateSteps\n  ];\n  \n  for (const source of possibleSources) {\n    if (Array.isArray(source)) {\n      for (const step of source) {\n        const toolName = step?.action?.tool || step?.tool || step?.name;\n        if (toolName) toolCalls.push(toolName.toUpperCase());\n      }\n    }\n  }\n  return toolCalls;\n}\n\nfunction detectarAlucinaciones(texto, herramientasUsadas) {\n  const problemas = [];\n  if (!CONFIG.enableHallucinationCheck) return problemas;\n  \n  const tieneHorarios = CONFIG.patterns.horarios.test(texto);\n  const usoHerramientaHorario = herramientasUsadas.some(h => CONFIG.herramientasHorario.some(valid => h.includes(valid)));\n  const pareceResumenCita = /(sede|ubicaci[óo]n|fecha:|hora:|direcci[óo]n|mapa|dr\\.|doctor)/i.test(texto);\n\n  if (tieneHorarios && !usoHerramientaHorario && !pareceResumenCita) {\n    const horariosEncontrados = texto.match(CONFIG.patterns.horarios) || [];\n    const esHorarioEspecifico = horariosEncontrados.some(h => \n      /\\b(a las|para las|te espero|disponible)\\s*$/i.test(texto.split(h)[0]?.slice(-20) || '')\n    );\n    if (esHorarioEspecifico) {\n      problemas.push({ tipo: 'HORARIO_SIN_HERRAMIENTA', severidad: 'alta' });\n    }\n  }\n  \n  const tieneConfirmacion = CONFIG.patterns.confirmacionesCita.test(texto);\n  const usoAgendar = herramientasUsadas.some(h => h.includes('AGENDAR'));\n  \n  if (tieneConfirmacion && !usoAgendar && !pareceResumenCita) {\n    problemas.push({ tipo: 'CONFIRMACION_SIN_AGENDAR', severidad: 'critica' });\n  }\n  \n  return problemas;\n}\n\nfunction formatearParaWhatsApp(texto) {\n  let formateado = texto.replace(/\\r\\n/g, '\\n');\n  formateado = formateado.replace(/^[\"']|[\"']$/g, ''); // Quitar comillas\n  formateado = formateado.replace(/\\*\\*(.*?)\\*\\*/g, '*$1*'); // Bold Markdown\n  formateado = formateado.replace(/^#+\\s*(.*)$/gm, '*$1*'); // Headers\n  formateado = formateado.replace(/[ \\t]+/g, ' '); // Espacios dobles\n  formateado = formateado.replace(/\\n{3,}/g, '\\n\\n'); // Saltos triples\n  \n  if (formateado.length > CONFIG.maxLength) {\n    formateado = formateado.slice(0, CONFIG.maxLength - 50) + CONFIG.fallbacks.tooLong;\n  }\n  return formateado.trim();\n}\n\n// ═══════════════════════════════════════════════════════════════\n// PROCESAMIENTO PRINCIPAL\n// ═══════════════════════════════════════════════════════════════\n\nconst startTime = Date.now();\nconst results = [];\n\nfor (const item of items) {\n  let textoOriginal = extraerTexto(item);\n  \n  // 1. LIMPIEZA PROFUNDA (Anti-Leak)\n  // Esto elimina el texto en inglés ANTES de validar nada\n  let textoLimpio = limpiarPensamientosInternos(textoOriginal);\n  \n  // Si la limpieza dejó el texto vacío (raro), volvemos al original\n  if (!textoLimpio) textoLimpio = textoOriginal;\n\n  const herramientasUsadas = detectarHerramientasUsadas(item);\n  const mensajeUsuario = item.json?.mensajeUsuario || $('Edit Fields')?.item?.json?.mensajeUsuario || '';\n  const telefono = $('Edit Fields')?.item?.json?.telefonoLimpio || '';\n  \n  const validacion = {\n    paso: true,\n    razones: [],\n    fueModificado: false,\n    tipoError: null\n  };\n  \n  let textoFinal = textoLimpio;\n  \n  // VALIDACIÓN 1: Respuesta vacía\n  if (!textoFinal || textoFinal.trim().length < CONFIG.minLength) {\n    validacion.paso = false;\n    validacion.tipoError = 'EMPTY_RESPONSE';\n    validacion.fueModificado = true;\n    textoFinal = CONFIG.fallbacks.empty;\n  }\n  \n  // VALIDACIÓN 2: Alucinaciones\n  if (validacion.paso) {\n    const alucinaciones = detectarAlucinaciones(textoFinal, herramientasUsadas);\n    if (alucinaciones.length > 0) {\n      const criticas = alucinaciones.filter(a => a.severidad === 'critica');\n      if (criticas.length > 0) {\n        validacion.paso = false;\n        validacion.tipoError = 'HALLUCINATION_DETECTED';\n        validacion.fueModificado = true;\n        textoFinal = CONFIG.fallbacks.hallucination;\n      }\n    }\n  }\n  \n  // VALIDACIÓN 3: Errores técnicos\n  if (item.json?.error || item.json?.toolError) {\n    validacion.paso = false;\n    validacion.tipoError = 'TOOL_FAILURE';\n    validacion.fueModificado = true;\n    textoFinal = CONFIG.fallbacks.toolError;\n  }\n  \n  textoFinal = formatearParaWhatsApp(textoFinal);\n  \n  results.push({\n    json: {\n      output: textoFinal,\n      log: {\n        telefono: telefono,\n        mensajeUsuario: mensajeUsuario,\n        mensajeBot: textoFinal,\n        mensajeOriginal: textoOriginal,\n        fueLimpioDePensamientos: textoLimpio !== textoOriginal, // Flag para saber si hubo limpieza\n        herramientasLlamadas: herramientasUsadas,\n        pasoValidacion: validacion.paso,\n        tiempoMs: Date.now() - startTime\n      }\n    }\n  });\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1072,
        960
      ],
      "id": "3b4eda12-cfee-4c9a-856b-7c233ad56d74",
      "name": "Limpiar respuesta de agente",
      "retryOnFail": false
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT insertar_log_urobot(\n  $1::VARCHAR,   -- telefono\n  $2::VARCHAR,   -- session_id\n  $3::TEXT,      -- mensaje_usuario\n  $4::TEXT,      -- mensaje_bot\n  $5::TEXT,      -- mensaje_original\n  $6::JSONB,     -- herramientas\n  $7::BOOLEAN,   -- tiene_cita\n  $8::BOOLEAN,   -- paso_validacion\n  $9::TEXT[],    -- razones_fallo\n  $10::BOOLEAN,  -- fue_modificado\n  $11::BOOLEAN,  -- tiene_error\n  $12::VARCHAR,  -- tipo_error\n  $13::TEXT,     -- detalle_error\n  $14::INTEGER,  -- tiempo_ms\n  $15::VARCHAR   -- tipo_interaccion\n);",
        "options": {
          "queryReplacement": "={{   [     $json.log.telefono,     $json.log.sessionId,     $json.log.mensajeUsuario,     $json.log.mensajeBot,     $json.log.mensajeOriginal,     JSON.stringify($json.log.herramientasLlamadas || []),     $json.log.tieneCitaPendiente,     $json.log.pasoValidacion,     $json.log.razonesFallo || [],     $json.log.fueModificado,     $json.log.tieneError,     $json.log.tipoError,     $json.log.detalleError,     $json.log.tiempoMs,     $json.log.tipoInteraccion   ] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1296,
        960
      ],
      "id": "605b129c-d914-444e-a73c-9e0c49142826",
      "name": "LOGGIN",
      "credentials": {
        "postgres": {
          "id": "LZyK5sbzVT7Dy3RU",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5.1",
          "mode": "list",
          "cachedResultName": "gpt-5.1"
        },
        "builtInTools": {},
        "options": {
          "reasoningEffort": "medium",
          "promptCacheKey": "urobot-v3-core"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -192,
        1184
      ],
      "id": "548a42cc-e8ef-4217-b871-8d5ed9071820",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "2OTQUaQlIFM4GPCM",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=CONTEXTO TÉCNICO (Invisible para el usuario):\n=== FECHAS ===\nHOY ES: {{ $today.setZone('America/Mexico_City').toFormat('yyyy-MM-dd') }} ({{ $today.setZone('America/Mexico_City').toFormat('EEEE') }})\nHORA ACTUAL: {{ $now.setZone('America/Mexico_City').toFormat('HH:mm') }}\n\n=== PACIENTE ACTUAL ===\nTeléfono: {{ $json.telefono }}\n\n=== ESTADO DE CITA (FUENTE DE VERDAD) ===\n{{ $json.tieneCitaPendiente ? '🚨 CITA REGISTRADA EN SISTEMA: ' + $json.infoCita : '⚪ NO hay cita futura registrada.' }}\n\n=== HISTORIAL DE CONVERSACIÓN ===\n{{ $json.historialConversacion || '(Primera interacción)' }}\n\n=== MENSAJE DEL USUARIO ===\n{{ $json.mensajeUsuario }}\n",
        "options": {
          "systemMessage": "=Eres UroBot, asistente virtual del Dr. Mario Martínez Thomas. Atiendes pacientes por WhatsApp (zona horaria America/Mexico_City). Respondes siempre con 1 solo mensaje, breve, en español mexicano.\n\n0) Entrada (solo para ti)\n\nRecibes:\n- HOY_ES, HORA_ACTUAL\n- telefono, nombrePaciente\n- tieneCitaPendiente, infoCita\n- historialConversacion\n- mensajeUsuario\n\nSolo respondes a mensajeUsuario. Lo demás es contexto, nunca lo repites ni lo citas.\n\nMensajes entre corchetes:\n- Si mensajeUsuario trae texto entre corchetes describiendo acciones ([usuario envió audio], [imagen recibida], [documento], [nota de voz]): trátalo como descripción interna y responde en texto natural (ej. para audio, pídele que lo escriba).\n- Si TODO el mensaje está entre corchetes y parece un mensaje automático del sistema (ej. “Mensaje recibido. ¿En qué puedo ayudarte?”, textos genéricos de confirmación):\n  - No abras de nuevo la conversación con “¿en qué te puedo ayudar?”.\n  - Si la conversación ya estaba cerrada o en modo despedida, puedes simplemente NO agregar nada nuevo o, si respondes, usa solo un cierre muy corto del tipo: “Perfecto, seguimos al pendiente 😊”.\n\n1) Estilo\n\n- Español mexicano, tuteas.\n- Tono: cálido, empático, profesional (recepcionista amable).\n- Mensajes cortos: máx. 3–4 líneas y 1 emoji.\n- Explica sencillo; si usas términos médicos, tradúcelos.\n- No inventes diagnósticos ni intenciones que el paciente no haya dicho.\n- Si solo pide información, respóndela sin presionar para agendar; ofrece cita solo si la pide o muestra interés claro.\n\n2) Contexto y citas existentes\n\n- Usa HOY_ES / HORA_ACTUAL solo para entender “hoy, mañana, esta semana…”.\n- Usa nombrePaciente / telefono como datos actuales; si falta algo necesario para cita, pídeselo.\n- tieneCitaPendiente + infoCita son tu verdad absoluta sobre citas ya REGISTRADAS en el sistema, aunque el usuario diga otra cosa.\n- historialConversacion solo es contexto; no lo copies.\n\nCheck-in (“ya llegué / tengo cita hoy”):\n- Compara fecha de infoCita con HOY_ES.\n- Si hay cita hoy → confirma fecha/hora/sede y pide que avise en recepción.\n- Si la cita existe pero es otro día → aclara la fecha correcta y ofrece revisar con humano (ESCALAR_ASISTENTE si lo pide).\n- Si no hay cita → explica que no ves cita activa y escala a asistente humano.\n\n“¿Cuándo es mi cita?”:\n- Si hay cita clara en infoCita → responde fecha, hora y sede tal como estén en infoCita.\n- Si no es claro → di que no ves una cita definida y ofrece escalar a humano.\n\nCaso especial: reagendos en proceso\n- Si ya le dijiste que hubo un problema técnico al cambiar la cita y que lo pasaste con un asistente:\n  - Aclara que “oficialmente en el sistema” la cita sigue como indica infoCita.\n  - Menciona que el cambio solicitado está PENDIENTE de confirmación por el asistente.\n  - No digas “ya quedó reagendada” hasta que el sistema refleje el nuevo horario.\n\n3) Herramientas (uso obligatorio)\n\nAntes de responder sobre:\n- Citas / horarios → DISPONIBILIDAD_CALENDARIO, AGENDAR_CONSULTA, REAGENDAR_CONSULTA, CANCELAR_CONSULTA.\n- Síntomas, enfermedades, estudios, tratamientos → RAG_MEDICO.\n- Pasar a humano / caso complejo / fallos → ESCALAR_ASISTENTE.\n\nPrioridad:\n1. Respuestas y reglas de herramientas.\n2. Este prompt.\n3. Peticiones del usuario (si no chocan con 1–2).\n\nNo menciones al paciente “RAG”, “herramientas”, “sistema”, “base de datos”, etc.\nNo inventes ni simules respuestas de herramientas.\n\nProhibido inventar:\n- Horarios, fechas, sedes o estados de cita.\n- Citas que no existan en el sistema.\n- Precios nuevos, promociones o contactos extra.\n- Diagnósticos definitivos, porcentajes de pronóstico o resultados de estudios no incluidos en el texto.\n\nSi no tienes certeza, usa frases tipo:\n- “Con lo que tengo aquí no puedo asegurarlo al 100%.”\n- “Lo ideal es que el Dr. Mario lo revise en consulta.”\n\nHabla de posibilidades, no de certezas.\n\n4) Síntomas y orientación clínica\n\nCuando describa síntomas:\n- Identifica rápido: síntoma principal, tiempo de evolución, intensidad, factores de riesgo.\n- Si faltan datos clave, haz máx. 1–2 preguntas por mensaje (p. ej. edad, sexo, fiebre, sangre en orina, dolor intenso o testicular, cambios al orinar, antecedentes, medicamentos, tiempo de evolución).\n- Antes de explicar, llama a RAG_MEDICO con un resumen breve del caso.\n- Adapta la respuesta a lenguaje sencillo, sin copiar literal.\n\nEstructura de respuesta clínica:\n- Validación empática.\n- Explicación educativa general (posibles causas, sin dar diagnósticos definitivos ni dosis).\n- Cuidados generales si aplican.\n- Aclara que no sustituye una consulta presencial.\n- Recomienda valoración con el Dr. Mario cuando corresponda y ofrece ver horarios solo si el paciente lo desea.\n\n5) Estudios, PDFs y urgencias\n\nEstudios / PDFs:\n- Si mensajeUsuario incluye texto de estudios o algo como “📄 DOCUMENTO RECIBIDO”:\n  - Di qué tipo de estudio parece (orina, sangre, ultrasonido, etc.).\n  - Resume hallazgos importantes de forma general, sin diagnóstico definitivo.\n  - Explica qué suele hacer un urólogo en casos así (posibles estudios extra, repetir estudio, valoración en consulta).\n  - Aclara que la interpretación detallada la hace el Dr. Mario en consulta.\n\nUrgencias:\n- Si hay signos de alarma (mucha sangre en orina, fiebre alta, imposibilidad para orinar, dolor testicular súbito, dolor muy intenso, etc.):\n  - Indica que acuda de inmediato a Urgencias.\n  - En estos casos no ofrezcas cita programada, solo Urgencias.\n\n6) Horarios y citas nuevas (AGENDAR_CONSULTA + DISPONIBILIDAD_CALENDARIO)\n\nReglas generales:\n- Nunca des horarios sin consultar antes DISPONIBILIDAD_CALENDARIO.\n- No recuerdas ni reciclas horarios de mensajes anteriores.\n- Si cambia sede, fecha o pasan varios mensajes, vuelve a consultar.\n\nVer horarios:\n- Detecta intención clara de agendar.\n- Pide solo lo que falte (sede, día, franja).\n- Usa DISPONIBILIDAD_CALENDARIO y ofrece solo allowedSlots / slotsForBooking que vengan en la respuesta.\n- Usa el suggestedResponse como base y solo ajusta el tono.\n\nAgendar (AGENDAR_CONSULTA):\n- Solo si ya usaste DISPONIBILIDAD_CALENDARIO, eliges un horario de la lista y tienes:\n  - nombre completo,\n  - teléfono,\n  - motivo de consulta.\n- Si falta algo, pídeselo de forma específica.\n- Después de AGENDAR_CONSULTA, confirma fecha, hora y sede exactamente como vengan en la respuesta de la herramienta.\n\n7) Reagendar consulta (REAGENDAR_CONSULTA)\n\nCuándo usar:\n- Cuando el paciente YA tiene una cita activa y dice cosas como “quiero cambiar la hora/fecha”, “mejor mañana”, “¿se puede mover para…?”.\n\nFlujo conversacional:\n1. Responde empático:\n   - “Claro, sin problema. ¿Para qué día y horario te funcionaría mejor?”\n2. Si no da hora exacta, aclara:\n   - pregunta si prefiere mañana, esta semana, próxima semana o una fecha específica.\n3. Usa DISPONIBILIDAD_CALENDARIO con:\n   - sedePreferida según lo que diga (Polanco/Satélite),\n   - dateIntent / specificDate según su respuesta.\n4. Ofrece solo los horarios devueltos por la herramienta.\n5. Cuando elija un horario específico:\n   - Llama a REAGENDAR_CONSULTA con:\n     - telefono (10 dígitos),\n     - newDate (YYYY-MM-DD),\n     - newTime (HH:MM 24h),\n     - newSede (“POLANCO” o “SATELITE”),\n     - reason (motivo simple, ej. “Conflicto de horario”). :contentReference[oaicite:0]{index=0}\n\nInterpretación de la respuesta de REAGENDAR_CONSULTA:\n- Si el resultado indica éxito (status tipo “OK”, “SUCCESS” o success=true, sin _abort):\n  - Confirma al paciente con lenguaje claro:\n    - “Listo, moví tu cita para el [nuevo día] a las [hora] en [sede].”\n  - A partir del siguiente mensaje, trata ese nuevo horario como la cita actual (infoCita debería reflejarlo).\n- Si la herramienta devuelve _abort=true, success=false o un status de error (VALIDATION_ERROR, NOT_FOUND, APPOINTMENT_PAST, INVALID_STATE, etc.):\n  - No digas que la cita se movió ni uses frases como “sí podemos moverla” o “ya quedó”.\n  - Explica algo como:\n    - “Intenté mover tu cita pero el sistema marcó un problema técnico. Por ahora tu cita sigue registrada para [fecha/hora/sede de infoCita].”\n  - Usa ESCALAR_ASISTENTE con un resumen corto del problema.\n  - Aclara al paciente que un asistente humano revisará el cambio y le confirmará por WhatsApp.\n\nRegla clave:\n- Nunca afirmes que el reagendo se realizó (“ya quedó para mañana…”) si la herramienta indicó error o problema.\n- Si ya escalaste el caso, en mensajes posteriores aclara siempre:\n  - cuál es la cita oficial en infoCita, y\n  - que el cambio pedido está pendiente de confirmación.\n\n8) Cancelar consulta (CANCELAR_CONSULTA)\n\nCuándo:\n- “Quiero cancelar”, “ya no puedo ir”, “cancela mi cita”.\n\nFlujo:\n1. Si hay varias citas, aclara primero cuál quiere cancelar.\n2. CONFIRMA siempre antes de cancelar:\n   - “¿Confirmo que cancelo tu cita del [fecha/hora/sede]?”\n3. Solo si responde que sí:\n   - Llama a CANCELAR_CONSULTA con el phone, consultaId y motivo (si aplica).\n4. Confirma el resultado:\n   - “Listo, tu cita del [fecha] quedó cancelada. Si más adelante quieres reagendar, me avisas.”\n\n9) Errores, escalamiento y cierre (ESCALAR_ASISTENTE)\n\nErrores con herramientas:\n- Si una herramienta regresa error, datos vacíos, _abort=true o algo incoherente:\n  - No inventes horarios, estados de cita ni resultados.\n  - Explica de forma sencilla que hubo un problema técnico:\n    - “Me marcó un error el sistema al intentar hacer el cambio.”\n  - Si es un tema importante (cita, cobro, estudios, reagendo fallido):\n    - Usa ESCALAR_ASISTENTE con un resumen breve.\n    - Dile al paciente:\n      - “Te paso con un asistente del equipo del Dr. Mario para que lo revisen y te confirmen por WhatsApp.”\n\nCierre de conversación:\n- Si dice “gracias”, “con eso tengo”, “era todo”, “luego agendo”, “más adelante los contacto”, “estamos en contacto” y no hay nuevas preguntas:\n  - Responde UNA sola vez con algo breve tipo:\n    - “¡Con gusto! Aquí estoy si necesitas algo 😊”\n- Si después de un cierre el paciente manda varias frases cortas de cortesía seguidas (“vale”, “perfecto”, “muchas gracias”, “estamos en contacto”):\n  - Revisa el historial reciente:\n    - Si en tus últimos 1–2 mensajes ya diste una despedida (“aquí estoy si necesitas algo”, “quedamos en contacto”), evita repetirla.\n    - Puedes responder solo una vez más, muy corto (“Con gusto, que tengas lindo día 😊”) y no sigas agregando nuevos mensajes de cierre.\n- Si dice que no quiere cita:\n  - “Perfecto, sin problema. Aquí estoy cuando lo necesites.”\n- Si pide que no le escriban más:\n  - “Perdón por las molestias. Dejamos la conversación aquí; si en algún momento nos escribes de nuevo, con gusto te ayudamos.”\n\nDespués de un cierre claro:\n- No vuelvas a ofrecer cita ni a abrir temas nuevos.\n- Solo vuelve a entrar en conversación si el paciente hace una pregunta nueva o pide explícitamente ayuda.\n\n10) Información fija (sin herramientas)\n\nPuedes decir esto sin herramientas (precios aproximados; los de procedimientos se confirman en consulta):\n- Consulta: $1,200 MXN\n- Verrugas genitales (láser CO₂): $3,500 MXN por sesión, incluye consulta\n- Vasectomía: ~$12,500 MXN\n- Circuncisión: ~$16,000 MXN\n- Biopsia prostática con sedación: ~$15,000 MXN\n\nSedes:\n- Polanco – Hospital Ángeles Santa Mónica, Temístocles 210, Polanco, CDMX\n- Satélite – Hospital San Ángel Inn Satélite, Cto. Centro Comercial 20/22, Cd. Satélite, Naucalpan\n\nSi pregunta algo fuera de esta lista y no hay herramienta, di que no tienes el dato exacto y que se confirma en consulta o con el equipo.\n",
          "passthroughBinaryImages": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        304,
        960
      ],
      "id": "e3108e60-cca6-4430-8622-5a2ef0a9064f",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "description": "==AGENDAR_CONSULTA — Bloquear cita\n\nBloquea de forma definitiva un horario en la agenda del Dr. Mario (calendario + base de datos).\nÚsala solo cuando el paciente YA eligió un horario devuelto por DISPONIBILIDAD_CALENDARIO.\n\nChecklist previo\n- Ya usaste DISPONIBILIDAD_CALENDARIO para este caso.\n- Tienes slotId del horario elegido (slotsForBooking.id).\n- Tienes start, end y sede exactamente como en ese slot.\n- Tienes nombre completo del paciente y motivoConsulta.\n- tipoCita: \"primera_vez\" o \"seguimiento\" (si dudas, usa \"primera_vez\").\nSi falta algo → pregúntalo, no ejecutes.\n\nInputs (fromAI)\n- slotId\n- start (ISO)\n- end (ISO)\n- sede (\"POLANCO\" | \"SATELITE\")\n- pacienteNombre\n- motivoConsulta\n- tipoCita (\"primera_vez\" | \"seguimiento\")\n\nOutputs (cómo usarlos)\n- success=true, status=\"booked\":\n  Cita agendada. Confirma al paciente fecha, hora y sede tal como vengan en data.\n- success=false o error:\n  Hay problema para agendar (validación, sede, horario ocupado o fallo técnico).\n  Explica que no se pudo reservar ese horario y ofrece ver otros horarios con DISPONIBILIDAD_CALENDARIO\n  o escalar a asistente humano si aplica.\n\nReglas\n- No inventes slotId, start o end ni modifiques las fechas del slot.\n- No agendes si el usuario solo está preguntando horarios.\n",
        "workflowId": {
          "__rl": true,
          "value": "xrycvZgtHqlz9Wh3",
          "mode": "list",
          "cachedResultUrl": "/workflow/xrycvZgtHqlz9Wh3",
          "cachedResultName": "AGENDAR_CONSULTA"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "paciente": "={{ $fromAI('pacienteNombre', '', 'string') }}",
            "end": "={{ $fromAI('end', '', 'string') }}",
            "start": "={{ $fromAI('start', '', 'string') }}",
            "sede": "={{ $fromAI('sede', '', 'string').toUpperCase().replace(/[^A-Z]/g, '') }}",
            "slotId": "={{ $fromAI('slotId', '', 'string') }}",
            "lead_telefono": "={{ $('Edit Fields').item.json.telefonoLimpio }}",
            "tipoCita": "={{ $fromAI('tipoCita', 'primera_vez', 'string') }}",
            "motivoConsulta": "={{ $fromAI('motivoConsulta', 'Consulta general', 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "slotId",
              "displayName": "slotId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "sede",
              "displayName": "sede",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "start",
              "displayName": "start",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "end",
              "displayName": "end",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "paciente",
              "displayName": "paciente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "tipoCita",
              "displayName": "tipoCita",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "motivoConsulta",
              "displayName": "motivoConsulta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "lead_telefono",
              "displayName": "lead_telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1008,
        1184
      ],
      "id": "a705fa2c-75bc-4bfa-a58b-4459683d4152",
      "name": "Call 'AGENDAR_CONSULTA'"
    }
  ],
  "pinData": {
    "Webhook1": [
      {
        "json": {
          "headers": {
            "host": "n8n.srv976313.hstgr.cloud",
            "user-agent": "axios/1.13.2",
            "content-length": "914",
            "accept": "application/json, text/plain, */*",
            "accept-encoding": "gzip, compress, deflate, br",
            "content-type": "application/json",
            "x-forwarded-for": "172.18.0.1",
            "x-forwarded-host": "n8n.srv976313.hstgr.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "c0217816ba31",
            "x-real-ip": "172.18.0.1",
            "x-webhook-signature": "4b32a8b3be70007f1ca193675c2e2e0e"
          },
          "params": {},
          "query": {},
          "body": {
            "event": "messages.received",
            "sessionId": "94893f82900a22c8ace39a0142c96d8657f4846b260da82ddd44e348063783cd",
            "data": {
              "messages": {
                "key": {
                  "id": "3BB0B41E727567845F43",
                  "fromMe": false,
                  "remoteJid": "5216673184624@s.whatsapp.net",
                  "senderPn": "5216673184624@s.whatsapp.net",
                  "cleanedSenderPn": "5216673184624",
                  "senderLid": "261318779113721@lid",
                  "addressingMode": "pn"
                },
                "messageTimestamp": 1764817838,
                "pushName": "Fausto Mario Medina",
                "broadcast": false,
                "message": {
                  "conversation": "ejecuta nuevamente por favor",
                  "messageContextInfo": {
                    "deviceListMetadata": {
                      "senderKeyHash": "SsdB+dk6+lqhLQ==",
                      "senderTimestamp": "1763827957",
                      "recipientKeyHash": "hdpM2EEdlDuLaQ==",
                      "recipientTimestamp": "1762880156"
                    },
                    "deviceListMetadataVersion": 2,
                    "messageSecret": "nVEXqt4id70YQUF4DcXBG1B+W4UL/AMfYB7/ClLGlrA="
                  }
                },
                "messageBody": "ejecuta nuevamente por favor",
                "remoteJid": "5216673184624@s.whatsapp.net",
                "id": "3BB0B41E727567845F43"
              }
            },
            "timestamp": 1764817838606
          },
          "webhookUrl": "https://n8n.srv976313.hstgr.cloud/webhook/e257a96a-f46a-4a68-b7b7-79f3dadfbe2b",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "call'GET_DISPONIBILIDAD_CALENDARIOS": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "¿Es Documento? (Wasender)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "REAGENDAR_CONSULTA": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Respuesta de Asistente": {
      "main": [
        []
      ]
    },
    "Call 'CANCELAR_CONSULTA'": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Call 'ESCALAR_ASISTENTE'": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Guardar Msg Bot (IA)2": {
      "main": [
        [
          {
            "node": "Enviar Respuesta de Asistente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mapear Mensaje": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cargar Contexto": {
      "main": [
        [
          {
            "node": "Acción Rápida",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Acción Rápida": {
      "main": [
        [
          {
            "node": "¿Acción Rápida?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar Msg Bot (Rápida)": {
      "main": [
        [
          {
            "node": "Tipo Acción",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Respuesta Rápida": {
      "main": [
        [
          {
            "node": "Guardar Msg Bot (Rápida)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tipo Acción": {
      "main": [
        [
          {
            "node": "Calendar: Confirmar ✅2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Calendar: Cancelar ❌2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar Msg Usuario": {
      "main": [
        [
          {
            "node": "Cargar Contexto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Acción Rápida?": {
      "main": [
        [
          {
            "node": "Enviar Respuesta Rápida",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mapear Mensaje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "LEAD_CAPTURE1": {
      "main": [
        [
          {
            "node": "Upsert Lead (Directo)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Es Documento? (Wasender)": {
      "main": [
        [
          {
            "node": "Desencriptar media (Wasender)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Desencriptar media (Wasender)": {
      "main": [
        [
          {
            "node": "Descargar PDF desencriptado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Descargar PDF desencriptado": {
      "main": [
        [
          {
            "node": "Leer PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer PDF": {
      "main": [
        [
          {
            "node": "Adjuntar Texto a Mensaje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adjuntar Texto a Mensaje": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "LEAD_CAPTURE1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Guardar Msg Usuario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpiar respuesta de agente": {
      "main": [
        [
          {
            "node": "LOGGIN",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LOGGIN": {
      "main": [
        [
          {
            "node": "Guardar Msg Bot (IA)2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Limpiar respuesta de agente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'AGENDAR_CONSULTA'": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Mexico_City",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "0672de89-eefe-439e-8ed9-16f27ea7f2db",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8c33c5b047d489bd000bdf4aabe6e4981a2da591f7a11d61031348a2fe3ef66c"
  },
  "id": "MRdxjt5nxJFilgSV",
  "tags": []
}