FLUJOS N8N/UROBOT_PROCESAR_RESPUESTA.json
{
  "name": "UROBOT_PROCESAR_RESPUESTA",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webhook-whatsapp",
        "options": {}
      },
      "id": "0e506894-df58-4156-92b9-f6a031b4e885",
      "name": "Webhook WhatsApp",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1920,
        224
      ],
      "webhookId": "tu-id-unico-aqui"
    },
    {
      "parameters": {
        "jsCode": "// Extraer datos del mensaje entrante (WaSender / Baileys)\nconst body = $json.body || {};\nconst messageData = body.data?.message || body.message || {};\nconst keyData = body.data?.key || body.key || {};\n\n// Ignorar mensajes enviados por MÍ (el bot)\nif (keyData.fromMe) {\n  return [];\n}\n\nconst telefono = keyData.remoteJid?.split('@')[0] || '';\nconst texto = \n  messageData.conversation || \n  messageData.extendedTextMessage?.text || \n  messageData.buttonsResponseMessage?.selectedDisplayText ||\n  '';\n\nif (!texto) return []; // Ignorar si no es texto (ej. estados, fotos sin caption)\n\nreturn [{\n  json: {\n    telefono_entrante: telefono,\n    mensaje_usuario: texto\n  }\n}];"
      },
      "id": "468ce7f7-c087-41cf-aa5d-70b51063fdb3",
      "name": "Extraer Datos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1712,
        224
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT * FROM identificar_paciente_por_telefono('{{ $json.telefono_entrante }}');",
        "options": {}
      },
      "id": "5246e651-16ba-428b-b536-4e826319ae37",
      "name": "Buscar Cita Activa",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -1488,
        224
      ],
      "credentials": {
        "postgres": {
          "id": "LZyK5sbzVT7Dy3RU",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cita_existe",
              "leftValue": "={{ $json.consulta_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1987516-5a53-4447-b28c-83cbbd9f93e6",
      "name": "Tiene Cita?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1264,
        224
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analiza la respuesta del paciente sobre su cita médica.\nMensaje: \"{{ $('Extraer Datos').item.json.mensaje_usuario }}\"\n\nResponde SOLO con una palabra:\n- CONFIRMAR (si dice sí, ok, confirmado, voy a ir, pulgar arriba)\n- CANCELAR (si dice no voy, cancela, ya no quiero)\n- REAGENDAR (si dice cambiar fecha, mover hora, otro día, tarde)\n- DUDA (si pregunta precio, ubicación, doctor, o dice algo ambiguo)\n\nSi no estás seguro, responde DUDA.",
        "options": {}
      },
      "id": "770aeb5c-ade6-4809-b54d-70236964b553",
      "name": "Clasificar Intención (AI)",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -1040,
        208
      ],
      "notes": "Usa un modelo rápido (Gemini Flash o GPT-4o-mini)"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "CONFIRMAR",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ]
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "CANCELAR",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ]
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "REAGENDAR",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ]
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": 3
        }
      },
      "id": "27282491-019c-4173-a76e-9a6caceab62c",
      "name": "Enrutador",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -688,
        224
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE consultas SET \n  confirmado_paciente = true, \n  estado_confirmacion = 'Confirmada', \n  updated_at = NOW() \nWHERE id = '{{ $('Buscar Cita Activa').item.json.consulta_id }}'::uuid;",
        "options": {}
      },
      "id": "d6250f60-c414-49b1-a94b-c0ad11d2398f",
      "name": "BD: Confirmar",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -384,
        16
      ],
      "credentials": {
        "postgres": {
          "id": "LZyK5sbzVT7Dy3RU",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://wasenderapi.com/api/send-message",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"to\": \"{{ $('Extraer Datos').item.json.telefono_entrante }}\",\n  \"text\": \"¡Gracias! Tu asistencia ha sido confirmada ✅. Te esperamos.\"\n}",
        "options": {}
      },
      "id": "f4d2c03f-2984-46df-9c6c-5dbf48c0e874",
      "name": "Responder OK",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -192,
        16
      ]
    },
    {
      "parameters": {
        "workflowId": "PVMah1xv97jaXawm",
        "mode": "each",
        "options": {}
      },
      "id": "3bc570cc-3695-4dd1-9e03-2d084240b23f",
      "name": "Llamar REAGENDAR_CONSULTA",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        -384,
        224
      ],
      "notes": "Pasa el mensaje del usuario para que el otro flujo maneje la lógica de IA de fechas"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=-- Marcar como cancelada pero mantener registro\nUPDATE consultas SET \n  estado_cita = 'Cancelada', \n  cancelado_por = 'Paciente', \n  updated_at = NOW() \nWHERE id = '{{ $('Buscar Cita Activa').item.json.consulta_id }}'::uuid;",
        "options": {}
      },
      "id": "2510ea77-e49e-4f85-a642-39cdecfe247a",
      "name": "BD: Cancelar",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -384,
        416
      ],
      "credentials": {
        "postgres": {
          "id": "LZyK5sbzVT7Dy3RU",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://wasenderapi.com/api/send-message",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"to\": \"{{ $('Extraer Datos').item.json.telefono_entrante }}\",\n  \"text\": \"Entendido, hemos cancelado tu cita. Si deseas agendar nuevamente en el futuro, solo escríbenos 👋.\"\n}",
        "options": {}
      },
      "id": "dbdd328b-50fd-4025-bb03-fbe35e0784d7",
      "name": "Responder Cancel",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -192,
        416
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "EakL64jMzXkPuDfO",
          "mode": "list",
          "cachedResultUrl": "/workflow/EakL64jMzXkPuDfO",
          "cachedResultName": "ESCALAR_ASISTENTE"
        },
        "options": {}
      },
      "id": "52b9abf8-fc4f-4d98-b146-284e0f119664",
      "name": "ESCALAR ASISTENTE",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        -384,
        624
      ],
      "notes": "Si tiene dudas (precios, ubicacion), lo mandamos al bot principal de IA"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook WhatsApp": {
      "main": [
        [
          {
            "node": "Extraer Datos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer Datos": {
      "main": [
        [
          {
            "node": "Buscar Cita Activa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Cita Activa": {
      "main": [
        [
          {
            "node": "Tiene Cita?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tiene Cita?": {
      "main": [
        [
          {
            "node": "Clasificar Intención (AI)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ESCALAR ASISTENTE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clasificar Intención (AI)": {
      "main": [
        [
          {
            "node": "Enrutador",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enrutador": {
      "main": [
        [
          {
            "node": "BD: Confirmar",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "BD: Cancelar",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Llamar REAGENDAR_CONSULTA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BD: Confirmar": {
      "main": [
        [
          {
            "node": "Responder OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BD: Cancelar": {
      "main": [
        [
          {
            "node": "Responder Cancel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e67ec9b5-be68-45d7-a393-daf24b293a54",
  "meta": {
    "instanceId": "8c33c5b047d489bd000bdf4aabe6e4981a2da591f7a11d61031348a2fe3ef66c"
  },
  "id": "vVIFz6fyqEwLWSlL",
  "tags": []
}