FLUJOS N8N/UROBOT.json
{
  "name": "UROBOT",
  "nodes": [
    {
      "parameters": {
        "description": "=HERRAMIENTA: DISPONIBILIDAD_CALENDARIO\nDESCRIPCIÓN / USO: Utiliza esta herramienta SIEMPRE que el usuario exprese intención de agendar, consultar disponibilidad o preguntar por días/horas libres.\n\nFunción: Consulta la base de datos en tiempo real para encontrar huecos libres.\n\nRegla de Oro: JAMÁS asumas ni inventes horarios. Si el usuario pregunta \"¿Tienes espacio?\", DEBES llamar a esta herramienta antes de responder.\n\nPARÁMETROS:\n\ntimezone:\n\nValor fijo: \"America/Mexico_City\"\n\ndesiredStart (string, formato ISO 8601 Local YYYY-MM-DDTHH:mm:ss):\n\nCalcula la fecha de inicio de búsqueda basándote en FECHA_ACTUAL.\n\nSiempre inicia a las 00:00:00 del día calculado.\n\nLógica de Cálculo:\n\n\"Hoy\" o sin fecha específica → {{ $today }}T00:00:00\n\n\"El lunes\" (si hoy es viernes) → Calcular fecha del próximo lunes + T00:00:00\n\n\"La próxima semana\" → Próximo lunes + T00:00:00\n\nEjemplo: Si hoy es 2025-11-28 y piden \"mañana\", envía \"2025-11-29T00:00:00\".\n\nsedePreferida (string):\n\nNormaliza la intención del usuario a uno de estos dos valores exactos:\n\n\"POLANCO\" (Si menciona: Polanco, Ángeles, Santa Mónica, Ejército Nacional).\n\n\"SATELITE\" (Si menciona: Satélite, Naucalpan, San Ángel Inn, Norte).\n\nSi no especifica ninguna, envía cadena vacía: \"\".\n\nuserText (string):\n\nEl mensaje completo y original que envió el usuario.",
        "workflowId": {
          "__rl": true,
          "value": "9mpErXIgA9uOnzrE",
          "mode": "list",
          "cachedResultUrl": "/workflow/9mpErXIgA9uOnzrE",
          "cachedResultName": "DISPONIBILIDAD_CALENDARIO"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "includeWeekends": false,
            "onlyMorning": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('onlyMorning', ``, 'boolean') }}",
            "onlyAfternoon": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('onlyAfternoon', ``, 'boolean') }}",
            "desiredStart": "={{ $fromAI('desiredStart', $now.setZone('America/Mexico_City').toISO(), 'string') }}",
            "userText": "={{ $fromAI('userText', $json.mensajeUsuario)}}",
            "sedePreferida": "={{ $fromAI('sedePreferida', '', 'string').toUpperCase() }}",
            "timezone": "America/Mexico_City",
            "windowDays": 7,
            "maxResults": 10,
            "requestId": "={{ $now.toMillis() }}-{{ Math.random().toString(36).substr(2, 9) }}",
            "source": "urobot_whatsapp"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "desiredStart",
              "displayName": "desiredStart",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "userText",
              "displayName": "userText",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "sedePreferida",
              "displayName": "sedePreferida",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "timezone",
              "displayName": "timezone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "windowDays",
              "displayName": "windowDays",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            },
            {
              "id": "maxResults",
              "displayName": "maxResults",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            },
            {
              "id": "includeWeekends",
              "displayName": "includeWeekends",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean"
            },
            {
              "id": "onlyMorning",
              "displayName": "onlyMorning",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean"
            },
            {
              "id": "onlyAfternoon",
              "displayName": "onlyAfternoon",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean"
            },
            {
              "id": "requestId",
              "displayName": "requestId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false,
          "values": {
            "string": [
              {
                "name": "userText",
                "value": "={{$json.mensajeUsuario}}"
              },
              {
                "name": "sedePreferida",
                "value": "={{$json.sedePreferida || \"\"}}"
              },
              {
                "name": "timezone",
                "value": "America/Mexico_City"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        464,
        704
      ],
      "id": "392049a7-5e74-4cf4-8976-3ee1f7df1393",
      "name": "call'GET_DISPONIBILIDAD_CALENDARIOS"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.mensajeUsuario }}",
        "options": {
          "systemMessage": "=UroBot – asistente clínico de urología del Dr. Mario Martínez Thomas.\n\nFECHA_ACTUAL: {{ $today.setZone('America/Mexico_City').toFormat('dd/MM/yyyy') }}\nHORA_ACTUAL: {{ $now.setZone('America/Mexico_City').toFormat('HH:mm') }}\n\nROL\nEres UroBot, la mano derecha del Dr. Mario. Tu objetivo es convertir dudas en tranquilidad y citas confirmadas.\nNo eres un vendedor agresivo, eres un asistente clínico empático y eficiente.\n\nESTILO\n- Español neutro mexicano, cálido y profesional. Usa \"tú\".\n- Respuestas concisas (máximo 3-4 líneas por bloque).\n- Usa emojis con moderación (🙂, 🙏, 📍) para suavizar el tono.\n- CERO DRAMA: Si no hay horarios, ofreces alternativas con naturalidad.\n\n🚨 PROTOCOLO DE URGENCIA (PRIORIDAD ABSOLUTA)\nSi detectas: No puede orinar (retención), mucha sangre en orina (coágulos), o dolor testicular insoportable.\nRESPONDE SOLO ESTO:\n\"🚨 ATENCIÓN MÉDICA URGENTE: Tus síntomas requieren valoración inmediata. Por favor acude YA a Urgencias del Hospital Ángeles Polanco o San Ángel Inn Satélite (24h). No esperes cita. Si es crítico llama al 911.\"\n\n🧠 DIRECTRICES DE AGENDAMIENTO (REGLAS DE ORO)\n1. LA VERDAD ESTÁ EN LA HERRAMIENTA:\n   - JAMÁS inventes horarios. Si la herramienta `DISPONIBILIDAD_CALENDARIO` no devuelve opciones, significa que ESTÁ LLENO o CERRADO.\n   - Si el usuario pide un horario específico (ej. \"Lunes 9am\") y la herramienta no lo muestra, di: \"Ese horario específico ya está ocupado, pero tengo disponible a las [opción real]...\".\n   - Nunca digas \"El doctor no trabaja ese día\" a menos que la herramienta te indique 0 disponibilidad en todo el día. Mejor di: \"Para este lunes ya no tengo espacio, pero...\".\n\n2. INTERPRETACIÓN DE DATOS:\n   - Lee el campo `executiveSummary` que te devuelve la herramienta para dar la respuesta hablada.\n   - Lee `primaryOption` y `alternativeDays` para proponer alternativas concretas.\n\n3. CONOCIMIENTO DE BASE (SEDES):\n   - Polanco (H. Ángeles): Usualmente Lunes (mañana), Martes (tarde), Viernes (tarde).\n   - Satélite (H. San Ángel Inn): Usualmente Miércoles, Jueves, Sábado.\n   *Nota: Estos son los días habituales, pero la herramienta manda sobre esta regla.*\n\nFLUJO DE CONVERSACIÓN\n\nCASO A: EL PACIENTE PREGUNTA DISPONIBILIDAD DIRECTAMENTE\n1. Llama a la herramienta `DISPONIBILIDAD_CALENDARIO` con los datos que te dio (sede, fecha aprox).\n2. Si hay opciones: \"¡Claro! En [Sede] tengo disponible este [Día] a las [Hora 1] o [Hora 2]. ¿Cuál prefieres?\"\n3. Si NO hay opciones exactas: \"Para ese horario ya está todo ocupado, pero tengo disponibilidad el [Día Alternativo] a las [Horas]. ¿Te sirve?\"\n\nCASO B: EL PACIENTE TIENE DUDAS MÉDICAS / SÍNTOMAS\n1. Validar: \"Entiendo, es normal preocuparse por eso.\"\n2. Indagar (Máx 2 preguntas): \"¿Desde cuándo te pasa? ¿Es para ti?\"\n3. Explicar (General): \"Generalmente esto se relaciona con X. El Dr. Mario suele revisarlo con [estudio/examen] para descartar problemas.\"\n4. Puente a Cita: \"Lo ideal es revisarlo en consulta para darte un tratamiento exacto y que te quedes tranquilo. ¿Te busco un espacio en Polanco o Satélite?\"\n\nCOSTOS (SOLO SI PREGUNTAN)\n- Consulta: $1,200 MXN.\n- Procedimientos (aprox): Vasectomía ~$12.5k, Circuncisión ~$16k (requieren valoración).",
          "returnIntermediateSteps": true,
          "enableStreaming": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        640,
        336
      ],
      "id": "31a2cc38-4402-4773-b734-96c3cd52ef16",
      "name": "Urobot"
    },
    {
      "parameters": {
        "jsCode": "/**\n * WhatsApp Formatter LITE\n * Enfoque: Limpieza rápida, respeta la estructura original de la IA\n */\n\nreturn items.map(item => {\n  \n  // 1. EXTRACCIÓN SEGURA (Busca en varios lugares comunes)\n  const extractText = () => {\n    const candidates = [\n      item.json?.output,\n      item.json?.text,\n      item.json?.message,\n      item.json?.content\n    ];\n    // Encuentra el primero que no sea nulo/vacío y sea string\n    return candidates.find(c => c && typeof c === 'string') || '';\n  };\n\n  let text = extractText();\n\n  // Si no hay texto, retornar vacío sin error\n  if (!text || text.trim().length === 0) {\n    return { json: { output: '' } };\n  }\n\n  // 2. LIMPIEZA Y FORMATO (La lógica simplificada)\n  \n  // A. Normalización básica\n  text = text.replace(/\\r\\n/g, '\\n'); // Estandarizar saltos de línea\n  text = text.replace(/^[\"']|[\"']$/g, ''); // Quitar comillas al inicio/final si la IA las puso\n\n  // B. Adaptación de Markdown (IA -> WhatsApp)\n  // La IA suele usar **negrita**, WhatsApp usa *negrita*\n  text = text.replace(/\\*\\*(.*?)\\*\\*/g, '*$1*'); \n  // Convertir encabezados Markdown (### Titulo) a Negritas (*Titulo*)\n  text = text.replace(/^#+\\s*(.*)$/gm, '*$1*');\n\n  // C. Limpieza de HTML residual (por seguridad)\n  text = text.replace(/<br\\s*\\/?>/gi, '\\n'); // <br> a salto de línea\n  text = text.replace(/<[^>]*>/g, ''); // Eliminar cualquier otro tag HTML\n\n  // D. Limpieza de Espacios (Lo más importante para que se vea \"Limpio\")\n  // Reemplazar múltiples espacios por uno solo\n  text = text.replace(/[ \\t]+/g, ' ');\n  // CRÍTICO: Máximo 2 saltos de línea consecutivos (párrafo, línea vacía, párrafo)\n  text = text.replace(/\\n{3,}/g, '\\n\\n');\n  \n  // E. Ajustes estéticos finales\n  // Evitar espacio entre salto de línea y punto de lista (ej: \\n •)\n  text = text.replace(/\\n\\s+([•\\-])/g, '\\n$1');\n  // Dar formato a teléfonos mexicanos (opcional, simple)\n  text = text.replace(/(\\d{2})(\\d{4})(\\d{4})/g, '($1) $2-$3');\n\n  // 3. RETORNO\n  return {\n    json: {\n      output: text.trim(),\n      success: true\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1184,
        336
      ],
      "id": "3b4eda12-cfee-4c9a-856b-7c233ad56d74",
      "name": "Limpiar respuesta de agente1",
      "retryOnFail": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "11159216-7689-4618-a01d-55c07a8c2775",
              "name": "=mensajeUsuario",
              "value": "={{ \n  $json.mensajeUsuario \n  || $node[\"Armar Respuesta\"]?.json?.transcripcion \n  || $node[\"Transcribe a recording\"]?.json?.text\n  || $node[\"Webhook1\"].json.body.data.messages.message.conversation \n  || '' \n}}\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        400
      ],
      "id": "08c71048-fca9-4c54-8e07-be49e1978350",
      "name": "Mapear Mensaje1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cb412f41-019f-4bb8-a452-e665d1027e0a",
              "name": "=numeroRemitente",
              "value": "={{$json.body.data.messages.key.remoteJid}}",
              "type": "string"
            },
            {
              "id": "1cb507bf-fc90-413c-9eea-16526b334494",
              "name": "nombreUsuario",
              "value": "={{$json.body.data.messages.pushName}}",
              "type": "string"
            },
            {
              "id": "b75d41bd-9b6b-4b8d-a118-8d6691cc1c6a",
              "name": "mensajeUsuario",
              "value": "={{$json.body.data.messages.message.conversation}}",
              "type": "string"
            },
            {
              "id": "b3fd2c11-5469-4b0c-833d-eb03bcf21cef",
              "name": "body.sessionId",
              "value": "={{ $json.body.sessionId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -224,
        208
      ],
      "id": "5d98e090-b1ad-4ff7-a5b1-dea771590fa5",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "e257a96a-f46a-4a68-b7b7-79f3dadfbe2b",
        "options": {
          "rawBody": false
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -448,
        208
      ],
      "id": "a15d3200-a96a-49ca-a9db-746f702b64d6",
      "name": "Webhook1",
      "webhookId": "e257a96a-f46a-4a68-b7b7-79f3dadfbe2b"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {
          "maxOutputTokens": 4010
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        48,
        720
      ],
      "id": "29298ffe-ef39-440c-9eaf-6c1cc064ae47",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "dlAhoVkOPGtESarh",
          "name": "GOOGLE UROBOT"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "=Usa esta herramienta solo para dudas CLÍNICAS de urología (síntomas, enfermedades, procedimientos, cuidados). \nInput: resumen breve (1–3 líneas) con síntoma principal, edad aproximada, tiempo de evolución y 1–2 datos clave. \nDevuelve texto que debes reescribir con tus palabras, en lenguaje sencillo, sin diagnósticos ni tratamientos específicos.\n",
        "tableName": {
          "__rl": true,
          "value": "conocimiento_procedimientos_urologia",
          "mode": "list",
          "cachedResultName": "conocimiento_procedimientos_urologia"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        672,
        672
      ],
      "id": "54ea7f42-d6f8-4646-afb4-9a92bb3ae74a",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "g3830K1IgvyF3E0x",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        784,
        960
      ],
      "id": "df0dda8e-804a-4714-8fb8-1c30a7dee253",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "dlAhoVkOPGtESarh",
          "name": "GOOGLE UROBOT"
        }
      }
    },
    {
      "parameters": {
        "description": "=HERRAMIENTA: ESCALAR_A_HUMANO\n\nUSO\n- Cuando el paciente pida hablar con una persona/que lo llamen, tenga temas de costos/facturación/cirugía complejos o muestre enojo/quejas/caso fuera de protocolo.\n- No la uses para dudas clínicas simples ni solo horarios/precios.\n\nANTES DE LLAMARLA\n- Pregunta si le parece bien que alguien lo contacte.\n- Obtén: nombre, celular MX (10 dígitos) y resumen (1–2 frases) de lo que necesita.\n\nINPUT\n- nombre: string\n- telefono: string (10 dígitos MX)\n- resumen: string\n\nDESPUÉS\n- Avisa que el equipo lo contactará y evita abrir temas nuevos complejos.\n",
        "workflowId": {
          "__rl": true,
          "value": "EakL64jMzXkPuDfO",
          "mode": "list",
          "cachedResultUrl": "/workflow/EakL64jMzXkPuDfO",
          "cachedResultName": "ESCALAR_ASISTENTE"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "nombrePaciente": "={{ $fromAI('nombrePaciente', ``, 'string') }}",
            "telefono": "={{ $fromAI('telefono', ``, 'string') }}",
            "motivo": "={{ $fromAI('motivo', ``, 'string') }}",
            "contexto": "={{ $fromAI('contexto', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "nombrePaciente",
              "displayName": "nombrePaciente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "telefono",
              "displayName": "telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "motivo",
              "displayName": "motivo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "contexto",
              "displayName": "contexto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        960,
        736
      ],
      "id": "64422342-407f-43ea-921e-038f29b54bb9",
      "name": "ESCALAR_HUMANO"
    },
    {
      "parameters": {
        "jsCode": "/**\n * LEAD_CAPTURE v5.1\n * - Limpieza de teléfono\n * - Detección de Atribución (Ads vs Orgánico)\n * - Prepara datos para la RPC\n */\n\nconst src = $input.first().json;\n\n// --- HELPERS ---\nconst trim = (v) => (v == null ? '' : String(v).trim());\n\nfunction toMX10(anyPhone) {\n  const d = String(anyPhone || '').replace(/\\D/g, '');\n  return d.length >= 10 ? d.slice(-10) : ''; \n}\n\nfunction titleCaseFast(name){\n  let s = trim(name);\n  if (!s) return 'Paciente';\n  s = s.toLowerCase();\n  return s.replace(/\\b\\w/g, l => l.toUpperCase());\n}\n\nfunction toISODateTime(x) {\n  if (!x) return null;\n  const s = trim(x);\n  if (/^\\d{4}-\\d{2}-\\d{2}$/.test(s)) return `${s}T00:00:00Z`;\n  const dt = new Date(s);\n  return isNaN(dt) ? null : dt.toISOString();\n}\n\nfunction cleanUuidOrNull(v){\n  const s = trim(v);\n  return /^[0-9a-f]{8}-[0-9a-f]{4}/i.test(s) ? s : null;\n}\n\n// --- DATOS DE ENTRADA ---\n// Priorizamos el remitente del mensaje real\nconst numeroRemitente = src.numeroRemitente || src.body?.data?.messages?.key?.remoteJid || src.Telefono_WhatsApp || '';\nconst nombreUsuario   = src.nombreUsuario || src.Nombre_Completo || 'Desconocido';\nconst mensajeUsuario  = src.mensajeUsuario || src.Notas_Iniciales || '';\nconst sessionId       = src.body?.sessionId || src.Session_ID || '';\n\n// Limpieza de teléfono (CRÍTICO para que funcione el UNIQUE en DB)\nconst telefonoCanon10 = toMX10(numeroRemitente);\n\n// Si no hay teléfono válido, detenemos el flujo devolviendo vacío\nif (!telefonoCanon10) return [];\n\n// --- ATRIBUCIÓN DE MARKETING ---\nlet fuente = 'Orgánico';\nlet canal = null;\n\n// Intentar detectar Ads desde metadata de WhatsApp\nconst referral = src.body?.data?.messages?.message?.extendedTextMessage?.contextInfo?.externalAdReply || \n                 src.body?.data?.messages?.referral;\n\nif (referral) {\n    fuente = 'Paid Media';\n    if (referral.sourceUrl?.includes('facebook') || referral.headline?.includes('Facebook')) canal = 'Facebook Ads';\n    else if (referral.sourceUrl?.includes('instagram')) canal = 'Instagram Ads';\n    else canal = 'Meta Ads';\n}\n\n// --- DATOS EXISTENTES (Si hubieras hecho una búsqueda previa) ---\nconst existing = src._existing || null;\nconst isCreate = !existing;\n\n// Estado: Si menciona \"agenda\" o \"cita\", lo consideramos Interesado\nconst lowMsg = trim(mensajeUsuario).toLowerCase();\nconst esInteresado = ['cita', 'agenda', 'precio', 'costo', 'ubicacion', 'doctor'].some(k => lowMsg.includes(k));\nconst estadoBD = existing?.estado || null;\nconst estado = esInteresado ? 'Interesado' : (isCreate ? 'Nuevo' : (estadoBD || 'Contactado'));\n\nlet notas = trim(mensajeUsuario);\nif (notas.length > 300) notas = notas.slice(0,300) + '...';\n\nreturn [{\n  json: {\n    // Identidad\n    Nombre_Completo: titleCaseFast(nombreUsuario),\n    Telefono_WhatsApp: telefonoCanon10,\n\n    // Marketing\n    Fuente_Lead: fuente,\n    Canal_Marketing: canal,\n\n    // Contexto\n    Estado: estado,\n    Notas_Iniciales: notas,\n    Session_ID: sessionId,\n\n    // Trazabilidad (Si ya existe, mantenemos la original, si no, es hoy)\n    Fecha_Primer_Contacto: existing?.fecha_primer_contacto ? toISODateTime(existing.fecha_primer_contacto) : new Date().toISOString(),\n    \n    // Vínculos\n    Paciente_ID: cleanUuidOrNull(existing?.paciente_id),\n    Fecha_Conversion: toISODateTime(existing?.fecha_conversion),\n    \n    // Nota: Total_interacciones NO se calcula aquí, lo hace la DB con seguridad.\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16,
        96
      ],
      "id": "f36600ca-7411-49ee-a435-a4b5ca116aab",
      "name": "LEAD_CAPTURE"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "60O0TVKpMILReijq",
          "mode": "list",
          "cachedResultUrl": "/workflow/60O0TVKpMILReijq",
          "cachedResultName": "LEAD_TRACKER_UROBOT"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "total_interacciones": "={{ $json.total_interacciones }}",
            "Lead_ID": "={{ $json.Lead_ID }}",
            "Nombre_Completo": "={{ $json.Nombre_Completo }}",
            "Telefono_WhatsApp": "={{ $json.Telefono_WhatsApp }}",
            "Fuente_Lead": "={{ $json.Fuente_Lead }}",
            "Fecha_Primer_Contacto": "={{ $json.Fecha_Primer_Contacto }}",
            "Estado": "={{ $json.Estado }}",
            "Notas_Iniciales": "={{ $json.Notas_Iniciales }}",
            "Session_ID": "={{ $json.Session_ID }}",
            "ultima_interaccion": "={{ $json.ultima_interaccion }}",
            "Paciente_ID": "={{ $json.Paciente_ID }}",
            "Fecha_Conversion": "={{ $json.Fecha_Conversion }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Lead_ID",
              "displayName": "Lead_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true
            },
            {
              "id": "Nombre_Completo",
              "displayName": "Nombre_Completo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "Telefono_WhatsApp",
              "displayName": "Telefono_WhatsApp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "Fuente_Lead",
              "displayName": "Fuente_Lead",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "Fecha_Primer_Contacto",
              "displayName": "Fecha_Primer_Contacto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "Estado",
              "displayName": "Estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "Notas_Iniciales",
              "displayName": "Notas_Iniciales",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "Session_ID",
              "displayName": "Session_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "ultima_interaccion",
              "displayName": "ultima_interaccion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "total_interacciones",
              "displayName": "total_interacciones",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            },
            {
              "id": "Paciente_ID",
              "displayName": "Paciente_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true
            },
            {
              "id": "Fecha_Conversion",
              "displayName": "Fecha_Conversion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        240,
        80
      ],
      "id": "55df3628-264b-443d-a375-c8ace4683697",
      "name": "Call 'LEAD_TRACKER'1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://wasenderapi.com/api/send-message",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"to\": {{ JSON.stringify($('Webhook1').item.json.body.data.messages.key.remoteJid) }},\n  \"text\": {{ JSON.stringify($json.output) }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1456,
        336
      ],
      "id": "f9dff412-1728-4643-ba86-5978ac224dfa",
      "name": "Enviar Respuesta de Asistente",
      "retryOnFail": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "BracTxTCVOWFfFBZ",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "mi9aaa1aaaaaadfaaa"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        288,
        720
      ],
      "id": "bec02cc8-ee9b-43ef-b4f0-143716313e4d",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "description": "=HERRAMIENTA: AGENDAR_CONSULTA\n\nUSO\n- Solo para CONFIRMAR una cita cuando ya:\n  - llamaste a DISPONIBILIDAD_CALENDARIO,\n  - mostraste horarios y eligió uno (día, hora, sede),\n  - tienes nombre completo, celular MX (10 dígitos) y motivo de consulta,\n  - identificaste el slot exacto en la respuesta.\n\nPARÁMETROS\n- slotId: \"slot_\" + sede + \"_\" + startISO (del slot elegido).\n- sede: \"POLANCO\" o \"SATELITE\".\n- start / end: startISO / endISO del slot (ISO 8601 UTC, sin cambios).\n- paciente: { \"nombre\": \"...\", \"telefono\": \"10_dígitos_MX\" }.\n- tipoCita: \"primera_vez\" o \"seguimiento\".\n- motivoConsulta: 1–2 frases descriptivas (evita solo “revisión” o “consulta”).\n\nREGLA CLAVE\n- No inventes slotId, start ni end; usa exactamente lo devuelto por DISPONIBILIDAD_CALENDARIO.\n",
        "workflowId": {
          "__rl": true,
          "value": "xrycvZgtHqlz9Wh3",
          "mode": "list",
          "cachedResultUrl": "/workflow/xrycvZgtHqlz9Wh3",
          "cachedResultName": "AGENDAR_CONSULTA"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "slotId": "={{ $fromAI('slotId', '', 'string') }}",
            "sede": "={{ $fromAI('sede', '', 'string') }}",
            "start": "={{ $fromAI('start', '', 'string') }}",
            "end": "={{ $fromAI('end', '', 'string') }}",
            "paciente": "={{ $fromAI('paciente', {}, 'json') }}",
            "tipoCita": "={{ $fromAI('tipoCita', 'primera_vez', 'string') }}",
            "motivoConsulta": "={{ $fromAI('motivoConsulta', '', 'string') }}",
            "lead_telefono": "="
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "slotId",
              "displayName": "slotId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "sede",
              "displayName": "sede",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "start",
              "displayName": "start",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "end",
              "displayName": "end",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "paciente",
              "displayName": "paciente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "tipoCita",
              "displayName": "tipoCita",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "motivoConsulta",
              "displayName": "motivoConsulta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "lead_telefono",
              "displayName": "lead_telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1168,
        704
      ],
      "id": "c11f149e-6457-4d72-8537-6731512b64be",
      "name": "AGENDAR_CONSULTA'"
    },
    {
      "parameters": {
        "description": "=HERRAMIENTA: REAGENDAR_CONSULTA\n\nUSO\n- Solo para CAMBIAR una cita ya agendada (no crear nueva).\n- No la uses para horarios (→ DISPONIBILIDAD_CALENDARIO) ni para nueva cita (→ AGENDAR_CONSULTA).\n\nPARÁMETROS (todos antes de llamarla)\n- telefono: celular MX, 10 dígitos.\n- newDate: YYYY-MM-DD (America/Mexico_City).\n- newTime: HH:MM (24 h, hora local CDMX).\n- newSede: \"POLANCO\", \"SATELITE\" o ''.\n- reason: motivo del cambio (opcional).\n\nLENGUAJE NATURAL\n- Convierte “viernes a las 3pm” → next viernes + \"15:00\", siempre en hora local CDMX.\n- Si solo dice “¿hay el miércoles?” sin hora: primero usa DISPONIBILIDAD_CALENDARIO, luego llama REAGENDAR_CONSULTA con newTime definido.\n",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "PVMah1xv97jaXawm"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "telefono": "={{ $fromAI('telefono', '', 'string') }}",
            "newDate": "={{ $fromAI('newDate', '', 'string') }}",
            "newTime": "={{ $fromAI('newTime', '', 'string') }}",
            "newSede": "={{ $fromAI('newSede', '', 'string') }}",
            "reason": "={{ $fromAI('reason', 'Reagendamiento solicitado', 'string') }}",
            "consultaId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('consultaId', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "telefono",
              "displayName": "telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "consultaId",
              "displayName": "consultaId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "newDate",
              "displayName": "newDate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "newTime",
              "displayName": "newTime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "newSede",
              "displayName": "newSede",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "reason",
              "displayName": "reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1392,
        688
      ],
      "id": "1c05f333-7246-49a7-ae06-33b576af402f",
      "name": "REAGENDAR_CONSULTA"
    }
  ],
  "pinData": {},
  "connections": {
    "call'GET_DISPONIBILIDAD_CALENDARIOS": {
      "ai_tool": [
        [
          {
            "node": "Urobot",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Urobot": {
      "main": [
        [
          {
            "node": "Limpiar respuesta de agente1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mapear Mensaje1": {
      "main": [
        [
          {
            "node": "Urobot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "LEAD_CAPTURE",
            "type": "main",
            "index": 0
          },
          {
            "node": "Mapear Mensaje1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Urobot",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "ai_tool": [
        [
          {
            "node": "Urobot",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "ESCALAR_HUMANO": {
      "ai_tool": [
        [
          {
            "node": "Urobot",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "LEAD_CAPTURE": {
      "main": [
        [
          {
            "node": "Call 'LEAD_TRACKER'1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Urobot",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AGENDAR_CONSULTA'": {
      "ai_tool": [
        [
          {
            "node": "Urobot",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "REAGENDAR_CONSULTA": {
      "ai_tool": [
        [
          {
            "node": "Urobot",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Limpiar respuesta de agente1": {
      "main": [
        [
          {
            "node": "Enviar Respuesta de Asistente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Respuesta de Asistente": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Mexico_City",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "6815c54b-88db-4061-9b29-26d99f6f368a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8c33c5b047d489bd000bdf4aabe6e4981a2da591f7a11d61031348a2fe3ef66c"
  },
  "id": "MRdxjt5nxJFilgSV",
  "tags": []
}